<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Io</string>
	<key>ordering</key>
	<array>
		<string>0F687653-BF6D-4C2C-A75E-C9193E870BBC</string>
		<string>BD798537-3548-47F3-A6AB-7FB95C45DB83</string>
	</array>
	<key>uuid</key>
	<string>527BB215-1332-4CC8-AC6B-68E692D1421C</string>
</dict>
</plist>
