body {
	height:100%;
	margin:10 10 10 10;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #999999;
	font-size: 11px;
	font-weight: normal;
}

table {
	padding-bottom: 20px;
	font-size:11px;
}

/*hr {
	width:80%;
	padding-top: 2px;
	padding-bottom: 2px;
	color:green;
	background-color:green;
}*/

.mainHr {
	border: none 0; 
	border-top: 1px solid #000;/*the border*/
	width: 80%;
	height: 1px;/*whatever the total width of the border-top and border-bottom equal*/
}	

hr {
	border: none 0; 
	border-top: 1px dashed #000;/*the border*/
	width: 80%;
	height: 1px;/*whatever the total width of the border-top and border-bottom equal*/
}	

.startTarget {
	padding-top: 5px;
}

.tocList {
	width:20%;
	background-color:#E4E4E4;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	vertical-align: top;
}

.mainContent {
	width:80%;
	padding-left:10px;
	vertical-align:top;
}

.tasksHeader {
	vertical-align: top;
}

a{
	font-size:11px;
	text-decoration:none;
	color:#999999;
}
	
a:link{
	color:#878787;
}
	
a:visited{
	color:#999999;
}
	
a:active{
	color:#ff0000;
}

a:hover{
	color:#666666;
}

big {
	color:black;
	font-size:11px;
}

h1 {
	font-size:20;
	color:black;
}

h2 {
	font-size:16;
	color:black;
}

b {
	font-size:12;
}

pre {
	font-family: Monaco, Verdana, sans-serif;
}