body {
	height:100%;
	margin:10px 10px 10px 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #999999;
	font-size: 11pt;
	font-weight: normal;
}
table {
	padding-bottom: 20px;
}
.mainHr {
	border: none 0; 
	border-top: 1px solid #000;
	width: 80%;
	height: 1px;
}
hr {
	border: none 0; 
	border-top: 1px dashed #000;
	width: 80%;
	height: 1px;
}	
.startTarget {
	padding-top: 5px;
}
.tocList {
	width:20%;
	background-color:#E4E4E4;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	vertical-align: top;
}
.mainContent {
	width:80%;
	padding-left:10px;
	vertical-align:top;
}
.tasksHeader {
	vertical-align: top;
}
a{
	text-decoration:none;
	color:#999999;
	font-size: 12;
}	
a:link{
	color:#878787;
}	
a:visited{
	color:#999999;
}	
a:active{
	color:#ff0000;
}
a:hover{
	color:#666666;
}
big {
	color:black;
	font-size:11pt;
}
h1 {
	font-size:14pt;
	color:black;
}
h2 {
	font-size:12pt;
	color:black;
}
b {
	font-size:11pt;
}
pre {
	font-family: Monaco, Verdana, sans-serif;
}