<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Function ${1:Process}(${2:This_Item} As ${3:String}) As ${4:Boolean}
	Return ${5:True}$0
End Function
</string>
	<key>keyEquivalent</key>
	<string>^~</string>
	<key>name</key>
	<string>Function</string>
	<key>scope</key>
	<string>source.asp</string>
	<key>tabTrigger</key>
	<string>function</string>
	<key>uuid</key>
	<string>312FE06B-D9DA-4EBF-AF43-5CF67CC8A127</string>
</dict>
</plist>
