<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;asp:BoundColumn HeaderText="${1:${TM_SELECTED_TEXT:ColumnName}}" DataField="${1:${TM_SELECTED_TEXT:ColumnName}}" SortExpression="${1:${TM_SELECTED_TEXT:ColumnName}}" ${2:ReadOnly="True" ${3:DataFormatString="{0:C\}" FooterText="${1:${TM_SELECTED_TEXT:ColumnName}}" }}/&gt;</string>
	<key>keyEquivalent</key>
	<string>^~</string>
	<key>name</key>
	<string>asp:BoundColumn</string>
	<key>scope</key>
	<string>text.html.asp.net</string>
	<key>tabTrigger</key>
	<string>asp:</string>
	<key>uuid</key>
	<string>9ACAEFB8-C366-41F5-9DD9-61C646C00548</string>
</dict>
</plist>
