<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;%# DataBinder.Eval(Container.DataItem, "${1:${TM_SELECTED_TEXT:ColumnName}}"${2:, "{0:C\}"}) %&gt;$0</string>
	<key>keyEquivalent</key>
	<string>^#</string>
	<key>name</key>
	<string># Container.DataItem</string>
	<key>scope</key>
	<string>text.html.asp.net</string>
	<key>tabTrigger</key>
	<string>#</string>
	<key>uuid</key>
	<string>DFF5EEC2-48AA-41AE-A0F5-AD0CCC49F285</string>
</dict>
</plist>
