<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;% if ${2:Is_This_True?} %&gt;${1:${TM_SELECTED_TEXT:True}}${4:&lt;% else %&gt;$3}&lt;% end if %&gt;$0</string>
	<key>keyEquivalent</key>
	<string>^@i</string>
	<key>name</key>
	<string>If then HTML</string>
	<key>scope</key>
	<string>text.html.asp</string>
	<key>tabTrigger</key>
	<string>IIf</string>
	<key>uuid</key>
	<string>E2DA60E2-97F4-42AC-AF9E-5A0C7DE4B724</string>
</dict>
</plist>
