<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>IIf(${1:${TM_SELECTED_TEXT:Is_This_True?}},${2:true},${3:false})$0</string>
	<key>keyEquivalent</key>
	<string>^@i</string>
	<key>name</key>
	<string>IIf()</string>
	<key>scope</key>
	<string>source.asp -(source string), text string source.asp -(source string)</string>
	<key>tabTrigger</key>
	<string>IIf</string>
	<key>uuid</key>
	<string>7624FE5A-4293-4081-BDA8-7CD6534D7D5A</string>
</dict>
</plist>
