<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>"&amp; IIf(${2:Is_This_True?},"${1:${TM_SELECTED_TEXT:True}}",${4:"$3"})$0 &amp;"</string>
	<key>keyEquivalent</key>
	<string>^@i</string>
	<key>name</key>
	<string>IIf() ""</string>
	<key>scope</key>
	<string>source.asp string</string>
	<key>tabTrigger</key>
	<string>IIf</string>
	<key>uuid</key>
	<string>516A2F6B-E1BD-4E30-9CBA-FCB2D400C60B</string>
</dict>
</plist>
