<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>${2:Request.Cookies}("${1:${TM_SELECTED_TEXT:VariableName}}")$0</string>
	<key>keyEquivalent</key>
	<string>@(</string>
	<key>name</key>
	<string>Request.Cookies (ASP)</string>
	<key>scope</key>
	<string>source.asp, text.html.asp</string>
	<key>uuid</key>
	<string>699E82AF-02FA-43C3-9B31-EAB7D65F6099</string>
</dict>
</plist>
