<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>${3:String.Format("${2:{0:c\}}", ${1:${TM_SELECTED_TEXT:price}})}</string>
	<key>keyEquivalent</key>
	<string>^~</string>
	<key>name</key>
	<string>String.Format()</string>
	<key>scope</key>
	<string>source.asp</string>
	<key>tabTrigger</key>
	<string>format</string>
	<key>uuid</key>
	<string>14B0D39F-DEF8-435E-82D3-FB992B042A81</string>
</dict>
</plist>
