<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>StrConv(${1:${TM_SELECTED_TEXT:"String"}}, vbProperCase)</string>
	<key>keyEquivalent</key>
	<string>^~u</string>
	<key>name</key>
	<string>vbProperCase</string>
	<key>scope</key>
	<string>source.asp -string</string>
	<key>uuid</key>
	<string>934D018D-DD49-4024-9E79-BC591EAEE5E0</string>
</dict>
</plist>
