<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Array.blit ${1:src} ${2:srcofs} ${3:dest} ${4:destofs} ${5:len}$0</string>
	<key>name</key>
	<string>Array.blit</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Array.</string>
	<key>uuid</key>
	<string>BB1628CC-7532-11D9-87B3-000A95AFE286</string>
</dict>
</plist>
