<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Char.compare ${1:${2:ch1} ${3:ch2}} $0</string>
	<key>name</key>
	<string>Char.compare</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Char.</string>
	<key>uuid</key>
	<string>11670508-7536-11D9-AF11-000A95AFE286</string>
</dict>
</plist>
