<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Complex.mul ${1:c1} ${2:c2} $0</string>
	<key>name</key>
	<string>Complex.mul</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Complex.</string>
	<key>uuid</key>
	<string>8F14E72D-7536-11D9-AF11-000A95AFE286</string>
</dict>
</plist>
