<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Digest.output ${1:oc} ${2:dig} $0</string>
	<key>name</key>
	<string>Digest.output</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Digest.</string>
	<key>uuid</key>
	<string>9065B1E6-7537-11D9-AF11-000A95AFE286</string>
</dict>
</plist>
