<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Filename.is_relative ${1:fname} $0</string>
	<key>name</key>
	<string>Filename.is_relative</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Filename.</string>
	<key>uuid</key>
	<string>30E5CAC2-7538-11D9-81F4-000A95AFE286</string>
</dict>
</plist>
