<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Format.pp_print_open_tbox ${1:fmtr} () $0</string>
	<key>name</key>
	<string>Format.pp_print_open_tbox</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Format.pp</string>
	<key>uuid</key>
	<string>B78F66EB-753E-11D9-81F4-000A95AFE286</string>
</dict>
</plist>
