<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Format.formatter_of_buffer ${1:buf} $0</string>
	<key>name</key>
	<string>Format.formatter_of_buffer</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Format.</string>
	<key>uuid</key>
	<string>A7969D9C-753C-11D9-81F4-000A95AFE286</string>
</dict>
</plist>
