<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Gc.delete_alarm ${1:alarm} $0</string>
	<key>name</key>
	<string>Gc.delete_alarm</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Gc.</string>
	<key>uuid</key>
	<string>A1088140-7552-11D9-928F-000A95AFE286</string>
</dict>
</plist>
