<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Genlex.make_lexer ${1:tok_lst} ${2:char_stream} $0</string>
	<key>name</key>
	<string>Genlex.make_lexer</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Genlex.</string>
	<key>uuid</key>
	<string>0C227735-755D-11D9-AC9E-000A95AFE286</string>
</dict>
</plist>
