<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Hashtbl.clear ${1:h} $0</string>
	<key>name</key>
	<string>Hashtbl.clear</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Hashtbl.</string>
	<key>uuid</key>
	<string>5443FEBC-755D-11D9-AC9E-000A95AFE286</string>
</dict>
</plist>
