<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Int32.sub ${1:i32_1} ${2:i32_2}$0</string>
	<key>name</key>
	<string>Int32.sub</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Int32.</string>
	<key>uuid</key>
	<string>FF0C3836-755E-11D9-AC9E-000A95AFE286</string>
</dict>
</plist>
