<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Lexing.lexeme_start ${1:buf}$0</string>
	<key>name</key>
	<string>Lexing.lexeme_start</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Lexing.</string>
	<key>uuid</key>
	<string>63CCA307-7565-11D9-B7C0-000A95AFE286</string>
</dict>
</plist>
