<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>List.fold_right2 ${1:(fun ${2:v1} ${3:v2} ${4:b} -&gt; ${5:})} ${6:lst1} ${7:lst2} ${8:base}$0</string>
	<key>name</key>
	<string>List.fold_right2</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>List.</string>
	<key>uuid</key>
	<string>DD0DC462-7566-11D9-B7C0-000A95AFE286</string>
</dict>
</plist>
