<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Map.Make ${1:(${2:Ord} : OrderedType)}$0</string>
	<key>name</key>
	<string>Map.Make</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Map.</string>
	<key>uuid</key>
	<string>FEF9C15C-7568-11D9-B7C0-000A95AFE286</string>
</dict>
</plist>
