<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Nativeint.div ${1:ni_1} ${2:ni_2}$0</string>
	<key>name</key>
	<string>Nativeint.div</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Nativeint.</string>
	<key>uuid</key>
	<string>E330435A-7562-11D9-AC9E-000A95AFE286</string>
</dict>
</plist>
