<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Printexc.to_string ${1:exn}$0</string>
	<key>name</key>
	<string>Printexc.to_string</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Printexc.</string>
	<key>uuid</key>
	<string>F9DD7572-756A-11D9-83BC-000A95AFE286</string>
</dict>
</plist>
