<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Queue.iter ${1:(fun ${2:x} -&gt; ${3:})} ${4:q}$0</string>
	<key>name</key>
	<string>Queue.iter</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Queue.</string>
	<key>uuid</key>
	<string>6AF38A18-756C-11D9-A861-000A95AFE286</string>
</dict>
</plist>
