<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Random.int ${1:max}$0</string>
	<key>name</key>
	<string>Random.int</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Random.</string>
	<key>uuid</key>
	<string>F8A4B486-756C-11D9-A861-000A95AFE286</string>
</dict>
</plist>
