<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Scanf.bscanf ${1:sbuf} ${2:ef} ${3:"${4:format}"} ${5:f}$0</string>
	<key>name</key>
	<string>Scanf.kscanf</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Scanf.</string>
	<key>uuid</key>
	<string>5CB5CB48-758C-11D9-8C3A-003065F3078C</string>
</dict>
</plist>
