<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Sort.merge ${1:compare} ${2:lst1} ${3:lst2}$0</string>
	<key>name</key>
	<string>Sort.merge</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Sort.</string>
	<key>uuid</key>
	<string>AAC08AF8-758C-11D9-8C3A-003065F3078C</string>
</dict>
</plist>
