<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Stack.iter ${1:(fun ${2:x} -&gt; ${3:})} ${4:stk}$0</string>
	<key>name</key>
	<string>Stack.iter</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Stack.</string>
	<key>uuid</key>
	<string>3FBE9DDC-758D-11D9-8C3A-003065F3078C</string>
</dict>
</plist>
