<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>String.index_from ${1:str} ${2:start} ${3:'${4:ch}'}$0</string>
	<key>name</key>
	<string>String.index_from</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>String.</string>
	<key>uuid</key>
	<string>0DC30145-758F-11D9-8C3A-003065F3078C</string>
</dict>
</plist>
