<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Sys.readdir ${1:"${2:dirname}"}$0</string>
	<key>name</key>
	<string>Sys.readdir</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Sys.</string>
	<key>uuid</key>
	<string>401595B7-7590-11D9-8C3A-003065F3078C</string>
</dict>
</plist>
