<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Sys.set_signal ${1:sig} ${2:behavior}$0</string>
	<key>name</key>
	<string>Sys.set_signal</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>Sys.</string>
	<key>uuid</key>
	<string>B01C662C-A6D9-402E-B7D4-577E2683E2D9</string>
</dict>
</plist>
