// language definition for ${TM_BASENAME} by ${TM_USERNAME}
{
    /* The name as it will appear in the Syntax Highlight List */
    name = "${TM_BASENAME}"; 

    /* Scope name used sometimes for styling or limiting the activation
       of snippets, commands, and macros to files using this syntax
    */
    scopeName = "source.${TM_LANGUAGE}";

    /* So that we can always recognize this syntax */
    uuid = "${TM_UUID}";
    
    /* Which filetypes this highlighting should be applied to automatically */
    fileTypes = (); 
    
    /* Folding, this will start folds at comments (/*) and at {
       Stop folding at their counterparts. 
    */
    foldingStartMarker = "(/\\*|\\{|\\()"; 
    foldingStopMarker = "(\\*/|\\}|\\))"; 
    
    /* This is where the actual highlighting is defined. */
    patterns = (
        {   name = "keyword.control.${TM_LANGUAGE}";
            match = "\\<(list|of|keywords)\\>"; 
        },
        {   name = "string.double-quoted.${TM_LANGUAGE}";
            begin = '"'; end = '"'; swallow = "\\\\.";
            /* Patterns with begin and end can contain other patterns (nested as far as you want) */
            patterns = (
                {   name = "constant.character.${TM_LANGUAGE}";
                    match = "\\\\[a-zA-Z]";
                }
            )
        },
    ); 
}
