/* ================ */
/* = Remind Table = */
/* ================ */

.halloween .remind_table td {
	background-color: #303030;
}

.halloween .remind_table .cell {
	background-color: #000000;
}

.halloween .remind_table #nada {
	background-color: #080808;
}

.halloween .remind_table #today {
	background-color: #250722;
	border: 2px solid #98268B;
}

