{
	/*----
	basic java properties dictionary for textmate
	------*/
	
	name = "Java Properties";
	scopeName = "source.java-properties";
	fileTypes = ( properties );

	foregroundColor = "#AAAAAA";
	backgroundColor = "#000000";

	patterns = (
		/* comments */
		{
			name = "comments.line.java-props";
			match = "[#!].+$";
			foregroundColor = "red";
		},

 		/* KEY = VALUE PAIRS */
 		/*
         * Not compliant with the properties file spec, but this works me, and
         * I'm the one who counts around here.
 		 */
		{
			name = "keywords.variables.java-props";
			match = "^([^:=]+)[:=](.*)$";
			"foregroundColor[1]" = "#d600d6";
			"foregroundColor[2]" = "#d6d600";
		},
	);
	uuid = "2A28E50A-6B1D-11D9-8689-000D93589AF6";
}
