/**
 ** Java syntax dictionary for TextMate.
 ** Author: Brian Lalor <blalor@bravo5.org>
 **
 ** $URL$
 ** $Id$
 ** 
 ** http://www.javacamp.org/javaI/reservedWords.html
 **/
{
	name = "Java";
	scopeName = "source.java";
	uuid = "2B449DF6-6B1D-11D9-94EC-000D93589AF6";
	
	/* .bsh for BeanShell scripts */
	fileTypes = ( java, bsh );
	
	foldingStartMarker = "\\{\\s*$";
	foldingStopMarker = "^\\s*\\}";

	increaseIndentPattern = "^.*(\\{[^}\"']*|\\([^)\"']*)$";

	smartTypingPairs = (
        ( "(", ")" ),
	    ( "[", "]" ),
	    ( "{", "}" ),
        ( "\"", "\"" ), 
	    ( "'", "'" )
	);
	
	highlightPairs = (
	    ( "(", ")" ),
	    ( "[", "]" ),
	    ( "{", "}" )
	);
	
	foregroundColor = "black";
	backgroundColor = "white";
	
	patterns = (

        /* comments.block.java */
		{
			// Required to prevent the JavaDoc comment from taking over
			name = "comments.block.java.empty";
			match = "/\\*\\*/";
			fontStyle = ( italic );
			foregroundColor = "red";
		},

		{
			name = "comments.block.java";
			begin = "/\\*";
			end = "\\*/";
			fontStyle = ( italic );
			foregroundColor = "red";
		},

		{
			name = "comments.block.embedded-docs.java";
			begin = "/\\*\\*";
			patterns = (
			    {
					name = "keywords.embedded-docs.params.java";
					match = "\\\*\\s*@(param)\\s*([a-z][a-zA-Z0-9_]+)\\s*";
					"foregroundColor[1]" = "#669933";
					"foregroundColor[2]" = "black";
				},
			    {
					name = "keywords.embedded-docs.misc-attributes.java";
					match = "\\\*\\s*@([a-zA-Z0-9_-]+)\\s*";
					"foregroundColor[1]" = "#669933";
				},
			);
			end = "\\*/";
			fontStyle = ( italic );
			foregroundColor = "#006633";
		},
		
		/* comments.line.java */
		{
			name = "comments.line.java";
			match = "//.*$";
			foregroundColor = "red";
			fontStyle = ( italic );
		},

		/* keywords.data-types.java */
		{
		    name = "keywords.data-types.java";
		    match = "\\<(boolean|byte|char|int|long|short|float|double|[A-Z][A-Za-z0-9]+)\\>";

		    "foregroundColor[1]" = "#CC33FF";
		},

		/* keywords.access-control.java 
		 * @todo fix conflict with keywords.modifiers.java
		 */
		{
		    name = "keywords.control.java";
		    match = "\\<(private|protected|public)\\>";

		    fontStyle = (bold);
            foregroundColor = "#336699";
		},
		
		/* keywords.modifiers.java */
		{
		    name = "keywords.modifiers.java";
		    match = "\\<(abstract|final|native|private|protected|public|static|transient|synchronized|volatile|strictfp)\\>";

		    fontStyle = (bold);
		    foregroundColor = "#0000ff";
		},
		
		/* keywords.catch-exception.java */
		{
		    name = "keywords.catch-exception.java";
		    match = "\\<(try|catch|finally|throw)\\>";

		    fontStyle = (bold);
		    foregroundColor = "#663366";
		},
		
		/* keywords.control.java */
		{
		    name = "keywords.control.java";
		    match = "\\<(break|case|continue|default|do|while|for|switch|if|else)\\>";

		    fontStyle = (bold);
		    foregroundColor = "#0066ff";
		},
		
        /* keywords.class-fns.java */
        {
            name = "keywords.class-fns.java";
            match = "\\<(class|extends|implements|import|instanceof|new|package|return|interface|this|throws|void|super)\\>";

            fontStyle = (bold);
            foregroundColor = "#990033";
        },

        /* keywords.assigned-values.java */
        {
            name = "keywords.assigned-values.java";
            match = "\\<(true|false|null)\\>";

            "fontStyle[1]" = (bold);
        },
	
		/* constants.numeric.java */
		{
			name = "constants.numeric.java";
			match = "\\<((0(x|X)[0-9a-fA-F]*)|(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))((e|E)(\\+|-)?[0-9]+)?)([LlFfUuDd]|UL|ul|)?\\>";

			foregroundColor = "#009966";
		},
		
		/* strings.double-quoted.java */
		{
			name = "strings.double-quoted.java";
			begin = "\"";
			end = "\"";
			swallow = "\\\\.";

			foregroundColor = "#FF0066";
		},

        /* strings.single-quoted.java */
		{
			name = "strings.single-quoted.java";
			begin = "'";
			end = "'";
			swallow = "\\\\.";

			foregroundColor = "#669933";
		},
	);
}
