<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>.. _${1:hot_word} ${2:http://macromates.com/}
$0</string>
	<key>name</key>
	<string>Hypertext Link Def    (link)</string>
	<key>scope</key>
	<string>text.setext</string>
	<key>tabTrigger</key>
	<string>link</string>
	<key>uuid</key>
	<string>D983EE17-2AD0-4638-BCC0-5622DE545093</string>
</dict>
</plist>
