<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>.. _${1:hot_word} (${2:note text})
$0</string>
	<key>name</key>
	<string>Hypertext Note Def</string>
	<key>scope</key>
	<string>text.setext</string>
	<key>tabTrigger</key>
	<string>note</string>
	<key>uuid</key>
	<string>FD9B5384-BAB6-48CC-B8BE-B4BD44AD65D7</string>
</dict>
</plist>
