<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>##	PHPCodeCompletion .tmbundle
##	Version: 1.0b5 - 2005-08-25
##	Created by Mats Persson [mats@imediatec.co.uk]
##	(C) Copyright 2005
##	Licence: Free for anyone to use and distribute
##
##	Inspired by and partly based on phpcc by ian@ardes.com

#	check if we have SELECTED_TEXT
[[ "$TM_SELECTED_TEXT" != "" ]] &amp;&amp; MY_FUNC_TO_CHECK="$TM_SELECTED_TEXT"
#	check if we have MY_FUNC_TO_CHECK
[[ "$MY_FUNC_TO_CHECK" == "" ]] &amp;&amp; MY_FUNC_TO_CHECK="$TM_CURRENT_WORD"

${TM_PHP:=php} "$TM_BUNDLE_PATH"/bin/phpcc.ShowDocumentation.php "$MY_FUNC_TO_CHECK"
</string>
	<key>dontFollowNewOutput</key>
	<true/>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>$</string>
	<key>name</key>
	<string>Show Documentation</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.php</string>
	<key>uuid</key>
	<string>E39BEE7A-05E1-4F06-AF67-A15D88827CE1</string>
</dict>
</plist>
