/*
	Defines the style of HTML Output for printing.
	To be used in conjunction with `../lib/webpreview.sh`.
*/


body {
/*	background: #FFFFFF;
	color: #000000;*/
	font: 12px "Lucida Grande", Verdana, Helvetica, sans-serif;
}
#tm_webpreview_header {
	display: none;
}

#tm_webpreview_footer {
	display: none;
}

a {
	color: #0D2681;
}
h1 {
	font-family: "LucidaGrande";
	color: #333;
}
h2 {
	color: #222;
}

h3 {
	color: #333;
}

h4 {
	font-style: italic;
	color: #666;
}

blockquote {
	font-family: "Palatino", "Book Antiqua", Verdana;
	font-size: 106%;
	margin: 1em 25px;
	padding-left: 1em;
	border-left: 4px solid #E6E5DD;
}

code, pre {
	font-size: 95%;
	font-family: "LuxiMono", "Bitstream Vera Sans Mono", "Monaco", "Courier New", monospace;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	color: #1C360C;
}


pre {
	padding: 10px 10px 10px 20px;
	background-color: #f0f0f0;
	border: 1px solid #cccbba;
}

.graybox {
	border-top: 1px solid #919699;
	border-left: 1px solid #919699;
}
.graybox th {
	background: #E2E2E2;
	border-bottom: 1px solid #919699;
	border-right: 1px solid #919699;
/*	font-size: 12px;*/
	font-weight: bold;
	padding: 4px 8px 4px 8px;
	text-align: left;
}
.graybox td {
	border-bottom: 1px solid #919699;
	border-right: 1px solid #919699;
	padding: 8px;
	vertical-align: top;
}
.graybox p {
	margin: 0;
}
.graybox p + p {
	margin-top: 1em;
}

li > p {
	margin: 1ex 0 1ex 0;
}

.footnote {
	vertical-align: top;
	font-size: 75%;
	font-weight: bold;
	text-decoration: none;
	color: #525151;
}
.footnote:before {
	content: "[";
	vertical-align: top;
	font-weight: bold;
	color: #525151;
}
.footnote:after {
	content: "]";
	vertical-align: top;
	font-weight: bold;
	color: #525151;
}
div.footnotes {
   padding: 1em;
   font-size: 90%;
   background: #F0F0F0;
}
hr {
	background: #606060;
	color:  #606060;
	border-style: solid;
	border-color: #606060;
	border-width: 1px 0 0 0;
	margin-top: 0;
}

/* =================== */
/* = RubyMate Styles = */
/* =================== */

div.rubymate {
}

div.rubymate > div {
	border-bottom: 1px dotted #666;
	padding: 1ex;
}

div.rubymate pre strong {
	/* used for messages */
	font-weight: normal;
}

div.rubymate pre em
{
	/* used for stderr */
	font-style: normal;
	color: #FF5600;
}

div.rubymate div#exception_report
{
/*	background-color: rgb(210, 220, 255);*/
}

div.rubymate p#exception strong
{
	color: #E4450B;
}

div.rubymate p#traceback
{
	font-size: 8pt;
}

div.rubymate blockquote {
	font-style: normal;
	border: none;
}


div.rubymate table {
	margin: 0;
	padding: 0;
}

div.rubymate td {
	margin: 0;
	padding: 2px 2px 2px 5px;
	font-size: 10pt;
}

div.rubymate a {
	color: #FF5600;
}


/* ===================== */
/* = Subversion Styles = */
/* ===================== */

div.subversion {
	padding: 10px 10px 10px 20px;
}
.bright div.subversion {
	background-color: #f0f0f0;
	border: 1px solid #cccbba;
}
.dark div.subversion {
	color: #FFF;
	background-color: #111;
	border: 1px solid #555;
}

/* INFO */

div.subversion dl.info dt {
   font-weight: bold;
   padding: 4px;
   padding-bottom: 0;
   margin: 0;
   border-top: 1px dashed #ddd;
}

div.subversion dl.info.alternate dt {
   border-top: 1px dashed #ccc;
}

div.subversion dl.info dt:first-child {
   border-top: 0;
}

div.subversion dl.info dt:after {
   content: ":";
}

div.subversion dl.info dd {
   margin: 0;
   padding: 4px;
   padding-top: 0;
   padding-left: 24px;
}

/* BLAME */

/* some adds for the links in the table (clickable lines)..*/
table.blame a, table.blame a:visited, table.blame a:link {
   text-decoration: none;
   color: inherit;
}

table.blame a:hover, table.blame a:active {
   background-color: #a3c8ff;
   color: inherit;
   text-decoration: none;
}


/* formating the table.. */
table.blame {
   font-size: 12px;
   padding: 1px;
   border-collapse: collapse;
   width: 100%;
}

table.blame th {
   text-align: left;
   background-color: #eee;
   border-bottom: 1px solid #999;
   padding: 3px;
   padding-bottom: 1px;
   padding-top: 1px;
   color: #666;
}

/* i have to format just this 2, because i just want
   borders beween the headers and not at their sides.. */
th.revhead {
   border-left: 1px solid #bbb;
   border-right: 1px solid #bbb;
}

th.codehead {
   border-left: 1px solid #bbb;
}

/* to make it look good if a line gets wrapped: */
table.blame td {
   vertical-align: top;
}

/* about the several column classes.. */
td.linecol {
   background-color: #ddd;
   border-right: 1px solid #999;
   color: #888;
   text-align: right;
}

td.revcol, td.namecol {
   text-align: right;
   background-color: #f8f8f8;
   color: #888;
   border-right: 1px solid #ddd;
   padding-right: 2px;
   padding-left: 2px;
}

td.namecol {
   border-right: 1px solid #aaa;
}

/* bitstream vera sans looks really _very_ good. But I like Luxi Mono better :p */
td.codecol {
/*   font-size: 12px;*/
   font-family: "LuxiMono", "Bitstream Vera Sans Mono", monospace;
   padding-left: 4px;
   width: 100%;
}

/* maybe this should be implemented as id but its
   an optimisation for less ruby code. :) */
td.current_line {
   background-color: #ddd;
}
