<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveModifiedFiles</string>
	<key>captureFormatString</key>
	<string>$0</string>
	<key>capturePattern</key>
	<string>^(.*?):([0-9]+):.*</string>
	<key>command</key>
	<string>cd "$TM_DIRECTORY"
export JAVA_HOME=${TM_JAVA_HOME:-/System/Library/Frameworks/JavaVM.framework/Home}
ant -s build.xml 2&gt;&amp;1 | "$TM_BUNDLE_SUPPORT/bin/htmlize_ant.py" 

</string>
	<key>fileCaptureRegister</key>
	<string>1</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@b</string>
	<key>lineCaptureRegister</key>
	<string>2</string>
	<key>name</key>
	<string>Ant</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.java, text.xml</string>
	<key>uuid</key>
	<string>DA0A5984-5F16-11D9-B9C3-000D93589AF6</string>
</dict>
</plist>
