<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>. "$TM_SUPPORT_PATH/lib/webpreview.sh"
html_header "Compiling “${TM_FILENAME}”…"

cd "$TM_DIRECTORY"
javac -encoding UTF8 "$TM_FILENAME" &amp;&gt; &gt;("${TM_RUBY:-ruby}" -rtm_parser -eTextMate.parse_errors)
if (($? &gt;= 1)); then exit; fi

{ java -Dfile.encoding=utf-8 "${TM_FILENAME%.java}"
  echo -e "\nProgram exited with status $?."; }|pre

# # if you want to run the program in Terminal.app
# osascript &lt;&lt;EOF
#    tell application "Terminal"
#       activate
#       do script "cd '$TM_DIRECTORY'; java '${TM_FILENAME%.java}'"
#    end tell
# EOF

html_footer
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@b</string>
	<key>name</key>
	<string>Compile &amp; Run Single File</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.java</string>
	<key>uuid</key>
	<string>05283F87-438D-45C1-ADFD-B8BF1CD17429</string>
</dict>
</plist>
