{
    fileTypes = (html, htm, shtml, xhtml); 
    foldingStartMarker = "(<(?i:(head|table|div|style|script|ul|ol|form|dl))\\>.*?>|\\{)"; 
    foldingStopMarker = "(</(?i:(head|table|div|style|script|ul|ol|form|dl))>|\\})"; 
    keyEquivalent = "^~H"; 
    name = "HTML (Basic)"; 
    scopeName = "text.html.basic";
    patterns = (
        {
            match = "<\\?xml.*?\\?>"; 
            name = "meta.docinfo.processing.xml"; 
        }, 
        {
            begin = "<!"; 
            end = ">"; 
            name = "keyword.sgml"; 
            patterns = (
                {
                    match = "(\\s*)(?!--|>)\\S(\\s*)"; 
                    name = "invalid.bad-comments-or-CDATA.html"; 
                }, 
                {
                    begin = "--"; 
                    end = "--"; 
                    name = "comment.block.html"; 
                    patterns = (
                        {
                            begin = "^#\\s*(include|config|echo|exec|fsize|flastmod|printenv|set)"; 
                            end = "(?=\\s*--|>)"; 
                            name = "macro.server-side-includes.html"; 
                        }, 
                        {
                            match = ">|<"; 
                            name = "invalid.bad-comment-end.html"; 
                        }
                    ); 
                }, 
                {
                    begin = DOCTYPE; 
                    end = "(?=>)"; 
                    name = "meta.docinfo.doctype.html"; 
                    patterns = (
                        {
                            match = "\"[^\">]*\""; 
                            name = "meta.docinfo.doctype.identifiers-and-DTDs.html"; 
                        }
                    ); 
                }, 
                {
                    begin = "\\[CDATA\\["; 
                    end = "]](?=>)"; 
                    name = "constant.inline-data.html"; 
                }
            ); 
        },
/*        {
            begin = "<%"; 
            end = "%>"; 
            name = "embedded.ruby.html"; 
        }, 
        {
            begin = "<\\?(php|=)?"; 
            end = "\\?>"; 
            name = "embedded.php.html"; 
        }, 
*/        {
            begin = "(^\\s+)?<(?i:style)\\>.*?>?"; 
            end = "</(?i:style)>(\\s+$)?"; 
            name = "embedded.css.html"; 
            patterns = ({include = CSS; }); 
        }, 
        {
            match = "&([a-zA-Z]+|#[0-9]+|#x[0-9a-fA-F]+);"; 
            name = "constant.character-entities.html"; 
        }, 
        {
            begin = "</?([a-zA-Z0-9]+)"; 
            end = ">"; 
            name = "keyword.markup.tag.html"; 
            patterns = (
                {match = " ([a-zA-Z-]+)"; name = "keyword.markup.tag.options.html"; }, 
                {
                    begin = "\""; 
                    end = "\""; 
                    name = "string.double-quoted.html"; 
                    patterns = (
                        {
                            match = "&([a-zA-Z]+|#[0-9]+|#x[0-9a-fA-F]+);"; 
                            name = "constant.character-entities.html"; 
                        }, 
                        {
                            match = "&"; 
                            name = "invalid.bad-ampersand.html"; 
                        }
                    ); 
                }, 
                {
                    begin = "'"; 
                    end = "'"; 
                    name = "string.single-quoted.html"; 
                    patterns = (
                        {
                            match = "&([a-zA-Z]+|#[0-9]+|#x[0-9a-fA-F]+);"; 
                            name = "constant.character-entities.html"; 
                        }, 
                        {
                            match = "&"; 
                            name = "invalid.bad-ampersand.html"; 
                        }
                    ); 
                }
            ); 
        }, 
        {
            match = "<>"; 
            name = "invalid.incomplete.html"; 
        }, 
        {
            match = "<(?=\\W)|>|&"; 
            name = "invalid.bad-angle-bracket-or-ampersand.html"; 
        }
    ); 
    uuid = "17994EC8-6B1D-11D9-AC3A-000D93589AF6"; 
}
