<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>

#get R's PID
RPID=$(ps aw | grep '[0-9] /.*TMRdaemon' | awk '{print $1;}' )

#check whether Rdaemon runs - if not start it
if [ -z $RPID ]; then

  if [ -f "$HOME/Library/Application Support/Rdaemon"/daemon/startScript.sh ]; then
  	rm -rf "$HOME/Library/Application Support/Rdaemon"/daemon
  	rm -rf "$HOME/Library/Application Support/Rdaemon"/help
  	cp -R "$TM_BUNDLE_SUPPORT"/Rdaemon/daemon "$HOME/Library/Application Support/Rdaemon"
  	cp -R "$TM_BUNDLE_SUPPORT"/Rdaemon/help "$HOME/Library/Application Support/Rdaemon" 
  	"$HOME/Library/Application Support/Rdaemon"/daemon/startScript.sh
  	echo -en "&gt; "
  else
  	[[ -d "$HOME/Library/Application Support/Rdaemon" ]] &amp;&amp; echo -e "The folder '$HOME/Library/Application Support/Rdaemon' already exists! Please remove or rename it first." &amp;&amp; exit_show_tool_tip
  	cp -R "$TM_BUNDLE_SUPPORT"/Rdaemon "$HOME/Library/Application Support/Rdaemon"
  	echo -e "Rdaemon was installed in:\n'$HOME/Library/Application Support/Rdaemon'"
  	if [ -f "$HOME/Library/Application Support/Rdaemon"/daemon/startScript.sh ]; then
  		"$HOME/Library/Application Support/Rdaemon"/daemon/startScript.sh
  		echo -en "&gt; "
  	else
  		echo "Error while installing Rdaemon!"
  		exit_show_tool_tip
  	fi
  fi

else
	echo -n "&gt; "
fi


open "$HOME/Library/Application Support/Rdaemon"/Rsession.tmproj
mate "$HOME/Library/Application Support/Rdaemon"/console.Rcon
open "txmt://open?line=1000000&amp;column=10000000"
</string>
	<key>extension</key>
	<string>txt</string>
	<key>keyEquivalent</key>
	<string>^~@r</string>
	<key>name</key>
	<string>Open Rsession</string>
	<key>uuid</key>
	<string>33040DC5-FC1C-4ACF-B758-997223FDDC32</string>
</dict>
</plist>
