<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>yq@yqnyrl.pbz</string>
	<key>contactName</key>
	<string>Luke Daley</string>
	<key>description</key>
	<string>A simple text markup language used for converting into other formats such as XML, LaTeX.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>D5CF8D68-0AC0-48AD-8DAB-F3F4B718D13A</string>
			<string>CD3CDBB8-8235-460A-B429-574FC79DA11F</string>
			<string>7FC0C427-6DAF-4EE7-9D25-922635CA08DD</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>7FC0C427-6DAF-4EE7-9D25-922635CA08DD</key>
			<dict>
				<key>items</key>
				<array>
					<string>7FA88439-B6C3-40CF-B680-B9E750B1453A</string>
					<string>14E545D9-A86B-4C56-8D13-05795831248B</string>
					<string>23DFE7EF-C0CE-4FD0-BB11-85D3E2D23B98</string>
				</array>
				<key>name</key>
				<string>Formatting</string>
			</dict>
			<key>CD3CDBB8-8235-460A-B429-574FC79DA11F</key>
			<dict>
				<key>items</key>
				<array>
					<string>3CBEDFDF-DC0A-471C-9BA5-F6EEF08ED89E</string>
					<string>2F71C8BD-62DA-424B-B69C-118657E0093D</string>
					<string>EF5BBFDE-2738-4708-8E16-6B07D5976BE8</string>
				</array>
				<key>name</key>
				<string>Snippets</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Almost Plain Text (APT)</string>
	<key>ordering</key>
	<array>
		<string>B43D89E6-85EF-414C-B0F3-EB99A90D1BE6</string>
		<string>DE4BFF90-EC30-4BDC-853B-9882BFD2A302</string>
		<string>3F0379FD-C86B-445B-BC11-0D8769E71319</string>
		<string>D5CF8D68-0AC0-48AD-8DAB-F3F4B718D13A</string>
		<string>3CBEDFDF-DC0A-471C-9BA5-F6EEF08ED89E</string>
		<string>EF5BBFDE-2738-4708-8E16-6B07D5976BE8</string>
		<string>2F71C8BD-62DA-424B-B69C-118657E0093D</string>
		<string>7FA88439-B6C3-40CF-B680-B9E750B1453A</string>
		<string>14E545D9-A86B-4C56-8D13-05795831248B</string>
		<string>23DFE7EF-C0CE-4FD0-BB11-85D3E2D23B98</string>
	</array>
	<key>uuid</key>
	<string>AC1CCF97-8778-4085-9631-80924B57C0FE</string>
</dict>
</plist>
