<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>argument</key>
			<dict>
				<key>action</key>
				<string>findPrevious</string>
				<key>findInProjectIgnoreCase</key>
				<true/>
				<key>findString</key>
				<string>(?&lt;=\s)\S*?(?=\s)</string>
				<key>ignoreCase</key>
				<true/>
				<key>regularExpression</key>
				<true/>
				<key>replaceAllScope</key>
				<string>document</string>
				<key>replaceString</key>
				<string>that</string>
				<key>wrapAround</key>
				<true/>
			</dict>
			<key>command</key>
			<string>findWithOptions:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>$</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>^$</string>
	<key>name</key>
	<string>Enclose current equation in $</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>8FD25BB0-4759-4D64-988D-2CE577C38E06</string>
</dict>
</plist>
