<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>plist</string>
		<string>dict</string>
	</array>
	<key>foldingStartMarker</key>
	<string>^\s*(&lt;[^!?%/](?!.+?(/&gt;|&lt;/.+?&gt;))|&lt;[!%]--(?!.+?--%?&gt;)|&lt;%[!]?(?!.+?%&gt;))</string>
	<key>foldingStopMarker</key>
	<string>^\s*(&lt;/[^&gt;]+&gt;|[/%]&gt;|--&gt;)\s*$</string>
	<key>keyEquivalent</key>
	<string>^~P</string>
	<key>name</key>
	<string>Property List (XML)</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>meta.tag.key.xml-plist</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.xml-plist</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>entity.other.tag.localname.xml</string>
				</dict>
				<key>4</key>
				<dict>
					<key>name</key>
					<string>constant.name.xml-plist</string>
				</dict>
				<key>5</key>
				<dict>
					<key>name</key>
					<string>meta.tag.key.xml-plist</string>
				</dict>
				<key>6</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.xml-plist</string>
				</dict>
				<key>7</key>
				<dict>
					<key>name</key>
					<string>entity.other.tag.localname.xml</string>
				</dict>
			</dict>
			<key>comment</key>
			<string>the extra captures are required to duplicate the effect of the namespace parsing in the XML syntax</string>
			<key>match</key>
			<string>(&lt;((key))&gt;)(.*)(&lt;/((key))&gt;)</string>
		</dict>
		<dict>
			<key>include</key>
			<string>text.xml</string>
		</dict>
	</array>
	<key>scopeName</key>
	<string>text.xml.plist</string>
	<key>uuid</key>
	<string>D95FD194-916E-47C4-A20F-A02CE8C80A95</string>
</dict>
</plist>
