<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>wnl@fbssvna.bet</string>
	<key>contactName</key>
	<string>Jay Soffian</string>
	<key>description</key>
	<string>Support for the syntax used by the &lt;a href="http://moinmoin.wikiwikiweb.de/"&gt;MoinMoin wiki engine&lt;/a&gt;.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>78179C9F-3C08-4E7B-A9FB-3CC5F645B3A1</string>
			<string>554F9921-959C-437D-9117-36AF2F743AA7</string>
			<string>736E67AD-8DE8-4D3C-8151-7076F1D60DDB</string>
			<string>4D3A8582-EA02-4EFD-A075-FB07A27874AA</string>
			<string>F6F9161C-4BC4-47E3-AED9-30FDC4BBFE56</string>
			<string>CF23FBDC-A1D2-48D6-B21F-EE93D891CE6D</string>
			<string>FC6E6F47-45DC-4255-A6D9-704161A8069C</string>
			<string>------------------------------------</string>
			<string>972BABC2-5EF0-4964-B284-6BB9D143B6F5</string>
			<string>8202AA96-A1FE-4A42-9155-DC68FD403386</string>
			<string>------------------------------------</string>
			<string>68CC62AA-2C82-4949-9A24-C207A4C2829D</string>
			<string>516D608C-4BA6-4B1D-A46B-CC6C367E2A61</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>MoinMoin</string>
	<key>ordering</key>
	<array>
		<string>CF23FBDC-A1D2-48D6-B21F-EE93D891CE6D</string>
		<string>FC6E6F47-45DC-4255-A6D9-704161A8069C</string>
		<string>516D608C-4BA6-4B1D-A46B-CC6C367E2A61</string>
		<string>68CC62AA-2C82-4949-9A24-C207A4C2829D</string>
		<string>972BABC2-5EF0-4964-B284-6BB9D143B6F5</string>
		<string>8202AA96-A1FE-4A42-9155-DC68FD403386</string>
		<string>78179C9F-3C08-4E7B-A9FB-3CC5F645B3A1</string>
		<string>554F9921-959C-437D-9117-36AF2F743AA7</string>
		<string>736E67AD-8DE8-4D3C-8151-7076F1D60DDB</string>
		<string>4D3A8582-EA02-4EFD-A075-FB07A27874AA</string>
		<string>F6F9161C-4BC4-47E3-AED9-30FDC4BBFE56</string>
		<string>DB315CBC-23FD-4952-9D64-F2AC0618A840</string>
		<string>ECAD7950-590C-4D8F-B17A-BF64DD5975A3</string>
		<string>B55CE47F-D621-4D84-8C56-61FFDDD7E710</string>
		<string>62CBBA22-7680-4213-A3CC-707336A65F5A</string>
	</array>
	<key>uuid</key>
	<string>D4AC4B20-AFE1-4852-80D9-02BFAC1CF1D8</string>
</dict>
</plist>
