<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string># Context-sensitive help lookup for MT tags.
# For better recognition of "mt:Foo" tag names, add ":" to your
# word character list in TextMate's "Text Editing" preferences.
if grep &lt;&lt;&lt;${TM_CURRENT_WORD:-!} -Esqi '^mt$'
    then echo "You may need to add ':' to the \"Word Characters\" list in TextMate's \"Text Editing\" preferences."
         exit
fi
if grep &lt;&lt;&lt;${TM_CURRENT_WORD:-!} -Esq '[a-zA-Z0-9_]+'
	then exit_show_html "&lt;meta http-equiv='Refresh' content='0;URL=http://www.movabletype.org/tag/$TM_CURRENT_WORD'&gt;"
	else echo "Nothing to lookup (hint: place the caret on a tag name)"
fi</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^h</string>
	<key>name</key>
	<string>Documentation for Tag</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>scope</key>
	<string>text.html.mt entity.name.tag.mt, text.html.mt variable.other.mt</string>
	<key>uuid</key>
	<string>4D4EACBA-CF58-48FF-8CBC-0C93BC88AB11</string>
</dict>
</plist>
