<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Tricks</string>
	<key>ordering</key>
	<array>
		<string>56B05535-1ACD-4E55-B9FC-3BC1FAA3DBE1</string>
		<string>99D9DBC0-E03E-46B9-9E73-13F58DCDB55B</string>
		<string>C5EF3C38-DED6-4308-90C1-BE75B4430332</string>
	</array>
	<key>uuid</key>
	<string>753E4159-850D-4F76-B083-71DC407047FA</string>
</dict>
</plist>
