<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Diff</string>
	<key>ordering</key>
	<array>
		<string>D04AFBD3-8110-11D9-8E5B-0011242E4184</string>
		<string>7E848FF4-708E-11D9-97B4-0011242E4184</string>
	</array>
	<key>uuid</key>
	<string>C2D2BFF9-708D-11D9-BD09-0011242E4184</string>
</dict>
</plist>
