/* ================ */
/* = Remind Table = */
/* ================ */

.bright .remind_table td {
	background-color: #D0D0D0;
}

.bright .remind_table .cell {
	background-color: #FFFFFF;
}

.bright .remind_table #nada {
	background-color: #F8F8F8;
}

.bright .remind_table #today {
	background-color: #FED7FA;
	border: 2px solid #98268B;
}

