{
	name = "C++";
	keyEquivalent = "~^C";
	scopeName = "source.c++";
	comment = "I don't think anyone uses .hp. .cp tends to be paired with .h. (I could be wrong. :) -- chris";
	fileTypes = ( cc, cpp, cp, cxx, "c++", C, h, hpp, "h++" );
	foldingStartMarker = "(/\\*\\*|\\{\\s*$)";
	foldingStopMarker = "(\\*\\*/|^\\s*\\})";
	patterns = (
		{ include = "source.c"; },
		{
		    name = "keyword.control.c++";
		    match = "\\b(explicit|export|catch|friend|namespace|operator|private|protected|public|this|try|throw|using|virtual)\\b";
		},

		{
		    name = "keyword.control.c++.template";
		    match = "\\btemplate\\b\\s*";
		},

		{
		    name = "keyword.operator.c++.cast";
		    match = "\\b(const_cast|dynamic_cast|reinterpret_cast|static_cast)\\b\\s*";
		},

		{
		    name = "keyword.operator.c++";
		    match = "\\b(and|and_eq|bitand|bitor|compl|delete|new|not|not_eq|or|or_eq|typeid|xor|xor_eq)\\b";
        },

		{ name = "keyword.storage.c++"; match = "\\b(bool|class|mutable|typename|wchar_t)\\b"; },
	);
	uuid = "26251B18-6B1D-11D9-AFDB-000D93589AF6";
}
