<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>txt</string>
	</array>
	<key>keyEquivalent</key>
	<string>~^P</string>
	<key>name</key>
	<string>Plain text</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>match</key>
			<string>^\s*•.*$</string>
			<key>name</key>
			<string>declaration.bullet-point.strong</string>
		</dict>
		<dict>
			<key>match</key>
			<string>^\s*·.*$</string>
			<key>name</key>
			<string>declaration.bullet-point.light</string>
		</dict>
		<dict>
			<key>match</key>
			<string>^\s*\*.*$</string>
			<key>name</key>
			<string>declaration.bullet-point.star</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b([vV]\d{1,2}\.\d(\.\d)?([abdf]\d{1,3})?|\d{1,2}\.\d(\.\d)?[abdf]\d{1,3})\b</string>
			<key>name</key>
			<string>constant.numeric.version-string</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(https?|ftp|mailto):\S+?(?=[)&gt;,.':;"]*(\s|$)|$)</string>
			<key>name</key>
			<string>markup.underline.link</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\[(NEW|FIXED|CHANGED|INFO)\]</string>
			<key>name</key>
			<string>keyword.other.release-notes</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>%\{&lt;(?i:HTML)&gt;</string>
			<key>end</key>
			<string>&lt;/(?i:HTML)&gt;\}%</string>
			<key>name</key>
			<string>text.html</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>text.html.basic</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>%\{&lt;(?i:Shell)&gt;</string>
			<key>end</key>
			<string>&lt;/(?i:Shell)&gt;\}%</string>
			<key>name</key>
			<string>source.shell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>source.shell</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>%\{&lt;(?i:Objective-C)&gt;</string>
			<key>end</key>
			<string>&lt;/(?i:Objective-C)&gt;\}%</string>
			<key>name</key>
			<string>source.objc</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>source.objc</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>%\{&lt;(?i:LaTeX)&gt;</string>
			<key>end</key>
			<string>&lt;/(?i:LaTeX)&gt;\}%</string>
			<key>name</key>
			<string>text.latex</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>text.latex</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>scopeName</key>
	<string>text.plain</string>
	<key>uuid</key>
	<string>3130E4FA-B10E-11D9-9F75-000D93589AF6</string>
</dict>
</plist>
