<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Processing</string>
	<key>ordering</key>
	<array>
		<string>18F4EBF0-4B4C-455B-9F94-7AE634401606</string>
	</array>
	<key>uuid</key>
	<string>B496713D-B415-494C-B3D2-ABB28A66D377</string>
</dict>
</plist>
