<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>cfg</string>
	</array>
	<key>keyEquivalent</key>
	<string>^~Q</string>
	<key>name</key>
	<string>Quake Style .cfg</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>comment</key>
			<string>the 2nd part of the regex is just to capture binds to number-keys and prevent them from getting highlighted as values.</string>
			<key>match</key>
			<string>\b(set(a|u|s)?|bind|undbind|unbindall|vstr|exec|kill|say|say_team|quit|echo)(\s+\d)?\b</string>
			<key>name</key>
			<string>keyword.other.quake3</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b\d+(\.\d+)?\b</string>
			<key>name</key>
			<string>constant.numeric.quake3</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>"</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.quake3</string>
				</dict>
			</dict>
			<key>end</key>
			<string>"</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.quake3</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.quoted.double.quake3</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\\.</string>
					<key>name</key>
					<string>constant.character.escape.quake3</string>
				</dict>
				<dict>
					<key>match</key>
					<string>\b(set(a|u|s)?|bind|unbindall|vstr|exec|kill|say|say_team|quit|echo)\b</string>
					<key>name</key>
					<string>keyword.other.string-embedded.quake3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.comment.quake3</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(//).*</string>
			<key>name</key>
			<string>comment.line.double-slash.quake3</string>
		</dict>
	</array>
	<key>scopeName</key>
	<string>source.quake-config</string>
	<key>uuid</key>
	<string>AAB8717E-6E5C-11D9-9BE0-0011242E4184</string>
</dict>
</plist>
