<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>FuvatyreWvz@tznvy.pbz</string>
	<key>contactName</key>
	<string>Jim Shingler</string>
	<key>description</key>
	<string>&lt;a href="http://griffon.codehaus.org/"&gt;Griffon&lt;/a&gt; - A ‘code by convention’ Groovy application framework.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>18F476CC-8BEA-46BB-9419-77EDD521F9F0</string>
			<string>6792FF28-C46E-4E42-8211-F9C03CBEEE49</string>
			<string>7DCC7965-9E75-4933-A953-9BD5BCBA5CF3</string>
			<string>A1E08336-31C7-4ED1-B9DE-CADEAA84E06E</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>18F476CC-8BEA-46BB-9419-77EDD521F9F0</key>
			<dict>
				<key>items</key>
				<array>
					<string>FBA08F8E-3C51-4AB2-B417-F88D2ECB5843</string>
					<string>A2B2C702-E63A-4605-A1AC-38188D17B3BA</string>
					<string>164FF85D-27CE-4CC6-BF6E-1C925D1DFF71</string>
					<string>35A303C5-9064-41F5-A092-EF5CD83DEF81</string>
					<string>43336C0D-495B-44F0-BBA9-3108A51AFC37</string>
					<string>------------------------------------</string>
					<string>DA1F072D-6D6A-4AD0-98DA-09D89CB848D0</string>
					<string>------------------------------------</string>
					<string>D6518BFC-9934-4819-907F-313EE5190DB6</string>
					<string>------------------------------------</string>
					<string>207BBD6B-1BC7-4D9E-8438-3C103C6812A5</string>
					<string>A5D27A2E-F29B-481E-97B9-0D070E99EA50</string>
					<string>------------------------------------</string>
					<string>2B083A1E-9890-41E7-8725-A8964B71E081</string>
				</array>
				<key>name</key>
				<string>Commands</string>
			</dict>
			<key>6792FF28-C46E-4E42-8211-F9C03CBEEE49</key>
			<dict>
				<key>items</key>
				<array>
					<string>51BEF2CA-6260-44B3-8484-AF30A93A0496</string>
				</array>
				<key>name</key>
				<string>Model</string>
			</dict>
			<key>7DCC7965-9E75-4933-A953-9BD5BCBA5CF3</key>
			<dict>
				<key>items</key>
				<array>
					<string>5B3B1235-FB16-46AF-AB5D-4559C56E6C7A</string>
					<string>A7FB47AB-8BFF-43E5-8CEC-1ADDC9A138DE</string>
				</array>
				<key>name</key>
				<string>View</string>
			</dict>
			<key>A1E08336-31C7-4ED1-B9DE-CADEAA84E06E</key>
			<dict>
				<key>items</key>
				<array>
					<string>5ECE28ED-463A-4175-8931-E1D403B30981</string>
				</array>
				<key>name</key>
				<string>Controller</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Groovy Griffon</string>
	<key>ordering</key>
	<array>
		<string>DA1F072D-6D6A-4AD0-98DA-09D89CB848D0</string>
		<string>D6518BFC-9934-4819-907F-313EE5190DB6</string>
		<string>207BBD6B-1BC7-4D9E-8438-3C103C6812A5</string>
		<string>A5D27A2E-F29B-481E-97B9-0D070E99EA50</string>
		<string>FBA08F8E-3C51-4AB2-B417-F88D2ECB5843</string>
		<string>43336C0D-495B-44F0-BBA9-3108A51AFC37</string>
		<string>164FF85D-27CE-4CC6-BF6E-1C925D1DFF71</string>
		<string>35A303C5-9064-41F5-A092-EF5CD83DEF81</string>
		<string>A2B2C702-E63A-4605-A1AC-38188D17B3BA</string>
		<string>2B083A1E-9890-41E7-8725-A8964B71E081</string>
		<string>51BEF2CA-6260-44B3-8484-AF30A93A0496</string>
		<string>5B3B1235-FB16-46AF-AB5D-4559C56E6C7A</string>
		<string>5ECE28ED-463A-4175-8931-E1D403B30981</string>
		<string>A7FB47AB-8BFF-43E5-8CEC-1ADDC9A138DE</string>
	</array>
	<key>uuid</key>
	<string>594D848B-CA20-4AB0-8A4D-1B6F38357404</string>
</dict>
</plist>
