<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>qnivq@tenlfxvrf.arg</string>
	<key>contactName</key>
	<string>David Powers</string>
	<key>description</key>
	<string>Generic completion system for OCaml.</string>
	<key>name</key>
	<string>OCaml Experimental Completions</string>
	<key>ordering</key>
	<array>
		<string>084F4731-997A-45EF-AB15-1E277EE9286B</string>
		<string>437E330A-5F7B-42D2-A69E-1112F1DAAE32</string>
	</array>
	<key>uuid</key>
	<string>A9187C1B-99FF-4FA5-95CC-7BC102AA6FB2</string>
</dict>
</plist>
