#todo_list table {
	clear: both;
	border-collapse: collapse;
}

#todo_list_list td, #todo_list th {
	font-family: monospace;
}

#todo_list th {
	white-space: no-wrap;
	border-bottom: 1px solid #000;
	text-align: left;
}

#todo_list th a {
	text-decoration: none;
}

#todo_list td {
	font-size: 9pt;
	padding: 1ex 1ex 0 0;
}

#todo_list td.file {
/*	max-width: 16em;
	text-wrap: unrestricted;
	word-wrap: break-word;*/
}

#todo_list td.comment {
	min-width: 20em;
}

#todo_list .counters {
	padding: 0;
	padding-bottom: 3em;
}

#todo_list .counters li {
	display: block;
	float: left;
	padding: 1ex;
	border: 1px solid #444;
	border-collapse: collapse;
	min-width: 6em;
	text-align: center;
}

#todo_list .counters li a {
	color: #FFF;
}

#todo_list #total_count {
	color: #FFF;
	background-color: #000;
}

#todo_list td.type {
	padding: 2px;
}

#toplink {
	position: fixed;
	bottom: 1em;
	right: 1em;
}