<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>###	Preview in Safari
### v1.0. 2005-03-29
###
###	CONFIG OPTION:: Set the TM_PROJECT_SITEURL in your TM Project Window Info Button in the following form: 
### [ http://your.site.ext/ ]
###
# 1. Check if we have a SITE_URL or not
if [ "$TM_PROJECT_SITEURL" != "" ]
then
	#	Yes, we do have a SITE URL defined, so we need to work out which subdir we're in, if any
	TM_SubDirs=`echo $TM_FILEPATH | sed "s|^$TM_PROJECT_DIRECTORY/\(.*\)$TM_FILENAME\$|\1|"`
	#echo Debug::TM_SUBDIR value "$TM_SubDirs"
	activeURL=$TM_PROJECT_SITEURL$TM_SubDirs$TM_FILENAME
	#echo Debug::TM_SUBDIR value "$activeURL"
else
	#	No, we don't have a SITE URL
	activeURL=file://$TM_FILEPATH
	#echo Debug::TM_SUBDIR value "$activeURL"
fi
#	2.	Check if Safari is running if so open in the same window else open a new window 
if [[ $(ps -xc|grep Safari) ]];
then
	printf "set theActiveURL to \"$(echo $activeURL)\" \n tell application \"Safari\" \n activate \n if not (exists document 1) then \n make new document \n set the URL of document 1 to theActiveURL \n else \n set the URL of document 1 to theActiveURL \n end if \n end tell" | osascript
else
	open -a Safari "$activeURL" 
fi 
### end</string>
	<key>input</key>
	<string>none</string>
	<key>name</key>
	<string>Preview in Safari</string>
	<key>output</key>
	<string>discard</string>
	<key>scope</key>
	<string>text.html, text.xhtml</string>
	<key>uuid</key>
	<string>84910F5F-A528-11D9-A4E3-000D93C8BE28</string>
</dict>
</plist>
