/* ================ */
/* = Remind Table = */
/* ================ */

.remind_table {
	font-size: 10px;
	font-family: "LuxiMono", "Bitstream Vera Sans Mono", "Monaco", monospace;
}

.remind_table .numeral {
	text-align: right;
	margin-bottom: 0.5em;
}

.pro_table.remind_table table td {
	border: none;
}
