<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zvrgrx@tznvy.pbz</string>
	<key>contactName</key>
	<string>Mietek Bąk</string>
	<key>description</key>
	<string>This experimental bundle has support for building projects/files (via &lt;a href="http://www.gnu.org/software/make/"&gt;make&lt;/a&gt;).</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>9332DDD1-CBD9-40FA-B635-624A70780453</string>
			<string>990E5B1C-FA2D-479E-9A40-E7FE82BEBA20</string>
			<string>------------------------------------</string>
			<string>587FBC49-9AED-49B6-8534-1426989F7DE3</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>Experimental Makefile</string>
	<key>ordering</key>
	<array>
		<string>9332DDD1-CBD9-40FA-B635-624A70780453</string>
		<string>990E5B1C-FA2D-479E-9A40-E7FE82BEBA20</string>
		<string>587FBC49-9AED-49B6-8534-1426989F7DE3</string>
	</array>
	<key>uuid</key>
	<string>CE3474CC-B73E-4D7B-A454-134063C7288D</string>
</dict>
</plist>
