<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;%doc&gt; $1 &lt;/%doc&gt;</string>
	<key>name</key>
	<string>&lt;%doc&gt;... (doc)</string>
	<key>scope</key>
	<string>text.html.mason</string>
	<key>tabTrigger</key>
	<string>doc</string>
	<key>uuid</key>
	<string>DFCCB953-2745-4099-BD15-CCF2121BCA60</string>
</dict>
</plist>
