<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;%flags&gt;
$1
&lt;/%flags&gt;
</string>
	<key>name</key>
	<string>&lt;%flags&gt;</string>
	<key>scope</key>
	<string>text.html.mason</string>
	<key>tabTrigger</key>
	<string>flags</string>
	<key>uuid</key>
	<string>8244A038-2200-455C-9089-BFE396690E6C</string>
</dict>
</plist>
