<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>thtml</string>
	</array>
	<key>foldingStartMarker</key>
	<string>(/\*|\{|\()</string>
	<key>foldingStopMarker</key>
	<string>(\*/|\}|\))</string>
	<key>name</key>
	<string>Cake</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>match</key>
			<string>\b(bindModel|unbindModel|hasField|read|field|save|saveField|remove|del|delete|exists|hasAny|find|findAll|findCount|execute|query|validates|invalidate|invalidFields|isForeignKey|getDisplayField|generateList|getID|getLastInsertID|getInsertID|getNumRows|getAffectedRows|setDatasource|beforeFind|afterFind|beforeSave|afterSave|beforeDelete|afterDelete)\b</string>
			<key>name</key>
			<string>support.function.model.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(redirect|set|setAction|validate|validateErrors|render|referer|flash|flashOut|generateFieldNames|postCondtions|cleanUpFields|beforeFilter|beforeRender|afterFilter)\b</string>
			<key>name</key>
			<string>support.function.controller.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(ACL_CLASSNAME|ACL_FILENAME|APP|APP_DIR|APP_PATH|AUTO_OUTPUT|AUTO_SESSION|CACHE|CACHE_CHECK|CAKE|CAKE_CORE_INCLUDE_PATH|CAKE_SECURITY|CAKE_SESSION_COOKIE|CAKE_SESSION_SAVE|CAKE_SESSION_STRING|CAKE_SESSION_TIMEOUT|COMPONENTS|COMPRESS_CSS|CONFIGS|CONTROLLER_TESTS|CONTROLLERS|CORE_PATH|CSS|DAY|DEBUG|DS|ELEMENTS|HELPER_TESTS|HELPERS|HOUR|INFLECTIONS|JS|LAYOUTS|LIB_TESTS|LIBS|LOG_ERROR|LOGS|MAX_MD5SIZE|MINUTE|MODEL_TESTS|MODELS|MODULES|MONTH|PEAR|ROOT|SCRIPTS|SECOND|TAG_DIV|TAG_FIELDSET|TAG_LABEL|TAG_P_CLASS|TESTS|TMP|VALID_EMAIL|VALID_NOT_EMPTY|VALID_NUMBER|VALID_YEAR|VENDORS|VIEWS|WEBROOT_DIR|WEBSERVICES|WEEK|WWW_ROOT|YEAR)\b</string>
			<key>name</key>
			<string>support.constant.core.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(setId|findBySql)\b</string>
			<key>name</key>
			<string>invalid.deprecated.model.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(areaTag|charsetTag|checkboxTag|contentTag|cssTag|fileTag|formTag|guiListTag|hiddenTag|imageTag|inputTag|javascriptIncludeTag|javascriptTag|linkEmail|linkOut|linkTo|parseHtmlOptions|passwordTag|radioTags|submitTag|tag|urlFor)\b</string>
			<key>name</key>
			<string>invalid.deprecated.helper.html.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(linkToRemote)\b</string>
			<key>name</key>
			<string>invalid.deprecated.helper.ajax.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(isFieldError|labelTag|divTag|pTag|generate(Input|Checkbox|Area|Select|submit)Div|generate(Date|DateTime|Fields))\b</string>
			<key>name</key>
			<string>support.function.helper.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(addCrumb|charset|url|link|submit|password|textarea|checkbox|css|file|getCrumbs|hidden|image|input|radio|tableHeaders|tableCells|validate|tagIsValid|validateErrors|tagErrorMsg|selectTag|(day|year|month|hour|minute|meridian|date)OptionTag)\b</string>
			<key>name</key>
			<string>support.function.helper.html.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(link|remoteFunction|remoteTimer|form|submit|observe(Field|Form)|autoComplete|drag|drop|dropRemote|slider|editor|sortable)\b</string>
			<key>name</key>
			<string>support.function.helper.ajax.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(read|append|write|get(Md5|Size|Ext|Name|Owner|Group|Folder|Chmod|FullPath)|create|exists|delete|writable|executable|readable|last(Access|Change))\b</string>
			<key>name</key>
			<string>support.function.file.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(write)\b</string>
			<key>name</key>
			<string>support.function.log.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(precision|toReadableSize|toPercentage)\b</string>
			<key>name</key>
			<string>support.function.helper.number.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(startup|setAjax|is(Ajax|Xml|Rss|Atom|Post|Get|Delete|Mobile)|getAjaxVersion|setContent|get(Referer|ClientIP)|strip(WhiteSpace|Images|Scripts|All|tags)|accepts|prefers)\b</string>
			<key>name</key>
			<string>support.function.component.requestHandler.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(write|read|del|delete|check|error|setFlash|flash|renew|valid)\b</string>
			<key>name</key>
			<string>support.function.component.session.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(startup|blackHole|requirePost|requireAuth)\b</string>
			<key>name</key>
			<string>support.function.component.security.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(paranoid|sql|html|cleanArray|cleanArrayR|cleanValue|formatColumns)\b</string>
			<key>name</key>
			<string>support.function.component.sanitize.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(trim|fromString|nice|niceShort|isToday|daysAsSql|dayAsSql|isThisYear|wasYesterday|isTomorrow|toUnix|toAtom|toRSS|timeAgoInWords|relativeTime|wasWithinLast)\b</string>
			<key>name</key>
			<string>support.function.helper.time.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(highlight|stripLinks|autoLinkUrls|autoLinkEmails|autoLink|truncate|excerpt|flay)\b</string>
			<key>name</key>
			<string>support.function.helper.text.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(codeBlock|link|linkOut|escape(String|Script)|event|(cache|write)Events|includeScript|object)\b</string>
			<key>name</key>
			<string>support.function.helper.javascript.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(findIn|cleanup|add|plus|totals|filter|walk|sprintf|extract|unique|makeUnique|joinWith|threaded|multi_search)\b</string>
			<key>name</key>
			<string>support.function.neatArray.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(toArray|toRoman|toCompressed|randomPassword)\b</string>
			<key>name</key>
			<string>support.function.neatString.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(load(Models|PluginModels|View|Model|Controllers|PluginController)|listClasses|config|gendor|debug|aa|ha|a|e|low|up|r|pr|params|am|setUri|env|cache|clearCache|stripslashes_deep|countDim|LogError|fileExistsInPAth|convertSlash)\b</string>
			<key>name</key>
			<string>support.function.basics.cake</string>
		</dict>
		<dict>
			<key>include</key>
			<string>source.php</string>
		</dict>
		<dict>
			<key>include</key>
			<string>text.html.basic</string>
		</dict>
	</array>
	<key>scopeName</key>
	<string>source.php.cake</string>
	<key>uuid</key>
	<string>3DF2FE0B-94CC-4EE2-A50A-BD4823D1B09D</string>
</dict>
</plist>
