<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zvgpupunczna@rneguyvax.arg</string>
	<key>contactName</key>
	<string>Mitch Chapman</string>
	<key>description</key>
	<string>&lt;a href="http://www.scons.org/"&gt;SCons&lt;/a&gt; is an Open Source software construction tool—that is, a next-generation build tool. Think of SCons as an improved, cross-platform substitute for the classic Make utility.</string>
	<key>name</key>
	<string>SCons</string>
	<key>ordering</key>
	<array>
		<string>C0F342BE-9F5F-4D62-A3C8-D9C95B46F4CD</string>
	</array>
	<key>uuid</key>
	<string>31ACFE4A-592A-41C5-9D23-0C315EC5F7A8</string>
</dict>
</plist>
