<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveModifiedFiles</string>
	<key>command</key>
	<string># TM_IGNORE_WARNINGS is a sequence of glob patterns of files in which to ignore
# warnings.  Right now it doesn't support escaped ':" -- the separator character.
# export TM_IGNORE_WARNINGS="mitchcode_*.h:*/MitchCode/*"
python -u "${TM_BUNDLE_SUPPORT}/bin/scons_html_wrapper.py"</string>
	<key>fallbackInput</key>
	<string>word</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>@b</string>
	<key>name</key>
	<string>Build</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.c, source.objc, source.c++, source.objc++, source.python</string>
	<key>uuid</key>
	<string>C0F342BE-9F5F-4D62-A3C8-D9C95B46F4CD</string>
</dict>
</plist>
