/* ============ */
/* = SQL Table  */
/* ============ */

.sql_table {
	font-size: 9px;
	font-family: "Monaco", "Bitstream Vera Sans Mono", monospace;
}
.sql_table th {
	font-weight: normal;
	padding: 2px 4px 2px 4px;
}
.sql_table td {
	padding: 3px;
	vertical-align: top;
}
