<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\$this-&gt;${1:ModelName}-&gt;findCount(${2:array(${3:'$1.created'=&gt;'&lt;= now()'}}));
$0</string>
	<key>name</key>
	<string>$this-&gt;ModelName-&gt;findCount</string>
	<key>scope</key>
	<string>source.php.cake</string>
	<key>tabTrigger</key>
	<string>MfindCount</string>
	<key>uuid</key>
	<string>CD815D37-3D3E-4086-B5FB-116405F586F1</string>
</dict>
</plist>
