<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\$this-&gt;${1:ModelName}-&gt;query('${2:DELETE FROM problems WHERE solved = true}');
$0</string>
	<key>name</key>
	<string>$this-&gt;ModelName-&gt;query</string>
	<key>scope</key>
	<string>source.php.cake</string>
	<key>tabTrigger</key>
	<string>Mquery</string>
	<key>uuid</key>
	<string>8E321CF3-693E-47ED-8D14-6A0205F35C32</string>
</dict>
</plist>
