<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\$this-&gt;${1:ModelName}-&gt;findAll(${2:array(${3:'$1.created'=&gt;'&lt;= now()'}})}${4:, ${5:array('id','created','title')}}${6:, ${7:'created DESC'}}${8:, ${9:20}}${10:, ${11:\$page}}${12:, ${13:\$recursive=null}});
$0</string>
	<key>name</key>
	<string>$this-&gt;ModelName-&gt;findAll</string>
	<key>scope</key>
	<string>source.php.cake</string>
	<key>tabTrigger</key>
	<string>MfindAll</string>
	<key>uuid</key>
	<string>3A46D51C-1B9D-4A7F-98F3-E38C3243B134</string>
</dict>
</plist>
