<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?php \$this-&gt;pageTitle = "${1:Page Title for Index Page}"; ?&gt;

&lt;h1&gt;${2}s Index&lt;/h1&gt;
&lt;p&gt;&lt;?php echo \$html-&gt;link('Add New ${2:ModelNameCamelCase}', '/admin/${3:${2/./\l$0/}s}/add',array('class'=&gt;'add')) ?&gt;&lt;/p&gt;

&lt;?php if(\$pagination-&gt;set(\$paging)):?&gt;
&lt;div class="page-numbers"&gt;
&lt;ul&gt;
   &lt;li&gt;&lt;?=\$pagination-&gt;show('Show ')?&gt;&lt;/li&gt;
   &lt;li&gt;&lt;?=\$pagination-&gt;result('Results: ')?&gt;&lt;/li&gt;
   &lt;li&gt;&lt;?=\$pagination-&gt;prev('Prev')?&gt;&lt;/li&gt;
   &lt;li&gt;&lt;?=\$pagination-&gt;numbers()?&gt;&lt;/li&gt;
   &lt;li&gt;&lt;?=\$pagination-&gt;next('Next')?&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;

&lt;?php endif;
\$row = 1;
?&gt;

&lt;table id="${3}-table" cellpadding="0" cellspacing="0" summary="${4:Table of $2}"&gt;
 &lt;tr&gt;
     &lt;th&gt;&lt;?php e(\$pagination-&gt;sortLink('Id',array('id','desc'))); ?&gt;&lt;/th&gt;
	  &lt;th&gt;&lt;?php e(\$pagination-&gt;sortLink('Created',array('created','desc'))); ?&gt;&lt;/td&gt;
     &lt;th&gt;&lt;?php e(\$pagination-&gt;sortLink('Modified',array('modified','desc'))); ?&gt;&lt;/th&gt;
 	&lt;th&gt;&lt;?php e(\$pagination-&gt;sortLink('Title',array('title','desc'))); ?&gt;&lt;/th&gt;
    &lt;th&gt;Details&lt;/th&gt;
 &lt;/tr&gt;
 &lt;?php \$row = 1; ?&gt;
 &lt;?php foreach (\$data as \$${2}): ?&gt;
 &lt;tr class='&lt;?= (\$row++ % 2)==0?'even':'odd' ?&gt;'&gt;
	&lt;td&gt;&lt;?php e(\$${2}['${2}']['id']) ?&gt;&lt;/td&gt;
	&lt;td&gt;&lt;?php e(\$time-&gt;niceShort(\$${2}['${2}']['created'])) ?&gt;&lt;/td&gt;
	&lt;td&gt;&lt;?php e(\$time-&gt;niceShort(\$${2}['${2}']['modified'])) ?&gt;&lt;/td&gt;
	&lt;td&gt;&lt;?php e(\$${2}['${2}']['title']) ?&gt;&lt;/td&gt;
	&lt;td&gt;&lt;?php
	e(' '.\$html-&gt;link('Edit','/admin/${3}/edit/'.\$${2}['${2}']['id']));
	e(', '.\$html-&gt;link('Delete','/admin/${3}/delete/'.\$${2}['${2}']['id'],null,'Are you sure you want to delete the ${2} entry for ${2}: '. \$${2}['${2}']['title']));
	  ?&gt;&lt;/td&gt;
 &lt;?php endforeach; ?&gt;
&lt;/table&gt;

&lt;p&gt;&lt;?php echo \$html-&gt;link('Add New ${2}', '/admin/${3}/add',array('class'=&gt;'add')) ?&gt;&lt;/p&gt;

&lt;?php if(\$pagination-&gt;set(\$paging)):?&gt;
&lt;div class="page-numbers"&gt;
&lt;ul&gt;
   &lt;li&gt;&lt;?=\$pagination-&gt;show('Show ')?&gt;&lt;/li&gt;
   &lt;li&gt;&lt;?=\$pagination-&gt;result('Results: ')?&gt;&lt;/li&gt;
   &lt;li&gt;&lt;?=\$pagination-&gt;prev('Prev')?&gt;&lt;/li&gt;
   &lt;li&gt;&lt;?=\$pagination-&gt;numbers()?&gt;&lt;/li&gt;
   &lt;li&gt;&lt;?=\$pagination-&gt;next('Next')?&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;

&lt;?php endif;
\$row = 1;
?&gt;</string>
	<key>name</key>
	<string>Admin_index.thtml</string>
	<key>scope</key>
	<string>text.html, source.php.cake</string>
	<key>tabTrigger</key>
	<string>Vaindex</string>
	<key>uuid</key>
	<string>0692BF3F-0092-4DF2-A732-0C6D6B82D4B8</string>
</dict>
</plist>
