<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>command</key>
			<string>insertNewline:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>deleteBackward:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>End Line Continuation</string>
	<key>scope</key>
	<string>source.applescript meta.end-of-line-continuation.applescript</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>9AA919C1-D7EB-4675-9B7A-6D0A99378F3F</string>
</dict>
</plist>
