<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundColor</key>
	<string>#FFFFFF</string>
	<key>fileTypes</key>
	<array>
		<string>r</string>
		<string>s</string>
		<string>R</string>
		<string>S</string>
	</array>
	<key>foldingStartMarker</key>
	<string>(/\*\*|\{\s*$)</string>
	<key>foldingStopMarker</key>
	<string>(\*\*/|^\s*\})</string>
	<key>foregroundColor</key>
	<string>#000000</string>
	<key>highlightPairs</key>
	<array>
		<array>
			<string>(</string>
			<string>)</string>
		</array>
		<array>
			<string>[</string>
			<string>]</string>
		</array>
		<array>
			<string>{</string>
			<string>}</string>
		</array>
	</array>
	<key>increaseIndentPattern</key>
	<string>^.*(\{[^}"']*|\([^)"']*)$</string>
	<key>name</key>
	<string>R Source</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>foregroundColor</key>
			<string>#236B8E</string>
			<key>match</key>
			<string>#.*$</string>
			<key>name</key>
			<string>R Comment</string>
		</dict>
		<dict>
			<key>fontStyle</key>
			<array>
				<string>bold</string>
			</array>
			<key>foregroundColor</key>
			<string>blue</string>
			<key>match</key>
			<string>\&lt;(function|if|break|case|continue|do|else|for|return|while)\&gt;</string>
			<key>name</key>
			<string>Control Keyword</string>
		</dict>
		<dict>
			<key>foregroundColor</key>
			<string>#0000CD</string>
			<key>match</key>
			<string>\&lt;((0(x|X)[0-9a-fA-F]*)|(([0-9]+\.?[0-9]*)|(\.[0-9]+))((e|E)(\+|-)?[0-9]+)?)(L|l|UL|ul|u|U|F|f|ll|LL|ull|ULL)?\&gt;</string>
			<key>name</key>
			<string>Numeric Constant</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>"</string>
			<key>end</key>
			<string>"</string>
			<key>foregroundColor</key>
			<string>#8B2252</string>
			<key>name</key>
			<string>String</string>
			<key>swallow</key>
			<string>\\.</string>
		</dict>
	</array>
	<key>smartTypingPairs</key>
	<array>
		<array>
			<string>(</string>
			<string>)</string>
		</array>
		<array>
			<string>[</string>
			<string>]</string>
		</array>
		<array>
			<string>{</string>
			<string>}</string>
		</array>
		<array>
			<string>"</string>
			<string>"</string>
		</array>
		<array>
			<string>'</string>
			<string>'</string>
		</array>
	</array>
	<key>uuid</key>
	<string>B2E6B78D-6E70-11D9-A369-000D93B3A10E</string>
</dict>
</plist>
