<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string># Replaces current misspelled word with its best alternative.
# You MUST have installed aspell for this to work.
#
#
require_cmd aspell
res=$(aspell &lt;&lt;&lt;"$TM_CURRENT_WORD" -a --mode=none|tail -n2|cut -f2 -d:|tr -d ,)
if [[ "${res:0:1}" == "*" ]]
then
# Correct word. Exit
	exit_discard
fi
res="${res# }"
echo -n "${res%% *}"
</string>
	<key>fallbackInput</key>
	<string>word</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^'</string>
	<key>name</key>
	<string>Best guess</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>uuid</key>
	<string>9B756D19-B14A-47C1-8E92-EFBD0D73FF77</string>
</dict>
</plist>
