<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby -rjcode -Ku
require "#{ENV['TM_BUNDLE_SUPPORT']}/lib/doctohtml.rb"
print document_to_html( STDIN.read, { 'number' =&gt; 1 } )</string>
	<key>input</key>
	<string>selection</string>
	<key>inputFormat</key>
	<string>xml</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Create HTML from Document / Selection with Lines</string>
	<key>output</key>
	<string>openAsNewDocument</string>
	<key>uuid</key>
	<string>7AE6F783-F162-4063-850D-1441441849D8</string>
</dict>
</plist>
