<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>pfxvnqnf@tznvy.pbz</string>
	<key>contactName</key>
	<string>Charilaos Skiadas</string>
	<key>description</key>
	<string>&lt;a href="http://www.ci.tuwien.ac.at/~leisch/Sweave/"&gt;Sweave&lt;/a&gt; is basically LaTeX with inline R code.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>F599ACE4-6B59-4235-A2BF-7BABA5C911B7</string>
			<string>09834657-AF82-4CB6-8239-3894E9B7926E</string>
			<string>778EA411-C3C7-42F0-802B-4DE23326E328</string>
			<string>------------------------------------</string>
			<string>43E6A4DB-1524-4FDD-8BD9-76852A2FA790</string>
			<string>DD16FEAE-56E5-49FE-B6ED-3EB842D43FDF</string>
			<string>2E0BB0AC-1EC8-4CBE-85DB-7D4B2679CC82</string>
			<string>------------------------------------</string>
			<string>6C7BC711-D711-4F9D-A15F-DB797D0E612D</string>
			<string>7DE31106-5A80-4E16-B92D-4A0F6F2D7FA0</string>
			<string>486047C3-9313-4276-97A7-EEDCF2E2ABB8</string>
			<string>------------------------------------</string>
			<string>9692E617-6D67-4090-A05E-7795B57F8889</string>
			<string>DFC06DCD-E400-4083-BB4B-E417D3B50E4C</string>
			<string>------------------------------------</string>
			<string>F7690D3C-3F94-4A2C-A201-CB43D07E6C03</string>
			<string>F05EE36B-139D-41A4-8957-637BE0AAD847</string>
			<string>6B05627E-6513-4C10-A489-1A09001F8D0D</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>SWeave</string>
	<key>ordering</key>
	<array>
		<string>09834657-AF82-4CB6-8239-3894E9B7926E</string>
		<string>778EA411-C3C7-42F0-802B-4DE23326E328</string>
		<string>F599ACE4-6B59-4235-A2BF-7BABA5C911B7</string>
		<string>6B05627E-6513-4C10-A489-1A09001F8D0D</string>
		<string>43E6A4DB-1524-4FDD-8BD9-76852A2FA790</string>
		<string>6C7BC711-D711-4F9D-A15F-DB797D0E612D</string>
		<string>7DE31106-5A80-4E16-B92D-4A0F6F2D7FA0</string>
		<string>9692E617-6D67-4090-A05E-7795B57F8889</string>
		<string>DFC06DCD-E400-4083-BB4B-E417D3B50E4C</string>
		<string>486047C3-9313-4276-97A7-EEDCF2E2ABB8</string>
		<string>1F450973-8259-4BA2-A754-48C634561A13</string>
		<string>F7690D3C-3F94-4A2C-A201-CB43D07E6C03</string>
		<string>B8C8B6BC-F038-40AB-BADF-F708DAC51F4D</string>
		<string>6677D67A-999F-4F29-8151-3308967D51D7</string>
		<string>F05EE36B-139D-41A4-8957-637BE0AAD847</string>
	</array>
	<key>uuid</key>
	<string>3F4DCFFF-EFE6-42DE-B038-A47254658AFD</string>
</dict>
</plist>
