<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby

prefix, def_col = '#', ''
if STDIN.read =~ /(#?)([0-9A-Fa-f]{6})/ then
  prefix = $1
  rgb = $2.scan(/../).map { |i| i.hex * 257 }
  def_col = ' default color {' + rgb.join(",") + '}'
end

col = `osascript 2&gt;/dev/null -e 'tell app "TextMate" to choose color#{def_col}'`
exit 200 if col == ""

col = col.split(",").map { |i| i.to_i / 257 }
printf '%s%02X%02X%02X', prefix, *col
</string>
	<key>fallbackInput</key>
	<string>word</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>@C</string>
	<key>name</key>
	<string>Insert Color…</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>scope</key>
	<string>source.css</string>
	<key>uuid</key>
	<string>CC30D708-6E49-11D9-B411-000D93589AF6</string>
</dict>
</plist>
