<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>/usr/bin/env ruby "$TM_BUNDLE_SUPPORT/bin/GreekLetterHelper.rb"</string>
	<key>fallbackInput</key>
	<string>word</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^G</string>
	<key>name</key>
	<string>Expand to Greek Letter</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>uuid</key>
	<string>95FD38EF-DE2B-49C3-84C8-330F233B1DD1</string>
</dict>
</plist>
