<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby
regexp = /\A\s*(\\\(|\\\[|\$\$|\$|\{|\(|\[|\\begin\{\w+\})(.*)(\\\)|\\\]|\$\$|\$|\}|\)|\]|\\end\{\w+\})\s*\z/m
string = STDIN.read
m = string.match(regexp)
if (m != nil) then
    print $2
else
	print string
end
</string>
	<key>fallbackInput</key>
	<string>line</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^~s</string>
	<key>name</key>
	<string>Strip outer clause</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>scope</key>
	<string>text.latex</string>
	<key>uuid</key>
	<string>1202ACEF-8D67-475C-97C6-C884E43A57E7</string>
</dict>
</plist>
