<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>evk.ebo@tznvy.pbz</string>
	<key>contactName</key>
	<string>Rob Rix</string>
	<key>description</key>
	<string>Commands to upload files via &lt;a href="http://www.panic.com/transmit/"&gt;Transmit&lt;/a&gt;.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>C4006FCA-85FF-4476-BDA8-34EF355FD0E4</string>
			<string>91FC4F89-ADA9-4435-B159-9BA348FDE590</string>
			<string>------------------------------------</string>
			<string>C958B58A-D4D4-4055-89DF-22BCA3B8A9CA</string>
			<string>------------------------------------</string>
			<string>BF39FA53-3EFD-4CA8-9789-BA606C7883B9</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>Transmit</string>
	<key>ordering</key>
	<array>
		<string>C4006FCA-85FF-4476-BDA8-34EF355FD0E4</string>
		<string>91FC4F89-ADA9-4435-B159-9BA348FDE590</string>
		<string>C958B58A-D4D4-4055-89DF-22BCA3B8A9CA</string>
		<string>BF39FA53-3EFD-4CA8-9789-BA606C7883B9</string>
	</array>
	<key>uuid</key>
	<string>F3D93CF4-450D-4735-B67C-47ED8864555F</string>
</dict>
</plist>
