<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>grkgzngr@syberagcvyyrg.pbz</string>
	<key>contactName</key>
	<string>Florent Pillet</string>
	<key>deleted</key>
	<array>
		<string>85896E4D-B8BF-11D9-AE51-000393A143CC</string>
	</array>
	<key>description</key>
	<string>Code completion snippets for &lt;a href="http://developer.apple.com/documentation/Cocoa/Conceptual/ObjectiveC/index.html"&gt;Objective-C&lt;/a&gt;, inspired by the &lt;a href="http://www.obdev.at/products/completion-dictionary/index.html"&gt;Objective Development code completion dictionary&lt;/a&gt; for Xcode.</string>
	<key>mainMenu</key>
	<dict>
		<key>excludedItems</key>
		<array>
			<string>9DAAFC70-B8BA-11D9-AE51-000393A143CC</string>
			<string>2E4E33DA-B8B9-11D9-AE51-000393A143CC</string>
			<string>CBCFDA9F-B8BA-11D9-AE51-000393A143CC</string>
			<string>7BF73194-B8B9-11D9-AE51-000393A143CC</string>
			<string>1ED92307-AE72-4F11-82C8-9A2751690C90</string>
		</array>
		<key>items</key>
		<array>
			<string>34848970-6CF1-4E02-8124-D079E24E768C</string>
			<string>15687C42-6EEE-482F-BCA8-961522EC46D8</string>
			<string>37E0EE56-35BC-43CB-BD90-D2396EFC6C09</string>
			<string>E1285CA1-8EC4-45BF-B79B-397A7C06B4DA</string>
			<string>------------------------------------</string>
			<string>71439280-B8C0-11D9-AE51-000393A143CC</string>
			<string>5992DC58-B8C0-11D9-AE51-000393A143CC</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>15687C42-6EEE-482F-BCA8-961522EC46D8</key>
			<dict>
				<key>items</key>
				<array>
					<string>C9CD762E-B8B9-11D9-AE51-000393A143CC</string>
					<string>41ABB337-B8B9-11D9-AE51-000393A143CC</string>
					<string>B9311E3C-B8B8-11D9-AE51-000393A143CC</string>
					<string>------------------------------------</string>
					<string>91A55D91-B8BA-11D9-AE51-000393A143CC</string>
					<string>13CE9D22-B8B9-11D9-AE51-000393A143CC</string>
					<string>B71DF251-B8BA-11D9-AE51-000393A143CC</string>
					<string>64C7F64A-B8B9-11D9-AE51-000393A143CC</string>
					<string>92BB3BAE-B8B9-11D9-AE51-000393A143CC</string>
				</array>
				<key>name</key>
				<string>Methods</string>
			</dict>
			<key>34848970-6CF1-4E02-8124-D079E24E768C</key>
			<dict>
				<key>items</key>
				<array>
					<string>E5A7F24B-B8BB-11D9-AE51-000393A143CC</string>
					<string>------------------------------------</string>
					<string>D4527EEE-B8BF-11D9-AE51-000393A143CC</string>
					<string>EF2A1830-B8BF-11D9-AE51-000393A143CC</string>
					<string>E0E7FB1D-B8BF-11D9-AE51-000393A143CC</string>
					<string>CDFEF4EC-81C4-44EC-B638-3B93803AA2B5</string>
				</array>
				<key>name</key>
				<string>Messages</string>
			</dict>
			<key>37E0EE56-35BC-43CB-BD90-D2396EFC6C09</key>
			<dict>
				<key>items</key>
				<array>
					<string>E7576EB4-B8BC-11D9-AE51-000393A143CC</string>
					<string>BBAF783A-B8BC-11D9-AE51-000393A143CC</string>
					<string>CE7E1A78-B8C2-11D9-9635-000393A143CC</string>
					<string>------------------------------------</string>
					<string>1AF2C047-B8BC-11D9-AE51-000393A143CC</string>
					<string>------------------------------------</string>
					<string>AE9280E5-B8BE-11D9-AE51-000393A143CC</string>
					<string>4BBEB085-B8C3-11D9-9635-000393A143CC</string>
				</array>
				<key>name</key>
				<string>Classes</string>
			</dict>
			<key>E1285CA1-8EC4-45BF-B79B-397A7C06B4DA</key>
			<dict>
				<key>items</key>
				<array>
					<string>85896E4D-B8BF-11D9-AE51-000393A143CC</string>
					<string>79F1D540-B8BF-11D9-AE51-000393A143CC</string>
					<string>A6B9C556-B8BF-11D9-AE51-000393A143CC</string>
					<string>------------------------------------</string>
					<string>5DAD4AE0-B8BF-11D9-AE51-000393A143CC</string>
					<string>151935C2-B8C0-11D9-AE51-000393A143CC</string>
				</array>
				<key>name</key>
				<string>Idioms</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>ODCompletion</string>
	<key>ordering</key>
	<array>
		<string>E5A7F24B-B8BB-11D9-AE51-000393A143CC</string>
		<string>D4527EEE-B8BF-11D9-AE51-000393A143CC</string>
		<string>E0E7FB1D-B8BF-11D9-AE51-000393A143CC</string>
		<string>CDFEF4EC-81C4-44EC-B638-3B93803AA2B5</string>
		<string>EF2A1830-B8BF-11D9-AE51-000393A143CC</string>
		<string>E7576EB4-B8BC-11D9-AE51-000393A143CC</string>
		<string>BBAF783A-B8BC-11D9-AE51-000393A143CC</string>
		<string>CE7E1A78-B8C2-11D9-9635-000393A143CC</string>
		<string>1AF2C047-B8BC-11D9-AE51-000393A143CC</string>
		<string>AE9280E5-B8BE-11D9-AE51-000393A143CC</string>
		<string>4BBEB085-B8C3-11D9-9635-000393A143CC</string>
		<string>C9CD762E-B8B9-11D9-AE51-000393A143CC</string>
		<string>41ABB337-B8B9-11D9-AE51-000393A143CC</string>
		<string>B9311E3C-B8B8-11D9-AE51-000393A143CC</string>
		<string>91A55D91-B8BA-11D9-AE51-000393A143CC</string>
		<string>9DAAFC70-B8BA-11D9-AE51-000393A143CC</string>
		<string>13CE9D22-B8B9-11D9-AE51-000393A143CC</string>
		<string>2E4E33DA-B8B9-11D9-AE51-000393A143CC</string>
		<string>B71DF251-B8BA-11D9-AE51-000393A143CC</string>
		<string>CBCFDA9F-B8BA-11D9-AE51-000393A143CC</string>
		<string>64C7F64A-B8B9-11D9-AE51-000393A143CC</string>
		<string>7BF73194-B8B9-11D9-AE51-000393A143CC</string>
		<string>92BB3BAE-B8B9-11D9-AE51-000393A143CC</string>
		<string>1ED92307-AE72-4F11-82C8-9A2751690C90</string>
		<string>5992DC58-B8C0-11D9-AE51-000393A143CC</string>
		<string>A6B9C556-B8BF-11D9-AE51-000393A143CC</string>
		<string>79F1D540-B8BF-11D9-AE51-000393A143CC</string>
		<string>5DAD4AE0-B8BF-11D9-AE51-000393A143CC</string>
		<string>151935C2-B8C0-11D9-AE51-000393A143CC</string>
		<string>71439280-B8C0-11D9-AE51-000393A143CC</string>
	</array>
	<key>uuid</key>
	<string>4F9ED080-B8B8-11D9-AE51-000393A143CC</string>
</dict>
</plist>
