<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>command</key>
			<string>cut:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>insertTab:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>i</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>f</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string> </string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>(</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>)</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string> </string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>{</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>insertNewline:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveToBeginningOfLine:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveDownAndModifySelection:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>paste:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveDown:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>insertNewline:</string>
		</dict>
	</array>
	<key>name</key>
	<string>Wrap with if</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>AE1CD496-74A0-42E9-94A7-82D260ABA831</string>
</dict>
</plist>
