<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>html</string>
		<string>htm</string>
		<string>shtml</string>
		<string>xhtml</string>
		<string>inc</string>
		<string>tmpl</string>
		<string>tpl</string>
	</array>
	<key>firstLineMatch</key>
	<string>&lt;!DOCTYPE|&lt;(?i:html)</string>
	<key>foldingStartMarker</key>
	<string>(?x)
		(&lt;(?i:head|body|table|thead|tbody|tfoot|tr|div|select|fieldset|style|script|ul|ol|li|form|dl)\b.*?&gt;
		|&lt;!--(?!.*--\s*&gt;)
		|^&lt;!--\ \#tminclude\ (?&gt;.*?--&gt;)$
		|&lt;\?(?:php)?.*\b(if|for(each)?|while)\b.+:
		|\{\{?(if|foreach|capture|literal|foreach|php|section|strip)
		|\{\s*($|\?&gt;\s*$|//|/\*(.*\*/\s*$|(?!.*?\*/)))
		)</string>
	<key>foldingStopMarker</key>
	<string>(?x)
		(&lt;/(?i:head|body|table|thead|tbody|tfoot|tr|div|select|fieldset|style|script|ul|ol|li|form|dl)&gt;
		|^(?!.*?&lt;!--).*?--\s*&gt;
		|^&lt;!--\ end\ tminclude\ --&gt;$
		|&lt;\?(?:php)?.*\bend(if|for(each)?|while)\b
		|\{\{?/(if|foreach|capture|literal|foreach|php|section|strip)
		|^[^{]*\}
		)</string>
	<key>keyEquivalent</key>
	<string>^~H</string>
	<key>name</key>
	<string>HTML Revised</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>include</key>
			<string>#declarations</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#doctype</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>declarations</key>
		<dict>
			<key>begin</key>
			<string>sssssssssssssss</string>
			<key>end</key>
			<string>sssssssssssssss</string>
			<key>name</key>
			<string>meta.tag.metadata.processing.xml_declaration.html</string>
		</dict>
		<key>doctype</key>
		<dict>
			<key>begin</key>
			<string>(?i)(?=&lt;!DOCTYPE\s+)</string>
			<key>end</key>
			<string>(?=not)possible</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.begin.html</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>entity.name.tag.html</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(?i)(&lt;!)(DOCTYPE)\s+</string>
					<key>name</key>
					<string>meta.tag.metadata.processing.doctype.html</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>(?i)(html)\s*(&gt;)</string>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>meta.tag.metadata.processing.doctype.html</string>
						</dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>entity.other.attribute-name.html</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.end.html</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>HTML 5</string>
					<key>contentName</key>
					<string>text.html.five</string>
					<key>end</key>
					<string>(?=not)possible</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#main</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>entity.other.attribute-name.html</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(?i)\s*(html|PUBLIC)\s*</string>
					<key>name</key>
					<string>meta.tag.metadata.processing.doctype.html</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>(?="-//W3C//DTD HTML 4\.01?//)</string>
					<key>comment</key>
					<string>HTML 4 Strict</string>
					<key>end</key>
					<string>(?=not)possible</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#doctype-misc</string>
						</dict>
						<dict>
							<key>begin</key>
							<string>(?&lt;=&gt;)</string>
							<key>end</key>
							<string>(?=not)possible</string>
							<key>name</key>
							<string>text.html.four.strict</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>include</key>
									<string>#main</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>(?="-//W3C//DTD HTML 4\.01? Transitional//)</string>
					<key>comment</key>
					<string>HTML 4 Transitional</string>
					<key>end</key>
					<string>(?=not)possible</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#doctype-misc</string>
						</dict>
						<dict>
							<key>begin</key>
							<string>(?&lt;=&gt;)</string>
							<key>end</key>
							<string>(?=not)possible</string>
							<key>name</key>
							<string>text.html.four.transitional</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>include</key>
									<string>#main</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>(?="-//W3C//DTD HTML 4\.01? Frameset//)</string>
					<key>comment</key>
					<string>HTML 4 Frameset</string>
					<key>end</key>
					<string>(?=not)possible</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#doctype-misc</string>
						</dict>
						<dict>
							<key>begin</key>
							<string>(?&lt;=&gt;)</string>
							<key>end</key>
							<string>(?=not)possible</string>
							<key>name</key>
							<string>text.html.four.frameset</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>include</key>
									<string>#main</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>(?="-//W3C//DTD XHTML 1\.0 Strict//)</string>
					<key>comment</key>
					<string>XHTML 1.0 Strict</string>
					<key>end</key>
					<string>(?=not)possible</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#doctype-misc</string>
						</dict>
						<dict>
							<key>begin</key>
							<string>(?&lt;=&gt;)</string>
							<key>end</key>
							<string>(?=not)possible</string>
							<key>name</key>
							<string>text.html.xhtml.one.zero.strict</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>include</key>
									<string>#main</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>(?="-//W3C//DTD XHTML 1\.0 Transitional//)</string>
					<key>comment</key>
					<string>XHTML 1.0 Transitional</string>
					<key>end</key>
					<string>(?=not)possible</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#doctype-misc</string>
						</dict>
						<dict>
							<key>begin</key>
							<string>(?&lt;=&gt;)</string>
							<key>end</key>
							<string>(?=not)possible</string>
							<key>name</key>
							<string>text.html.xhtml.one.zero.transitional</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>include</key>
									<string>#main</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>(?="-//W3C//DTD XHTML 1\.0 Frameset//)</string>
					<key>comment</key>
					<string>XHTML 1.0 Frameset</string>
					<key>end</key>
					<string>(?=not)possible</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#doctype-misc</string>
						</dict>
						<dict>
							<key>begin</key>
							<string>(?&lt;=&gt;)</string>
							<key>end</key>
							<string>(?=not)possible</string>
							<key>name</key>
							<string>text.html.xhtml.one.zero.frameset</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>include</key>
									<string>#main</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>(?="-//W3C//DTD XHTML 1\.1//)</string>
					<key>comment</key>
					<string>XHTML 1.1</string>
					<key>end</key>
					<string>(?=not)possible</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#doctype-misc</string>
						</dict>
						<dict>
							<key>begin</key>
							<string>(?&lt;=&gt;)</string>
							<key>end</key>
							<string>(?=not)possible</string>
							<key>name</key>
							<string>text.html.xhtml.one.one</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>include</key>
									<string>#main</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>(?="-//W3C//DTD XHTML 1\.1 plus MathML 2\.0 plus SVG 1\.1//)</string>
					<key>comment</key>
					<string>XHTML 1.1 + MathML + SVG</string>
					<key>end</key>
					<string>(?=not)possible</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#doctype-misc</string>
						</dict>
						<dict>
							<key>begin</key>
							<string>(?&lt;=&gt;)</string>
							<key>end</key>
							<string>(?=not)possible</string>
							<key>name</key>
							<string>text.html.xhtml.one.one.mathml_svg</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>include</key>
									<string>#main</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>(?="-//W3C//DTD XHTML Basic 1\.0//)</string>
					<key>comment</key>
					<string>XHTML Basic 1.0</string>
					<key>end</key>
					<string>(?=not)possible</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#doctype-misc</string>
						</dict>
						<dict>
							<key>begin</key>
							<string>(?&lt;=&gt;)</string>
							<key>end</key>
							<string>(?=not)possible</string>
							<key>name</key>
							<string>text.html.xhtml.basic.one.zero</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>include</key>
									<string>#main</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>(?="-//W3C//DTD XHTML Basic 1\.1//)</string>
					<key>comment</key>
					<string>XHTML Basic 1.1</string>
					<key>end</key>
					<string>(?=not)possible</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#doctype-misc</string>
						</dict>
						<dict>
							<key>begin</key>
							<string>(?&lt;=&gt;)</string>
							<key>end</key>
							<string>(?=not)possible</string>
							<key>name</key>
							<string>text.html.xhtml.basic.one.one</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>include</key>
									<string>#main</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>(?="-//W3C//DTD HTML 3)</string>
					<key>comment</key>
					<string>HTML 3.x</string>
					<key>end</key>
					<string>(?=not)possible</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#doctype-misc</string>
						</dict>
						<dict>
							<key>begin</key>
							<string>(?&lt;=&gt;)</string>
							<key>end</key>
							<string>(?=not)possible</string>
							<key>name</key>
							<string>text.html.three</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>include</key>
									<string>#main</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>(?="-//IETF//DTD HTML 2)</string>
					<key>comment</key>
					<string>HTML 2.x</string>
					<key>end</key>
					<string>(?=not)possible</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#doctype-misc</string>
						</dict>
						<dict>
							<key>begin</key>
							<string>(?&lt;=&gt;)</string>
							<key>end</key>
							<string>(?=not)possible</string>
							<key>name</key>
							<string>text.html.two</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>include</key>
									<string>#main</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>doctype-misc</key>
		<dict>
			<key>begin</key>
			<string>(?="-//)</string>
			<key>end</key>
			<string>&gt;</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.html</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.tag.metadata.processing.doctype.html</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>"</string>
					<key>beginCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.string.begin.html</string>
						</dict>
					</dict>
					<key>end</key>
					<string>"</string>
					<key>endCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.string.end.html</string>
						</dict>
					</dict>
					<key>name</key>
					<string>string.quoted.double.html</string>
				</dict>
				<dict>
					<key>match</key>
					<string>[^\s"]+</string>
					<key>name</key>
					<string>invalid.illegal.character-not-allowed-here.html</string>
				</dict>
			</array>
		</dict>
		<key>invalid</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>&lt;&gt;</string>
					<key>name</key>
					<string>invalid.illegal.incomplete.html</string>
				</dict>
				<dict>
					<key>match</key>
					<string>&lt;</string>
					<key>name</key>
					<string>invalid.illegal.bad-angle-bracket.html</string>
				</dict>
			</array>
		</dict>
		<key>metadata-tag-misc</key>
		<dict>
			<key>begin</key>
			<string></string>
			<key>end</key>
			<string></string>
			<key>name</key>
			<string>name</string>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>text.html</string>
	<key>uuid</key>
	<string>F39FCB99-B4DF-4E61-ACCA-548E12F45166</string>
</dict>
</plist>
