<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;%args&gt;
$1
&lt;/%args&gt;</string>
	<key>name</key>
	<string>&lt;%args&gt;</string>
	<key>scope</key>
	<string>text.html.mason</string>
	<key>tabTrigger</key>
	<string>args</string>
	<key>uuid</key>
	<string>9818ADCC-D0CF-414E-9626-C3D796927620</string>
</dict>
</plist>
