<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;%perl&gt;
$1
&lt;/%perl&gt;</string>
	<key>name</key>
	<string>&lt;%perl&gt;</string>
	<key>scope</key>
	<string>text.html.mason</string>
	<key>tabTrigger</key>
	<string>perl</string>
	<key>uuid</key>
	<string>6C3018E4-8B52-462A-B6A7-5DCD4E644154</string>
</dict>
</plist>
