<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;&amp;| $1 &amp;&gt;
$2
&lt;/&amp;&gt;
</string>
	<key>keyEquivalent</key>
	<string>^Z</string>
	<key>name</key>
	<string>&lt;&amp; component &amp;&gt; with content &lt;/&amp;&gt;</string>
	<key>scope</key>
	<string>text.html.mason</string>
	<key>uuid</key>
	<string>16B86BD1-EC6B-4D09-84F5-EE99889C4767</string>
</dict>
</plist>
