<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_DATE=`date '+%B %e, %Y'` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; template_in.txt &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>s5</string>
	<key>name</key>
	<string>S5 Slide Show</string>
	<key>uuid</key>
	<string>AD7CF81F-596F-4B66-8BFB-67033C265288</string>
</dict>
</plist>
