{
    fileTypes = (ini, conf); 
    foldingStartMarker = "\\["; 
    foldingStopMarker = "\\["; 
    highlightPairs = (("(", ")"), ("[", "]"), ("{", "}")); 
    name = Ini; 
    scopeName = "source.ini";
    patterns = (
        { 
            match = "^[\\s]*(;|#).*"; 
            name = comments; 
        }, 
        {
            match = "\\<([a-zA-Z_]+)\\>\\s*(=)"; 
            name = keyword.definition; 
        }, 
        {
            match = "^\\[(.*)\\]"; 
            name = "group-title"; 
        }, 
        {
            begin = "'"; 
            end = "'"; 
            name = "string.single-quoted"; 
            swallow = "\\\\."; 
        }, 
        {
            begin = "\""; 
            end = "\""; 
            name = "string.double-quoted"; 
        }
    ); 
    smartTypingPairs = (("(", ")"), ("[", "]"), ("{", "}"), ("\"", "\""), ("'", "'")); 
    uuid = "77DC23B6-8A90-11D9-BAA4-000A9584EC8C"; 
}
