{
    fileTypes = (ini, conf); 
    foldingStartMarker = "\\["; 
    foldingStopMarker = "\\["; 
    highlightPairs = (("(", ")"), ("[", "]"), ("{", "}")); 
    name = Ini; 
    scopeName = "source.ini";
    patterns = (
        { 
            match = "^[\\s]*(;|#).*"; 
            name = "comment.line.ini"; 
        }, 
        {
            match = "\\b([a-zA-Z_]+)\\b\\s*(=)"; 
            name = "keyword.definition.ini"; 
        }, 
        {
            match = "^\\[(.*)\\]"; 
            name = "entity.name.group-title.ini"; 
        }, 
        {
            begin = "'"; 
            end = "'"; 
            name = "string.single-quoted.ini"; 
            swallow = "\\\\."; 
        }, 
        {
            begin = "\""; 
            end = "\""; 
            name = "string.double-quoted.ini"; 
        }
    ); 
    smartTypingPairs = (("(", ")"), ("[", "]"), ("{", "}"), ("\"", "\""), ("'", "'")); 
    uuid = "77DC23B6-8A90-11D9-BAA4-000A9584EC8C"; 
}
