<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>ini</string>
		<string>conf</string>
	</array>
	<key>foldingStartMarker</key>
	<string>\[</string>
	<key>foldingStopMarker</key>
	<string>\[</string>
	<key>highlightPairs</key>
	<array>
		<array>
			<string>(</string>
			<string>)</string>
		</array>
		<array>
			<string>[</string>
			<string>]</string>
		</array>
		<array>
			<string>{</string>
			<string>}</string>
		</array>
	</array>
	<key>keyEquivalent</key>
	<string>^~I</string>
	<key>name</key>
	<string>Ini</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>match</key>
			<string>^\s*#.*</string>
			<key>name</key>
			<string>comment.line.number-sign.ini</string>
		</dict>
		<dict>
			<key>match</key>
			<string>^\s*;.*</string>
			<key>name</key>
			<string>comment.line.semicolon.ini</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b([a-zA-Z_]+)\b\s*(=)</string>
			<key>name</key>
			<string>keyword.other.definition.ini</string>
		</dict>
		<dict>
			<key>match</key>
			<string>^\[(.*)\]</string>
			<key>name</key>
			<string>entity.name.section.group-title.ini</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>'</string>
			<key>end</key>
			<string>'</string>
			<key>name</key>
			<string>string.quoted.single.ini</string>
			<key>swallow</key>
			<string>\\.</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>"</string>
			<key>end</key>
			<string>"</string>
			<key>name</key>
			<string>string.quoted.double.ini</string>
		</dict>
	</array>
	<key>scopeName</key>
	<string>source.ini</string>
	<key>smartTypingPairs</key>
	<array>
		<array>
			<string>(</string>
			<string>)</string>
		</array>
		<array>
			<string>[</string>
			<string>]</string>
		</array>
		<array>
			<string>{</string>
			<string>}</string>
		</array>
		<array>
			<string>"</string>
			<string>"</string>
		</array>
		<array>
			<string>'</string>
			<string>'</string>
		</array>
	</array>
	<key>uuid</key>
	<string>77DC23B6-8A90-11D9-BAA4-000A9584EC8C</string>
</dict>
</plist>
