<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>- (id)delegate;
- (void)setDelegate:(id)aDelegate;</string>
	<key>name</key>
	<string>Delegate Accessors Interface</string>
	<key>scope</key>
	<string>source.objc meta.scope.interface, source.objc++ meta.scope.interface</string>
	<key>tabTrigger</key>
	<string>delacc</string>
	<key>uuid</key>
	<string>30C95C78-256F-49B9-B316-2B88CF38CA45</string>
</dict>
</plist>
