<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>BUY  ${1:new purchase}</string>
	<key>name</key>
	<string>Buy</string>
	<key>scope</key>
	<string>text.plain.gtd</string>
	<key>tabTrigger</key>
	<string>b</string>
	<key>uuid</key>
	<string>0AD01133-6CBE-4A92-8008-EE241ED6E096</string>
</dict>
</plist>
