<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>mysql -e "${TM_SELECTED_TEXT:-$TM_CURRENT_LINE}" \
	-u${MYSQL_USER:-$USER} -p$MYSQL_PWD \
	-h${MYSQL_HOST:-localhost} -P${MYSQL_PORT:-3306} \
	--html $MYSQL_DB</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^Q</string>
	<key>name</key>
	<string>MySQL Query</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>C3045596-791D-11D9-9130-000A95766570</string>
</dict>
</plist>
