<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Indent</string>
	<key>scope</key>
	<string>source.applescript</string>
	<key>settings</key>
	<dict>
		<key>decreaseIndentPattern</key>
		<string>(?x)
		^\s* (end|else|on\ error) \b .*$
	</string>
		<key>increaseIndentPattern</key>
		<string>(?x)
		^\s*
		(
		 tell \s+ (?! .* \b(to)\b) .*
		|tell\b.*?\bto\ tell \s+ (?! .* \b(to)\b) .*
		|using\ terms\ from\b.*
		|if\b .* \bthen\b
		|else\b .*
		|repeat\b .*
		|( on | to ) \b .*
		|try
		|with \s+ timeout\b .*
		|ignoring\b .*
		)\s*$
	</string>
		<key>indentNextLinePattern</key>
		<string>¬$</string>
	</dict>
	<key>uuid</key>
	<string>8F2DBD25-3DED-44CE-A902-05DCBC185A99</string>
</dict>
</plist>
