<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>cd "${TM_PROJECT_DIRECTORY:=$TM_DIRECTORY}"

darcs push -a </string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^Z</string>
	<key>name</key>
	<string>Push to Default Repository</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>uuid</key>
	<string>B2B2A814-DE60-11D9-823F-000A95A51A76</string>
</dict>
</plist>
