<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string># Source some support functions we need.
. "${TM_SUPPORT_PATH}/lib/html.sh"
cd "${TM_PROJECT_DIRECTORY:=$TM_DIRECTORY}";
htmlHeader "Summary of Changes"
echo "&lt;h3&gt;Summary of Changes in ${TM_PROJECT_DIRECTORY}&lt;/h3&gt;"
"${TM_PYTHON:=python}" &lt;&lt;'EOF'
import os
import re
from struct import *
cl = {'a':'unknown', 'M':'modified', 'D':'deleted', 'C':'conflict', '?':'unknown', 'A':'added'}
def percent_escape(str):
	return re.sub('[\x80-\xff /&amp;]', lambda x: '%%%02X' % unpack('B', x.group(0))[0], str)

def make_link(file):
	return 'txmt://open?url=file:%2F%2F' + percent_escape(file)

def removeNums(s):
    l = re.compile('^(.*?)(\s+[-]\d+)?(\s+[+]\d+\s*)?$')
    x = l.match(s)
    if x:
       return x.group(1)
    else:
       return s
   
res = os.popen('darcs whatsnew -s -l')
print '&lt;table cellpadding="3"&gt;&lt;tr&gt;'
for line in  res:
    statClass = ""
    if cl.has_key(line[0]):
        statClass = cl[line[0]]
    print '&lt;tr&gt;',
    print '&lt;td class="'+statClass+'\"&gt;', 
    print line[0], '&lt;/td&gt;&lt;td&gt;&lt;a href="',
    fname = removeNums(line[1:-1])
    # FIXME we should treat fname as relative to the first
    # parent holding the _darcs directory rather than os.getcwd()
    print make_link(os.getcwd()+fname[2:]),'"&gt;',fname, '&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;'


</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^Z</string>
	<key>name</key>
	<string>Whats New</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>F68A0A7A-75AF-4471-A9F8-3A618DD81306</string>
</dict>
</plist>
