<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>eval "${TM_SVN:=svn}" info $TM_SELECTED_FILES 2&gt;&amp;1| ruby -- "${TM_BUNDLE_PATH}/Tools/format_info.rb"
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@b</string>
	<key>name</key>
	<string>Info</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>56BE2092-806D-11D9-A0FB-0011242E4184</string>
</dict>
</plist>
