<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>TM_SVN="${TM_SVN:=svn}"
FORMAT_LOG="${TM_BUNDLE_PATH}/Tools/format_log.rb"
TM_SVN_LOG_RANGE="${TM_SVN_LOG_RANGE:=BASE:1}"

if [[ -z $TM_SELECTED_FILES ]]; then
  "$TM_SVN" log -vr"$TM_SVN_LOG_RANGE" "$TM_FILEPATH" 2&gt;&amp;1| ruby -- "$FORMAT_LOG"
else
  eval "$TM_SVN" log -vr"$TM_SVN_LOG_RANGE" $TM_SELECTED_FILES 2&gt;&amp;1| ruby -- "$FORMAT_LOG"
fi</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@b</string>
	<key>name</key>
	<string>Log</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>51DFACA6-7B65-11D9-BA07-0011242E4184</string>
</dict>
</plist>
