 <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>echo "&lt;html&gt;&lt;body&gt;&lt;h3&gt;SVN Log of $TM_FILEPATH&lt;/h3&gt;&lt;table border=1 cellpadding=4&gt;"

"${TM_SVN:=svn}" log "$TM_FILEPATH" 2&gt;&amp;1 | perl -pe 's/\-{20,}/&lt;\/pre&gt;&lt;\/td&gt;&lt;\/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;pre&gt;/g;s/&lt;\/pre&gt;&lt;\/td&gt;&lt;\/tr&gt;//;s/([^\n]{80})/$1\n/g;'

echo "&lt;/pre&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;/body&gt;&lt;/html&gt;"</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@b</string>
	<key>name</key>
	<string>Log</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>3A55D41B-7E33-11D9-8934-000D9332809C</string>
</dict>
</plist>
