<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveModifiedFiles</string>
	<key>command</key>
	<string>
# it's possible to make this work, but it seems unintuitive
#SelectedFiles=($TM_SELECTED_FILES)
#if [[ ${#SelectedFiles[*]} -gt 1 ]]; then
#	WorkPath=$TM_SELECTED_FILES;
#else
	if [[ -z $TM_PROJECT_DIRECTORY ]]; then
		# no project dir
		WorkPath=`dirname "$TM_FILEPATH"`
	else
		# TM_PROJECT_DIR it is, then
		WorkPath="$TM_PROJECT_DIRECTORY";	
	fi
#fi
export WorkPath


# show it..
ruby &lt;&lt;END

bundle = ENV['TM_BUNDLE_PATH']

puts "&lt;html&gt;
&lt;head&gt;
&lt;title&gt;Subversion status&lt;/title&gt;
&lt;style type=\"text/css\"&gt;
   @import 'file://"+bundle+"/Stylesheets/svn_style.css';
&lt;/style&gt;
&lt;/head&gt;

&lt;body&gt;"
END

echo '&lt;h1&gt;Subversion status&lt;/h1&gt;'
echo '&lt;hr /&gt;'
echo 'checking &lt;tt&gt;' $WorkPath '&lt;/tt&gt;'
echo '&lt;p&gt;'
echo '&lt;tt&gt;'
"${TM_SVN:=svn}" status "$WorkPath" | \
perl -pe 's/$ENV{'WorkPath'}//' | \
perl -pe 's/(.*?)(\s+)(.*)\n/&lt;b&gt;$1&lt;\/b&gt;&amp;nbsp;&lt;a href="txmt:\/\/open?url=file:\/\/$ENV{'WorkPath'}\/$3"&gt;$3&lt;\/a&gt;&lt;br&gt;/'

echo "&lt;/tt&gt;&lt;/body&gt;&lt;/html&gt;"
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@b</string>
	<key>name</key>
	<string>Status</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>01F140D9-749F-11D9-8199-000A95A89C98</string>
</dict>
</plist>
