<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>fkit="/Developer/ADC Reference Library/documentation/Cocoa/Reference/Foundation/ObjC_classic/Classes/${TM_CURRENT_WORD}.html"
appkit="/Developer/ADC Reference Library/documentation/Cocoa/Reference/ApplicationKit/ObjC_classic/Classes/${TM_CURRENT_WORD}.html"

if [[ -f $fkit ]]; then
   echo '&lt;meta http-equiv="Refresh" content="0;URL=file://'${fkit// /%20}'"&gt;'
elif [[ -f $appkit ]]; then
   echo '&lt;meta http-equiv="Refresh" content="0;URL=file://'${appkit// /%20}'"&gt;'
else
   echo '&lt;h2&gt;Class:' $TM_CURRENT_WORD 'not found!&lt;/h2&gt;'
fi
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Lookup Cocoa Class</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>2E0F350A-7B23-11D9-B084-000D93589AF6</string>
</dict>
</plist>
