<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>F-Script</string>
	<key>uuid</key>
	<string>93A1530E-919D-11D9-AE7A-00039369B986</string>
</dict>
</plist>
