<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Experimental HTML</string>
	<key>ordering</key>
	<array>
		<string>4CDDE6F5-BBF2-418A-9668-5E3F08E43B94</string>
		<string>9D20CF03-0DF0-4FE0-AA0D-EA9D936DEC60</string>
		<string>65A224BD-5EEF-4D5D-8630-D3EAD551B8F0</string>
		<string>5D024393-E20F-449F-811C-2989C66F64F9</string>
		<string>C735E1BF-A742-42CF-81CE-A5847F0107F9</string>
	</array>
	<key>uuid</key>
	<string>24B86D5C-4E0F-48C4-A499-3F71F6342B34</string>
</dict>
</plist>
