/* general stuff.. */
body {
   font-family: sans-serif;
   font-size: 11pt;
}

h1 {
   font-size: 18pt;
}


/* for error formating..
   .svn_says and the old .error are deprecated! */
div.error {
   color: #f30;
   background-color: #fee;
   border: 2px solid #f52;
   padding: 4px;
   font-family: "Bitstream Vera Sans Mono", monospace;
   font-size: 9pt;
}

div.error h2 {
   font-size: 11pt;
   font-family: sans-serif;
   margin-top: 0;
}


/* about links.. */
a, a:visited, a:link {
   background-color: inherit;
   color: inherit;
}

a:hover, a:active {
   background-color: #000;
   color: #fff;
   text-decoration: none;
}
