<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>TIGER_ERROR_LOG="/var/log/httpd/error_log"
LEOPARD_ERROR_LOG="/var/log/apache2/error_log"

if [[ "$TM_APACHE_ERROR_LOG" == "" ]]; then

	if [[ -f "$LEOPARD_ERROR_LOG" ]]; then

		TM_APACHE_ERROR_LOG="$LEOPARD_ERROR_LOG"

	else

		TM_APACHE_ERROR_LOG="$TIGER_ERROR_LOG"

	fi
fi

if [[ -f "$TM_APACHE_ERROR_LOG" ]]; then

	#tailLog "$TM_APACHE_ERROR_LOG" "httpd Error Log"
	osascript "$TM_BUNDLE_SUPPORT/lib/tail_log.applescript" "$TM_APACHE_ERROR_LOG" "httpd Error Log" &gt;/dev/null;

else

	exit_show_tool_tip "http Access Log not located."

fi
</string>
	<key>input</key>
	<string>none</string>
	<key>name</key>
	<string>Tail Error Log</string>
	<key>output</key>
	<string>discard</string>
	<key>scope</key>
	<string>source.apache-config</string>
	<key>uuid</key>
	<string>9460A02A-EC2A-4A03-9F99-21201D7B7988</string>
</dict>
</plist>
