<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>puevf@pwnpx.pbz</string>
	<key>contactName</key>
	<string>Chris Thomas</string>
	<key>description</key>
	<string>Support for &lt;a href="http://www.inform-fiction.org/"&gt;Inform&lt;/a&gt;, a design system for interactive fiction based on natural language.</string>
	<key>name</key>
	<string>Inform</string>
	<key>uuid</key>
	<string>4677BAF7-6227-11D9-BFB1-000D93589AF6</string>
</dict>
</plist>
