{
	// This file should be current for the latest revision of the ISO C standard
	// as of this writing (late 2004 -- C99).  If one got really worked up about
	// exactness, this could be further broken out into a "base C" file with different
	// "subclass" syntaxes for C90 and C99. C++ would then inherit from the "base C"
	// syntax, which would avoid the C99 non-C++ keywords. But this seems more
	// pragmatic. -- chris.
	
	name = "C";
	fileTypes = ( c, h );
	foldingStartMarker = "(/\\*\\*|\\{\\s*$)";
	foldingStopMarker = "(\\*\\*/|^\\s*\\})";
	increaseIndentPattern = "^.*(\\{[^}\"']*|\\([^)\"']*)$";
	smartTypingPairs = (
	   ( "(", ")" ), ( "[", "]" ), ( "{", "}" ),
	   ( "\"", "\"" ), ( "'", "'" )
	);
	highlightPairs = (
	   ( "(", ")" ), ( "[", "]" ), ( "{", "}" )
	);
	foregroundColor = "#000000";
	backgroundColor = "#FFFFFF";
	patterns = (
		{ name = "comments.block.c"; begin = "/\\*"; end = "\\*/"; foregroundColor = "#236B8E"; },
		{ name = "comments.line.c++"; match = "//.*$"; foregroundColor = "#236B8E"; fontStyle = ( italic ); },
		{ name = "keywords.control.c"; match = "\\<(break|case|continue|default|do|else|for|goto|if|inline|_Pragma|return|sizeof|switch|while)\\>"; fontStyle = ( bold ); foregroundColor = "blue"; },
		{ name = "keywords.storage.c"; match = "\\<(asm|__asm__|auto|_Bool|char|_Complex|const|double|enum|extern|float|_Imaginary|int|long|register|restrict|short|signed|static|struct|typedef|union|unsigned|void|volatile)\\>"; fontStyle = ( bold ); foregroundColor = "blue"; },
		{ name = "constants.numeric.c"; match = "\\<((0(x|X)[0-9a-fA-F]*)|(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))((e|E)(\\+|-)?[0-9]+)?)(L|l|UL|ul|u|U|F|f|ll|LL|ull|ULL)?\\>"; foregroundColor = "#0000CD"; },
		{ name = "strings.double-quoted.c"; begin = "\""; end = "\""; swallow = "\\\\."; foregroundColor = "#8B2252"; },
		{ name = "strings.single-quoted.c"; begin = "'"; end = "'"; swallow = "\\\\."; foregroundColor = "#8B2252"; },
		{ name = "keywords.preprocessor.c"; match = "^\\s*#\\s*(define|defined|else|elif|endif|error|if|ifdef|ifndef|include|line|pragma|undef|warning)\\>"; fontStyle = ( bold ); foregroundColor = "#5C246E";},
	);
}
