<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>xriva@fo.bet</string>
	<key>contactName</key>
	<string>Kevin Ballard</string>
	<key>description</key>
	<string>Support for the &lt;a href="http://www.fscript.org/"&gt;F-Script&lt;/a&gt; programming language.</string>
	<key>name</key>
	<string>F-Script</string>
	<key>ordering</key>
	<array>
		<string>093A2267-786C-4D66-B7F4-5C849481F69A</string>
		<string>6DF01745-8E18-4D2D-AA80-27F001B47A16</string>
		<string>104B9BAD-1E5B-4E7E-AD9B-3908B16B214D</string>
		<string>1D5529F3-DA53-490D-AC62-4860FCBA92C4</string>
		<string>C00565D4-1627-4134-ABA2-537B7A5AB1B8</string>
		<string>CFC37668-A538-47C8-B46B-9E3223CA2729</string>
		<string>930B4766-D6D2-4C4E-BA84-762ADDA8E6EE</string>
		<string>1609A403-1BEA-4280-87CC-70450082C941</string>
		<string>C2CB9A74-C9FC-4F63-8BAF-E64B72A60DD4</string>
		<string>5FFB327F-3DF9-42B1-8B00-87F6B4BE164E</string>
		<string>DCAC81A0-6701-4EEC-B499-7C5859C7140F</string>
		<string>FEFBC3CD-E647-4DF0-903E-491E892E8484</string>
	</array>
	<key>uuid</key>
	<string>93A1530E-919D-11D9-AE7A-00039369B986</string>
</dict>
</plist>
