<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;${1:+-}&gt;</string>
	<key>keyEquivalent</key>
	<string>^&lt;</string>
	<key>name</key>
	<string>Beamer &lt;+-&gt;</string>
	<key>scope</key>
	<string>text.latex.beamer</string>
	<key>uuid</key>
	<string>B9772BF7-9D80-477A-8525-504213E81758</string>
</dict>
</plist>
