<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>/**
 * Executes ${1:Action} action
 *
 */
public function execute${1/(.)(.*)/\u$1\L$2\E/}()
{
  $0
}</string>
	<key>name</key>
	<string>new action</string>
	<key>scope</key>
	<string>source.php</string>
	<key>tabTrigger</key>
	<string>execute</string>
	<key>uuid</key>
	<string>4D3A12BE-75AC-4953-AD37-1747F5D8DE97</string>
</dict>
</plist>
