<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Experimental</string>
	<key>ordering</key>
	<array>
		<string>8FC2E9FA-A9CE-42CD-9910-4FC9A9248BF9</string>
		<string>5A0E986A-BE73-11D9-8214-000A957B2E42</string>
		<string>74AEC234-DD4D-4AB1-B855-253E34E34BFE</string>
	</array>
	<key>uuid</key>
	<string>3AFF45C9-82BD-4AC9-8817-7BE8ED73D505</string>
</dict>
</plist>
