{
    fileTypes = (asp); 
    foldingStartMarker = "(<(?i:(head|table|div|style|script|ul|ol|form|dl))\\b.*?>|\\{)"; 
    foldingStopMarker = "(</(?i:(head|table|div|style|script|ul|ol|form|dl))>|\\})"; 
    name = "HTML (ASP)"; 
    patterns = (
        {   name = "source.asp.embedded.html"; 
            begin = "<%=?"; end = "%>"; 
            patterns = ({include = "source.asp"; }); 
        },
        {   include = "text.html.basic";
        },
    ); 
    scopeName = "text.html.asp"; 
    uuid = "27798CC6-6B1D-11D9-B8FA-000D93589AF6"; 
}
