<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>bbcode</string>
	</array>
	<key>foldingStartMarker</key>
	<string>(?x)
        (\[(?i:quote|code|list)\b.*?\]
        |&lt;!--(?!.*--&gt;)
        |\{\s*($|\?&gt;\s*$|//|/\*(.*\*/\s*$|(?!.*?\*/)))
        )</string>
	<key>foldingStopMarker</key>
	<string>(?x)
        (\[/(?i:quote|code|list)\b.*?\]
        |^\s*--&gt;
        |(^|\s)\}
        )</string>
	<key>keyEquivalent</key>
	<string>^~B</string>
	<key>name</key>
	<string>Bulletin Board</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>begin</key>
			<string>(\[)(?i:list)(\])</string>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(\[/)(?i:list)(\])</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>(\[\*\])</string>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>meta.tag.bbcode</string>
						</dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.bbcode</string>
						</dict>
					</dict>
					<key>contentName</key>
					<string>markup.list.unnumbered.bbcode</string>
					<key>end</key>
					<string>(?=\[\*\]|\[/(?i:list)\])</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>$self</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(\[)(?i:list)=(1|a)(\])</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>constant.other.list-type.bbcode</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(\[/)(?i:list)(\])</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>(\[\*\])</string>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>meta.tag.bbcode</string>
						</dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.bbcode</string>
						</dict>
					</dict>
					<key>contentName</key>
					<string>markup.list.numbered.bbcode</string>
					<key>end</key>
					<string>(?=\[\*\]|\[/(?i:list)\])</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>$self</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(\[)(?i:quote)(?:=[^\]]+)?(\])</string>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>markup.quote.bbcode</string>
			<key>end</key>
			<string>(\[/)(?i:quote)(\])</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>$self</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(\[)(?i:code)(\])</string>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>markup.raw.block.bbcode</string>
			<key>end</key>
			<string>(\[/)(?i:code)(\])</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>(\[)(?i:i)(\])</string>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>markup.italic.bbcode</string>
			<key>end</key>
			<string>(\[/)(?i:i)(\])</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>$self</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(\[)(?i:b)(\])</string>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>markup.bold.bbcode</string>
			<key>end</key>
			<string>(\[/)(?i:b)(\])</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>$self</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(\[)(?i:u)(\])</string>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>markup.underline.bbcode</string>
			<key>end</key>
			<string>(\[/)(?i:u)(\])</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>$self</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(\[)(?i:strike)(\])</string>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>markup.other.strikethrough.bbcode</string>
			<key>end</key>
			<string>(\[/)(?i:strike)(\])</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>$self</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(?x)(\[)(?i:color)=(
		            (?i:(red|green|blue|yellow
		                |white|black|pink
		                |purple|brown|grey))
                    |(\#([0-9a-fA-F]{6}))
                    |([^\]]+))
                (\])</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>constant.other.named-color.bbcode</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>constant.other.rgb-value.bbcode</string>
				</dict>
				<key>6</key>
				<dict>
					<key>name</key>
					<string>invalid.illegal.expected-a-color.bbcode</string>
				</dict>
				<key>7</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>markup.other.colored.bbcode</string>
			<key>end</key>
			<string>(\[/)(?i:color)(\])</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>$self</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(?x)(\[)(?i:size)=
                 (?i:([0-9]{1,3})\b
                     |([^\]]+))
                 (\])</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>constant.numeric.size.bbcode</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>invalid.illegal.expected-a-size.bbcode</string>
				</dict>
				<key>4</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>markup.other.resized.bbcode</string>
			<key>end</key>
			<string>(\[/)(?i:size)(\])</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>$self</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(\[)(?i:url)=([^\]]+)(\])</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>markup.underline.link.bbcode</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>string.other.link.title.bbcode</string>
			<key>end</key>
			<string>(\[/)(?i:url)(\])</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.link.inline.bbcode</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>$self</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(\[)(?i:url)(\])</string>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>markup.underline.link.bbcode</string>
			<key>end</key>
			<string>(\[/)(?i:url)(\])</string>
			<key>name</key>
			<string>meta.link.inline.bbcode</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>[\[]]+</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(\[)(?i:email)(\])</string>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>markup.underline.link.email.bbcode</string>
			<key>end</key>
			<string>(\[/)(?i:email)(\])</string>
			<key>name</key>
			<string>meta.link.inline.bbcode</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>[\[]]+</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(\[)(?i:img)(:((?i:right|left|top))|([^\]]+))?(\])</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>constant.other.alignment.bbcode</string>
				</dict>
				<key>4</key>
				<dict>
					<key>name</key>
					<string>invalid.illegal.expected-an-alignment.bbcode</string>
				</dict>
				<key>5</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>markup.underline.link.image.bbcode</string>
			<key>end</key>
			<string>(\[/)(?i:img)(\])</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>meta.tag.bbcode</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.bbcode</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.link.image.bbcode</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>[\[]]+?</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.constant.bbcode</string>
				</dict>
				<key>5</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.constant.bbcode</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(?x)
				(
					(
						(:)
						(mad|rolleyes|cool|eek|confused|devious|
						judge|scared|eyebrow|bigdumbgrin)
						(:)
					)
				  | (?::\)|;\)|:D|:\(|:p|:o)
				)</string>
			<key>name</key>
			<string>constant.other.smiley.bbcode</string>
		</dict>
	</array>
	<key>scopeName</key>
	<string>text.bbcode</string>
	<key>uuid</key>
	<string>AC4E0E7E-CC15-4394-A858-6C7E3C09C414</string>
</dict>
</plist>
