<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>TM_RUBY="${TM_RUBY:=ruby}"
SUPPORT_PATH=${TM_BUNDLE_SUPPORT:="$TM_BUNDLE_PATH/Support"}
BROWSER="${SUPPORT_PATH}/browser.rb"

$TM_RUBY "$BROWSER" "${TM_PROJECT_DIRECTORY:-TM_DIRECTORY}" "$SUPPORT_PATH"</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^I</string>
	<key>name</key>
	<string>Browse</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>B0869DF4-B5E2-48A5-8550-5BABE67F6D25</string>
</dict>
</plist>
