<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>ovovxb@rin.zct.qr</string>
	<key>contactName</key>
	<string>Hans-Jörg Bibiko</string>
	<key>description</key>
	<string>Bundle concerning commands, scripts, etc. to deal with general Unicode resp. non-ASCII related tasks.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>4BB7121B-3FCB-4095-8392-7019E1D2958B</string>
			<string>3E817690-371B-44DB-9962-8479A78E2B3B</string>
			<string>13FB5612-63F9-4FE5-B43C-ACB0E45B7386</string>
			<string>56AD1851-4682-46FC-BE6C-91F8CB26ACFF</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>4BB7121B-3FCB-4095-8392-7019E1D2958B</key>
			<dict>
				<key>items</key>
				<array>
					<string>CAB96D61-E7AB-4FD5-9ECE-BE5C86D8C4F2</string>
					<string>A2F33C69-E40F-42F0-8308-7590EDFAA1E6</string>
					<string>275FA89E-BB47-49B7-A406-C205EAE4C9EF</string>
					<string>BE0FA634-66D7-4F7D-A5EB-3F20ADB5F412</string>
				</array>
				<key>name</key>
				<string>Normalize</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Unicode</string>
	<key>ordering</key>
	<array>
		<string>3E817690-371B-44DB-9962-8479A78E2B3B</string>
		<string>13FB5612-63F9-4FE5-B43C-ACB0E45B7386</string>
		<string>56AD1851-4682-46FC-BE6C-91F8CB26ACFF</string>
		<string>AC1FF4B5-2F93-4816-AA54-F4B150AFEFD2</string>
		<string>CAB96D61-E7AB-4FD5-9ECE-BE5C86D8C4F2</string>
		<string>A2F33C69-E40F-42F0-8308-7590EDFAA1E6</string>
		<string>275FA89E-BB47-49B7-A406-C205EAE4C9EF</string>
		<string>BE0FA634-66D7-4F7D-A5EB-3F20ADB5F412</string>
	</array>
	<key>uuid</key>
	<string>0DCB3E28-8D02-47B0-9D94-2DCC1473A533</string>
</dict>
</plist>
