<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>ovovxb@rin.zct.qr</string>
	<key>contactName</key>
	<string>Hans-Jörg Bibiko</string>
	<key>description</key>
	<string>Bundle concerning commands, scripts, etc. to deal with general Unicode resp. non-ASCII related tasks.</string>
	<key>name</key>
	<string>Unicode</string>
	<key>ordering</key>
	<array>
		<string>C2DAC5C4-8742-4C2B-8032-3C8C9D5C7CDF</string>
		<string>7A6067FC-B597-4AF1-9CF4-1F648A2DA849</string>
	</array>
	<key>uuid</key>
	<string>0DCB3E28-8D02-47B0-9D94-2DCC1473A533</string>
</dict>
</plist>
