<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>ovovxb@rin.zct.qr</string>
	<key>contactName</key>
	<string>Hans-Jörg Bibiko</string>
	<key>description</key>
	<string>Bundle concerning commands, scripts, etc. to deal with general Unicode resp. non-ASCII related tasks.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>834E9534-7C5E-4C6A-991F-89441150DD44</string>
			<string>B99BCC57-1965-4CF3-9FFB-33C9BF1E7BC5</string>
			<string>------------------------------------</string>
			<string>4BB7121B-3FCB-4095-8392-7019E1D2958B</string>
			<string>FB1F28E9-4CC0-4633-AA29-66598F99D92C</string>
			<string>2DE88627-FEF6-4211-893C-F22E198FC97A</string>
			<string>2F39F885-A1F3-44CD-B8CC-E0F057B8577B</string>
			<string>DFC70A44-2F46-4653-9940-46207F520E57</string>
			<string>01C0115C-61A7-4B80-9369-74553AE2DD5A</string>
			<string>------------------------------------</string>
			<string>DE2E16D5-91B2-47D7-9130-CA2D9F5988C7</string>
			<string>------------------------------------</string>
			<string>DF82470B-90A9-4999-AADD-5CC20DA459B8</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>01C0115C-61A7-4B80-9369-74553AE2DD5A</key>
			<dict>
				<key>items</key>
				<array>
					<string>807F2002-5E22-498A-8482-585EF63984F5</string>
				</array>
				<key>name</key>
				<string>Codepoint Conversion</string>
			</dict>
			<key>2DE88627-FEF6-4211-893C-F22E198FC97A</key>
			<dict>
				<key>items</key>
				<array>
					<string>8FE43DD3-89E4-47D5-AF9D-4AA4CFEC580D</string>
					<string>9A799A30-82FC-40A0-AAD4-EF5DA3A07B49</string>
				</array>
				<key>name</key>
				<string>Insert Unicode Characters</string>
			</dict>
			<key>2F39F885-A1F3-44CD-B8CC-E0F057B8577B</key>
			<dict>
				<key>items</key>
				<array>
					<string>56AD1851-4682-46FC-BE6C-91F8CB26ACFF</string>
					<string>1871A156-B56D-4247-AD05-AE5B712C699E</string>
					<string>AC1FF4B5-2F93-4816-AA54-F4B150AFEFD2</string>
					<string>3E817690-371B-44DB-9962-8479A78E2B3B</string>
					<string>E66F57C4-1A0C-4836-8ADE-8D4D3ACB22FD</string>
					<string>BA369A82-8B7C-4638-868C-A1C30C60D514</string>
					<string>C2746B5D-E605-4F52-878E-36F1C24D96E9</string>
				</array>
				<key>name</key>
				<string>Character Conversion</string>
			</dict>
			<key>4BB7121B-3FCB-4095-8392-7019E1D2958B</key>
			<dict>
				<key>items</key>
				<array>
					<string>CAB96D61-E7AB-4FD5-9ECE-BE5C86D8C4F2</string>
					<string>A2F33C69-E40F-42F0-8308-7590EDFAA1E6</string>
					<string>275FA89E-BB47-49B7-A406-C205EAE4C9EF</string>
					<string>BE0FA634-66D7-4F7D-A5EB-3F20ADB5F412</string>
				</array>
				<key>name</key>
				<string>Normalize</string>
			</dict>
			<key>834E9534-7C5E-4C6A-991F-89441150DD44</key>
			<dict>
				<key>items</key>
				<array>
					<string>2B54167E-A468-452A-BB80-11989C735891</string>
					<string>3E097917-F8EA-4357-B830-3E04B3A70DC8</string>
					<string>B33FB6FB-54CC-4BF4-BC6E-ECFB206F45AE</string>
				</array>
				<key>name</key>
				<string>Chinese</string>
			</dict>
			<key>B99BCC57-1965-4CF3-9FFB-33C9BF1E7BC5</key>
			<dict>
				<key>items</key>
				<array>
					<string>4504668F-F3B3-4C5D-BE9D-7213B297F0B4</string>
					<string>B7276596-C4ED-459D-AD66-234C984E5F9B</string>
				</array>
				<key>name</key>
				<string>Japanese</string>
			</dict>
			<key>DE2E16D5-91B2-47D7-9130-CA2D9F5988C7</key>
			<dict>
				<key>items</key>
				<array>
					<string>54242A63-3362-4196-BCA7-6631774FD8C8</string>
					<string>53DF5CCA-B2BF-4E8B-899D-B5E40D458094</string>
					<string>33386328-F47F-4128-B647-DC56E964BD80</string>
				</array>
				<key>name</key>
				<string>unicode.org</string>
			</dict>
			<key>DF82470B-90A9-4999-AADD-5CC20DA459B8</key>
			<dict>
				<key>items</key>
				<array>
					<string>2B28D0FB-6DFD-4FC3-B1A4-574B4A410C5D</string>
				</array>
				<key>name</key>
				<string>Auxiliaries</string>
			</dict>
			<key>DFC70A44-2F46-4653-9940-46207F520E57</key>
			<dict>
				<key>items</key>
				<array>
					<string>515AD461-0C81-4238-8E17-180920023406</string>
					<string>2BF99569-4E49-4706-B766-216875397FF3</string>
				</array>
				<key>name</key>
				<string>Character Invertory</string>
			</dict>
			<key>FB1F28E9-4CC0-4633-AA29-66598F99D92C</key>
			<dict>
				<key>items</key>
				<array>
					<string>01317BC0-1955-48E7-BB88-327CE1CDFB13</string>
					<string>13FB5612-63F9-4FE5-B43C-ACB0E45B7386</string>
				</array>
				<key>name</key>
				<string>Unicode Properties</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Unicode</string>
	<key>ordering</key>
	<array>
		<string>3E817690-371B-44DB-9962-8479A78E2B3B</string>
		<string>13FB5612-63F9-4FE5-B43C-ACB0E45B7386</string>
		<string>01317BC0-1955-48E7-BB88-327CE1CDFB13</string>
		<string>56AD1851-4682-46FC-BE6C-91F8CB26ACFF</string>
		<string>1871A156-B56D-4247-AD05-AE5B712C699E</string>
		<string>AC1FF4B5-2F93-4816-AA54-F4B150AFEFD2</string>
		<string>E66F57C4-1A0C-4836-8ADE-8D4D3ACB22FD</string>
		<string>BA369A82-8B7C-4638-868C-A1C30C60D514</string>
		<string>C2746B5D-E605-4F52-878E-36F1C24D96E9</string>
		<string>CAB96D61-E7AB-4FD5-9ECE-BE5C86D8C4F2</string>
		<string>A2F33C69-E40F-42F0-8308-7590EDFAA1E6</string>
		<string>275FA89E-BB47-49B7-A406-C205EAE4C9EF</string>
		<string>BE0FA634-66D7-4F7D-A5EB-3F20ADB5F412</string>
		<string>4504668F-F3B3-4C5D-BE9D-7213B297F0B4</string>
		<string>B7276596-C4ED-459D-AD66-234C984E5F9B</string>
		<string>2B54167E-A468-452A-BB80-11989C735891</string>
		<string>3E097917-F8EA-4357-B830-3E04B3A70DC8</string>
		<string>B33FB6FB-54CC-4BF4-BC6E-ECFB206F45AE</string>
		<string>54242A63-3362-4196-BCA7-6631774FD8C8</string>
		<string>53DF5CCA-B2BF-4E8B-899D-B5E40D458094</string>
		<string>33386328-F47F-4128-B647-DC56E964BD80</string>
		<string>2B28D0FB-6DFD-4FC3-B1A4-574B4A410C5D</string>
		<string>807F2002-5E22-498A-8482-585EF63984F5</string>
		<string>9A799A30-82FC-40A0-AAD4-EF5DA3A07B49</string>
		<string>8FE43DD3-89E4-47D5-AF9D-4AA4CFEC580D</string>
		<string>515AD461-0C81-4238-8E17-180920023406</string>
		<string>2BF99569-4E49-4706-B766-216875397FF3</string>
		<string>4C8FA2CF-79EA-4C56-B3F8-2036E6BFFF94</string>
		<string>16D31FDD-06BB-4072-80B7-AD4E5D6C997E</string>
		<string>B48EDCF6-3E73-4115-A0C9-10B17778F8F5</string>
	</array>
	<key>uuid</key>
	<string>0DCB3E28-8D02-47B0-9D94-2DCC1473A533</string>
</dict>
</plist>
