{
	tags = (
		{ name = "applications"; description = "interfaces to the outside (blogging, web search, Terminal, Mail? …)"; },
		{ name = "build"       ; description = "some sort of build system (Makefile, SCons, …)"; },
		{ name = "file formats"; description = "data files, not 'markup' (plist, iCalendar, sshd, Tabular, …)"; },
		{ name = "framework"   ; description = "a framework (OpenGL, Rails, Django, Qt, …)"; },
		{ name = "markup"      ; description = "markup language (XML, Textile, LaTeX, Markdown, tablature, …)"; },
		{ name = "productivity"; description = "(GTD, GTDAlt, TODO, Remind, …)"; },
		{ name = "scm"         ; description = "revision control system (Subversion, CVS, …)"; },
		{ name = "source code" ; description = "programming language (Ruby, C, …)"; },
		{ name = "tools"       ; description = "generic commands for text manipulation (Math, …)"; },

		{ name = "default"     ; description = "bundle is among the default set"; },
		{ name = "recommended" ; description = "bundle is a recommended bundle"; },

		{ name = "mac"         ; description = "bundle specific for mac-technology (AppleScript, Xcode, Transmit, …)"; },
		{ name = "web"         ; description = "bundle specific for web-purposes (PHP, CSS, …)"; },
	);

	categories = ( // which categories to show: title + description + tags in category
	);
}
