<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>R</string>
	<key>uuid</key>
	<string>B29D7850-6E70-11D9-A369-000D93B3A10E</string>
</dict>
</plist>
