<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>pfxvnqnf@hpuvpntb.rqh</string>
	<key>contactName</key>
	<string>Charilaos Skiadas</string>
	<key>description</key>
	<string>&lt;a href="http://www.r-project.org/"&gt;R&lt;/a&gt; is a free software environment for statistical computing and graphics. This bundle includes a command that sends current line to the R environment.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>F5D7F00C-6DEE-469E-AFEE-6E4B7CDD4148</string>
			<string>B2E62E8B-6E70-11D9-A369-000D93B3A10E</string>
			<string>------------------------------------</string>
			<string>AD2921D0-B866-4EFE-80DE-FBB24500E5BF</string>
			<string>------------------------------------</string>
			<string>B8902A32-4E8C-4A20-ABB5-7563B908A30B</string>
			<string>797A6B84-49BB-4BBD-8F51-9A225433CA9C</string>
			<string>------------------------------------</string>
			<string>A59DA3DA-866C-4A05-9CAF-D986D67B4B33</string>
			<string>4D425A1D-E272-4355-8041-311DD4486809</string>
			<string>------------------------------------</string>
			<string>49FD111D-386E-4076-AB39-85DB253E98D1</string>
			<string>------------------------------------</string>
			<string>8A8B6803-AF20-47EC-9382-62E1EBA76B4A</string>
			<string>------------------------------------</string>
			<string>AA14B2D1-7906-4F9B-9A55-956C27D7AD56</string>
			<string>13178AED-9A29-4544-A973-B1C16EF21CE5</string>
			<string>5023269F-9BC5-45A2-A411-E42C429BD970</string>
			<string>3E148105-968D-401E-B0E7-63EE90A364FD</string>
			<string>076C9388-66AC-43C1-B2EC-B456C1749878</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>076C9388-66AC-43C1-B2EC-B456C1749878</key>
			<dict>
				<key>items</key>
				<array>
					<string>02F9D19E-BE8F-4BAA-99EB-2A304BB873FE</string>
				</array>
				<key>name</key>
				<string>Language Features</string>
			</dict>
			<key>13178AED-9A29-4544-A973-B1C16EF21CE5</key>
			<dict>
				<key>items</key>
				<array>
					<string>5F49FB43-86AA-4352-AECB-CA573E9DC7E8</string>
					<string>481CC207-5003-4AAE-8202-E353889470C9</string>
				</array>
				<key>name</key>
				<string>Data Frame</string>
			</dict>
			<key>3E148105-968D-401E-B0E7-63EE90A364FD</key>
			<dict>
				<key>items</key>
				<array>
					<string>------------------------------------</string>
					<string>------------------------------------</string>
					<string>C70D177F-E5D6-4628-807D-C9EFADECB050</string>
				</array>
				<key>name</key>
				<string>Graphs</string>
			</dict>
			<key>49FD111D-386E-4076-AB39-85DB253E98D1</key>
			<dict>
				<key>items</key>
				<array>
					<string>6BC03260-79E4-47B6-87CE-020BD066E0FB</string>
					<string>6A931F29-5A2B-4CCB-A958-0A0A9A3F2BEF</string>
					<string>90EA3ACF-121E-4BBA-B1EB-3F461BCBDC8D</string>
				</array>
				<key>name</key>
				<string>Commands</string>
			</dict>
			<key>5023269F-9BC5-45A2-A411-E42C429BD970</key>
			<dict>
				<key>items</key>
				<array>
					<string>62F05C12-9887-4AA7-918B-D35C250FA50A</string>
					<string>5A0EA5CD-5767-4D11-AF9A-C4447A8EA4B4</string>
					<string>------------------------------------</string>
					<string>D8F85702-E792-4856-8D16-54E4EB2F9483</string>
				</array>
				<key>name</key>
				<string>Input/Output</string>
			</dict>
			<key>A59DA3DA-866C-4A05-9CAF-D986D67B4B33</key>
			<dict>
				<key>items</key>
				<array>
					<string>769AC12C-9EDF-4089-8834-062A301907ED</string>
					<string>4C1A1536-31FF-4FF5-B0C5-CD47D21CFD52</string>
				</array>
				<key>name</key>
				<string>Wrap Selection in</string>
			</dict>
			<key>AA14B2D1-7906-4F9B-9A55-956C27D7AD56</key>
			<dict>
				<key>items</key>
				<array>
					<string>F61688AA-C298-4D58-A9DE-87891797B2F9</string>
					<string>4852C9E0-D22C-4FA2-8C85-628B97F6C3B2</string>
					<string>------------------------------------</string>
					<string>A9D21636-8157-4C3B-967B-B0E24595AA86</string>
					<string>0D80E89D-F95D-4C5E-B174-342B245CD56B</string>
					<string>217EE449-B990-4FDA-A897-F7063022241E</string>
					<string>------------------------------------</string>
					<string>CE3CB75A-3283-4BF0-BDD8-FF8F50F61762</string>
					<string>9BB0E6BD-62E9-4D5A-A1B6-6A5545F58EFD</string>
					<string>93D9F298-A5FF-4935-A906-1C1E31AF451A</string>
				</array>
				<key>name</key>
				<string>Vector</string>
			</dict>
			<key>AD2921D0-B866-4EFE-80DE-FBB24500E5BF</key>
			<dict>
				<key>items</key>
				<array>
					<string>7AF6ADAA-E6F0-4B9D-B146-A62BDE600D74</string>
					<string>1A8EC6F7-D254-4888-9095-75C9DBA519F7</string>
					<string>------------------------------------</string>
					<string>613CDD87-1F8B-484E-B741-74B95F3C878B</string>
					<string>2CE460A3-ADAE-47B6-8A89-EE142C714CC2</string>
					<string>C1302FC5-FDC8-4560-8DFF-2CEC85EFCD19</string>
					<string>------------------------------------</string>
					<string>48E1CB3A-8349-46E4-86B0-671663712005</string>
				</array>
				<key>name</key>
				<string>Console</string>
			</dict>
			<key>C70D177F-E5D6-4628-807D-C9EFADECB050</key>
			<dict>
				<key>items</key>
				<array>
					<string>EB449D09-F66E-4C1B-BFAF-B9FA27DB991C</string>
					<string>A4E14B93-E8D0-4C8E-AB8E-CCB029E170F0</string>
				</array>
				<key>name</key>
				<string>Add-ons</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>R</string>
	<key>ordering</key>
	<array>
		<string>F5D7F00C-6DEE-469E-AFEE-6E4B7CDD4148</string>
		<string>B2E62E8B-6E70-11D9-A369-000D93B3A10E</string>
		<string>7AF6ADAA-E6F0-4B9D-B146-A62BDE600D74</string>
		<string>F61688AA-C298-4D58-A9DE-87891797B2F9</string>
		<string>6BC03260-79E4-47B6-87CE-020BD066E0FB</string>
		<string>6A931F29-5A2B-4CCB-A958-0A0A9A3F2BEF</string>
		<string>90EA3ACF-121E-4BBA-B1EB-3F461BCBDC8D</string>
		<string>4852C9E0-D22C-4FA2-8C85-628B97F6C3B2</string>
		<string>62F05C12-9887-4AA7-918B-D35C250FA50A</string>
		<string>5A0EA5CD-5767-4D11-AF9A-C4447A8EA4B4</string>
		<string>5F49FB43-86AA-4352-AECB-CA573E9DC7E8</string>
		<string>481CC207-5003-4AAE-8202-E353889470C9</string>
		<string>D8F85702-E792-4856-8D16-54E4EB2F9483</string>
		<string>EB449D09-F66E-4C1B-BFAF-B9FA27DB991C</string>
		<string>217EE449-B990-4FDA-A897-F7063022241E</string>
		<string>A9D21636-8157-4C3B-967B-B0E24595AA86</string>
		<string>0D80E89D-F95D-4C5E-B174-342B245CD56B</string>
		<string>9BB0E6BD-62E9-4D5A-A1B6-6A5545F58EFD</string>
		<string>02F9D19E-BE8F-4BAA-99EB-2A304BB873FE</string>
		<string>93D9F298-A5FF-4935-A906-1C1E31AF451A</string>
		<string>A4E14B93-E8D0-4C8E-AB8E-CCB029E170F0</string>
		<string>CE3CB75A-3283-4BF0-BDD8-FF8F50F61762</string>
		<string>1A8EC6F7-D254-4888-9095-75C9DBA519F7</string>
		<string>48E1CB3A-8349-46E4-86B0-671663712005</string>
		<string>B8902A32-4E8C-4A20-ABB5-7563B908A30B</string>
		<string>797A6B84-49BB-4BBD-8F51-9A225433CA9C</string>
		<string>4D425A1D-E272-4355-8041-311DD4486809</string>
		<string>613CDD87-1F8B-484E-B741-74B95F3C878B</string>
		<string>2CE460A3-ADAE-47B6-8A89-EE142C714CC2</string>
		<string>C1302FC5-FDC8-4560-8DFF-2CEC85EFCD19</string>
		<string>B2E6B78D-6E70-11D9-A369-000D93B3A10E</string>
		<string>80A00288-FE7E-4E66-B5BF-4948A2828203</string>
		<string>F629C7F3-823B-4A4C-8EEE-9971490C5710</string>
		<string>F38E1657-C2D9-48CE-9FFD-3EEA36D8B320</string>
		<string>8A8B6803-AF20-47EC-9382-62E1EBA76B4A</string>
		<string>769AC12C-9EDF-4089-8834-062A301907ED</string>
		<string>4C1A1536-31FF-4FF5-B0C5-CD47D21CFD52</string>
	</array>
	<key>uuid</key>
	<string>B29D7850-6E70-11D9-A369-000D93B3A10E</string>
</dict>
</plist>
