<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isDefault</key>
	<integer>1</integer>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>F5D7F00C-6DEE-469E-AFEE-6E4B7CDD4148</string>
			<string>B2E62E8B-6E70-11D9-A369-000D93B3A10E</string>
			<string>------------------------------------</string>
			<string>AD2921D0-B866-4EFE-80DE-FBB24500E5BF</string>
			<string>------------------------------------</string>
			<string>B8902A32-4E8C-4A20-ABB5-7563B908A30B</string>
			<string>797A6B84-49BB-4BBD-8F51-9A225433CA9C</string>
			<string>4D425A1D-E272-4355-8041-311DD4486809</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>AD2921D0-B866-4EFE-80DE-FBB24500E5BF</key>
			<dict>
				<key>items</key>
				<array>
					<string>613CDD87-1F8B-484E-B741-74B95F3C878B</string>
					<string>2CE460A3-ADAE-47B6-8A89-EE142C714CC2</string>
					<string>C1302FC5-FDC8-4560-8DFF-2CEC85EFCD19</string>
					<string>7AF6ADAA-E6F0-4B9D-B146-A62BDE600D74</string>
					<string>1A8EC6F7-D254-4888-9095-75C9DBA519F7</string>
				</array>
				<key>name</key>
				<string>Console</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>R</string>
	<key>ordering</key>
	<array>
		<string>F5D7F00C-6DEE-469E-AFEE-6E4B7CDD4148</string>
		<string>B2E62E8B-6E70-11D9-A369-000D93B3A10E</string>
		<string>7AF6ADAA-E6F0-4B9D-B146-A62BDE600D74</string>
		<string>1A8EC6F7-D254-4888-9095-75C9DBA519F7</string>
		<string>B8902A32-4E8C-4A20-ABB5-7563B908A30B</string>
		<string>797A6B84-49BB-4BBD-8F51-9A225433CA9C</string>
		<string>4D425A1D-E272-4355-8041-311DD4486809</string>
		<string>613CDD87-1F8B-484E-B741-74B95F3C878B</string>
		<string>2CE460A3-ADAE-47B6-8A89-EE142C714CC2</string>
		<string>C1302FC5-FDC8-4560-8DFF-2CEC85EFCD19</string>
		<string>B2E6B78D-6E70-11D9-A369-000D93B3A10E</string>
		<string>F629C7F3-823B-4A4C-8EEE-9971490C5710</string>
		<string>F38E1657-C2D9-48CE-9FFD-3EEA36D8B320</string>
	</array>
	<key>uuid</key>
	<string>B29D7850-6E70-11D9-A369-000D93B3A10E</string>
</dict>
</plist>
