<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby
require "#{ENV['TM_BUNDLE_SUPPORT']}/lib/doctohtml.rb"
print generate_stylesheet_from_theme()</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>xml</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Create CSS From Current Theme</string>
	<key>output</key>
	<string>openAsNewDocument</string>
	<key>uuid</key>
	<string>ED204720-38FC-427C-B91E-D6AE866DAE3A</string>
</dict>
</plist>
