<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby

def url_esc (url)
	url.gsub(/[^a-zA-Z0-9.-\/]/) { |m| sprintf("%%%02X", m[0]) }
end

def html_esc (text)
	text.gsub(/&lt;/, '&amp;lt;').gsub(/&amp;/, '&amp;amp;')
end
#/Applications/TextMate.app/Contents/SharedSupport/Support/
output = `"$TM_SUPPORT_PATH/bin/CocoaDialog.app/Contents/MacOS/CocoaDialog" inputbox --float --title Input --informative-text 'Search For...' --button1 'Search' --button2 'Abort'`
output = output.split("\n")

# check the button pressed, exit if it wasn't Record
if(output[0] !~ /^1$/)
	exit
end

regex = Regexp.new(output[1].strip)

no = 0
$stdin.each_line() do |line|
	no += 1
	if regex.match line
		print "&lt;a href=\"txmt://open?url=file://#{url_esc ENV['TM_FILEPATH']}"
		print "&amp;line=#{no}"
		print "\"&gt;#{html_esc line}&lt;/a&gt;&lt;br&gt;"
	end	
end</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^F</string>
	<key>name</key>
	<string>Find All in Document</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>16B36407-9F9D-47E0-93B8-80BA881066B5</string>
</dict>
</plist>
