<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>[[ -z "$TM_SELECTED_TEXT" ]] &amp;&amp; exit_show_tool_tip "Nothing is selected."

url=$(expand -t $TM_TAB_SIZE|curl 2&gt;/dev/null http://paste.textmate.org/submit -F user="$USER" -F text='&lt;-')

[[ -z "$url" ]] &amp;&amp; exit_show_tool_tip "Got no URL back from pasting service."

if grep &lt;&lt;&lt;"$(ps -xc)" -sq "Colloquy$"; then
  osascript -e 'tell application "Colloquy" to send message "pasted '"$url"'" action tense yes to (get chat room "##textmate" of (first connection where server address is equal to "irc.freenode.net"))'
  echo "The selection was pasted to #textmate."
else
  echo -n "$url" | pbcopy
  echo "The selection is available as $url"
  echo "For your convenience, the URL was placed on the clipboard."
fi</string>
	<key>fallbackInput</key>
	<string>line</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^~V</string>
	<key>name</key>
	<string>Paste Line / Selection in #textmate</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>uuid</key>
	<string>20B6054F-965B-4C9B-91DA-E6868A721954</string>
</dict>
</plist>
