<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string># since osascript wants to “update” the script we run it with a copy
SCRIPT=$(/usr/bin/mktemp -t tm_pastebin)
cp "$TM_BUNDLE_SUPPORT/pastebin.scpt" "$SCRIPT"
osascript "$SCRIPT"
rm -f "$SCRIPT"</string>
	<key>fallbackInput</key>
	<string>line</string>
	<key>input</key>
	<string>selection</string>
	<key>inputFormat</key>
	<string>xml</string>
	<key>keyEquivalent</key>
	<string>^~V</string>
	<key>name</key>
	<string>Paste Line / Selection to Paste Bin…</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>uuid</key>
	<string>20B6054F-965B-4C9B-91DA-E6868A721954</string>
</dict>
</plist>
