<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>{ app_path=$(ps -xwwp $PPID -o command|grep -o '.*.app')
  echo -n "$(date +%H:%M) " &gt;&gt;/tmp/restart.log
  ps -xp $PPID|tail -n1 &gt;&gt;/tmp/restart.log
  osascript -e 'tell app "TextMate" to quit'

  for (( i = 0; i &lt; 5 &amp;&amp; $(echo $(ps -xp $PPID|wc -l))-1; i++ )); do
    sleep .2;
  done

  echo -n "$(date +%H:%M) " &gt;&gt;/tmp/restart.log
  ps -xp $PPID|wc -l &gt;&gt;/tmp/restart.log

  if [[ $(ps -xp $PPID|wc -l) -ne 2 ]]; then
    echo -n "$(date +%H:%M) " &gt;&gt;/tmp/restart.log
    echo "$app_path" &gt;&gt;/tmp/restart.log
    open "$app_path"
  fi

} &amp;&gt;/dev/null &amp;</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^@q</string>
	<key>name</key>
	<string>Restart</string>
	<key>output</key>
	<string>discard</string>
	<key>uuid</key>
	<string>E5142394-B07A-11D9-8EC4-000D93589AF6</string>
</dict>
</plist>
