<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Language Definition</string>
	<key>uuid</key>
	<string>5A9D4FC6-6CBE-11D9-A21B-000D93589AF6</string>
</dict>
</plist>
