<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<dict>
		<key>ANTLR</key>
		<string>Support for the ANTLR parser generator tool.</string>
		<key>ASP</key>
		<string>Language grammar, snippets, and more for ASP.</string>
		<key>ASP_vb_NET</key>
		<string>Lots of snippets and a language grammar for ASP.NET</string>
		<key>ActionScript</key>
		<string>Support for ActionScript, building your flash movies and more.</string>
		<key>Active4D</key>
		<string>Support for the Active4D web development environment.</string>
		<key>Ada</key>
		<string>Minimal support for Ada.</string>
		<key>Apache</key>
		<string>Commands to relaunch Apache, edit the httpd.conf file etc.</string>
		<key>AppleScript</key>
		<string>Write and run your AppleScripts with this bundle. Contains lots of useful snippets.</string>
		<key>Bison</key>
		<string></string>
		<key>Blogging</key>
		<string>Post directly to your blog with this bundle.</string>
		<key>Bulletin Board</key>
		<string>Supports one variant of the BBCode markup language.</string>
		<key>Bundle Development</key>
		<string>This bundle has functionality related to developing bundles for TextMate.</string>
		<key>C</key>
		<string>Support for the venerable C programming language and for the leaner C++. The bundle has completion (using ⌥⎋) for the standard C functions and, in C++, STL algorithms.</string>
		<key>C++ Qt</key>
		<string>Qt is a platform independent C++ library/framework for application development. It started out as a GUI framework.</string>
		<key>CSS</key>
		<string>The cascading stylesheet language is used in web pages. This bundle has syntax highlight, lots of snippets, validation, and more.</string>
		<key>CTags</key>
		<string>The ctags system allows you to jump to the definition of a symbol. This bundle adds such support to TextMate.</string>
		<key>CVS</key>
		<string>This bundle gives you easy access to most functions of the CVS revision control system.</string>
		<key>ColdFusion</key>
		<string>Support for the ColdFusion web development environment from Adobe.</string>
		<key>Context Free</key>
		<string>Context Free allows you to create surprisingly beautiful images from non-deterministic rules. This bundle provides syntax highlight for the Context Free language and can also render your graphs inside TextMate.</string>
		<key>D</key>
		<string>Syntax highlight for the D programming language</string>
		<key>Darcs</key>
		<string>Use the Darcs revision control system from inside TextMate.</string>
		<key>Diff</key>
		<string>Syntax highlight and diff related functionality, for example see differences between document and last saved version, use a diff file as a patch, etc.</string>
		<key>DokuWiki</key>
		<string>Supports basic syntax highlighting for the DokuWiki syntax. Also includes a few useful snippets.</string>
		<key>Doxygen</key>
		<string>Support for the Doxygen documentation system.</string>
		<key>Dylan</key>
		<string>Syntax highlight for the Dylan programming language.</string>
		<key>Eiffel</key>
		<string>Support for the Eiffel programming language.</string>
		<key>Erlang</key>
		<string>Support for the Erlang programming language.</string>
		<key>Experimental</key>
		<string>Experimental bundle with experimental commands. You probably do not want to install this.</string>
		<key>Experimental Wiki</key>
		<string>A 100% offline wiki system that runs inside TextMate (using TextMate’s HTML output window).</string>
		<key>F-Script</key>
		<string>Support for the F-Script programming language.</string>
		<key>FXScript</key>
		<string>Support for FXScript, a scripting language used with the Final Cut Pro video editing tool.</string>
		<key>FileMerge</key>
		<string>Subversion diff commands that use FileMerge.</string>
		<key>Fortran</key>
		<string>Support for the Fortran programming language.</string>
		<key>GTD2</key>
		<string>Support for a variant of Getting Things Done.</string>
		<key>GTDAlt</key>
		<string>Support for a variant of Getting Things Done.</string>
		<key>GetBundle</key>
		<string>A bundle to retrieve more bundles from the subversion repository at macromates.com.</string>
		<key>Gettext</key>
		<string>gettext is the GNU Project's toolset for helping programmers and translators to produce multi-lingual messages for software. The toolset can be (and often is) used by java, perl, php, shell and many other languages. This bundle provides syntax highlighting and utilities to help in preparing *.po files, which are text files containing the various messages and their translations</string>
		<key>Graphviz</key>
		<string>Support for the open source graph visualization softwarea called Graphviz.</string>
		<key>Greasemonkey</key>
		<string>Greasemonkey is a Firefox extension that allows you to modify web pages using a superset of JavaScript.</string>
		<key>Gri</key>
		<string>Support for Gri, a language for scientific graphics programming.</string>
		<key>Groovy</key>
		<string></string>
		<key>Groovy Grails</key>
		<string>Grails - A ‘code by convention’ Groovy web framework.</string>
		<key>HTML</key>
		<string>Support for the Hypertext Markup Language.</string>
		<key>Haskell</key>
		<string>Support for Haskell, a general purpose, purely functional programming language featuring static typing, higher order functions, polymorphism, type classes, and monadic effects.</string>
		<key>Hotkey</key>
		<string>Allows you to assign a key equivalent to a shell command for the current project only.</string>
		<key>Hyperlink Helper</key>
		<string>The commands in this bundle makes it easy to create hyper links for example by searching for the current word or using the clipboard contents. This bundle is much more useful than it sounds!</string>
		<key>ImageBrowser</key>
		<string>Finds images in your current project and displays them in an image browser that runs inside TextMate.</string>
		<key>Inform</key>
		<string>Support for Inform, a design system for interactive fiction based on natural language.</string>
		<key>Ini</key>
		<string>Support for Ini(tialization) / config files (mostly found on MS Windows).</string>
		<key>Installer</key>
		<string>Syntax for writing Installer distribution scripts. Combines XML with JavaScript + custom symbol highlighting.</string>
		<key>Io</key>
		<string>Support for the Io prototype-based programming language.</string>
		<key>JSON</key>
		<string>Syntax highlight for JavaScript Object Notation files, often used as a lightweight serialization format.</string>
		<key>Java</key>
		<string>A bundle for the Java programming language.</string>
		<key>JavaDoc</key>
		<string></string>
		<key>JavaScript</key>
		<string>Support for JavaScript.</string>
		<key>JavaScript Flash</key>
		<string>JSFL (Flash JavaScript) is a JavaScript API used to automate the Adobe Flash Authoring Environment.</string>
		<key>JavaScript MooTools</key>
		<string>MooTools Framework by Valerio Proietti. http://mootools.net</string>
		<key>JavaScript Objective-J</key>
		<string>Cappuccino is an open source framework that makes it easy to build desktop-caliber applications that run in a web browser.</string>
		<key>JavaScript Prototype &amp; Script_aculo_us</key>
		<string>Support for the Prototype JavaScript library.</string>
		<key>JavaScript YUI</key>
		<string></string>
		<key>JavaScript jQuery</key>
		<string>Support for the jQuery JavaScript library.</string>
		<key>Latex</key>
		<string>Support for the LaTeX typesetting system, the de facto standard for scientific papers.</string>
		<key>Lex-Flex</key>
		<string>Lex/Flex is a lexical analyzer generator.</string>
		<key>Lex:Flex</key>
		<string>Lex/Flex is a lexical analyzer generator.</string>
		<key>Lighttpd</key>
		<string>Syntax highlight for Lighttpd configuration files.</string>
		<key>Lilypond</key>
		<string>Support for the Lilypond music notation format.</string>
		<key>Lisp</key>
		<string>Support for the Lisp functional programming language.</string>
		<key>Logo</key>
		<string>Support for Logo, the educational programming language best known for its turtle drawing mode.</string>
		<key>Logtalk</key>
		<string>Logtalk is an object-oriented extension to Prolog.</string>
		<key>Lua</key>
		<string>Support the Lua programming language, ideal for use as an embedded scripting language.</string>
		<key>MEL</key>
		<string>The Maya Embedded Language is a scripting language used in Maya.</string>
		<key>MIPS</key>
		<string>Support for MIPS assembler.</string>
		<key>MacPorts</key>
		<string>Syntax highlight and a template for the portfile format used by MacPorts.</string>
		<key>Mail</key>
		<string>Support for writing email messages.</string>
		<key>Makefile</key>
		<string>Minimal syntax highlight and a build (make) command.</string>
		<key>Man Pages</key>
		<string>Syntax highlight for man pages and a few commands.</string>
		<key>Markdown</key>
		<string>Markdown allows you to write using an easy-to-read, easy-to-write plain text format, then convert it to structurally valid XHTML. This bundle provides preview functionality, syntax highlighting, and several useful commands.</string>
		<key>Math</key>
		<string>Support for performing different calculations inside TextMate.</string>
		<key>Matlab</key>
		<string>Support for MATLAB, and  Octave, two largely compatible high-level languages that enables you to perform computationally intensive tasks faster than with traditional programming languages.</string>
		<key>Maven</key>
		<string>Support for working with Maven based projects.</string>
		<key>Mediawiki</key>
		<string>MediaWiki is the wiki package originally written for Wikipedia.</string>
		<key>Mercurial</key>
		<string>Mercurial is a source Control Management system designed for efficient handling of very large distributed projects.</string>
		<key>Modula</key>
		<string>Support for Modula, a descendant of the Pascal programming language.</string>
		<key>MoinMoin</key>
		<string>Support for the syntax used by the MoinMoin wiki engine.</string>
		<key>Movable Type</key>
		<string>Support for creating templates for the Movable Type content management system.</string>
		<key>Navigation</key>
		<string>Experimental bundle with some navigation commands, like jump to closing parenthesis, etc.</string>
		<key>Nemerle</key>
		<string>Nemerle is a high-level statically-typed programming language for the .NET platform. It offers functional, object-oriented and imperative features. It has a simple C#-like syntax and a powerful meta-programming system.</string>
		<key>Nu</key>
		<string>An interpreted object-oriented language designed to interoperate with Objective-C.</string>
		<key>OCaml</key>
		<string>Objective Caml is a general-purpose programming language. While object oriented, it also supports functional programming styles.</string>
		<key>OCaml Experimental Completions</key>
		<string>Generic completion system for OCaml.</string>
		<key>OCamlCodeCompletion</key>
		<string>Code completion, in the form of a lot of snippets, for OCaml.</string>
		<key>OCamlCodeCompletion Misc</key>
		<string>Code completion, in the form of a lot of snippets, for OCaml.</string>
		<key>OCamlCodeCompletion Unix</key>
		<string>Code completion, in the form of a lot of snippets, for OCaml.</string>
		<key>ODCompletion</key>
		<string>Code completion snippets for Objective-C, inspired by the Objective Development code completion dictionary for Xcode.</string>
		<key>Objective-C</key>
		<string>The language used for writing Cocoa applications. This bundle supports documentation lookups, method completion, and more.</string>
		<key>OpenGL</key>
		<string>Syntax highlight for functions found in the OpenGL 3D graphics library.</string>
		<key>Outlines</key>
		<string>Various commands for converting textual outlines (defined via indent) to other formats, such as HTML and LaTeX.</string>
		<key>PHP</key>
		<string>PHP is a widely-used general-purpose scripting language that is especially suited for web development and can be embedded into HTML.</string>
		<key>PHP Smarty</key>
		<string>Smarty is a template/presentation framework built on PHP.</string>
		<key>PHP Symfony</key>
		<string>Symfony is a web application framework for PHP5 projects.</string>
		<key>Pascal</key>
		<string>Support for the Pascal programming language.</string>
		<key>Perforce</key>
		<string>Perforce is a commercial source control management system.</string>
		<key>Perl</key>
		<string>Support for the Perl programming language.</string>
		<key>Perl HTML-Template</key>
		<string>HTML::Template is a template processing system for Perl.</string>
		<key>Perl Mason</key>
		<string>With Mason you can embed Perl code in your HTML.</string>
		<key>Perl Template Toolkit</key>
		<string>Template Toolkit is a fast, powerful and extensible template processing system for Perl.</string>
		<key>PmWiki</key>
		<string>Language grammar and lots of snippets for the PmWiki system.</string>
		<key>Postscript</key>
		<string>Support for the Postscript langauge, generally associated with printers.</string>
		<key>Processing</key>
		<string>Processing is an open source programming language and environment for people who want to program images, animation, and sound.</string>
		<key>Prolog</key>
		<string>Prolog is a logic programming language. It is a general purpose language, which is especially associated with artificial intelligence and computational linguistics.</string>
		<key>Propel</key>
		<string>Propel is a PHP ORM (Object Relational Mapper, i.e. gives you OO access to a relational database).</string>
		<key>Property List</key>
		<string>Support for the various forms of Apple’s Property List format (originally from NeXT).</string>
		<key>Python</key>
		<string>Support for the Python programming language.</string>
		<key>Python Django</key>
		<string>Support for the Django web framework (Python).</string>
		<key>Python Django Templates</key>
		<string>Support for the Django web framework HTML extensions.</string>
		<key>Quake</key>
		<string>Support for editing your Quake configuration files.</string>
		<key>R</key>
		<string>R is a free software environment for statistical computing and graphics. This bundle includes a command that sends current line to the R environment.</string>
		<key>Ragel</key>
		<string>Ragel compiles finite state machines from regular languages into executable C, C++, Objective-C, or D code.</string>
		<key>RegularExpressions</key>
		<string>Miscellaneous support for working with regular expressions.</string>
		<key>Remind</key>
		<string>Support for the remind shell command, includes showing upcoming events and editing your remind file with syntax highlight and useful snippets.</string>
		<key>Rez</key>
		<string>A resource description file is Mac-specific and used to compile the resource fork of a file using the rez shell command.</string>
		<key>Ruby</key>
		<string>Support for the Ruby programming language.</string>
		<key>Ruby Haml</key>
		<string>HTML Abstraction Markup Language is a templating engine for Ruby on Rails.</string>
		<key>Ruby RSpec</key>
		<string>Support for the RSpec behavior driven development framework.</string>
		<key>Ruby on Rails</key>
		<string>Ruby on Rails is a full-stack framework for developing database-backed web applications, in Ruby, according to the Model-View-Control pattern.</string>
		<key>S5</key>
		<string>S5 is a slide show format based entirely on XHTML, CSS, and JavaScript. This bundle contains a template, snippets, and commands to easily create, present, and export S5 slide shows.</string>
		<key>SCons</key>
		<string>SCons is an Open Source software construction tool—that is, a next-generation build tool. Think of SCons as an improved, cross-platform substitute for the classic Make utility.</string>
		<key>SQL</key>
		<string></string>
		<key>SSH-Config</key>
		<string>Syntax highlight for ssh configuration files.</string>
		<key>SVK</key>
		<string>svk is a decentralized version control system built with the robust Subversion filesystem. It supports repository mirroring, disconnected operation, history-sensitive merging, and integrates with other version control systems.</string>
		<key>SWIG</key>
		<string>SWIG is a software development tool that connects programs written in C and C++ with a variety of high-level programming languages.</string>
		<key>SWeave</key>
		<string>Sweave is basically LaTeX with inline R code.</string>
		<key>Scheme</key>
		<string>Scheme is a statically scoped and properly tail-recursive dialect of the Lisp programming language.</string>
		<key>Scilab</key>
		<string>Scilab is a numerical computational package developed by INRIA and ENPC in France. It is similar in functionality to MATLAB and is available to download at no cost.</string>
		<key>Setext</key>
		<string>Setext is a simple text formatting language that was originally designed for use in simple email and USENET exchanges.</string>
		<key>ShellScript</key>
		<string>Support for running and editing shell scripts (using the bash dialect).</string>
		<key>Slate</key>
		<string>Slate is a prototype-based object-oriented programming language based on Self, CLOS, and Smalltalk-80. Slate syntax is intended to be as familiar as possible to a Smalltalker.</string>
		<key>Source</key>
		<string>Miscellaneous support for working with source code. This bundle is essential, e.g. it allows you to toggle comments on ⌘/.</string>
		<key>Standard ML</key>
		<string>Standard ML is a safe, modular, strict, functional, polymorphic programming language with compile-time type checking and type inference, garbage collection, exception handling, immutable data types and updatable references, abstract data types, and parametric modules.</string>
		<key>Subversion</key>
		<string>Provides a nice interface to a multitude of Subversion commands.</string>
		<key>TODO</key>
		<string>If you tag your comments with TODO, FIXME, or similar, this bundle provides functionality to list all your tagged items, with the ability to jump to either of them.</string>
		<key>Tabular</key>
		<string>Support for comma and tab separated values (CSV and TSV).</string>
		<key>Tcl</key>
		<string>Tcl (Tool Command Language) is a very powerful but easy to learn dynamic programming language, suitable for a very wide range of uses. It is often used to write GUI frontends for UNIX stuff.</string>
		<key>TerminalMate</key>
		<string>TerminalMate is a terminal for TextMate. It is inspired by emacs’s inferior-modes.</string>
		<key>Text</key>
		<string>The text bundle has a lot of support for plain text and is a requisite for working with text.</string>
		<key>TextMate</key>
		<string>This bundle has functionality which add to the application but is not related to a specific task (bundle).</string>
		<key>Textile</key>
		<string>Textile is a lightweight markup language originally developed by Dean Allen and billed as a “humane Web text generator”. Textile converts its marked-up text input to valid, well-formed XHTML.</string>
		<key>Thrift</key>
		<string>Thrift is a cross-language serialization and RPC framework.</string>
		<key>Transmit</key>
		<string>Commands to upload files via Transmit.</string>
		<key>Twiki</key>
		<string>Syntax highlight for the markup language used by the Twiki wiki system.</string>
		<key>Txt2tags</key>
		<string>Txt2tags  converts text files with minimal markup to HTML, XHTML, SGML, LaTeX, Lout, Man page, Wikipedia, Google Code Wiki, DokuWiki, MoinMoin, MagicPoint and PageMaker. 	</string>
		<key>Vectorscript</key>
		<string>The scripting language used by the VectorWorks CAD software.</string>
		<key>Widget Creator</key>
		<string>This bundle allows you to create a Dashboard Widget from your current document, be it a Ruby, Python, Perl, shell, or whatever script.</string>
		<key>XML</key>
		<string>Support for the eXtensible Markup Language.</string>
		<key>Xcode</key>
		<string>This bundle is primarily to support building Xcode project files, running the target, and related actions.</string>
		<key>YAML</key>
		<string>YAML is a straightforward machine parsable data serialization format designed for human readability and interaction with scripting languages such as Perl and Python.</string>
		<key>iCalendar</key>
		<string>Syntax highlight for the iCalendar format.</string>
		<key>iTerm</key>
		<string>Various commands to be used with the iTerm application.</string>
		<key>reStructuredText</key>
		<string>Support for the reST markup language chosen as the documentation format for Python.</string>
	</dict>
	<key>R</key>
	<dict>
		<key>ActionScript 3</key>
		<string>ActionScript 3 is a scripting language based on the ECMAScript standard and commonly run by the Adobe Flash Player.</string>
		<key>Almost Plain Text (APT)</key>
		<string>A simple text markup language used for converting into other formats such as XML, LaTeX.</string>
		<key>Ant</key>
		<string>Ant is a Java-based build tool.</string>
		<key>C#</key>
		<string>Language grammar, snippets, and more for the C# language. Which is intended to be a simple, modern, general-purpose, object-oriented programming language. To be executed through an implementation of the Common Language Runtime (CLR). Such as the Microsoft .NET Initiative, Mono or dotGNU.</string>
		<key>C++ completion</key>
		<string></string>
		<key>CMake</key>
		<string>CMake is an open-source, cross-platform build system.</string>
		<key>CSS</key>
		<string>The cascading stylesheet language is used in web pages. This bundle has syntax highlight, lots of snippets, validation, and more.</string>
		<key>ColdFusion</key>
		<string>Support for the ColdFusion web development environment from Adobe.</string>
		<key>Confluence</key>
		<string>Confluence (http://atlassian.com/confluence) markup format</string>
		<key>Cron</key>
		<string>Support for crontab files part of the cron scheduling system used on many Unix-like systems.</string>
		<key>F Sharp</key>
		<string></string>
		<key>Flex</key>
		<string>Flex is the SDK used to build Flash Applications using the MXML markup languge and ActionScript 3.</string>
		<key>Forth</key>
		<string>A stack-based programming language.</string>
		<key>GetBundles</key>
		<string>GUI to install TextMate bundles coming from different svn or git hosts.</string>
		<key>Google Code</key>
		<string></string>
		<key>HTML Revised</key>
		<string>Support for the Hypertext Markup Language.</string>
		<key>JSFL</key>
		<string>JSFL (Flash JavaScript) is a JavaScript API used to automate the Adobe Flash Authoring Environment.</string>
		<key>Java Velocity</key>
		<string>Support for the Velocity templating language.</string>
		<key>JavaScript</key>
		<string>Support for JavaScript.</string>
		<key>JavaScript JSDoc</key>
		<string>JSDoc is a tool that parses inline documentation in JavaScript source files, and produces an documentation of the JavaScript code.</string>
		<key>JavaScript MooTools</key>
		<string>Mootools framework by Valerio Proietti.</string>
		<key>JavaScript Objective-J</key>
		<string>Support for the Objective-J (cappuccino) web application development environment. Cappuccino is an open source framework that makes it easy to build desktop-caliber applications that run in a web browser and in TextMate's HTML output window.</string>
		<key>JavaScript Prototype &amp; Script_aculo_us</key>
		<string>Support for the Prototype JavaScript library.</string>
		<key>K</key>
		<string>A bundle for the programming language K.  For more info, refer to Kx Systems.</string>
		<key>Licenses</key>
		<string></string>
		<key>Limbo</key>
		<string></string>
		<key>Maude</key>
		<string>Support for the Maude rewriting logic system.</string>
		<key>Objective-C Unit Testing</key>
		<string>For running Objextive-C unit tests using the unit testing framework included with Xcode.</string>
		<key>PHP Cake</key>
		<string>CakePHP is a rapid development framework for PHP.  This bundle enhances development further by simplifying many common tasks.</string>
		<key>PHP Drupal</key>
		<string>An open source framework and content management system written in PHP.</string>
		<key>Parrot</key>
		<string>This bundle contains language grammar and snippets for PIR programming language from parrot VM.</string>
		<key>R</key>
		<string>R is a free software environment for statistical computing and graphics. This bundle includes a command that sends current line to the R.app environment or to the Rdaemon.</string>
		<key>R Console (R_app)</key>
		<string>Extension to the R.bundle to remote Mac's R GUI R.app</string>
		<key>R Console (Rdaemon)</key>
		<string>Extension to the R.bundle to run a R Terminal inside of a TextMate window.</string>
		<key>RelaxNG</key>
		<string></string>
		<key>Ruby Sass</key>
		<string>Template language for easily creating CSS; implemented in ruby.</string>
		<key>Ruby Shoulda</key>
		<string>Support for the Shoulda testing framework.</string>
		<key>Scala</key>
		<string>A general purpose programming language combining both object-oriented and functional language features. Runs on the Java Virtual Machine and is interoperable with Java.</string>
		<key>Scratch</key>
		<string>Utilities for scratch (temporary) files.</string>
		<key>SecondLife LSL</key>
		<string>The Linden Scripting Language used by the game Second Life.</string>
		<key>Subversion++</key>
		<string></string>
		<key>TYPO3</key>
		<string>Language grammar, snippets, and more for TYPO3 content management framework.</string>
		<key>Taskmate</key>
		<string>The missing GTD bundle for your favorite texteditor</string>
		<key>Tasks</key>
		<string>Work with to-do lists.</string>
		<key>Treetop</key>
		<string></string>
		<key>Twig</key>
		<string>Twig is the templating engine for the Chyrp blogging system.</string>
		<key>Unicode</key>
		<string>Bundle concerning commands, scripts, etc. to deal with general Unicode resp. non-ASCII related tasks.</string>
		<key>XQuery</key>
		<string>XQuery is a language for querying collections of XML data.</string>
	</dict>
</dict>
</plist>
