<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>wp483@pbearyy.rqh</string>
	<key>contactName</key>
	<string>Jiun Wei Chia</string>
	<key>description</key>
	<string>&lt;a href=&quot;http://www.scilab.org/&quot;&gt;Scilab&lt;/a&gt; is a numerical computational package developed by INRIA and ENPC in France. It is similar in functionality to MATLAB and is available to download at no cost.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>14038705-CA2C-4386-8B21-3EEF52A15537</string>
			<string>FCD467AA-0FAF-4B63-A613-E7175B80709A</string>
			<string>------------------------------------</string>
			<string>07939D64-FDFF-4319-9659-755597BEBC15</string>
			<string>B1615F0A-61DF-45DD-82AA-0A6410A29E14</string>
			<string>------------------------------------</string>
			<string>B2908B89-B064-447E-B3A7-C03D4BEE6D1C</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>07939D64-FDFF-4319-9659-755597BEBC15</key>
			<dict>
				<key>items</key>
				<array>
					<string>B2D06182-E594-40F4-8FFE-E96B9F45EC1C</string>
					<string>------------------------------------</string>
					<string>B9B4D734-CF90-4D19-9EC6-3B57CFF3F759</string>
					<string>------------------------------------</string>
					<string>59BFC296-FAB3-45EE-B9D3-B57841A4D3C5</string>
					<string>38B7443F-1F47-42AB-A74A-79EB40FDE7C0</string>
					<string>9D1CCE73-07D7-4F3C-A181-76C5950A0D1E</string>
					<string>------------------------------------</string>
					<string>997D2E8F-7379-44CA-BFCF-93F46ACA3D24</string>
					<string>C4962F23-F7E2-42E4-A375-3CEE9E5B4C22</string>
					<string>------------------------------------</string>
					<string>A76108A2-B2DF-4635-B693-FA64609D65E6</string>
				</array>
				<key>name</key>
				<string>Code Blocks</string>
			</dict>
			<key>B1615F0A-61DF-45DD-82AA-0A6410A29E14</key>
			<dict>
				<key>items</key>
				<array>
					<string>6D03A104-F2A7-4141-B102-54CB1BAA58F1</string>
					<string>E10F3484-A015-4C1E-AC21-3AFE10B24DA8</string>
					<string>ADFCB962-5271-4BD9-8A1F-9E9913C1EFAA</string>
					<string>------------------------------------</string>
					<string>CD8A35E6-C4F3-4D94-BF65-B2D8916AAD44</string>
					<string>A41372BE-D782-4236-ACFC-BF88630D78AC</string>
					<string>38FBBBEA-4064-4A06-9FC5-09B286892CB7</string>
					<string>1A24ECE9-7AF7-4CAB-9C8F-5C1B7B5E2231</string>
					<string>------------------------------------</string>
					<string>2B4C5133-C32A-4305-B6B1-CB88FB2A28BE</string>
					<string>C05BF6A0-185E-4093-BBCE-DEC0F0C16915</string>
					<string>CF4617F0-175E-482B-990B-70AA75DA1231</string>
					<string>0CC94185-7A16-4ACE-9D81-CF20D175E465</string>
				</array>
				<key>name</key>
				<string>Common Functions</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Scilab</string>
	<key>ordering</key>
	<array>
		<string>14038705-CA2C-4386-8B21-3EEF52A15537</string>
		<string>FCD467AA-0FAF-4B63-A613-E7175B80709A</string>
		<string>B2908B89-B064-447E-B3A7-C03D4BEE6D1C</string>
		<string>14374AA3-A329-4623-8DFA-1ACC2CE222B9</string>
		<string>B2D06182-E594-40F4-8FFE-E96B9F45EC1C</string>
		<string>B9B4D734-CF90-4D19-9EC6-3B57CFF3F759</string>
		<string>59BFC296-FAB3-45EE-B9D3-B57841A4D3C5</string>
		<string>38B7443F-1F47-42AB-A74A-79EB40FDE7C0</string>
		<string>9D1CCE73-07D7-4F3C-A181-76C5950A0D1E</string>
		<string>997D2E8F-7379-44CA-BFCF-93F46ACA3D24</string>
		<string>C4962F23-F7E2-42E4-A375-3CEE9E5B4C22</string>
		<string>A76108A2-B2DF-4635-B693-FA64609D65E6</string>
		<string>334A45F4-210A-48E2-A539-2576F882C4FE</string>
		<string>6D03A104-F2A7-4141-B102-54CB1BAA58F1</string>
		<string>E10F3484-A015-4C1E-AC21-3AFE10B24DA8</string>
		<string>ADFCB962-5271-4BD9-8A1F-9E9913C1EFAA</string>
		<string>CD8A35E6-C4F3-4D94-BF65-B2D8916AAD44</string>
		<string>A41372BE-D782-4236-ACFC-BF88630D78AC</string>
		<string>38FBBBEA-4064-4A06-9FC5-09B286892CB7</string>
		<string>1A24ECE9-7AF7-4CAB-9C8F-5C1B7B5E2231</string>
		<string>2B4C5133-C32A-4305-B6B1-CB88FB2A28BE</string>
		<string>C05BF6A0-185E-4093-BBCE-DEC0F0C16915</string>
		<string>CF4617F0-175E-482B-990B-70AA75DA1231</string>
		<string>0CC94185-7A16-4ACE-9D81-CF20D175E465</string>
		<string>B4242F8A-C36A-4275-BC65-1DD4BE1AD758</string>
		<string>D584442F-F817-457C-B894-205B5F154A0E</string>
	</array>
	<key>uuid</key>
	<string>C397B72C-7519-44CD-8533-7AB7F701C4E4</string>
</dict>
</plist>
