<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;%= link_to "$1", :controller =&gt; "$2" %&gt;</string>
	<key>name</key>
	<string>rails link_to controller</string>
	<key>trigger</key>
	<string>lic</string>
	<key>uuid</key>
	<string>6670860C-62C3-11D9-B8CF-000D93589AF6</string>
</dict>
</plist>
