<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;%= error_messages_for '$1' %&gt;</string>
	<key>name</key>
	<string>eruby error_messages_for</string>
	<key>tabTrigger</key>
	<string>eemf</string>
	<key>uuid</key>
	<string>F66D57F8-8762-11D9-897C-000393CBCE2E</string>
</dict>
</plist>
