<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>redirect_to :controller =&gt; '$1', :action =&gt; '$2', :id =&gt; '$3' and return</string>
	<key>name</key>
	<string>rails redirect_to + id</string>
	<key>tabTrigger</key>
	<string>rdid</string>
	<key>uuid</key>
	<string>A24B9AB2-8763-11D9-897C-000393CBCE2E</string>
</dict>
</plist>
