<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>render_action '$1' and return</string>
	<key>name</key>
	<string>rails render_action</string>
	<key>tabTrigger</key>
	<string>ra</string>
	<key>uuid</key>
	<string>CEF05A5E-8763-11D9-897C-000393CBCE2E</string>
</dict>
</plist>
