/* ================================= */
/* = Common Stuff for all Commands = */
/* ================================= */

.bright {
	background: #FFF;
	color: #000;
}
.bright a {
	color: #0D2681;
}

.bright h1 {
	text-shadow:  #DDDDDD 3px 3px 5px;
	color: #333;
}
.bright h2 {
	color: #222;
	text-shadow:  #DDDDDD 3px 3px 5px;
}
.bright h3 {
	color: #333;
	text-shadow:  #DDDDDD 3px 3px 5px;
}
.bright h4 {
	color: #666;
}

.bright blockquote {
	border-left: 4px solid #E6E5DD;
}
.bright code {
	color: #1C360C;
}

.bright pre {
	background-color: #f0f0f0;
	border: 1px solid #cccbba;
}

.bright .pro_table {
	border-top: 1px solid #919699;
	border-left: 1px solid #919699;
}
.bright .pro_table th {
	background: #E2E2E2;
	border-bottom: 1px solid #919699;
	border-right: 1px solid #919699;
}
.bright .pro_table td {
	border-bottom: 1px solid #919699;
	border-right: 1px solid #919699;
}
.bright .footnote {
	color: #525151;
}
.bright .footnote:before {
	color: #525151;
}
.bright .footnote:after {
	color: #525151;
}
.bright div.footnotes {
   background: #F0F0F0;
}

/* ================ */
/* = Remind Table = */
/* ================ */

.bright .remind_table td {
	background-color: #D0D0D0;
}

.bright .remind_table .cell {
	background-color: #FFFFFF;
}

.bright .remind_table #nada {
	background-color: #F8F8F8;
}

.bright .remind_table #today {
	background-color: #FED7FA;
	border: 2px solid #98268B;
}

/* ============ */
/* = SQL Table  */
/* ============ */

.bright .sql_table th {
	border-bottom: 1px solid #919699;
	border-right: 1px solid #919699;
}
/* =================== */
/* = RubyMate Styles = */
/* =================== */

div.rubymate pre em
div.rubymate div#exception_report
div.rubymate p#exception strong
div.rubymate p#traceback
/* ===================== */
/* = Subversion Styles = */
/* ===================== */

.bright div.subversion {
/*	background-color: #f0f0f0;*/
/*	border: 1px solid #cccbba;*/
}
/* INFO */

.bright div.subversion dl.info.alternate dt {
   border-top: 1px dashed #ccc;
}

/* BLAME */

.bright div.subversion {
/*	background-color: #f0f0f0;*/
/*	border: 1px solid #cccbba;*/
}
/* some adds for the links in the table (clickable lines)..*/
.bright div.subversion table.blame a:hover, div.subversion table.blame a:active {
/*   background-color: #a3c8ff;*/
   color: inherit;
   text-decoration: none;
}

/* formating the table.. */
.bright div.subversion table.blame {
	background-color: #f0f0f0;
	border: 1px solid #cccbba;
}

.bright div.subversion table.blame th {
   text-align: left;
   background-color: #eee;
   border-bottom: 1px solid #999;
   padding: 3px;
   padding-bottom: 1px;
   padding-top: 1px;
   color: #666;
}

/* i have to format just these 2, because i just want
   borders beween the headers and not at their sides.. */
.bright div.subversion  table.blame th.revhead {
   border-left: 1px solid #bbb;
   border-right: 1px solid #bbb;
}

.bright div.subversion table.blame th.codehead {
   border-left: 1px solid #bbb;
}

/* to make it look good if a line gets wrapped: */
/* about the several column classes.. */
.bright div.subversion table.blame td.linecol {
   background-color: #ddd;
   border-right: 1px solid #999;
   color: #888;
   text-align: right;
}

.bright div.subversion table.blame td.revcol, .bright div.subversion table.blame td.namecol {
   text-align: right;
   background-color: #f8f8f8;
   color: #888;
   border-right: 1px solid #ddd;
   padding-right: 2px;
   padding-left: 2px;
}

.bright div.subversion table.blame td.namecol {
   border-right: 1px solid #aaa;
}

/* bitstream vera sans looks really _very_ good. But I like Luxi Mono better :p */
.bright div.subversion table.blame td.alternate {
	background-color: #E4E4E4;
}

/* maybe this should be implemented as id but its
   an optimisation for less ruby code. :) */
.bright div.subversion table.blame td.current_line {
   background-color: #F1D8F0;
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: #555;
}

/* Status */

