{
    beforeRunningCommand = nop; 
    command = "# views the disassembled bytecodes for the exported .swf\n# obtain flasm from http://www.nowrap.de/flasm.html\n# change path to binary as needed\n\nflasm -d \"$TM_SELECTED_FILE\""; 
    input = none; 
    keyEquivalent = "~\U00d4\U00fa\U00e8"; 
    name = "Disassemble .SWF"; 
    output = openAsNewDocument; 
    uuid = "022C9B78-88E9-11D9-9236-000A95C5F126"; 
    scope = "source.actionscript";
}
