<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#Check that flasm has been installed, if not warn the user.
require_cmd "flasm" "To view the disassembled bytecode for the selected .swf please install flasm in one of the locations below.&lt;br&gt;&lt;br&gt;usr/local/bin is recommended.&lt;br&gt;&lt;br&gt;Flasm can be found at &lt;a href=\"http://www.nowrap.de/flasm.html\"&gt;http://www.nowrap.de/flasm.html&lt;/a&gt;."

#Check a swf is selected otherwise show tooltip.
swfSelected=$( echo $TM_SELECTED_FILE | grep -i .swf )
if [ "$swfSelected" == "" ]; then
	echo "Please select a swf file from the project drawer."
	exit 206; 
fi

#process the swf with flasm.
flasm -d "$TM_SELECTED_FILE"</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>~</string>
	<key>name</key>
	<string>Disassemble .SWF</string>
	<key>output</key>
	<string>openAsNewDocument</string>
	<key>scope</key>
	<string>source.actionscript</string>
	<key>uuid</key>
	<string>022C9B78-88E9-11D9-9236-000A95C5F126</string>
</dict>
</plist>
