<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>"$TM_BUNDLE_SUPPORT/Tools/asd.rb"</string>
	<key>dontFollowNewOutput</key>
	<string>1</string>
	<key>fallbackInput</key>
	<string>word</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^h</string>
	<key>name</key>
	<string>Find in Actionscript Dictionary</string>
	<key>output</key>
	<string>discard</string>
	<key>scope</key>
	<string>source.actionscript.2 </string>
	<key>uuid</key>
	<string>8B98F650-78F7-11D9-B2B4-000A95C5F126</string>
</dict>
</plist>
