{
    beforeRunningCommand = saveModifiedFiles; 
    command = "# publishes the document which is open in flash\n\necho \"flash.getDocumentDOM().publish()\" > /tmp/test.jsfl;\nopen /tmp/test.jsfl;"; 
    input = none; 
    keyEquivalent = "$\U00d4\U00fa\U00e8"; 
    name = "Publish Movie"; 
    output = discard; 
    uuid = "6EE297DB-83BF-11D9-AD5A-000A95C5F126"; 
    scope = "source.actionscript";
}
