<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveModifiedFiles</string>
	<key>command</key>
	<string># assumes the .FLA file is already open

echo "flash.getDocumentDOM().testMovie()" &gt; /tmp/test.jsfl;
open /tmp/test.jsfl;</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@r</string>
	<key>name</key>
	<string>Test Movie</string>
	<key>output</key>
	<string>discard</string>
	<key>scope</key>
	<string>source.actionscript.2</string>
	<key>uuid</key>
	<string>BE332E85-83B1-11D9-AD5A-000A95C5F126</string>
</dict>
</plist>
