{
    beforeRunningCommand = saveModifiedFiles; 
    command = "# assumes the .FLA file is already open\n\necho \"flash.getDocumentDOM().testMovie()\" > /tmp/test.jsfl;\nopen /tmp/test.jsfl;"; 
    input = none; 
    keyEquivalent = "@"; 
    name = "Test Movie"; 
    output = discard; 
    uuid = "BE332E85-83B1-11D9-AD5A-000A95C5F126"; 
    scope = "source.actionscript";
}
