<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Completions</string>
	<key>scope</key>
	<string>source.actionscript.2</string>
	<key>settings</key>
	<dict>
		<key>completions</key>
		<array>
			<string>__proto__</string>
			<string>_accProps</string>
			<string>_accProps</string>
			<string>_alpha</string>
			<string>_currentframe</string>
			<string>_droptarget</string>
			<string>_focusrect</string>
			<string>_framesloaded</string>
			<string>_global</string>
			<string>_height</string>
			<string>_level</string>
			<string>_lockroot</string>
			<string>_name</string>
			<string>_parent</string>
			<string>_quality</string>
			<string>_root</string>
			<string>_rotation</string>
			<string>_soundbuftime</string>
			<string>_target</string>
			<string>_targetInstanceName</string>
			<string>_totalframes</string>
			<string>_url</string>
			<string>_visible</string>
			<string>_width</string>
			<string>_x</string>
			<string>_xmouse</string>
			<string>_xscale</string>
			<string>_y</string>
			<string>_ymouse</string>
			<string>_yscale</string>
			<string>abs</string>
			<string>acos</string>
			<string>activePlayControl</string>
			<string>activityLevel</string>
			<string>addColumn</string>
			<string>addColumnAt</string>
			<string>addCuePoint</string>
			<string>addEventListener</string>
			<string>addItem</string>
			<string>addItemAt</string>
			<string>addListener</string>
			<string>addMenu</string>
			<string>addMenuAt</string>
			<string>addMenuItem</string>
			<string>addMenuItemAt</string>
			<string>addPage</string>
			<string>addProperty</string>
			<string>addRequestHeader</string>
			<string>addTreeNode</string>
			<string>addTreeNodeAt</string>
			<string>album</string>
			<string>align</string>
			<string>align</string>
			<string>allowDomain</string>
			<string>allowInsecureDomain</string>
			<string>appendChild</string>
			<string>apply</string>
			<string>arguments</string>
			<string>artist</string>
			<string>asin</string>
			<string>aspectRatio</string>
			<string>associateController</string>
			<string>associateDisplay</string>
			<string>atan</string>
			<string>atan2</string>
			<string>attachMovie</string>
			<string>attachSound</string>
			<string>attachVideo</string>
			<string>attributes</string>
			<string>autoLoad</string>
			<string>autoPlay</string>
			<string>autoSize</string>
			<string>autoSize</string>
			<string>avHardwareDisable</string>
			<string>background</string>
			<string>backgroundColor</string>
			<string>backgroundStyle</string>
			<string>BACKSPACE</string>
			<string>bandwidth</string>
			<string>beginFill</string>
			<string>beginGradientFill</string>
			<string>blockIndent</string>
			<string>bold</string>
			<string>border</string>
			<string>borderColor</string>
			<string>bottom</string>
			<string>bottomScroll</string>
			<string>broadcastMessage</string>
			<string>bufferLength</string>
			<string>bufferTime</string>
			<string>bullet</string>
			<string>buttonHeight</string>
			<string>buttonStyleDeclaration</string>
			<string>buttonWidth</string>
			<string>bytesLoaded</string>
			<string>bytesLoaded</string>
			<string>bytesTotal</string>
			<string>bytesTotal</string>
			<string>call</string>
			<string>cancelLabel</string>
			<string>CAPSLOCK</string>
			<string>caption</string>
			<string>CASEINSENSITIVE</string>
			<string>ceil</string>
			<string>cellRenderer</string>
			<string>charAt</string>
			<string>charCodeAt</string>
			<string>childNodes</string>
			<string>clear</string>
			<string>clearInterval</string>
			<string>cloneNode</string>
			<string>close</string>
			<string>close</string>
			<string>closeButton</string>
			<string>color</string>
			<string>columnCount</string>
			<string>columnNames</string>
			<string>comment</string>
			<string>concat</string>
			<string>condenseWhite</string>
			<string>connect</string>
			<string>constructor</string>
			<string>content</string>
			<string>contentPath</string>
			<string>contentType</string>
			<string>CONTROL</string>
			<string>controllerPolicy</string>
			<string>controlPlacement</string>
			<string>conversion</string>
			<string>copy</string>
			<string>cos</string>
			<string>create</string>
			<string>createChild</string>
			<string>createChildren</string>
			<string>createClassObject</string>
			<string>createElement</string>
			<string>createEmptyMovieClip</string>
			<string>createEmptyObject</string>
			<string>createLabel</string>
			<string>createMenu</string>
			<string>createObject</string>
			<string>createPopUp</string>
			<string>createSegment</string>
			<string>createTextField</string>
			<string>createTextNode</string>
			<string>cuePoints</string>
			<string>currentFps</string>
			<string>curveTo</string>
			<string>customItems</string>
			<string>data</string>
			<string>data</string>
			<string>dataProvider</string>
			<string>dateFormatter</string>
			<string>dayNames</string>
			<string>deblocking</string>
			<string>delete</string>
			<string>DELETEKEY</string>
			<string>deletePopUp</string>
			<string>DESCENDING</string>
			<string>destroyChildAt</string>
			<string>destroyObject</string>
			<string>direction</string>
			<string>disabledDays</string>
			<string>disabledRanges</string>
			<string>dispatchEvent</string>
			<string>displayedMonth</string>
			<string>displayedYear</string>
			<string>displayFull</string>
			<string>displayNormal</string>
			<string>docTypeDecl</string>
			<string>doLater</string>
			<string>doLayout</string>
			<string>doLayout</string>
			<string>domain</string>
			<string>DOWN</string>
			<string>draw</string>
			<string>drawRect</string>
			<string>dropdown</string>
			<string>dropdownWidth</string>
			<string>duplicateMovieClip</string>
			<string>duration</string>
			<string>E</string>
			<string>editable</string>
			<string>editField</string>
			<string>embedFonts</string>
			<string>enabled</string>
			<string>enabled</string>
			<string>END</string>
			<string>endFill</string>
			<string>ENTER</string>
			<string>ESCAPE</string>
			<string>eval</string>
			<string>exactSettings</string>
			<string>exp</string>
			<string>findText</string>
			<string>firstChild</string>
			<string>firstDayOfWeek</string>
			<string>firstVisibleNode</string>
			<string>floor</string>
			<string>flush</string>
			<string>focusedCell</string>
			<string>focusEnabled</string>
			<string>font</string>
			<string>fps</string>
			<string>fromCharCode</string>
			<string>gain</string>
			<string>genre</string>
			<string>getAscii</string>
			<string>getBeginIndex</string>
			<string>getBounds</string>
			<string>getBytesLoaded</string>
			<string>getBytesLoaded</string>
			<string>getBytesTotal</string>
			<string>getBytesTotal</string>
			<string>getCaretIndex</string>
			<string>getChildAt</string>
			<string>getCode</string>
			<string>getColumnAt</string>
			<string>getColumnIndex</string>
			<string>getCount</string>
			<string>getCuePoints</string>
			<string>getDate</string>
			<string>getDay</string>
			<string>getDepth</string>
			<string>getDisplayIndex</string>
			<string>getEndIndex</string>
			<string>getFocus</string>
			<string>getFocus</string>
			<string>getFontList</string>
			<string>getFullYear</string>
			<string>getHours</string>
			<string>getInstanceAtDepth</string>
			<string>getIsBranch</string>
			<string>getIsOpen</string>
			<string>getItemAt</string>
			<string>getLocal</string>
			<string>getMenuAt</string>
			<string>getMenuEnabledAt</string>
			<string>getMenuItemAt</string>
			<string>getMilliseconds</string>
			<string>getMinutes</string>
			<string>getMonth</string>
			<string>getNewTextFormat</string>
			<string>getNextHighestDepth</string>
			<string>getNodeDisplayedAt</string>
			<string>getPan</string>
			<string>getProgress</string>
			<string>getProperty</string>
			<string>getRGB</string>
			<string>getSeconds</string>
			<string>getSelected</string>
			<string>getSelectedText</string>
			<string>getSize</string>
			<string>getStyle</string>
			<string>getStyle</string>
			<string>getStyleNames</string>
			<string>getSWFVersion</string>
			<string>getText</string>
			<string>getTextExtent</string>
			<string>getTextFormat</string>
			<string>getTextSnapshot</string>
			<string>getTime</string>
			<string>getTimer</string>
			<string>getTimezoneOffset</string>
			<string>getTransform</string>
			<string>getTreeNodeAt</string>
			<string>getURL</string>
			<string>getUTCDate</string>
			<string>getUTCDay</string>
			<string>getUTCFullYear</string>
			<string>getUTCHours</string>
			<string>getUTCMilliseconds</string>
			<string>getUTCMinutes</string>
			<string>getUTCMonth</string>
			<string>getUTCSeconds</string>
			<string>getVersion</string>
			<string>getVolume</string>
			<string>getYear</string>
			<string>globalToLocal</string>
			<string>gotoAndPlay</string>
			<string>gotoAndStop</string>
			<string>groupName</string>
			<string>handleEvent</string>
			<string>hasAccessibility</string>
			<string>hasAudio</string>
			<string>hasAudioEncoder</string>
			<string>hasChildNodes</string>
			<string>hasEmbeddedVideo</string>
			<string>hasMP3</string>
			<string>hasOwnProperty</string>
			<string>hasPrinting</string>
			<string>hasScreenBroadcast</string>
			<string>hasScreenPlayback</string>
			<string>hasStreamingAudio</string>
			<string>hasStreamingVideo</string>
			<string>hasVideoEncoder</string>
			<string>headerHeight</string>
			<string>height</string>
			<string>height</string>
			<string>hide</string>
			<string>hide</string>
			<string>hideBuiltInItems</string>
			<string>hitArea</string>
			<string>hitTest</string>
			<string>hitTestTextNearPos</string>
			<string>hLineScrollSize</string>
			<string>HOME</string>
			<string>horizontal</string>
			<string>hPageScrollSize</string>
			<string>hPosition</string>
			<string>hscroll</string>
			<string>hScrollPolicy</string>
			<string>html</string>
			<string>html</string>
			<string>htmlText</string>
			<string>icon</string>
			<string>iconField</string>
			<string>iconFunction</string>
			<string>ignoreWhite</string>
			<string>indent</string>
			<string>indeterminate</string>
			<string>index</string>
			<string>indexOf</string>
			<string>indexOf</string>
			<string>init</string>
			<string>initialize</string>
			<string>initLayout</string>
			<string>INSERT</string>
			<string>insertBefore</string>
			<string>install</string>
			<string>invalidate</string>
			<string>invalidate</string>
			<string>isActive</string>
			<string>isDebugger</string>
			<string>isDown</string>
			<string>isFinite</string>
			<string>isNaN</string>
			<string>isToggled</string>
			<string>italic</string>
			<string>join</string>
			<string>keyDown</string>
			<string>keyUp</string>
			<string>label</string>
			<string>labelField</string>
			<string>labelFunction</string>
			<string>labelPlacement</string>
			<string>language</string>
			<string>lastChild</string>
			<string>lastIndexOf</string>
			<string>leading</string>
			<string>left</string>
			<string>LEFT</string>
			<string>leftMargin</string>
			<string>length</string>
			<string>length</string>
			<string>lineScrollSize</string>
			<string>lineStyle</string>
			<string>lineTo</string>
			<string>list</string>
			<string>LN2</string>
			<string>LN10</string>
			<string>load</string>
			<string>load</string>
			<string>loadClip</string>
			<string>loaded</string>
			<string>loadMovie</string>
			<string>loadMovieNum</string>
			<string>loadSound</string>
			<string>loadVariables</string>
			<string>loadVariablesNum</string>
			<string>LoadVars</string>
			<string>localFileReadDisable</string>
			<string>localToGlobal</string>
			<string>log</string>
			<string>LOG2E</string>
			<string>LOG10E</string>
			<string>manufacturer</string>
			<string>max</string>
			<string>MAX_VALUE</string>
			<string>maxChars</string>
			<string>maxChars</string>
			<string>maxHPosition</string>
			<string>maxhscroll</string>
			<string>maximum</string>
			<string>maxscroll</string>
			<string>maxVPosition</string>
			<string>mediaType</string>
			<string>menu</string>
			<string>message</string>
			<string>messageStyleDeclaration</string>
			<string>min</string>
			<string>MIN_VALUE</string>
			<string>minimum</string>
			<string>mode</string>
			<string>monthNames</string>
			<string>motionLevel</string>
			<string>motionTimeOut</string>
			<string>mouseWheelEnabled</string>
			<string>move</string>
			<string>move</string>
			<string>moveTo</string>
			<string>multiline</string>
			<string>multipleSelection</string>
			<string>muted</string>
			<string>name</string>
			<string>names</string>
			<string>NaN</string>
			<string>NEGATIVE_INFINITY</string>
			<string>nextFrame</string>
			<string>nextScene</string>
			<string>nextSibling</string>
			<string>nextValue</string>
			<string>nodeName</string>
			<string>nodeType</string>
			<string>nodeValue</string>
			<string>noLabel</string>
			<string>noScale</string>
			<string>numChildren</string>
			<string>NUMERIC</string>
			<string>okLabel</string>
			<string>onActivity</string>
			<string>onChanged</string>
			<string>onClipEvent</string>
			<string>onClose</string>
			<string>onConnect</string>
			<string>onData</string>
			<string>onDragOut</string>
			<string>onDragOver</string>
			<string>onEnterFrame</string>
			<string>onHTTPStatus</string>
			<string>onID3</string>
			<string>onKeyDown</string>
			<string>onKeyUp</string>
			<string>onKillFocus</string>
			<string>onLoad</string>
			<string>onLoadComplete</string>
			<string>onLoadError</string>
			<string>onLoadInit</string>
			<string>onLoadProgress</string>
			<string>onLoadStart</string>
			<string>onMouseDown</string>
			<string>onMouseMove</string>
			<string>onMouseUp</string>
			<string>onMouseWheel</string>
			<string>onPress</string>
			<string>onRelease</string>
			<string>onReleaseOutside</string>
			<string>onResize</string>
			<string>onRollOut</string>
			<string>onRollOver</string>
			<string>onScroller</string>
			<string>onSelect</string>
			<string>onSetFocus</string>
			<string>onSoundComplete</string>
			<string>onStatus</string>
			<string>onSync</string>
			<string>onUnload</string>
			<string>onUpdate</string>
			<string>onXML</string>
			<string>open</string>
			<string>orientation</string>
			<string>os</string>
			<string>pageHeight</string>
			<string>pageScrollSize</string>
			<string>pageWidth</string>
			<string>paperHeight</string>
			<string>paperWidth</string>
			<string>parentNode</string>
			<string>parseCSS</string>
			<string>parseFloat</string>
			<string>parseInt</string>
			<string>parseXML</string>
			<string>password</string>
			<string>password</string>
			<string>pause</string>
			<string>pause</string>
			<string>percentComplete</string>
			<string>percentLoaded</string>
			<string>PGDN</string>
			<string>PGUP</string>
			<string>PI</string>
			<string>pixelAspectRatio</string>
			<string>play</string>
			<string>play</string>
			<string>playerType</string>
			<string>playheadTime</string>
			<string>playing</string>
			<string>pop</string>
			<string>position</string>
			<string>POSITIVE_INFINITY</string>
			<string>pow</string>
			<string>preferredHeight</string>
			<string>preferredWidth</string>
			<string>pressFocus</string>
			<string>prevFrame</string>
			<string>previousSibling</string>
			<string>previousValue</string>
			<string>prevScene</string>
			<string>print</string>
			<string>printAsBitmap</string>
			<string>printAsBitmapNum</string>
			<string>printNum</string>
			<string>prototype</string>
			<string>pullDown</string>
			<string>push</string>
			<string>quality</string>
			<string>random</string>
			<string>rate</string>
			<string>redraw</string>
			<string>redraw</string>
			<string>refresh</string>
			<string>refreshPane</string>
			<string>registerClass</string>
			<string>releaseFocus</string>
			<string>removeAll</string>
			<string>removeAllColumns</string>
			<string>removeAllCuePoints</string>
			<string>removeColumnAt</string>
			<string>removeCuePoint</string>
			<string>removeEventListener</string>
			<string>removeItemAt</string>
			<string>removeListener</string>
			<string>removeMenuAt</string>
			<string>removeMenuItem</string>
			<string>removeMenuItemAt</string>
			<string>removeMovieClip</string>
			<string>removeNode</string>
			<string>removeTextField</string>
			<string>removeTreeNodeAt</string>
			<string>replaceItemAt</string>
			<string>replaceSel</string>
			<string>replaceText</string>
			<string>resizableColumns</string>
			<string>restrict</string>
			<string>restrict</string>
			<string>RETURNINDEXEDARRAY</string>
			<string>reverse</string>
			<string>right</string>
			<string>RIGHT</string>
			<string>rightMargin</string>
			<string>round</string>
			<string>rowCount</string>
			<string>rowHeight</string>
			<string>scaleContent</string>
			<string>scaleMode</string>
			<string>scaleX</string>
			<string>scaleY</string>
			<string>screenColor</string>
			<string>screenDPI</string>
			<string>screenResolutionX</string>
			<string>screenResolutionY</string>
			<string>scroll</string>
			<string>scrollDrag</string>
			<string>scrollPosition</string>
			<string>seek</string>
			<string>selectable</string>
			<string>selectable</string>
			<string>selectableRange</string>
			<string>selected</string>
			<string>selectedChild</string>
			<string>selectedData</string>
			<string>selectedDate</string>
			<string>selectedIndex</string>
			<string>selectedIndices</string>
			<string>selectedItem</string>
			<string>selectedItems</string>
			<string>selectedNode</string>
			<string>selectedNodes</string>
			<string>selection</string>
			<string>send</string>
			<string>sendAndLoad</string>
			<string>separatorBefore</string>
			<string>serverString</string>
			<string>setBufferTime</string>
			<string>setClipboard</string>
			<string>setDate</string>
			<string>setFocus</string>
			<string>setFocus</string>
			<string>setFullYear</string>
			<string>setGain</string>
			<string>setHours</string>
			<string>setHPosition</string>
			<string>setIcon</string>
			<string>setInterval</string>
			<string>setIsBranch</string>
			<string>setIsOpen</string>
			<string>setMask</string>
			<string>setMedia</string>
			<string>setMenuEnabledAt</string>
			<string>setMenuItemEnabled</string>
			<string>setMenuItemSelected</string>
			<string>setMilliseconds</string>
			<string>setMinutes</string>
			<string>setMode</string>
			<string>setMonth</string>
			<string>setMotionLevel</string>
			<string>setNewTextFormat</string>
			<string>setPan</string>
			<string>setProgress</string>
			<string>setPropertiesAt</string>
			<string>setProperty</string>
			<string>setRate</string>
			<string>setRGB</string>
			<string>setScrollProperties</string>
			<string>setScrollTarget</string>
			<string>setSeconds</string>
			<string>setSelectColor</string>
			<string>setSelected</string>
			<string>setSelection</string>
			<string>setSilenceLevel</string>
			<string>setSize</string>
			<string>setSize</string>
			<string>setStyle</string>
			<string>setStyle</string>
			<string>setTextFormat</string>
			<string>setTime</string>
			<string>setTransform</string>
			<string>setUseEchoSuppression</string>
			<string>setUTCDate</string>
			<string>setUTCFullYear</string>
			<string>setUTCHours</string>
			<string>setUTCMilliseconds</string>
			<string>setUTCMinutes</string>
			<string>setUTCMonth</string>
			<string>setUTCSeconds</string>
			<string>setVolume</string>
			<string>setYear</string>
			<string>shift</string>
			<string>SHIFT</string>
			<string>show</string>
			<string>show</string>
			<string>showHeaders</string>
			<string>showMenu</string>
			<string>showSettings</string>
			<string>showToday</string>
			<string>silenceLevel</string>
			<string>silenceTimeOut</string>
			<string>sin</string>
			<string>size</string>
			<string>size</string>
			<string>slice</string>
			<string>smoothing</string>
			<string>songtitle</string>
			<string>sort</string>
			<string>sortableColumns</string>
			<string>sortItems</string>
			<string>sortItemsBy</string>
			<string>sortOn</string>
			<string>source</string>
			<string>SPACE</string>
			<string>spaceColumnsEqually</string>
			<string>splice</string>
			<string>split</string>
			<string>sqrt</string>
			<string>SQRT1_2</string>
			<string>SQRT2</string>
			<string>start</string>
			<string>startDrag</string>
			<string>static</string>
			<string>status</string>
			<string>stepSize</string>
			<string>stop</string>
			<string>stop</string>
			<string>stopAllSounds</string>
			<string>stopDrag</string>
			<string>styleName</string>
			<string>styleSheet</string>
			<string>styleSheet</string>
			<string>substr</string>
			<string>substring</string>
			<string>swapDepths</string>
			<string>TAB</string>
			<string>tabChildren</string>
			<string>tabEnabled</string>
			<string>tabIndex</string>
			<string>tabIndex</string>
			<string>tabStops</string>
			<string>tan</string>
			<string>target</string>
			<string>text</string>
			<string>textColor</string>
			<string>textField</string>
			<string>textHeight</string>
			<string>textWidth</string>
			<string>title</string>
			<string>titleStyleDeclaration</string>
			<string>toggle</string>
			<string>toLowerCase</string>
			<string>top</string>
			<string>toString</string>
			<string>totalTime</string>
			<string>toUpperCase</string>
			<string>trace</string>
			<string>track</string>
			<string>trackAsMenu</string>
			<string>transform</string>
			<string>type</string>
			<string>typeof</string>
			<string>underline</string>
			<string>unescape</string>
			<string>uninstall</string>
			<string>UNIQUESORT</string>
			<string>unloadClip</string>
			<string>unloadMovie</string>
			<string>unloadMovieNum</string>
			<string>unshift</string>
			<string>unwatch</string>
			<string>UP</string>
			<string>updateAfterEvent</string>
			<string>updateProperties</string>
			<string>url</string>
			<string>useCodepage</string>
			<string>useEchoSuppression</string>
			<string>useHandCursor</string>
			<string>UTC</string>
			<string>value</string>
			<string>valueOf</string>
			<string>variable</string>
			<string>version</string>
			<string>visible</string>
			<string>vLineScrollSize</string>
			<string>volume</string>
			<string>vPageScrollSize</string>
			<string>vPosition</string>
			<string>vScrollPolicy</string>
			<string>watch</string>
			<string>width</string>
			<string>width</string>
			<string>windowlessDisable</string>
			<string>wordWrap</string>
			<string>wordWrap</string>
			<string>x</string>
			<string>xmlDecl</string>
			<string>y</string>
			<string>year</string>
			<string>yesLabel</string>
		</array>
	</dict>
	<key>uuid</key>
	<string>8C552A99-B28E-47FB-A5EE-F534066E4DD7</string>
</dict>
</plist>
