<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{include_php file="$1" [once=true foo="bar"] }</string>
	<key>name</key>
	<string>Include PHP</string>
	<key>scope</key>
	<string>text.html.smarty</string>
	<key>tabTrigger</key>
	<string>{include_php</string>
	<key>uuid</key>
	<string>44281B93-3CA5-4A50-9444-120B778FC4FE</string>
</dict>
</plist>
