<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>|capitalize</string>
	<key>name</key>
	<string>Capitalize</string>
	<key>scope</key>
	<string>text.html.smarty</string>
	<key>tabTrigger</key>
	<string>|capitalize</string>
	<key>uuid</key>
	<string>F68F299E-A8DC-4E77-88DB-C0956D990838</string>
</dict>
</plist>
