<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{cycle values="#SELSTART#foo,bar#SELEND#" name="default" print=true advance=true delimiter="," assign=varname }</string>
	<key>name</key>
	<string>Cycle</string>
	<key>scope</key>
	<string>text.html.smarty</string>
	<key>tabTrigger</key>
	<string>{cycle</string>
	<key>uuid</key>
	<string>0A272099-C1BD-4871-8C6A-0CE3947CADCC</string>
</dict>
</plist>
