<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{capture name=#INSERTION#}
#SELECT#
{/capture}</string>
	<key>name</key>
	<string>Capture</string>
	<key>scope</key>
	<string>text.html.smarty</string>
	<key>tabTrigger</key>
	<string>{capture</string>
	<key>uuid</key>
	<string>D133AAD0-4E0A-45A7-B67B-43456AF97CB2</string>
</dict>
</plist>
