<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>|string_format:"${1:sprintf formatting}" </string>
	<key>name</key>
	<string>String Format</string>
	<key>scope</key>
	<string>text.html.smarty</string>
	<key>tabTrigger</key>
	<string>|string_format</string>
	<key>uuid</key>
	<string>F6E2E40A-B7D1-452A-883B-F4BF393ABA30</string>
</dict>
</plist>
