<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{counter name="#INSERTION#" start=1 skip=1 direction="up" print=true assign="foo" }
{counter}</string>
	<key>name</key>
	<string>Counter</string>
	<key>scope</key>
	<string>text.html.smarty</string>
	<key>tabTrigger</key>
	<string>{counter</string>
	<key>uuid</key>
	<string>A51A1937-0FB5-4028-8AF5-D3DFF921DC96</string>
</dict>
</plist>
