<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>|replace:"${1:needle}":"$2" </string>
	<key>name</key>
	<string>Replace</string>
	<key>scope</key>
	<string>text.html.smarty</string>
	<key>tabTrigger</key>
	<string>|replace</string>
	<key>uuid</key>
	<string>35B81F37-5C62-46C2-A6A6-DF2306B8A189</string>
</dict>
</plist>
