<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{foreachelse}</string>
	<key>name</key>
	<string>Foreachelse</string>
	<key>scope</key>
	<string>text.html.smarty</string>
	<key>tabTrigger</key>
	<string>{foreachelse</string>
	<key>uuid</key>
	<string>E5976C09-D4C2-495C-8260-25152CD8395F</string>
</dict>
</plist>
