{
    name = "Tcl"; 
    scopeName = "source.tcl";
    
    fileTypes = ( tcl ); 
    
    foldingStartMarker = "\\{\\s*\\\\?$}"; 
    foldingStopMarker = "^\\s*\\}"; 
    
    increaseIndentPattern = "\\{[^\"']*$"; 

    highlightPairs = ( ("[", "]"), ("{", "}") ); 
    smartTypingPairs = ( ("[", "]"), ("{", "}"), ("\"", "\"") ); 

    patterns = (
		{   match = "(^|;)\\s*(#.*)$";
			captures = {
			    2 = { name = "comment.line.pound.tcl"; };
			};
		},
        {   match = "(?:^|[\\[{;])\\s*(eval|expr|if|while|for|file|string|catch|source|info|set|unset|pid|global|array|puts|gets|read|open|close|socket|eof|fconfigure|parray|return|break|continue|switch|package|proc|exit|glob|regexp|regsub|foreach|llength|lindex|concat|list|split|join|incr|error)\\b";
            captures = {
                1 = { name = "keyword.tcl"; };
            };
        },
		{   match = "(?:^|})\\s*(then|elseif|else)\\b";
		    captures = {
		        1 = { name = "keyword.if.tcl"; };
		    };
		},
		{   name = "dummy.escapes.tcl";
			match = "\\\\.";
		},
		{   name = "keyword.variable.tcl";
			match = "(\\$)(\\w+)";
		}/*,
        {   name = "string.double-quoted.tcl";
            foregroundColor = "#78CC33";
            begin = '"';
            end = '"';
            swallow = "\\\\.";
            patterns = (
                {   name = "string.double-quoted.escapes.tcl";
                    match = "\\([abfnrtv]|0\d{2}|x[a-fA-F]{2})";
					foregroundColor = "#aaaaaa";
                }
            );
        }*/
    );
	
	uuid = "F01F22AC-7CBB-11D9-9B10-000A95E13C98";
}
