<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>tcl</string>
	</array>
	<key>foldingStartMarker</key>
	<string>\{\s*\\?$}</string>
	<key>foldingStopMarker</key>
	<string>^\s*\}</string>
	<key>keyEquivalent</key>
	<string>^~T</string>
	<key>name</key>
	<string>Tcl</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>comment.line.number-sign.tcl</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(?&lt;=^|;)\s*(#.*)$</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.control.tcl</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(?&lt;=^|[\[{;])\s*(if|while|for|catch|return|break|continue|switch|exit|foreach)\b</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.control.tcl</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(?&lt;=^|})\s*(then|elseif|else)\b</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.other.tcl</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(?&lt;=^|[\[{;])\s*(after|append|array|auto_execok|auto_import|auto_load|auto_mkindex|auto_mkindex_old|auto_qualify|auto_reset|bgerror|binary|cd|clock|close|concat|dde|encoding|eof|error|eval|exec|expr|fblocked|fconfigure|fcopy|file|fileevent|filename|flush|format|gets|glob|global|history|http|incr|info|interp|join|lappend|library|lindex|linsert|list|llength|load|lrange|lreplace|lsearch|lset|lsort|memory|msgcat|namespace|open|package|parray|pid|pkg::create|pkg_mkIndex|proc|puts|pwd|re_syntax|read|regexp|registry|regsub|rename|resource|scan|seek|set|socket|SafeBase|source|split|string|subst|Tcl|tcl_endOfWord|tcl_findLibrary|tcl_startOfNextWord|tcl_startOfPreviousWord|tcl_wordBreakAfter|tcl_wordBreakBefore|tcltest|tclvars|tell|time|trace|unknown|unset|update|uplevel|upvar|variable|vwait)\b</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\\.</string>
			<key>name</key>
			<string>constant.character.escape.tcl</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(\$)(\w+)</string>
			<key>name</key>
			<string>variable.other.tcl</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>"</string>
			<key>end</key>
			<string>"</string>
			<key>name</key>
			<string>string.quoted.double.tcl</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>comment</key>
					<string>FIXME not sure this is the proper way to do Tcl escape sequences --Allan</string>
					<key>match</key>
					<string>\\([\[\]abfnrtv"\\]|0\d{2}|x[a-fA-F0-9]{2}|u[a-fA-F0-9]{4})</string>
					<key>name</key>
					<string>constant.character.escape.tcl</string>
				</dict>
				<dict>
					<key>comment</key>
					<string>FIXME what are legal variable characters? --Allan</string>
					<key>match</key>
					<string>\$([a-zA-Z]+|\{[a-zA-Z ]*\})</string>
					<key>name</key>
					<string>variable.other.tcl</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>\[</string>
					<key>end</key>
					<string>\]</string>
					<key>name</key>
					<string>source.tcl.embedded</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>source.tcl</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>scopeName</key>
	<string>source.tcl</string>
	<key>uuid</key>
	<string>F01F22AC-7CBB-11D9-9B10-000A95E13C98</string>
</dict>
</plist>
