{
    name = "Tcl"; 
    scopeName = "source.tcl";
    
    fileTypes = ( tcl ); 
    
    foldingStartMarker = "\\{\\s*\\\\?$}"; 
    foldingStopMarker = "^\\s*\\}"; 
    
    increaseIndentPattern = "\\{[^\"']*$"; 

    highlightPairs = ( ("[", "]"), ("{", "}") ); 
    smartTypingPairs = ( ("[", "]"), ("{", "}"), ("\"", "\"") ); 

    patterns = (
		{   match = "(^|;)\\s*(#.*)$";
			captures = {
			    2 = { name = "comment.line.number-sign.tcl"; };
			};
		},
		{   match = "(?:^|[\\[{;])\\s*(if|while|for|catch|return|break|continue|switch|exit|foreach)\\b";
		    captures = {
		        1 = { name = "keyword.control.tcl"; };
		    };
		},
		{   match = "(?:^|})\\s*(then|elseif|else)\\b";
		    captures = {
		        1 = { name = "keyword.control.tcl"; };
		    };
		},
        {   match = "(?:^|[\\[{;])\\s*(eval|expr|file|string|source|info|set|unset|pid|global|array|puts|gets|read|open|close|socket|eof|fconfigure|parray|package|proc|glob|regexp|regsub|llength|lindex|concat|list|split|join|incr|error)\\b";
            captures = {
                1 = { name = "keyword.other.tcl"; };
            };
        },
		{   name = "dummy.escapes.tcl";
			match = "\\\\.";
		},
		{   name = "variable.other.tcl";
			match = "(\\$)(\\w+)";
		},
        {   name = "string.quoted.double.tcl";
            begin = '"'; end = '"';
            patterns = (
                {   name = "constant.character.escape.tcl";
                    match = "\\([abfnrtv]|0\d{2}|x[a-fA-F]{2})";
                }
            );
        }
    );
	
	uuid = "F01F22AC-7CBB-11D9-9B10-000A95E13C98";
}
