<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>"${TM_PYTHON:=python}" "${TM_BUNDLE_PATH}/bin/entitynav.py" -f - -m "${TM_MODE}" -S | php "${TM_BUNDLE_PATH}/bin/nav2list.php"</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Special Items List -Sorted</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>633B63A4-A065-11D9-A07B-000A9584EC8C</string>
</dict>
</plist>
