<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>"${TM_BUNDLE_PATH}/bin/entitynav.py" -f - -E "${TM_FILENAME}" | php "${TM_BUNDLE_PATH}/bin/nav2list.php" </string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Special Items List</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>BF77788B-9418-11D9-84BA-000A957B2E42</string>
</dict>
</plist>
