<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>perl -e "while(&lt;&gt;){s/‘/\'/g;s/’/\'/g;s/–/--/g; print;}" | perl -e 'while(&lt;&gt;){s/“/\"/g; s/”/\"/g;print;}';
</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^~@'</string>
	<key>name</key>
	<string>Stupefy Quotes/Hyphens</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>uuid</key>
	<string>2F29F70E-6ABF-11D9-AF37-000D9332809C</string>
</dict>
</plist>
