<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;input name="$1" id="$2" type="file" accept="${3:list_of_mime_types}" tabindex="$4" /&gt;</string>
	<key>name</key>
	<string>   &lt;input file&gt;</string>
	<key>scope</key>
	<string>text.html.strict</string>
	<key>tabTrigger</key>
	<string>input</string>
	<key>uuid</key>
	<string>194D0300-BB00-11D9-99E8-000D93C8BE28</string>
</dict>
</plist>
