<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;input name="$1" id="$2" type="password" value="${3:default_value}" size="${4:num_of_chars}" maxlength="${5:num_of_chars}" tabindex="$6" ${7:disabled="disabled"} ${8:readonly="readonly"} /&gt;$0</string>
	<key>name</key>
	<string>   &lt;input password&gt; (input)</string>
	<key>scope</key>
	<string>text.xhtml</string>
	<key>tabTrigger</key>
	<string>input</string>
	<key>uuid</key>
	<string>F7E69CC4-BB01-11D9-99E8-000D93C8BE28</string>
</dict>
</plist>
