<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;optgroup label="${1:Label}"&gt;
	$0
&lt;/optgroup&gt;</string>
	<key>name</key>
	<string>   &lt;optgroup&gt; (optgroup)</string>
	<key>scope</key>
	<string>text.xhtml</string>
	<key>tabTrigger</key>
	<string>optgroup</string>
	<key>uuid</key>
	<string>CEE3DB72-BA3C-11D9-AD62-000D93589AF6</string>
</dict>
</plist>
