<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;input type="hidden" name="$1" value="${2:default_value}" /&gt;$0</string>
	<key>name</key>
	<string>   &lt;input hidden&gt; (input)</string>
	<key>scope</key>
	<string>text.html.strict</string>
	<key>tabTrigger</key>
	<string>input</string>
	<key>uuid</key>
	<string>6A7B8449-BB05-11D9-99E8-000D93C8BE28</string>
</dict>
</plist>
