<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;dl&gt;
  &lt;dt&gt;
    $0
  &lt;/dt&gt;
  &lt;dd&gt;&lt;/dd&gt;
&lt;/dl&gt;</string>
	<key>name</key>
	<string>  &lt;dl&gt;  (dl) </string>
	<key>scope</key>
	<string></string>
	<key>tabTrigger</key>
	<string>dl</string>
	<key>uuid</key>
	<string>0751EF00-914E-4579-B534-638FC783C990</string>
</dict>
</plist>
