<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;span class="hint"&gt;$0&lt;/span&gt;</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>  &lt;span class="hint"&gt;</string>
	<key>scope</key>
	<string></string>
	<key>tabTrigger</key>
	<string>hint</string>
	<key>uuid</key>
	<string>0D7FC9C4-ED4C-406E-8416-20319CE41758</string>
</dict>
</plist>
