<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;h5&gt;${1:`echo $TM_SELECTED_TEXT`}$0&lt;/h5&gt;</string>
	<key>name</key>
	<string>   &lt;h5&gt; (h5)</string>
	<key>scope</key>
	<string>text.html.strict</string>
	<key>tabTrigger</key>
	<string>h5</string>
	<key>uuid</key>
	<string>CEE1DF23-BA3C-11D9-AD62-000D93589AF6</string>
</dict>
</plist>
