<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>excludedItems</key>
		<array>
			<string>6435405A-6B00-4860-A7EB-AC7D63FF286A</string>
		</array>
		<key>items</key>
		<array>
			<string>8B351BE6-14CC-4C00-85ED-F307942A027F</string>
			<string>4FA629B0-2CD2-4833-9C9E-F44EE762A997</string>
			<string>------------------------------------</string>
			<string>0F08A7E4-18E3-4F51-BC7F-5FFC378340AB</string>
			<string>79D1758B-ADC2-4421-81E0-A59E13BA9485</string>
			<string>------------------------------------</string>
			<string>B8D8A919-B1D9-48BE-B19B-E544FF7BD8CC</string>
			<string>72E62411-1227-4115-BC7E-CA3BDBC95B26</string>
			<string>------------------------------------</string>
			<string>2CB361D7-E167-4B41-A094-07F6BD9FB896</string>
			<string>FAC2C75B-FCE5-4A7E-9B17-63E775BA6B21</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>Pascal</string>
	<key>ordering</key>
	<array>
		<string>8B351BE6-14CC-4C00-85ED-F307942A027F</string>
		<string>4FA629B0-2CD2-4833-9C9E-F44EE762A997</string>
		<string>0F08A7E4-18E3-4F51-BC7F-5FFC378340AB</string>
		<string>79D1758B-ADC2-4421-81E0-A59E13BA9485</string>
		<string>B8D8A919-B1D9-48BE-B19B-E544FF7BD8CC</string>
		<string>72E62411-1227-4115-BC7E-CA3BDBC95B26</string>
		<string>FAC2C75B-FCE5-4A7E-9B17-63E775BA6B21</string>
		<string>2CB361D7-E167-4B41-A094-07F6BD9FB896</string>
		<string>6435405A-6B00-4860-A7EB-AC7D63FF286A</string>
		<string>F42FA544-6B1C-11D9-9517-000D93589AF6</string>
		<string>84E8D096-0C4D-4830-A9EA-9C1DE257775F</string>
	</array>
	<key>uuid</key>
	<string>46799436-6227-11D9-BFB1-000D93589AF6</string>
</dict>
</plist>
