<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>set the_choice to choose from list ${1:{"${2:choices}"\}}
$0 </string>
	<key>name</key>
	<string>Item From List</string>
	<key>scope</key>
	<string>source.applescript</string>
	<key>tabTrigger</key>
	<string>choose</string>
	<key>uuid</key>
	<string>1D418F08-770F-4407-AE6A-3CCF2CD9FA6E</string>
</dict>
</plist>
