<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>display dialog "${1:text}" ¬
	${2:with icon ${3:caution}} ¬
	buttons {"${4:button 1}"${5:, "${6:button 2}"${7:, "${8:button 3}"}}} ¬
	default button ${7/(.+)?/(?1:3:2)/}
set button_pressed to button returned of result
if button_pressed is "$4" then
	${9:-- action for 1st button goes here}
${5/.+/else if button_pressed is "/}$6${5/.+/" then
	-- action for 2nd button goes here
/}${7/.+/else
	-- action for 3rd button goes here
/}end if</string>
	<key>name</key>
	<string>display dialog (dialog)</string>
	<key>scope</key>
	<string>source.applescript</string>
	<key>tabTrigger</key>
	<string>dialog</string>
	<key>uuid</key>
	<string>1D0100DC-87CF-4D25-91B6-767206398725</string>
</dict>
</plist>
