<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>${1:set the_file to }choose file with prompt "${2:Pick a file:}"${3: ¬
	default location path to home folder}${4: ¬
	with invisibles}${5: ¬
	with multiple selections allowed}${6: ¬
	with showing package contents}
$0</string>
	<key>name</key>
	<string>File(s)</string>
	<key>scope</key>
	<string>source.applescript</string>
	<key>tabTrigger</key>
	<string>choose</string>
	<key>uuid</key>
	<string>5C6AB1CA-170D-42A9-8E3C-961FE1054934</string>
</dict>
</plist>
