<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>if ${1:true} then
	${0:-- insert actions here}
else
	-- else branch
end if</string>
	<key>name</key>
	<string>if … else … end (ife)</string>
	<key>scope</key>
	<string>source.applescript</string>
	<key>tabTrigger</key>
	<string>ife</string>
	<key>uuid</key>
	<string>95BE35B8-C257-471C-803E-64C1ACF55835</string>
</dict>
</plist>
