<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>on ${1:functionName}(${2:arguments})
	${3:-- function actions}
end $1</string>
	<key>name</key>
	<string>on function … end</string>
	<key>scope</key>
	<string>source.applescript</string>
	<key>tabTrigger</key>
	<string>on</string>
	<key>uuid</key>
	<string>AD6C0DB7-E3A9-44A0-A9AC-225BBAF49554</string>
</dict>
</plist>
