<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>perl "$TM_BUNDLE_SUPPORT/t2h.pl"

# Yes, this actually validates as HTML 4.01 Transitional. It is surprisingly annoying to get a nested list to validate. </string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^@o</string>
	<key>name</key>
	<string>Tabs to HTML UL</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>uuid</key>
	<string>4B6A441D-8307-11D9-A10F-000D9332809C</string>
</dict>
</plist>
