<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>#ifndef _$1_H_
#define _$1_H_

$0

#endif /* $1 */</string>
	<key>name</key>
	<string>Header multiple-inclusion guard (once)</string>
	<key>scope</key>
	<string>source.c, source.objc, source.c++, source.objc++</string>
	<key>tabTrigger</key>
	<string>once</string>
	<key>uuid</key>
	<string>74AF5E38-994C-4641-96F0-EB98A2183F60</string>
</dict>
</plist>
