<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>#ifndef _${1:${TM_FILENAME/([. ])|./(?1:_:\u$0)/g}}_
#define _$1_

$0

#endif /* _$1_ */
</string>
	<key>name</key>
	<string>Header Include-Guard</string>
	<key>scope</key>
	<string>source.c, source.objc, source.c++, source.objc++</string>
	<key>tabTrigger</key>
	<string>once</string>
	<key>uuid</key>
	<string>74AF5E38-994C-4641-96F0-EB98A2183F60</string>
</dict>
</plist>
