<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^M</string>
	<key>name</key>
	<string>-------------------</string>
	<key>output</key>
	<string>discard</string>
	<key>uuid</key>
	<string>7932DC1A-0902-4C92-B72B-6F97B99BA9A7</string>
</dict>
</plist>
