<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>TM_SVK="${TM_SVK:=svk}"
TM_RUBY="${TM_RUBY:=ruby}"
FORMAT_INFO="${TM_BUNDLE_SUPPORT}/format_info.rb"

if [[ -z $TM_SELECTED_FILES ]]; then
   "$TM_SVK" info "$TM_FILEPATH" \
   2&gt;&amp;1| "$TM_RUBY" -- "$FORMAT_INFO"
else
   eval "$TM_SVK" info $TM_SELECTED_FILES \
   2&gt;&amp;1| "$TM_RUBY" -- "$FORMAT_INFO"
fi</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^~A</string>
	<key>name</key>
	<string>Info</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>70BCF12B-C35D-11D9-AB2C-000A95BCAFA8</string>
</dict>
</plist>
