<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>. "$TM_SUPPORT_PATH/lib/webpreview.sh"
html_header "AppleScript Runner" "${TM_FILENAME:-}"

"${TM_RUBY:-ruby}" -e '
  require "iconv"
  require "open3"
  require "#{ENV["TM_SUPPORT_PATH"]}/lib/escape"

  scrpt = STDIN.read
  scrpt = Iconv.conv("macroman//TRANSLIT", "utf-8", scrpt)

  stdin, stdout, stderr = Open3.popen3("osascript", "-ss")
  Thread.new { stdin.write scrpt; stdin.close }

  res = stdout.read
  puts "&lt;pre style=\"white-space:normal\"&gt;#{htmlize res}&lt;/pre&gt;" unless res.empty?

  if stderr.read =~ /^(\d+):(\d+): (.*?): (.*) \((-?\d+)\)$/ then
    start, stop, err, msg, status = $1.to_i, $2.to_i, $3, $4, $5

    err = err.gsub(/\b\w(?=\w{3,})/) { |m| m.upcase }
    puts "&lt;h2&gt;#{htmlize err}&lt;/h2&gt;"
    puts "&lt;p&gt;#{htmlize msg}&lt;/p&gt;"

    from = scrpt[0..start].rindex(/^/)
    to = start + scrpt[start..-1].index(/$/)
    src = Iconv.conv("utf-8", "macroman", scrpt[from...to])

    line = scrpt[0...start].count("\n") + 1
    column = start - from + 1

    link = "txmt://open?line=#{line}&amp;column=#{column}"
    puts "&lt;blockquote&gt;&lt;a href=\"#{link}\"&gt;line #{line}, column #{column}&lt;/a&gt;: &lt;code&gt;#{src}&lt;/code&gt;&lt;/blockquote&gt;"

    puts "&lt;p&gt;Error #{status}.&lt;/p&gt;"
  else
    puts "&lt;p&gt;Program terminated.&lt;/p&gt;"
  end'

html_footer</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>@r</string>
	<key>name</key>
	<string>Run</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.applescript</string>
	<key>uuid</key>
	<string>28D28F3B-C59B-4387-A67E-65CFF1CBC62B</string>
</dict>
</plist>
