<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;table&gt;
	&lt;tr&gt;
		&lt;td&gt;$0&lt;/td&gt;
	&lt;/tr&gt;
&lt;/table&gt;</string>
	<key>name</key>
	<string>table</string>
	<key>tabTrigger</key>
	<string>tbl</string>
	<key>uuid</key>
	<string>BC8B8D30-5F16-11D9-B9C3-000D93589AF6</string>
</dict>
</plist>
