<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundlePath</key>
	<string>/Users/duff/Oak/TextMate.app/Contents/SharedSupport/Bundles/HTML.tmbundle</string>
	<key>content</key>
	<string>&lt;table&gt;
	&lt;tr&gt;
		&lt;td&gt;$0&lt;/td&gt;
	&lt;/tr&gt;
&lt;/table&gt;</string>
	<key>name</key>
	<string>table</string>
	<key>trigger</key>
	<string>table</string>
</dict>
</plist>
