<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Treetop</string>
	<key>contactEmailRot13</key>
	<string>!@cuebtm.arg</string>
	<key>contactName</key>
	<string>Gavin Kistner</string>
	<key>ordering</key>
	<array>
		<string>4C3F0BD9-0F5A-4EB9-962C-1F8C78F039FE</string>
		<string>7CDB3D39-BAC4-4766-8FD4-F51B585F8C95</string>
		<string>CEF92355-BE59-4F14-98F7-22164688B4D0</string>
		<string>DC3FC90B-1B0E-4210-A8F2-79E8A87F2E50</string>
		<string>CA494F1E-3708-44F6-B390-8AA46C080190</string>
		<string>9A662ED5-7426-42A1-B3DB-2F6EF5CBE515</string>
		<string>FC3205C1-9B9B-4DC2-A1C6-67658D03ECB2</string>
		<string>D2A4E6C0-4527-4195-9676-A20F9C743EA5</string>
	</array>
	<key>uuid</key>
	<string>4A6C024E-8B12-4119-B7FF-73B10864C7F7</string>
</dict>
</plist>
