<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Mediawiki</string>
	<key>ordering</key>
	<array>
		<string>6AF21ADF-316A-47D1-A8B6-1BB38637DE9A</string>
		<string>9991014D-6D8B-4C8A-BCF6-0A3CB9C8E4C9</string>
		<string>5FB06962-01CA-4D3D-8DC7-B6C6996F6111</string>
	</array>
	<key>uuid</key>
	<string>64C4222F-7054-4A26-B91E-A82F53166142</string>
</dict>
</plist>
