<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Tag Preferences</string>
	<key>scope</key>
	<string>text.html.mt entity.name.tag.mt, text.html.mt variable.other.mt, text.html.mt meta.tag</string>
	<key>settings</key>
	<dict>
		<key>spellChecking</key>
		<string>0</string>
	</dict>
	<key>uuid</key>
	<string>23367101-9398-4601-8521-D6C2C6FEBDBE</string>
</dict>
</plist>
