<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoScrollOutput</key>
	<true/>
	<key>beforeRunningCommand</key>
	<string>saveModifiedFiles</string>
	<key>command</key>
	<string>"${TM_BUNDLE_SUPPORT}/bin/run_xcodebuild.sh"
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@b</string>
	<key>name</key>
	<string>Build</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>9656317E-73EB-11D9-9848-000D93589AF6</string>
</dict>
</plist>
