<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>PROJECT=$(ruby -- "${TM_BUNDLE_SUPPORT}/bin/find_xcode_project.rb")
if [[ -f "${PROJECT}/project.pbxproj" ]]; then
   "${TM_BUNDLE_SUPPORT}/bin/run_xcode_target.rb" -project_dir="$PROJECT"
else
   echo "Didn't find an Xcode project file."
   echo "You may want to set TM_XCODE_PROJECT."
fi
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@R</string>
	<key>name</key>
	<string>Run</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>uuid</key>
	<string>779DEA3C-D310-4B66-9531-DF9007434878</string>
</dict>
</plist>
