<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveModifiedFiles</string>
	<key>command</key>
	<string>#!/bin/sh
osascript "${TM_BUNDLE_SUPPORT}/bin/send_to_transmit.applescript" "$TM_DIRECTORY" &amp;&gt;/dev/console &amp;
echo "Sent folder ‘`basename ${TM_DIRECTORY}`’ to Transmit"
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^F</string>
	<key>name</key>
	<string>Send Folder (DockSend)</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>uuid</key>
	<string>C4006FCA-85FF-4476-BDA8-34EF355FD0E4</string>
</dict>
</plist>
