<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>#!/bin/sh
osascript "${TM_BUNDLE_SUPPORT}/bin/send_to_transmit.applescript" "$TM_FILEPATH" &amp;&gt;/dev/console &amp;
echo "Sent ‘${TM_FILENAME}’ to Transmit"
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^F</string>
	<key>name</key>
	<string>Send Document (DockSend)</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>uuid</key>
	<string>91FC4F89-ADA9-4435-B159-9BA348FDE590</string>
</dict>
</plist>
