<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>open -a "Transmit" $TM_FILEPATH</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@t</string>
	<key>name</key>
	<string>DockSend file to Transmit</string>
	<key>output</key>
	<string>discard</string>
	<key>uuid</key>
	<string>91FC4F89-ADA9-4435-B159-9BA348FDE590</string>
</dict>
</plist>
