<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>#{title}</title>
<!-- metadata -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="generator" content="TextMate/S5" />
<meta name="version" content="S5 1.2a2" />
<meta name="presdate" content="#{date || ''}" />
<meta name="author" content="#{presenter || ''}" />
<meta name="company" content="#{organization || ''}" />
<!-- configuration parameters -->
<meta name="defaultView" content="#{defaultView}" />
<meta name="controlVis" content="#{controlVis}" />
<!-- style sheet links -->
<link rel="stylesheet" href="#{theme_base}/ui/#{theme}/slides.css" type="text/css" media="projection" id="slideProj" />
<link rel="stylesheet" href="#{theme_base}/ui/#{theme}/outline.css" type="text/css" media="screen" id="outlineStyle" />
<link rel="stylesheet" href="#{theme_base}/ui/#{theme}/print.css" type="text/css" media="print" id="slidePrint" />
<link rel="stylesheet" href="#{theme_base}/ui/#{theme}/opera.css" type="text/css" media="projection" id="operaFix" />
<!-- embedded styles -->
<style type="text/css" media="all">
.imgcon {width: 525px; margin: 0 auto; padding: 0; text-align: center;}
#anim {width: 270px; height: 320px; position: relative; margin-top: 0.5em;}
#anim img {position: absolute; top: 42px; left: 24px;}
img#me01 {top: 0; left: 0;}
img#me02 {left: 23px;}
img#me04 {top: 44px;}
img#me05 {top: 43px;left: 36px;}
</style>
<!-- S5 JS -->
<script src="#{theme_base}/ui/#{theme}/slides.js" type="text/javascript"></script>
</head>
<body>

<div class="layout">
<div id="controls"><!-- DO NOT EDIT --></div>
<div id="currentSlide"><!-- DO NOT EDIT --></div>
<div id="header"></div>
<div id="footer">
<h1>#{location}</h1>
<h2>#{title}</h2>
</div>
<div class="topleft"></div>
<div class="topright"></div>
<div class="bottomleft"></div>
<div class="bottomright"></div>
</div>

<div class="presentation">

<div class="slide">
<h1>#{title}</h1>#{ subtitle != nil ? %Q{
<h2>#{subtitle}</h2>} : '' }#{ presenter != nil ? %Q{
<h3>#{presenter}</h3>} : '' }#{ organization != nil ? %Q{
<h4>#{organization}</h4>} : '' }
</div>

##SLIDE_START
<div class="slide">
#{content}
#{handout != nil ? %Q{
<div class="handout">
#{handout}
</div>} : ''}#{notes != nil ? %Q{
<div class="notes">
#{notes}
</div>} : ''}
</div>
##SLIDE_END

</div>

</body>
</html>
