<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundlePath</key>
	<string>/Users/kumar/Library/Application Support/TextMate/Bundles/PHPDoc.tmbundle</string>
	<key>content</key>
	<string>/** \\page ${1:fileName A documentation page}
	${2:longer description}
	
&amp;copy; Copyright `date +%Y` `echo $TM_ORGANIZATION_NAME` - `echo $TM_AUTHOR`. All Rights Reserved.
	\\author `echo $TM_AUTHOR` `echo $TM_ORGANIZATION_NAME`
	\\author \$LastChangedBy\$
	\\date `TZ=GMT date +%Y-%m-%d # T%H:%M:%SZ`
	\\date \$LastChangedDate\$
	\\version \$Rev\$
**/</string>
	<key>name</key>
	<string>Page (dxp) PHP</string>
	<key>scope</key>
	<string>source.php</string>
	<key>tabTrigger</key>
	<string>dxp</string>
	<key>uuid</key>
	<string>2E015C16-C3E7-11D9-BDD3-001124776DD2</string>
</dict>
</plist>
