<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>/*! \publicsection */</string>
	<key>name</key>
	<string>Public Section</string>
	<key>scope</key>
	<string>source.php</string>
	<key>tabTrigger</key>
	<string>dxpu</string>
	<key>uuid</key>
	<string>3401EFAC-C3E4-11D9-BDD3-001124776DD2</string>
</dict>
</plist>
