<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>/** \name ${1:nameOfGroup} ${2
${3:description}
}**/
//@{
$TM_SELECTED_TEXT
//@}</string>
	<key>name</key>
	<string>Group</string>
	<key>scope</key>
	<string>source.php</string>
	<key>tabTrigger</key>
	<string>dxg</string>
	<key>uuid</key>
	<string>AFBF18F0-705E-4598-9F56-B494819DFA63</string>
</dict>
</plist>
