<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comment</key>
	<string>Ada -- chris@cjack.com. Feel free to modify, distribute, be happy. Share and enjoy.</string>
	<key>fileTypes</key>
	<array>
		<string>adb</string>
		<string>ads</string>
	</array>
	<key>foldingStartMarker</key>
	<string>\b(?i:(procedure|package|function|task|type|loop))\b</string>
	<key>foldingStopMarker</key>
	<string>\b(?i:(end))\b</string>
	<key>keyEquivalent</key>
	<string>^~A</string>
	<key>name</key>
	<string>Ada</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>storage.type.function.ada</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.function.ada</string>
				</dict>
			</dict>
			<key>match</key>
			<string>\b(?i:(function|procedure))\b\s+(\w+(\.\w+)?|"(?:\+|-|=|\*|/)")</string>
			<key>name</key>
			<string>meta.function.ada</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>storage.type.package.ada</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>keyword.other.body.ada</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>entity.name.type.package.ada</string>
				</dict>
			</dict>
			<key>match</key>
			<string>\b(?i:(package)(?:\b\s+(body))?)\b\s+(\w+(\.\w+)?|"(?:\+|-|=|\*|/)")</string>
			<key>name</key>
			<string>meta.function.ada</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>storage.type.function.ada</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.function.ada</string>
				</dict>
			</dict>
			<key>match</key>
			<string>\b(?i:(end))\b\s+(\w+(\.\w+)?|"(\+|-|=|\*|/)")\s?;</string>
			<key>name</key>
			<string>meta.function.ada</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.control.import.ada</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>string.unquoted.import.ada</string>
				</dict>
			</dict>
			<key>match</key>
			<string>\b(?i:(with|use))\b\s+(\w+(\.\w+)?)\s?;</string>
			<key>name</key>
			<string>meta.function.ada</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(?i:(begin|end|package))\b</string>
			<key>name</key>
			<string>keyword.control.ada</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(?i:(\=&gt;|abort|else|new|return|abs|elsif|not|reverse|abstract|null|accept|entry|select|access|exception|of|separate|aliased|exit|or|subtype|all|others|and|for|out|tagged|array|function|task|at|terminate|generic|pragma|then|goto|private|type|body|procedure|if|protected|until|case|in|use|constant|is|raise|range|when|declare|limited|record|while|delay|loop|rem|with|delta|renames|digits|mod|requeue|xor|do))\b</string>
			<key>name</key>
			<string>keyword.other.ada</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b((0(x|X)[0-9a-fA-F_]*)|(([0-9_]+\.?[0-9_]*)|(\.[0-9_]+))((e|E)(\+|-)?[0-9_]+)?)(L|l|UL|ul|u|U|F|f|ll|LL|ull|ULL)?\b</string>
			<key>name</key>
			<string>constant.numeric.ada</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>"</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.ada</string>
				</dict>
			</dict>
			<key>end</key>
			<string>"</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.ada</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.quoted.double.ada</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\n</string>
					<key>name</key>
					<string>invalid.illegal.lf-in-string.ada</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.comment.ada</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(--)(.*)$\n?</string>
			<key>name</key>
			<string>comment.line.double-dash.ada</string>
		</dict>
	</array>
	<key>scopeName</key>
	<string>source.ada</string>
	<key>uuid</key>
	<string>0AB8A36E-6B1D-11D9-B034-000D93589AF6</string>
</dict>
</plist>
