<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>captureFormatString</key>
	<string>$2</string>
	<key>capturePattern</key>
	<string>^(\d+):(.*)$</string>
	<key>command</key>
	<string>#
# NOTE: to add a custom key binding, copy this command to 
# Custom and set BUNDLE_PATH like so:
#

BUNDLE_PATH=${TM_BUNDLE_PATH}
#BUNDLE_PATH=`dirname "${TM_BUNDLE_PATH}"`/Defaults.tmbundle

"${TM_PYTHON:=python}" "${BUNDLE_PATH}/bin/entitynav.py" -f - -m "${TM_MODE}"</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>lineCaptureRegister</key>
	<string>1</string>
	<key>name</key>
	<string>Special Items Window</string>
	<key>output</key>
	<string>separateWindow</string>
	<key>uuid</key>
	<string>E3B38F3D-90DC-11D9-B134-000A9584EC8C</string>
</dict>
</plist>
