<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{rdelim}</string>
	<key>name</key>
	<string>Rdelim</string>
	<key>scope</key>
	<string>source.smarty</string>
	<key>tabTrigger</key>
	<string>{rd</string>
	<key>uuid</key>
	<string>C59DF8F8-6E5D-4F5A-BB0D-11EAF2ACD273</string>
</dict>
</plist>
