<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{insert name="insert_$1" [assign=varname script="foo.php" foo="bar"] }</string>
	<key>name</key>
	<string>Insert</string>
	<key>scope</key>
	<string>text.html.smarty</string>
	<key>tabTrigger</key>
	<string>{insert</string>
	<key>uuid</key>
	<string>B2839DC1-E25B-445B-B41C-B22A57534C92</string>
</dict>
</plist>
