<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>|count_paragraphs</string>
	<key>name</key>
	<string>Count Paragraphs</string>
	<key>scope</key>
	<string>source.smarty</string>
	<key>tabTrigger</key>
	<string>|count</string>
	<key>uuid</key>
	<string>9672F018-FF28-44A3-BC83-F531E0C5FC3A</string>
</dict>
</plist>
