<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{config_load file="#INSERTION#" [section="" scope="local|parent|global"] }</string>
	<key>name</key>
	<string>Config Load</string>
	<key>scope</key>
	<string>text.html.smarty</string>
	<key>tabTrigger</key>
	<string>{config_load</string>
	<key>uuid</key>
	<string>9193BA95-97D0-4399-9DDC-8E31A56F206A</string>
</dict>
</plist>
