<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{literal}
$1
{/literal}</string>
	<key>name</key>
	<string>Literal</string>
	<key>scope</key>
	<string>text.html.smarty</string>
	<key>tabTrigger</key>
	<string>{literal</string>
	<key>uuid</key>
	<string>AF397507-436C-4AB0-B164-7A84E1F5768B</string>
</dict>
</plist>
