<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{strip}
	$1
{/strip</string>
	<key>name</key>
	<string>Strip</string>
	<key>scope</key>
	<string>source.smarty</string>
	<key>tabTrigger</key>
	<string>{strip</string>
	<key>uuid</key>
	<string>37361D86-BED2-43BB-A173-01607C489346</string>
</dict>
</plist>
