<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{ldelim</string>
	<key>name</key>
	<string>Ldelim</string>
	<key>scope</key>
	<string>source.smarty</string>
	<key>tabTrigger</key>
	<string>{ld</string>
	<key>uuid</key>
	<string>4321D130-75F2-4A15-BF54-CBE08D3DAE77</string>
</dict>
</plist>
