<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Int64.max_int</string>
	<key>name</key>
	<string>Int64.max_int</string>
	<key>tabTrigger</key>
	<string>Int64.</string>
	<key>uuid</key>
	<string>FA1180E0-7560-11D9-AC9E-000A95AFE286</string>
</dict>
</plist>
