<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>command</key>
			<string>moveWordLeftAndModifySelection:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>copy:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveLeft:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>&lt;</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveWordRight:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>&gt;</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>&lt;</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>/</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>paste:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>&gt;</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveWordLeft:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveLeft:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveLeft:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>^@ </string>
	<key>name</key>
	<string>html tag</string>
</dict>
</plist>
