<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>command</key>
			<string>moveToBeginningOfLine:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveWordRight:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>d</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>e</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>f</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string> </string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveToEndOfLine:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>insertNewline:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>deleteBackward:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>e</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>n</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>d</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveWordLeft:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveUp:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveToEndOfLine:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>insertNewline:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>@</string>
	<key>name</key>
	<string>def end</string>
	<key>restrainToMode</key>
	<true/>
	<key>uuid</key>
	<string>8C11724E-6E49-11D9-A933-000D93589AF6</string>
</dict>
</plist>
