<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>command</key>
			<string>moveWordLeftAndModifySelection:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>copy:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveRight:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveWordLeft:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>@</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveWordRight:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string> </string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>=</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string> </string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>paste:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveWordLeft:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveRightAndModifySelection:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>uppercaseWord:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveRight:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveWordRight:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>.</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>n</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>e</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>w</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>(</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<array>
				<dict>
					<key>argument</key>
					<string>@</string>
					<key>command</key>
					<string>insertText:</string>
				</dict>
				<dict>
					<key>argument</key>
					<string>p</string>
					<key>command</key>
					<string>insertText:</string>
				</dict>
				<dict>
					<key>argument</key>
					<string>a</string>
					<key>command</key>
					<string>insertText:</string>
				</dict>
				<dict>
					<key>argument</key>
					<string>r</string>
					<key>command</key>
					<string>insertText:</string>
				</dict>
				<dict>
					<key>argument</key>
					<string>a</string>
					<key>command</key>
					<string>insertText:</string>
				</dict>
				<dict>
					<key>argument</key>
					<string>m</string>
					<key>command</key>
					<string>insertText:</string>
				</dict>
				<dict>
					<key>argument</key>
					<string>s</string>
					<key>command</key>
					<string>insertText:</string>
				</dict>
				<dict>
					<key>argument</key>
					<string>[</string>
					<key>command</key>
					<string>insertText:</string>
				</dict>
				<dict>
					<key>argument</key>
					<string>"</string>
					<key>command</key>
					<string>insertText:</string>
				</dict>
			</array>
			<key>command</key>
			<string>playMacroWithOptions:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>paste:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveToEndOfLine:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>^N</string>
	<key>name</key>
	<string>rails new from params</string>
	<key>uuid</key>
	<string>8C11EB12-6E49-11D9-A933-000D93589AF6</string>
</dict>
</plist>
