<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Lilypond</string>
	<key>ordering</key>
	<array>
		<string>F25B30BE-0526-4D92-806C-F0D678DDF669</string>
		<string>E8B6A543-90A6-46A4-A307-B21B67EF7F2F</string>
		<string>6F8F1607-8D59-4E4D-94D1-7565B4921B81</string>
	</array>
	<key>uuid</key>
	<string>5D9846C9-EB37-4F56-BD7F-F3A6BF8846A0</string>
</dict>
</plist>
