<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>evpuonegba@znp.pbz</string>
	<key>contactName</key>
	<string>Rich Barton</string>
	<key>description</key>
	<string>Language grammar, snippets, and more for ASP.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>6D6BE737-63AB-11D9-B316-000A95CA2CD0</string>
			<string>------------------------------------</string>
			<string>6D6BF1DF-63AB-11D9-B316-000A95CA2CD0</string>
			<string>6D6BF39D-63AB-11D9-B316-000A95CA2CD0</string>
			<string>------------------------------------</string>
			<string>6D6BE9FA-63AB-11D9-B316-000A95CA2CD0</string>
			<string>6D6BE8AC-63AB-11D9-B316-000A95CA2CD0</string>
			<string>6D6BEB4F-63AB-11D9-B316-000A95CA2CD0</string>
			<string>------------------------------------</string>
			<string>6D6BECA3-63AB-11D9-B316-000A95CA2CD0</string>
			<string>6D6BEDE9-63AB-11D9-B316-000A95CA2CD0</string>
			<string>6D6BF08E-63AB-11D9-B316-000A95CA2CD0</string>
			<string>6D6BEF38-63AB-11D9-B316-000A95CA2CD0</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>ASP</string>
	<key>ordering</key>
	<array>
		<string>6D6BF1DF-63AB-11D9-B316-000A95CA2CD0</string>
		<string>6D6BECA3-63AB-11D9-B316-000A95CA2CD0</string>
		<string>6D6BEDE9-63AB-11D9-B316-000A95CA2CD0</string>
		<string>6D6BF08E-63AB-11D9-B316-000A95CA2CD0</string>
		<string>6D6BEF38-63AB-11D9-B316-000A95CA2CD0</string>
		<string>6D6BF39D-63AB-11D9-B316-000A95CA2CD0</string>
		<string>6D6BE9FA-63AB-11D9-B316-000A95CA2CD0</string>
		<string>6D6BE8AC-63AB-11D9-B316-000A95CA2CD0</string>
		<string>6D6BEB4F-63AB-11D9-B316-000A95CA2CD0</string>
		<string>6D6BE737-63AB-11D9-B316-000A95CA2CD0</string>
		<string>6D6BE499-63AB-11D9-B316-000A95CA2CD0</string>
		<string>291022B4-6B1D-11D9-90EB-000D93589AF6</string>
		<string>27798CC6-6B1D-11D9-B8FA-000D93589AF6</string>
		<string>D7521F79-A6B1-4682-BABB-2CF601BBF02B</string>
		<string>2D3927D6-6DFB-11D9-91EB-000D93589AF6</string>
	</array>
	<key>uuid</key>
	<string>344D329E-6B21-11D9-B355-000D93589AF6</string>
</dict>
</plist>
