<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>---++${1:Header2}
</string>
	<key>name</key>
	<string>Header 2</string>
	<key>scope</key>
	<string>text.html.twiki</string>
	<key>tabTrigger</key>
	<string>h2</string>
	<key>uuid</key>
	<string>E890D975-0C10-44B8-87BF-79CEBA630721</string>
</dict>
</plist>
