<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>---++++${1:Header4}
</string>
	<key>name</key>
	<string>Header 4 (h4)</string>
	<key>scope</key>
	<string>text.html.twiki</string>
	<key>tabTrigger</key>
	<string>h4</string>
	<key>uuid</key>
	<string>4A01F006-1FB3-43C9-A8D4-348EC931BD6B</string>
</dict>
</plist>
