<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>---++++++${1:Header6}
</string>
	<key>name</key>
	<string>Header 6</string>
	<key>scope</key>
	<string>text.html.twiki</string>
	<key>tabTrigger</key>
	<string>h6</string>
	<key>uuid</key>
	<string>28033F2F-A106-4BFE-A81E-27DF0CE43FA2</string>
</dict>
</plist>
