<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>_${TM_SELECTED_TEXT:no text was selected}_</string>
	<key>keyEquivalent</key>
	<string>@i</string>
	<key>name</key>
	<string>Italic</string>
	<key>scope</key>
	<string>text.html.twiki</string>
	<key>uuid</key>
	<string>BA34D7CB-479E-4FB0-B47D-A3BF3184966C</string>
</dict>
</plist>
