<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>[[${1:url or twiki link}][${2:description}]]</string>
	<key>name</key>
	<string>Link (link)</string>
	<key>scope</key>
	<string>text.html.twiki</string>
	<key>tabTrigger</key>
	<string>link</string>
	<key>uuid</key>
	<string>FDD100B6-4FD7-4849-9A6A-3BF5A3EE6139</string>
</dict>
</plist>
