<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>         * $0</string>
	<key>name</key>
	<string>List Element 3</string>
	<key>scope</key>
	<string>text.html.twiki</string>
	<key>tabTrigger</key>
	<string>li3</string>
	<key>uuid</key>
	<string>5C0F4AB3-2649-4F1D-9CD5-1F0E35498A24</string>
</dict>
</plist>
