<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>
1 ${1:list item}</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Numbered List Item (↵)</string>
	<key>scope</key>
	<string>text.html.twiki markup.list.numbered</string>
	<key>uuid</key>
	<string>FCECC22A-6D5C-4781-B2B8-5777FDD53F76</string>
</dict>
</plist>
