<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>      1 $0</string>
	<key>name</key>
	<string>Numbered List Element 2 (nli2)</string>
	<key>scope</key>
	<string>text.html.twiki</string>
	<key>tabTrigger</key>
	<string>nli2</string>
	<key>uuid</key>
	<string>113C7192-9C79-4765-BC53-C78C7778C2F4</string>
</dict>
</plist>
