<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>   1 ${1:list item 1}
      1 ${2:list item 1.1}
      1 ${3:list item 1.2}
   1 ${4:list item 2}
      1 ${5:list item 2.1}
      1 ${6:list item 2.2}</string>
	<key>name</key>
	<string>Numbered List</string>
	<key>scope</key>
	<string>text.html.twiki</string>
	<key>tabTrigger</key>
	<string>numlist</string>
	<key>uuid</key>
	<string>6DB4FECE-3036-474A-BC0A-C9A503D41D3B</string>
</dict>
</plist>
