<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>---+ Software Test Plan and Test Design Extensions.Specification Combined Template, IEEE Standard 829-1998
%TOC%
---+ ##. Purpose
Generic purpose:  The purpose of this document is to prescribe the scope, approach, resources, and schedule of the testing activities.  This document identifies the items to be tested, the features to be tested, the testing tasks to be performed, the personnel responsible for each task, and the risks associated with this plan.

---+ ##. Introduction
&lt; summarize the software items and features to be tested.&gt;

---++ ##.. References  
&lt; link to project plan, quality assurance plan, configuration management plan, relevant policies and standards &gt;  

---+ ##. Test items  
&lt; identify the objects of the testing &gt;

---++ ##.. Test item 1
---++ ##.. Test item 2



---+ ##. General Approach
&lt; Describe overall approach to testing.  For each major group of features or feature combinations, specify the approach that will ensure that these feature groups are adequately tested.  Specify the major activities, techniques, and tools that are used to the test the designated groups of features. &gt;

&lt; Specify the minimum degree of comprehensiveness desired, and the techniques to be used to judge it.  Specify any additional completion criteria, such as error frequency.  &gt;



---+ ##. Item pass/fail criteria
&lt; specify the criteria used to determine whether each test item has passed or failed testing. &gt;

---+ ##. Suspension criteria and resumption requirements
&lt; specify the criteria used to suspend all or a portion of the testing activity on the test items associated with this plan.  Specify which testing activities must be repeated when testing is resumed. &gt;


---+ ##. Features to be tested
&lt; identify all features and significant combinations of features to be tested. &gt;

---++ ##.. Feature X ( or group of Features )
&lt; reference associated requirements &gt;

---+++ ##... Approach to testing feature X
&lt; specify the specific approach that will ensure that this feature or feature group is adequately tested.  Specify the specific test techniques and tools that are used. &gt;

&lt; specify the method of analyzing the test results - visual or automatic with tool. &gt;

&lt; specify the results of any analysis that provides a rationale for test case selection.  For example, one might specify conditions that permit a determination of error tolerance. &gt;

&lt; summarize the common attributes of any test cases &gt;

&lt; Specify the minimum degree of comprehensiveness desired, and the techniques to be used to judge it.  Specify any additional completion criteria, such as error frequency.  &gt;

---+++ ##... Feature X pass/fail criteria

---++ ##.. Feature Y


---+ ##. Features not to be tested
&lt; identify all features and significant combinations of features that will not be tested and the reasons. &gt;


---+ ##. Test deliverables
---++ ##.. Test plan
&lt; this document &gt;
---++ ##.. Test case specifications
&lt; link to the individual test case specifications &gt;

---++ ##.. Test logs
---++ ##.. Problem tracking reports
---++ ##.. Test summary report
---++ ##.. Test input/output data
---++ ##.. Test tools
&lt; including test harness, stubs&gt;


---+ ##. Testing tasks
&lt; reference schedule that has preparation tasks as well as tasks to perform testing. &gt;

---+ ##. Environmental needs
&lt; Specify both the necessary and desired properties of the test environment. &gt;

---+ ##. Responsibilities
&lt; specify which groups are responsible for which testing activities &gt;

---+ ##. Staffing and training needs
&lt; identify any training options for providing the necessary skills &gt;

---+ ##. Schedule
&lt; reference the project schedule. &gt;

---+ ##. Risks and contingencies
&lt; reference the project risks. &gt;

</string>
	<key>name</key>
	<string>Software Test Plan (stp)</string>
	<key>scope</key>
	<string>text.html.twiki</string>
	<key>tabTrigger</key>
	<string>stp</string>
	<key>uuid</key>
	<string>F53CD8D8-F733-4101-9119-B09E1BF3BD5A</string>
</dict>
</plist>
