<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>---+ Software Requirements Extensions.Specification Template, IEEE Standard 830-1998
%TOC%

---+ ##. Introduction

---++ ##.. Purpose

---++ ##.. Scope

---++ ##.. Definitions, Acronyms, and Abbreviations.  

---++ ##.. References  

---++ ##.. Overview  

---+ ##. Overall Description  

---++ ##.. Product Perspective  

---+++ ##... System Interfaces

---+++ ##... User Interfaces
   
---+++ ##... Hardware Interfaces

---+++ ##... Software Interfaces

---+++ ##... Communications Interfaces

---+++ ##... Memory Constraints

---+++ ##... Operations

---+++ ##... Site Adaptation Requirements

---++ ##.. Product Functions 

---++ ##.. User Characteristics 

---++ ##.. Constraints  

---++ ##.. Assumptions and Dependencies

---++ ##.. Apportioning of Requirements.

---+ ##. Specific Requirements  


---++ ##.. External Interfaces


---++ ##.. Functions

---++ ##.. Performance Requirements
---++ ##.. Logical Database Requirements
---++ ##.. Design Constraints
---+++ ##... Standards Compliance  
---++ ##.. Software System Attributes
---+++ ##... Reliability
---+++ ##... Availability
---+++ ##... Security
---+++ ##... Maintainability
---+++ ##... Portability

</string>
	<key>name</key>
	<string>Software Requirements Spec (srs)</string>
	<key>scope</key>
	<string>text.html.twiki</string>
	<key>tabTrigger</key>
	<string>srs</string>
	<key>uuid</key>
	<string>53BE1412-03DB-49F1-9E11-0D789D856E60</string>
</dict>
</plist>
