<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>---+ Software Test Case Extensions.Specification and Test Procedure Extensions.Specification Combined Template, IEEE Standard 829-1998
%TOC%
---+ ##. Purpose
Generic purpose:  The purpose of this document is to define a test case identified in a test design specification.  It also includes the steps for executing the set of test cases. 


---+ ##. Test items  
&lt; identify the items and features to e exercised by this test case. &gt;

---++ ##.. Test item 1
&lt; reference the requirements specification, design specification, users guide, operations guide, and/or installation guide as appropriate. &gt;

---++ ##.. Test item 2



---+ ##. Input specifications
&lt; Specify each input required to execute the test case.  Some will be specified by value, while others, such as constant tables or files, will be specified by a name.  Specify all required relationships between inputs, such as timing. &gt;

---+ ##. Output specifications
&lt; Specify all of the outputs and features, such as response time, required of the test items.  Provide the exact value ( with tolerances where appropriate ) for each required output or feature. &gt;


---+ ##. Environmental needs
&lt; specify the specific hardware, software, etc, required to execute this test case. &gt;
---++ ##.. Hardware
---++ ##.. Software
---++ ##.. Other


---+ ##. Special procedure requirements
&lt; describe any special constrains on the test procedures that execute this test, such as setup, operator intervention, output determination procedures, and special wrap-up. &gt;


---+ ##. Intercase dependencies
&lt; List the test cases that must be executed prior to this test case and summarize the nature of the dependencies. &gt;


---+ ##. Procedure Steps

---++ ##.. Log
&lt; Describe any special methods or formats for logging the results of test execution, the incidents observed, and any other events pertinent to the test. &gt;

---++ ##.. Setup
&lt; Describe sequences of actions necessary to prepare for the execution of the procedure. &gt;

---++ ##.. Start
&lt; Describe any actions necessary to begin execution of the procedure. &gt;

---++ ##.. Proceed
&lt; Describe any actions necessary during execution of the procedure. &gt;


---++ ##.. Measure
&lt; Describe how the test measurements will be made. &gt;

---++ ##.. Shut down
&lt; Describe any actions necessary to suspend testing, when unscheduled events dictate. &gt;

---++ ##.. Restart
&lt; Describe any procedural restart points and describe the actions ncessary to restart the procedure at each. &gt;

---++ ##.. Stop
&lt; Describe any actions necessary to bring execution to a halt. &gt;

---++ ##.. Wrap up
&lt; Describe any actions necessary to restore the environment. &gt;

---++ ##.. Contingencies
&lt; Describe any actions necessary to deal with anomalous events that may occur during execution. &gt;

</string>
	<key>name</key>
	<string>Software Test Case Extensions (stc)</string>
	<key>scope</key>
	<string>text.html.twiki</string>
	<key>tabTrigger</key>
	<string>stc</string>
	<key>uuid</key>
	<string>339361E8-604E-47F4-A370-771AD824CD51</string>
</dict>
</plist>
