<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>---+ Software Enhancement Project Proposal Template, $Revision: 1.2$
%TOC%

---+ ##. Introduction
Include a brief description of the software and a general overview of the proposed enhancement.

---+ ##. Background and Motivation
In this section, provide background and motivation for the proposed changes.  

---++ ##.. Aspect X
For each major aspect of the software to be enhanced, provide the relevant information on its current implementation, which might include one or more of the following:
   1 what it does
   1 how it is designed
   1 what the is interface is like
Describe the problems with the current implementation.

---++ ##.. Aspect Y

---+ ##. Proposed Enhancements
In this section, describe the proposed changes, their associated benefits, and relative effort estimate.  

---++ ##.. Aspect X
For each major aspect of the software to be enhanced, describe the proposed changes.  Where appropriate enumerate several alternatives and indicate why the proposed change was selected.  Indicate any risks associated with the change and how the project will address them.  Describe the benefits of the change.  The relative effort estimate should be a gross high, medium, low that indicates how much effort is involved for each proposed enhancement relative to the others.  

---++ ##.. Aspect Y

---+ ##. Summary
Summarize the proposal, highlighting the major proposed enhancements and benefits
.
</string>
	<key>name</key>
	<string>Software Enhancement Proposal (sep)</string>
	<key>scope</key>
	<string>text.html.twiki</string>
	<key>tabTrigger</key>
	<string>sep</string>
	<key>uuid</key>
	<string>97AC3259-C4F1-4BB2-9410-623A612718BB</string>
</dict>
</plist>
