<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>| ${1:head0} | ${2:head1} | ${3:head2} | ${4:head3} |
| ${5:data} | ${6:data} | ${7:data} | ${8:data} |
| ${9:data} | ${10:data} | ${11:data} | ${12:data} |
| ${13:data} | ${14:data} | ${15:data} | ${16:data} |</string>
	<key>name</key>
	<string>Table</string>
	<key>scope</key>
	<string>text.html.twiki</string>
	<key>tabTrigger</key>
	<string>table</string>
	<key>uuid</key>
	<string>B859FEDB-5866-4ABE-B00E-F4573178AB4A</string>
</dict>
</plist>
