<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;verbatim&gt;
	$0
&lt;/verbatim&gt;</string>
	<key>name</key>
	<string>Verbatim</string>
	<key>scope</key>
	<string>text.html.twiki</string>
	<key>tabTrigger</key>
	<string>code</string>
	<key>uuid</key>
	<string>4B89D511-CEA3-48F8-8F75-2B6C427FC1DE</string>
</dict>
</plist>
