/* general stuff.. */
body {
   font-family: "Lucida Grande", sans-serif;
   font-size: 13px;
}

h1 {
   font-size: 24px;
   text-shadow: #ddd 2px 3px 3px;
}

/* make horizontal rules slightly less heavy */
hr {
color: #ccc;
background-color: #ccc;
height: 1px;
border: 0px;
}

/* about links.. */
a:link, a:visited {
   background-color: transparent;
   color: #35a;
   text-decoration: underline;
   padding-left: 1px;
   padding-right: 1px;
}

a:hover, a:active {
   background-color: #136;
   color: #fff;
   text-decoration: none;
}


/* for everything alternating: */
.alternate {
   background-color: #f2f2f2;
}