<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Haskell</string>
	<key>ordering</key>
	<array>
		<string>5C034675-1F6D-497E-8073-369D37E2FD7D</string>
		<string>439807F5-7129-487D-B5DC-95D5272B43DD</string>
	</array>
	<key>uuid</key>
	<string>118557A4-4FEF-406D-A68E-BD191D9CBC83</string>
</dict>
</plist>
