<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;% for ${1:element} in ${2:collection} %&gt;
  &lt;%= ${1:element}.$0 %&gt;
&lt;% end %&gt;</string>
	<key>name</key>
	<string>eruby forin</string>
	<key>trigger</key>
	<string>eforin</string>
	<key>uuid</key>
	<string>F0F6D9C6-6A0B-11D9-BDC2-000D932CD5BA</string>
</dict>
</plist>
