<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;% $1 %&gt;</string>
	<key>keyEquivalent</key>
	<string>^x</string>
	<key>name</key>
	<string>erb: &lt;% code %&gt;</string>
	<key>scope</key>
	<string>text.html</string>
	<key>uuid</key>
	<string>CE790B98-875B-11D9-897C-000393CBCE2E</string>
</dict>
</plist>
