<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>assert_kind_of ${1:Class}, ${2:@${3:thing}}</string>
	<key>name</key>
	<string>Assert Kind Of (ako)</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>ako</string>
	<key>uuid</key>
	<string>0EDBB05F-3347-42B2-A7C6-0780BE889CF6</string>
</dict>
</plist>
