<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>PushAttrs;
$1
PopAttrs;$2</string>
	<key>name</key>
	<string>PushAttrs..PopAttrs (push)</string>
	<key>scope</key>
	<string>source.pascal</string>
	<key>tabTrigger</key>
	<string>push</string>
	<key>uuid</key>
	<string>A03B09F2-8817-4E5B-AD89-AE285D18773D</string>
</dict>
</plist>
