<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>32232356-5D3E-42FC-B7F5-35C45F42F010</string>
			<string>------------------------------------</string>
			<string>EBDFE519-785D-4B48-98DA-4B66ABBFA4FF</string>
			<string>------------------------------------</string>
			<string>EE721582-F819-4F39-919F-0348FA78D314</string>
			<string>CC370DEF-7BFD-4A6C-8796-99557D22085B</string>
			<string>------------------------------------</string>
			<string>F4B70E42-A03C-4402-9C1D-486FEDC20FE4</string>
			<string>B0D11FBB-5C9D-4DA2-AF4D-9EACAC814720</string>
			<string>------------------------------------</string>
			<string>7C8BC269-8EE3-481A-A902-8FC1D09EB0E5</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>7C8BC269-8EE3-481A-A902-8FC1D09EB0E5</key>
			<dict>
				<key>items</key>
				<array>
					<string>C10CE5FF-27AE-4729-822D-9C1C6AEC3DF7</string>
					<string>916EA6EB-21A8-47ED-9D98-C9DDF01529A2</string>
				</array>
				<key>name</key>
				<string>List</string>
			</dict>
			<key>EBDFE519-785D-4B48-98DA-4B66ABBFA4FF</key>
			<dict>
				<key>items</key>
				<array>
					<string>99774A44-8C74-446F-8D3E-E37A6D54D851</string>
					<string>44E6802D-2C2F-494E-A665-B46608B8E650</string>
					<string>05C76732-B008-4133-B188-6C1315BB918C</string>
					<string>925B0EDA-BD36-41C9-B9C5-E685D01B4968</string>
					<string>4F327A34-8F6F-47B6-A0DF-50E2D7F92E39</string>
				</array>
				<key>name</key>
				<string>Format</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Bulletin Board</string>
	<key>ordering</key>
	<array>
		<string>32232356-5D3E-42FC-B7F5-35C45F42F010</string>
		<string>C10CE5FF-27AE-4729-822D-9C1C6AEC3DF7</string>
		<string>916EA6EB-21A8-47ED-9D98-C9DDF01529A2</string>
		<string>EE721582-F819-4F39-919F-0348FA78D314</string>
		<string>CC370DEF-7BFD-4A6C-8796-99557D22085B</string>
		<string>F4B70E42-A03C-4402-9C1D-486FEDC20FE4</string>
		<string>B0D11FBB-5C9D-4DA2-AF4D-9EACAC814720</string>
		<string>99774A44-8C74-446F-8D3E-E37A6D54D851</string>
		<string>44E6802D-2C2F-494E-A665-B46608B8E650</string>
		<string>05C76732-B008-4133-B188-6C1315BB918C</string>
		<string>4F327A34-8F6F-47B6-A0DF-50E2D7F92E39</string>
		<string>925B0EDA-BD36-41C9-B9C5-E685D01B4968</string>
		<string>AC4E0E7E-CC15-4394-A858-6C7E3C09C414</string>
		<string>EE397CA8-3F51-4A4B-9A5A-E491154D0615</string>
	</array>
	<key>uuid</key>
	<string>5A841EC2-B9E2-4E96-AA2F-D49CAC1F0C4A</string>
</dict>
</plist>
