<div id="todo_list">

	<ul class="counters">
		<% $tags.each do |tag| %>
			<li class="bg_<%= tag[:label] %>"><a href="#jump_to_<%= tag[:label] %>" accesskey="<%= tag[:label][0..0] %>"><%= tag[:label] %></a>: <span id="count_<%= tag[:label] %>">0</span></li>
		<% end %>
		<li id="total_count">counting…</li>
	</ul>

	<h2>All Items (incremental)</h2>

	<table class="sortable" id="todo_list_table">
		<tr>
			<th>Type</th>
			<th>File</th>
			<th>Comment</th>
		</tr>