<div id="todo_list">

	<ul class="counters">
		<% $tags.each do |tag| %>
			<li id="counter_tab_<%= tag[:label] %>" class="bg_<%= tag[:label] %>" <% if tag[:trim_if_empty] then %>style="display: none;"<% end %>><a href="#jump_to_<%= tag[:label] %>" accesskey="<%= tag[:label][0..0] %>"><%= tag[:label] %></a>: <span id="count_<%= tag[:label] %>">0</span></li>
		<% end %>
		<li id="total_count">counting…</li>
	</ul>
