<style type="text/css">
<% tags.each do |tag| %>
  .bg_<%= tag[:label] %> {background-color: <%= tag[:color] %>; color: #FFF; padding: 0.5ex;}
  #jump_to_<%= tag[:label] %> {color: <%= tag[:color] %>;}
  .color_<%= tag[:label] %> {color: <%= tag[:color] %>}
<% end %>
</style>
