<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>gvzbgul.p.ongrf@tznvy.pbz</string>
	<key>contactName</key>
	<string>Timothy Bates</string>
	<key>description</key>
	<string>A matrix algebra and optimizer language.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>C44758A4-884B-41F0-9F93-40FDEEFA2DA2</string>
			<string>B1EE21F7-7494-4935-AEB0-AA68851CB815</string>
			<string>838B63F5-B7BD-40C5-AEE9-61E239878720</string>
			<string>325B58A6-EDCD-4A3D-801A-1D47493D1629</string>
			<string>C10DB125-C026-4DBF-A02D-688D462D182F</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>838B63F5-B7BD-40C5-AEE9-61E239878720</key>
			<dict>
				<key>items</key>
				<array>
					<string>2D7B6866-400B-4120-9EC1-0397E33169A1</string>
					<string>5FD94CDD-7F29-4DE9-9175-51605381A2E6</string>
					<string>4027DB25-6790-444F-82A2-08D5113A6786</string>
					<string>04CC33D1-C24C-4B75-8D15-9AE1193C343C</string>
				</array>
				<key>name</key>
				<string>Matrices</string>
			</dict>
			<key>B1EE21F7-7494-4935-AEB0-AA68851CB815</key>
			<dict>
				<key>items</key>
				<array>
					<string>6BA9776E-7FB7-4944-A4A6-6EE36E9A434E</string>
					<string>B29818C1-61C6-4F45-8040-A24DFE61DCBF</string>
					<string>82E41FF7-A8DA-4185-99E4-F00D16DB85A6</string>
				</array>
				<key>name</key>
				<string>Groups</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Mx</string>
	<key>ordering</key>
	<array>
		<string>754E7AB4-1DA0-4D9A-91D8-CA787E8249C8</string>
		<string>E4C95AEB-29BD-445B-A334-12DF2E0772CD</string>
		<string>6BA9776E-7FB7-4944-A4A6-6EE36E9A434E</string>
		<string>82E41FF7-A8DA-4185-99E4-F00D16DB85A6</string>
		<string>B29818C1-61C6-4F45-8040-A24DFE61DCBF</string>
		<string>2D7B6866-400B-4120-9EC1-0397E33169A1</string>
		<string>C44758A4-884B-41F0-9F93-40FDEEFA2DA2</string>
		<string>325B58A6-EDCD-4A3D-801A-1D47493D1629</string>
		<string>C10DB125-C026-4DBF-A02D-688D462D182F</string>
		<string>5FD94CDD-7F29-4DE9-9175-51605381A2E6</string>
		<string>4027DB25-6790-444F-82A2-08D5113A6786</string>
		<string>8C312D56-4B39-438A-815B-0E36115A6F11</string>
		<string>04CC33D1-C24C-4B75-8D15-9AE1193C343C</string>
	</array>
	<key>uuid</key>
	<string>5B1D8959-F6BB-4F99-9E28-C97BFF447DF6</string>
</dict>
</plist>
