<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>poraargg@fpurzngvp.pbz</string>
	<key>contactName</key>
	<string>Champ Bennett</string>
	<key>description</key>
	<string>&lt;a href=&quot;http://sourceforge.net/projects/jsdoc&quot;&gt;JSDoc&lt;/a&gt; is a tool that parses inline documentation in JavaScript source files, and produces an documentation of the JavaScript code.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>0D7ED0EC-3B62-49B0-BEED-04CF958DAFA6</string>
			<string>------------------------------------</string>
			<string>D09914A2-E6D8-48F0-8B03-AE34531B3BB2</string>
			<string>6446FA52-0EBC-4DE8-842B-D52F5BD1F5B7</string>
			<string>CA27D8BE-5F99-4A62-A5BC-AF10A817F536</string>
			<string>17F51DD9-6CB7-4174-91E2-00E423A2190A</string>
			<string>------------------------------------</string>
			<string>38D9260D-83B4-465D-8941-A6D2C06B5E38</string>
			<string>------------------------------------</string>
			<string>DF0329A2-993B-4366-B055-3161E1799FEA</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>38D9260D-83B4-465D-8941-A6D2C06B5E38</key>
			<dict>
				<key>items</key>
				<array>
					<string>E0C1A472-7983-4D9B-AFB2-F8E9A1E7EC16</string>
					<string>E3749A12-1F4C-4A68-B7B0-D03552A3E33F</string>
					<string>952177DE-4C34-4DC6-A0F6-DB3D3EE9FF52</string>
					<string>8434FCB6-A058-48AA-AD6B-53187C56A4B3</string>
					<string>1537A210-A2C2-4AC7-B860-F0E8503971DE</string>
					<string>16AFC818-7260-41B0-8229-82BA9EA41587</string>
					<string>72F1AE56-8C22-43F2-82C8-92AC817C7D62</string>
					<string>B2DDA29F-AC4B-4284-AD17-6D889CE5BAA0</string>
					<string>1C7E9B9E-CC1E-4EEB-80CE-87A6B221FA47</string>
					<string>0B1C0D95-8034-4C50-98A7-69C6B73E4241</string>
					<string>C4D294C3-F4F0-4B50-9518-91BB6559AE03</string>
					<string>9C958AD2-120D-4929-BC1D-CAAC3D500D51</string>
				</array>
				<key>name</key>
				<string>Tags</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>JavaScript JSDoc</string>
	<key>ordering</key>
	<array>
		<string>6446FA52-0EBC-4DE8-842B-D52F5BD1F5B7</string>
		<string>CA27D8BE-5F99-4A62-A5BC-AF10A817F536</string>
		<string>D09914A2-E6D8-48F0-8B03-AE34531B3BB2</string>
		<string>17F51DD9-6CB7-4174-91E2-00E423A2190A</string>
		<string>952177DE-4C34-4DC6-A0F6-DB3D3EE9FF52</string>
		<string>16AFC818-7260-41B0-8229-82BA9EA41587</string>
		<string>C4D294C3-F4F0-4B50-9518-91BB6559AE03</string>
		<string>1537A210-A2C2-4AC7-B860-F0E8503971DE</string>
		<string>E0C1A472-7983-4D9B-AFB2-F8E9A1E7EC16</string>
		<string>B2DDA29F-AC4B-4284-AD17-6D889CE5BAA0</string>
		<string>9C958AD2-120D-4929-BC1D-CAAC3D500D51</string>
		<string>8434FCB6-A058-48AA-AD6B-53187C56A4B3</string>
		<string>72F1AE56-8C22-43F2-82C8-92AC817C7D62</string>
		<string>E3749A12-1F4C-4A68-B7B0-D03552A3E33F</string>
		<string>1C7E9B9E-CC1E-4EEB-80CE-87A6B221FA47</string>
		<string>0B1C0D95-8034-4C50-98A7-69C6B73E4241</string>
		<string>0D7ED0EC-3B62-49B0-BEED-04CF958DAFA6</string>
		<string>DF0329A2-993B-4366-B055-3161E1799FEA</string>
	</array>
	<key>uuid</key>
	<string>6FFB94A1-EB29-4A7B-87B7-7E47035CEB79</string>
</dict>
</plist>
