
.section {
	font-family: "Helvetica", sans-serif;
}

span.showhide a{
	color: #999;
	text-decoration: none;
}

div.section_target{
	padding-top: 4px;
	padding-bottom: 4px;
	border-top: solid #999 1px;
}

span.name{
	font-weight: bold;
}

code{
	font-size: 9px;
}