body {
   font-family: "Lucida Grande", sans-serif;
   font-size: 11pt;	
/*   background-color: #415A74;*/
   	background-color: #79797F;
	background: #CBCBCB url(sG42_uno_75-64.gif) repeat-x top;
}

div {
	position: relative;
}

div.section {
	padding:             2px;
	margin:              3px;
	border:              1px;
	border-style:        solid;
	border-top-color:    #eee;
	border-right-color:  #bbb;
	border-bottom-color: #999;
	border-left-color:   #ccc;
	color:               #111;
	background-color:    #fff;
	font-size:           70%;
	margin:              0;
}

div.section pre {
	font-size: 120%;
}

div.target h2 {
	font-size: 10pt;
	margin-top: 2px;
	margin-bottom: 2px;
}

h1 {
	color: #333;
	font-weight: bold;
/*	text-shadow: #000 2px 3px 3px;*/
	font-size: 14pt;
	text-shadow: #999 2px 3px 5px;
}

/* make horizontal rules slightly less heavy */
hr {
	color: #ccc;
	background-color: #ccc;
	height: 1px;
	border: 0px;
}

div.inner {
	color: inherit;
	background-color: inherit;
	font-family: inherit;
	font-size: inherit;
}

/* for error formating */

div.error h2, div.warning h2, div.info h2 {
/*   font-size: 10pt;*/
   font-family: "Lucida Grande", sans-serif;
   margin-top: 0;
}

div.error div.inner :link, div.warning div.inner :link, div.info div.inner :link {
	font-family: "Monaco", "Bitstream Vera Sans Mono", monospace;
}

div.error, div.warning, div.info {
	padding: 4px;
	margin: 3px;
	font-size: 8pt;
	border-style: none none none solid;
   	border-width: thin thin thin thick;
}

div.error {
   color: #f30;
   background-color: #fee;
}

div.warning {
   color: #D9AF29;
   background-color: #FFD;
}

div.info {
   color: #03f;
   background-color: #DEE9FE;
}

div.info li,p {
   color: #000;
}

div.error li,p {
   color: #000;
}

div.warning li,p {
   color: #000;
}

table.status {
	background: #EBEBEB url(sG42_100_90-1024.gif) repeat-x top;
	border: 1px solid transparent;
	border-collapse:collapse;
	width:100%;
}
table.status td {
	border:none;
	border-bottom: 1px solid #fff;
}
table.status tr:hover .file_col,
table.status tr:hover .diff_col,
table.status tr:hover .remove_col,
table.status tr:hover .add_col {
	background-image: url(sG42_100_90-16.gif);
}

.diff_col, .remove_col, .add_col,
.diff_col *, .remove_col *, .add_col * {
	display:block;
/*	margin:0 2px;*/
	padding:0 2px;
	float:none;
	text-align: center;
	font-size: 9px;
	color: #294666;
	font-weight: bold;
}
.status_col {
	background-image:none !important;
}
.file_col {
	width: 100%;
	text-align: left !important;
}

table.status {
	font-size: 93%;
}

/* center the status characters */
table.status td[class] {
	text-align: center;
}

table.status a:link, table.status a:visited {
	font-size:           inherit;
	padding:             1px 3px;
	border-bottom: 1px solid transparent;
	text-decoration:     none;
	border-bottom-color: #eee;
	border-bottom-style: solid;
	color:               #294666;
/*	white-space: nowrap;*/
}

table.status a:hover, table.status a:active {
	font-size:           inherit;
	background-color:    #a3c8ff;
	color:               inherit;
	text-decoration:     none;
	border: none;
	border-bottom: 1px solid #456B99;
	background: url(sG42_blue-32.gif) top;
	text-shadow: #fff -1px -2px 2px;
}
table.status a:active {
	background-color: #93B3E5;
	background: url(sG42_blue-16.gif) top;
	color: white;
	text-shadow: #456B99 1px 2px 2px;
}

/* A */
table.status td.added, td.updated, td.merged {
   color: green;
   background: #bbffb3;	
}

/* M */
table.status td.modified {
	color: #eb6400;
	background: #f7e1ad;
}

/* D */
table.status td.deleted, td.replaced {
	color: red;
	background: #f59696;
}

/* C, !, " */
table.status td.conflict, table.status td.missing, table.status td.typeconflict {
	color: teal;
	background: #A3CED0;
}

/* ?, I, X */
table.status td.unknown, table.status td.ignored, table.status td.external {
	color: purple;
	background: #edaef5;
}

#STATUS {
	white-space: pre;
	font: 10px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color:#666;
	width: 100%;
	overflow: auto;
	padding-bottom: 10px;
}
