<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?php echo select_tag('${1:field_name}', options_for_select(array(${0}), '${2:selected_value}'))?&gt;</string>
	<key>name</key>
	<string>select_tag</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>select_tag</string>
	<key>uuid</key>
	<string>474150AB-8A66-4F05-81B0-927945B2AC0E</string>
</dict>
</plist>
