<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?php echo link_to('${1:link_name}', '${2:module_name}/${3:action_name}${4:?}') ?&gt;$0</string>
	<key>name</key>
	<string>link_to</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>link_to</string>
	<key>uuid</key>
	<string>56D5710B-6219-4B4E-AA27-D54CC95581C7</string>
</dict>
</plist>
