<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?php foreach (\$${1:variable} as \$${2:key}${3: =&gt; \$${4:value}}): ?&gt;
  ${0}
&lt;?php endforeach ?&gt;</string>
	<key>name</key>
	<string>foreach</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>tforeach</string>
	<key>uuid</key>
	<string>A0F93A27-72DE-42BD-B1DC-640F04970CBB</string>
</dict>
</plist>
