<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;${1:p}&gt;$TM_SELECTED_TEXT&lt;/${1/\s.*//}&gt;</string>
	<key>keyEquivalent</key>
	<string>~W</string>
	<key>name</key>
	<string>template - insert tag</string>
	<key>scope</key>
	<string>source.php</string>
	<key>uuid</key>
	<string>1DDB2BF4-3353-4C35-8356-7B25EA405ECE</string>
</dict>
</plist>
