<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Mail</string>
	<key>ordering</key>
	<array>
		<string>15615A0C-37B0-4B3F-9105-53ED536AFBB4</string>
	</array>
	<key>uuid</key>
	<string>385A8908-0733-408E-AFA5-9576D2E3A16B</string>
</dict>
</plist>
