<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>command</key>
			<string>moveWordLeft:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveWordRightAndModifySelection:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>[</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveLeft:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string> </string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>a</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>l</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>l</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>o</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>c</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveWordLeft:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveWordLeft:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveWordRightAndModifySelection:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveWordRightAndModifySelection:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>[</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string> </string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>i</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>n</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>i</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>o</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>t</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>deleteBackward:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>deleteBackward:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>t</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveToEndOfLine:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>;</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
	</array>
	<key>name</key>
	<string>[[alloc] init]</string>
	<key>scope</key>
	<string>source.objc, source.objc++</string>
	<key>scopeType</key>
	<string>local</string>
	<key>tabTrigger</key>
	<string>alloc</string>
	<key>uuid</key>
	<string>84C189E7-9E82-11D9-89E8-000A95A89C98</string>
</dict>
</plist>
