<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
	TM_BLOG_TITLE=${TM_NEW_FILE_BASENAME%%.*} \
	TM_BLOG_HEADER=${TM_BLOG_ENDPOINT:+Blog: $TM_BLOG_ENDPOINT$'\n'} \
	TM_YEAR=`date +%Y` \
	TM_DATE=`date +%Y-%m-%d` \
	TM_ISO_DATE=`date +"%Y-%m-%d %H:%M:%S"` \
	perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' &lt; untitled.blog.textile &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>blog.textile</string>
	<key>name</key>
	<string>Blog Post (Textile)</string>
	<key>uuid</key>
	<string>60F07B75-41FD-473F-A390-9E821D880469</string>
</dict>
</plist>
