<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>yq@yqnyrl.pbz</string>
	<key>contactName</key>
	<string>Luke Daley</string>
	<key>deleted</key>
	<array/>
	<key>description</key>
	<string>A bundle for the &lt;a href="http://java.sun.com/"&gt;Java&lt;/a&gt; programming language.</string>
	<key>mainMenu</key>
	<dict>
		<key>excludedItems</key>
		<array>
		</array>
		<key>items</key>
		<array/>
		<key>submenus</key>
		<dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Java</string>
	<key>ordering</key>
	<array>
		<string>2B449DF6-6B1D-11D9-94EC-000D93589AF6</string>
		<string>2A28E50A-6B1D-11D9-8689-000D93589AF6</string>
		<string>CE007C8C-9A0B-43B8-AEAF-45613BCD3DF7</string>
		<string>FBA964F9-EA31-44D1-A5FD-AE8AB3FF8954</string>
		<string>20E93106-18CF-4BA3-9DA3-8F0C955DB774</string>
		<string>FA4CD3FA-A79B-43E3-A432-DA53DA4A060D</string>
	</array>
	<key>uuid</key>
	<string>4677FEB2-6227-11D9-BFB1-000D93589AF6</string>
</dict>
</plist>
