<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Perforce</string>
	<key>ordering</key>
	<array>
		<string>AD9B4CB8-7577-11D9-A32D-000A95A89C98</string>
		<string>556314B2-B3BF-11D9-9B1F-000A95A89C98</string>
		<string>38C6DE3A-7664-11D9-B58C-000A95A89C98</string>
		<string>97E895A4-B5B9-11D9-80D4-000A95A89C98</string>
		<string>9982EC7A-7577-11D9-A32D-000A95A89C98</string>
		<string>E73FA01C-7625-11D9-B58C-000A95A89C98</string>
	</array>
	<key>uuid</key>
	<string>9211D349-7577-11D9-A32D-000A95A89C98</string>
</dict>
</plist>
