<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;tr&gt;
	&lt;td&gt;
		$1
	&lt;/td&gt;$0
&lt;/tr&gt;</string>
	<key>name</key>
	<string>Table row (row)</string>
	<key>scope</key>
	<string></string>
	<key>tabTrigger</key>
	<string>row</string>
	<key>uuid</key>
	<string>D27F1457-D8B4-46B6-9BBA-85D9512BF0B1</string>
</dict>
</plist>
