<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;a href="${1:http://somesite.com/}"&gt;${2:${TM_SELECTED_TEXT:Link text...}}&lt;/a&gt;</string>
	<key>keyEquivalent</key>
	<string>^L</string>
	<key>name</key>
	<string>Wrap Selection as Link</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>ref</string>
	<key>uuid</key>
	<string>44F60595-F6BC-42BB-94B8-DF0FE455A283</string>
</dict>
</plist>
