<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;button type="${1:submit}" id="${2:buttonID}" name="${3:buttonName}" value="${4:buttonText}" /&gt;</string>
	<key>name</key>
	<string>Button (btn)</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>btn</string>
	<key>uuid</key>
	<string>C7C4B00A-A12D-11D9-A5A2-000D93C8BE28</string>
</dict>
</plist>
