<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;head&gt;
	&lt;meta http-equiv="Content-type" content="text/html; charset=utf-8" /&gt;
	&lt;title&gt;${1:`if [[ -z $TM_FILENAME ]]; then printf "Page title"; else basename "$TM_FILENAME"|sed 's/\(.*\)\..*$/\1/'; fi`}&lt;/title&gt;
	$0
&lt;/head&gt;</string>
	<key>name</key>
	<string>Head (head)</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>head</string>
	<key>uuid</key>
	<string>9CF008C4-A086-11D9-A5A2-000D93C8BE28</string>
</dict>
</plist>
