<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string># based on chris thomas' svn add and diff

TMPFILE=`mktemp /tmp/tm-svn.XXXXXX` || exit 1
mv "$TMPFILE" "$TMPFILE.diff"; TMPFILE="$TMPFILE.diff"

ruby &gt; "$TMPFILE" &lt;&lt;END
  puts %x{diff -u $TM_SELECTED_FILES}
END

open -a TextMate "$TMPFILE" &amp;
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^E</string>
	<key>name</key>
	<string>Diff 2 selected Files</string>
	<key>output</key>
	<string>discard</string>
	<key>uuid</key>
	<string>D04AFBD3-8110-11D9-8E5B-0011242E4184</string>
</dict>
</plist>
