<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>templatize.sh hibernate-tmpl.hbm.xml</string>
	<key>extension</key>
	<string>hbm.xml</string>
	<key>name</key>
	<string>Hibernate Mapping Document</string>
	<key>uuid</key>
	<string>FC40FDBA-EEB6-43FD-9D58-A1D0F116CEC1</string>
</dict>
</plist>
