<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>to:$1 by:$2 do:[ ${3::i} |
	$4
].</string>
	<key>name</key>
	<string>to:by:do:</string>
	<key>scope</key>
	<string>source.fscript</string>
	<key>tabTrigger</key>
	<string>tbd</string>
	<key>uuid</key>
	<string>1609A403-1BEA-4280-87CC-70450082C941</string>
</dict>
</plist>
