<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Quake</string>
	<key>ordering</key>
	<array>
		<string>AAB8717E-6E5C-11D9-9BE0-0011242E4184</string>
		<string>B7D4A868-A86B-489E-A34B-D4DE0BD51C08</string>
	</array>
	<key>uuid</key>
	<string>230EB053-6E5D-11D9-BE5A-0011242E4184</string>
</dict>
</plist>
