<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoScrollOutput</key>
	<integer>1</integer>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>. "$TM_SUPPORT_PATH/lib/webpreview.sh"
html_header "Run ‘${TM_FILENAME}’"

if [ ! -x "$TM_FILEPATH" ]; then

  res=$(iconv &lt;&lt;APPLESCRIPT -f utf-8 -t mac|osascript 2&gt;/dev/null
  tell app "TextMate" to return button returned of ¬
    (display dialog "To run “${TM_FILENAME}” as a shell script it needs to be executable.\n\nWould you like to make it executable?" ¬
      buttons {"Cancel", "Make Executable"} ¬
      with icon 1 default button 2)
APPLESCRIPT)

  if [[ "$res" != "Make Executable" ]]; then echo '&lt;script&gt;window.close()&lt;/script&gt;'; abort; exit; fi
  chmod a+x "$TM_FILEPATH"
fi

"$TM_FILEPATH"|pre
echo "Program exited with status $?."
html_footer
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@r</string>
	<key>name</key>
	<string>Run Script</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.shell</string>
	<key>uuid</key>
	<string>7207ACC2-A64B-11D9-B384-000D93382786</string>
</dict>
</plist>
