<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>argument</key>
			<dict>
				<key>action</key>
				<string>findPrevious</string>
				<key>findInProjectIgnoreCase</key>
				<false/>
				<key>findString</key>
				<string>[</string>
				<key>ignoreCase</key>
				<false/>
				<key>regularExpression</key>
				<false/>
				<key>replaceAllScope</key>
				<string>selection</string>
				<key>replaceString</key>
				<string>
	uuid
}</string>
				<key>wrapAround</key>
				<false/>
			</dict>
			<key>command</key>
			<string>findWithOptions:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveLeft:</string>
		</dict>
		<dict>
			<key>argument</key>
			<dict>
				<key>action</key>
				<string>findNext</string>
				<key>findInProjectIgnoreCase</key>
				<false/>
				<key>findString</key>
				<string>\[[^\[\]]*(?R)?[^\[\]]*\]</string>
				<key>ignoreCase</key>
				<false/>
				<key>regularExpression</key>
				<true/>
				<key>replaceAllScope</key>
				<string>selection</string>
				<key>replaceString</key>
				<string>
	uuid
}</string>
				<key>wrapAround</key>
				<false/>
			</dict>
			<key>command</key>
			<string>findWithOptions:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>^M</string>
	<key>name</key>
	<string>Select Method</string>
	<key>uuid</key>
	<string>B424B162-6B96-11D9-AA63-000D93589AF6</string>
</dict>
</plist>
