<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>SWIG</string>
	<key>ordering</key>
	<array>
		<string>C781B0D0-BED9-11D9-A141-000393A143CC</string>
    </array>
	<key>uuid</key>
	<string>8C563B34-BE0B-11D9-B4D9-000393A143CC</string>
</dict>
</plist>
