<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>- (id)${1:method}
{
	return ${2:object};
}</string>
	<key>name</key>
	<string>- (id)method</string>
	<key>scope</key>
	<string>(source.objc | source.objc++) &amp; meta.scope.implementation.objc - meta.function-with-body</string>
	<key>tabTrigger</key>
	<string>id</string>
	<key>uuid</key>
	<string>64C7F64A-B8B9-11D9-AE51-000393A143CC</string>
</dict>
</plist>
