<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>- (id)init
{
	if((self = [super init]))
	{
		$0
	}
	return self;
}
</string>
	<key>name</key>
	<string>- init</string>
	<key>scope</key>
	<string>(source.objc | source.objc++) &amp; meta.scope.implementation.objc - meta.function-with-body</string>
	<key>tabTrigger</key>
	<string>init</string>
	<key>uuid</key>
	<string>C9CD762E-B8B9-11D9-AE51-000393A143CC</string>
</dict>
</plist>
