<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>TODO</string>
	<key>ordering</key>
	<array>
		<string>14C1643E-7D51-11D9-859D-000D93B6E43C</string>
		<string>46C3E5A1-7E04-11D9-AE69-000D93B6E43C</string>
	</array>
	<key>uuid</key>
	<string>0B296803-7D51-11D9-859D-000D93B6E43C</string>
</dict>
</plist>
