<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\$this-&gt;${1:ModelName}-&gt;generateList(${2:array(${3:'$1.created'=&gt;'&lt;= now()'}})}${6:, ${7:'created DESC'}}${8:, ${9:20}${10:, ${11:\$keyPath=null}}${12:, {13:\$valuePath=null}});
$0</string>
	<key>name</key>
	<string>$this-&gt;ModelName-&gt;generateList</string>
	<key>scope</key>
	<string>source.php.cake</string>
	<key>tabTrigger</key>
	<string>MgenerateList</string>
	<key>uuid</key>
	<string>78D7D4AE-A7B6-4B58-B508-EE3DBF175B21</string>
</dict>
</plist>
