<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\$this-&gt;${1:ModelName}-&gt;findBy${2:FieldName(${3:\$value}));
$0</string>
	<key>name</key>
	<string>$this-&gt;ModelName-&gt;findBy&lt;FieldName&gt;</string>
	<key>scope</key>
	<string>source.php.cake</string>
	<key>tabTrigger</key>
	<string>MfindBy</string>
	<key>uuid</key>
	<string>E92E5F5B-B9B0-49CB-825E-8A7B9B68B1F2</string>
</dict>
</plist>
