<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\$this-&gt;redirect('/${1:path/to/redirect/to}');</string>
	<key>name</key>
	<string>$this-&gt;redirect()</string>
	<key>scope</key>
	<string>source.php.cake</string>
	<key>tabTrigger</key>
	<string>Credirect</string>
	<key>uuid</key>
	<string>887062B4-9C60-4656-8808-8F41381AA7F2</string>
</dict>
</plist>
