<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>/** \name admin section for ${1:PluralPart}sController
**/
//@{


/** \\brief index the model for return to a view
	\\author `echo $TM_AUTHOR` `echo $TM_ORGANIZATION_NAME`
	\\date `TZ=GMT date +%Y-%m-%d # T%H:%M:%SZ`

	\\sa
**/
function ${2:admin_}index()
{
	\$this-&gt;layout = '${5:admin}';
	\$data = \$this-&gt;$1-&gt;findAll(\$conditions=null, \$fields=null, \$this-&gt;order, \$this-&gt;show, \$this-&gt;page);

	//\$paging['style'] = 'ajax';
	\$paging['link'] = '/admin/$3/?show='.\$this-&gt;show.'&amp;sort='.\$this-&gt;sortBy.'&amp;direction='.\$this-&gt;direction.'&amp;page=';

	\$paging['count'] = \$this-&gt;$1-&gt;findCount(\$conditions=null);
	\$paging['show'] = array('10','25','50');
	\$paging['page'] = \$this-&gt;page;
	\$paging['limit'] = \$this-&gt;show;
	\$paging['direction'] = \$this-&gt;direction;

	\$this-&gt;set('paging',\$paging);
	\$this-&gt;set('data',\$data);
	\$this-&gt;set('paging',\$paging);
	\$this-&gt;set('data',\$this-&gt;$1-&gt;findAll());
} // END function ${2}index

/** \\brief view a single model item
	\\author `echo $TM_AUTHOR` `echo $TM_ORGANIZATION_NAME`
	\\date `TZ=GMT date +%Y-%m-%d # T%H:%M:%SZ`
	\\param id id of model item to pass to view
	\\sa
**/
function ${2}view(\$id)
{
	\$this-&gt;layout = '${5}';
     \$this-&gt;$1-&gt;id = \$id;
	\$this-&gt;set('data', \$this-&gt;$1-&gt;read());
}

/** \\brief add a single model item
	\\author `echo $TM_AUTHOR` `echo $TM_ORGANIZATION_NAME`
	\\date `TZ=GMT date +%Y-%m-%d # T%H:%M:%SZ`

	\\sa
**/
function ${2}add()
{
	\$this-&gt;layout = '${5}';
	if (empty(\$this-&gt;params['data']))
	{
		\$this-&gt;render();
	}
	else
	{
		if (\$this-&gt;$1-&gt;save(\$this-&gt;params['data']))
		{
			\$this-&gt;Session-&gt;setFlash('Your $1 has been saved');
			\$this-&gt;redirect('${3:/admin}/${4:${1/./\l$0/}s}/index');
		}
		else
		{
			\$this-&gt;set('data', \$this-&gt;params['data']);
			\$this-&gt;validateErrors(\$this-&gt;$1);
			\$this-&gt;render();
		}
	}
} // END function ${2}add

/** \\brief delete a single model item
	\\author `echo $TM_AUTHOR` `echo $TM_ORGANIZATION_NAME`
	\\date `TZ=GMT date +%Y-%m-%d # T%H:%M:%SZ`
	\\param id id of model item delete
	\\sa
**/
function ${2}delete(\$id) {
	\$this-&gt;layout = '${5:admin}';
	if (\$this-&gt;$1-&gt;del(\$id))
	{
		\$this-&gt;Session-&gt;setFlash('The $1 with id: '.\$id.' has been deleted.');
		\$this-&gt;redirect('${3}/${4}/index');
	}
} // END function ${2}delete

/** \\brief edit a single model item
	\\author `echo $TM_AUTHOR` `echo $TM_ORGANIZATION_NAME`
	\\date `TZ=GMT date +%Y-%m-%d # T%H:%M:%SZ`
	\\param id id of model item to edit
	\\sa
**/
function ${2}edit(\$id=null) 	{
	\$this-&gt;layout = '${5:admin}';
	if (empty(\$this-&gt;params['data']))
	{
		\$this-&gt;$1-&gt;setId(\$id);
		\$this-&gt;params['data'] = \$this-&gt;$1-&gt;read();
		\$this-&gt;set('data', \$this-&gt;params['data']);	
		\$this-&gt;render();
	}
	else
	{
		\$this-&gt;$1-&gt;set(\$this-&gt;params['data']);
		if ( \$this-&gt;$1-&gt;save())
		{
			
			\$this-&gt;Session-&gt;setFlash('Your $1 has been updated.');
			\$this-&gt;redirect('${3}/${4}/index');
		}
		else
		{
			\$this-&gt;set('data', \$this-&gt;params['data']);
			\$this-&gt;validateErrors(\$this-&gt;$1);
			\$this-&gt;render();
		}
	}
} // END function ${2}edit
//@}</string>
	<key>name</key>
	<string>Add Controller Admin Section</string>
	<key>scope</key>
	<string>text.html, source.php.cake</string>
	<key>tabTrigger</key>
	<string>Cadmin</string>
	<key>uuid</key>
	<string>68F5651C-065F-45AE-8F92-374434920BCF</string>
</dict>
</plist>
