<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?php echo \$html-&gt;css('${1:linkText}'); ?&gt;</string>
	<key>name</key>
	<string>css (tcss)</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>tcss</string>
	<key>uuid</key>
	<string>02430C52-3C71-4A9E-B354-C63F9A56AD79</string>
</dict>
</plist>
