<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?php
/*! \page  ${1:$TM_FILEPATH} ${2:description}
	
	&amp;copy; Copyright `date +%Y` `echo $TM_ORGANIZATION_NAME` - `echo $TM_AUTHOR`. All Rights Reserved.

	\\author `echo $TM_AUTHOR` `echo $TM_ORGANIZATION_NAME`
	\\author \$LastChangedBy\$
 	\\date `TZ=GMT date +%Y-%m-%d # T%H:%M:%SZ`
	\\date \$LastChangedDate\$
	\\version \$Rev\$
	\sa
*/ ?&gt;
$0</string>
	<key>name</key>
	<string>Dox Doc page</string>
	<key>scope</key>
	<string>text.html, source.php.cake</string>
	<key>tabTrigger</key>
	<string>cdoc</string>
	<key>uuid</key>
	<string>11F91D5A-CD81-4327-AC2F-ECD768167825</string>
</dict>
</plist>
