<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;${4:p}&gt;${3:Label: }&lt;?php e(\$data['${1:Model}']['${2:field}']); ?&gt;&lt;/$4&gt;</string>
	<key>name</key>
	<string>e($data['Model']['field'])</string>
	<key>scope</key>
	<string>text.html, source.php.cake</string>
	<key>tabTrigger</key>
	<string>Ve</string>
	<key>uuid</key>
	<string>E647EDCD-5620-4B63-8699-52C7D7AD9A7E</string>
</dict>
</plist>
