<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?php echo \$html-&gt;hidden('${1:Model}/${2:field}', ${3: array('value'=&gt;${4:\$variable})}); ?&gt;</string>
	<key>name</key>
	<string>hidden (thidden)</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>thidden</string>
	<key>uuid</key>
	<string>4C9C0C35-D288-4C9C-A18B-1840F0652618</string>
</dict>
</plist>
