<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?php echo \$html-&gt;image('${1:image.png}', array('alt'=&gt;'${2:altText}')); ?&gt;</string>
	<key>name</key>
	<string>image</string>
	<key>scope</key>
	<string>text.html, source.php.cake</string>
	<key>tabTrigger</key>
	<string>Vimage</string>
	<key>uuid</key>
	<string>0552C838-D090-4B36-8686-24D958F4435F</string>
</dict>
</plist>
