<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?php echo \$html-&gt;link('${1:linkText}', '${2:linkPath}', ${3: array('value'=&gt;${4:\$variable})}); ?&gt;$0</string>
	<key>name</key>
	<string>link (tlink)</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>tlink</string>
	<key>uuid</key>
	<string>B67591FC-EA93-409B-805F-43F7399FF2E9</string>
</dict>
</plist>
