<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>${5:&lt;?php echo \$html-&gt;tagErrorMsg('$1/$2', '${6:validation error message.}') ?&gt;}
&lt;?php echo \$html-&gt;textarea('${1:Model}/${2:field}', array('rows'=&gt;'${3:rows}','cols'=&gt;'${4:cols}')) ?&gt;
&lt;/p&gt;
$0</string>
	<key>name</key>
	<string>textArea (Vtext)</string>
	<key>scope</key>
	<string>text.html, source.php.cake</string>
	<key>tabTrigger</key>
	<string>Vtext</string>
	<key>uuid</key>
	<string>FE6BA4D6-3F95-452B-986C-90412875F0BB</string>
</dict>
</plist>
