<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>. "$TM_SUPPORT_PATH/lib/html.sh"

OPTIONS="--word-wrap -C" # -C is line numbers
#OPTIONS="$OPTIONS --landscape"

lang=$(perl &lt;&lt;&lt;$TM_SCOPE -pe 's/.*?\b(?:source|text)\.([^. ]*).*/$1/')
case "$lang" in
    c++)
        lang="cpp"
        ;;
    objc++)
        lang="objc"
        ;;
    shell)
        lang="sh"
        ;;
esac

if ! enscript --help-pretty-print|grep -sq "^Name: $lang\$"
  then lang=""
fi

header="${TM_FILENAME:-untitled}|%W|Page \$% of \$="
pstopdf &lt;(enscript -T$TM_TAB_SIZE -o - -E$lang $OPTIONS --header="$header") -o /tmp/out.pdf &amp;&amp; redirect tm-file://localhost/tmp/out.pdf
</string>
	<key>input</key>
	<string>document</string>
	<key>name</key>
	<string>View Source as PDF</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>D9DFD434-17FE-4491-A182-1B8F8491B3F7</string>
</dict>
</plist>
