<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>. "$TM_BUNDLE_PATH/Tools/svn_diff.sh"
svn_diff "BASE" "Diff With Working Copy (BASE)"</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^A</string>
	<key>name</key>
	<string>Diff With Working Copy (BASE)</string>
	<key>output</key>
	<string>discard</string>
	<key>uuid</key>
	<string>11D4D7C2-7665-11D9-B58C-000A95A89C98</string>
</dict>
</plist>
