<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveModifiedFiles</string>
	<key>command</key>
	<string>export WorkPaths="$TM_PROJECT_DIRECTORY"

echo "${TM_SVN:=svn}" &gt; /dev/null
export TM_SVN

"${TM_RUBY:=ruby}" &lt;&lt;END
	svn		= ENV['TM_SVN']
	bundle	= ENV['TM_BUNDLE_PATH']

	puts "&lt;html&gt;
&lt;head&gt;
&lt;title&gt;Update Project&lt;/title&gt;
&lt;style type=\"text/css\"&gt;
   @import 'file://"+bundle+"/Stylesheets/svn_style.css';
&lt;/style&gt;
&lt;/head&gt;

&lt;body&gt;"
	command = %Q{#{svn} update "$WorkPaths"}
	puts "&lt;h1&gt;Update Project&lt;/h1&gt;"
	puts "&lt;div class=\"command\"&gt;"
	puts "&lt;strong&gt;" + "#{svn} update" + "&lt;/strong&gt;" + "&amp;nbsp;" + "$WorkPaths"
	puts "&lt;/div&gt;"
	puts "&lt;hr&gt;"
	puts "&lt;p&gt; &lt;pre&gt;"

	STDOUT.flush
	fork { exec "#{command}" }
	Process.wait

	puts "&lt;/pre&gt;&lt;/body&gt;&lt;/html&gt;"
END
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^A</string>
	<key>name</key>
	<string>Update Entire Project to Newest</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>A1DEEFE4-7E3A-11D9-81A1-000A95A89C98</string>
</dict>
</plist>
