<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Base Preferences</string>
	<key>scope</key>
	<string></string>
	<key>settings</key>
	<dict/>
	<key>uuid</key>
	<string>5D024393-E20F-449F-811C-2989C66F64F9</string>
</dict>
</plist>
