<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>cd $TM_PROJECT_DIRECTORY
"${TM_P4:=p4}" diff -se ./... | "${TM_P4:=p4}" -x - edit</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^$</string>
	<key>name</key>
	<string>Edit Lurkers</string>
	<key>output</key>
	<string>openAsNewDocument</string>
	<key>uuid</key>
	<string>3E208CDF-268C-4A23-902B-5628596E4BC8</string>
</dict>
</plist>
