<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-us" />
		
		<title>${TM_NEW_FILE_BASENAME}</title>
		
		<meta name="ROBOTS" content="ALL" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="MSSmartTagsPreventParsing" content="true" />
		<meta name="Copyright" content="(c) ${TM_YEAR} Copyright content: ${TM_CLIENT_NAME} Copyright design: ${TM_USERNAME}" />
		<!-- (c) Copyright ${TM_YEAR} by ${TM_USERNAME} All Rights Reserved. -->
		
		<meta name="Keywords" content="__KEYWORDS__" />
		<meta name="Description" content="__DESCRIPTION__" />
		
		<link href="/css/master.css" rel="stylesheet" type="text/css" media="all" />
		
		<!-- import the DOM logic from external javascript files -->
		<script type="text/javascript" src="/js/basic.js"></script>
 					
 		<!-- KLUDGE:: Win IE 5 -->
 		<!-- corrects the unsightly Flash of Unstyled Content. See http://www.bluerobot.com/web/css/fouc.asp for more info -->
 		<script type="text/javascript"></script>
 		<!-- END KLUDGE:: -->
        
         <base href="${TM_PROJECT_URL}" />
		
	</head>
	
	<body id="" onload="">

	
	</body>
</html>

