<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>
${TM_CURRENT_LINE/^[ \t]*([&gt; \t]*).*/$1/}</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Continue Quotation</string>
	<key>scope</key>
	<string>markup.quote</string>
	<key>uuid</key>
	<string>F8AFD37B-9471-4B61-B626-6956CAD8C8CA</string>
</dict>
</plist>
