/**
 ** Simple XML syntax dictionary for TextMate.
 ** Author: Brian Lalor <blalor@bravo5.org>
 **
 ** Some patterns (and most colors) taken from the bundled HTML.plist.
 **
 ** $URL$
 ** $Id$
 **
 ** TODO
 ** ----
 ** • more thorough DOCTYPE scanning (less greedy)
 **/

{
	name = "XML";
	scopeName = "text.xml";
	keyEquivalent = "~^X";
	uuid = "D3C4E6DA-6B1C-11D9-8CC2-000D93589AF6";
	
	firstLineMatch = "^\\s*<\\?xml";

	// pt, cpt, and dtml comes from Zope development
	fileTypes = ( xml, tld, jsp, xsl, xslt, pt, cpt, dtml );

	foldingStartMarker = "^\\s*(<[^!?%/](?!.+?(/>|</.+?>))|<[!%]--(?!.+?--%?>)|<%[!]?(?!.+?%>))";
	foldingStopMarker  = "^\\s*(</[^>]+>|[/%]>|-->)\\s*$";

	patterns = (
		/* processing instructions */
		{
			name = "declaration.xml-processing.xml";
			begin = "<\\?\\s*([-_a-zA-Z0-9]+)";
			end = "\\?>";
			captures = {
			    1 = { name = "entity.name.tag.xml"; };
			};
			patterns = (
	  			{ name = "entity.other.attribute-name.xml"; match = " ([a-zA-Z\-]+)"; },
	  			{ name = "string.quoted.double.xml"; begin = "\""; end = "\"";},
				{ name = "string.quoted.single.xml"; begin = "'"; end = "'";},
			);
		},
		
		/* doctype */
		{
			name = "declaration.sgml.doctype.xml";
			begin = "<!(DOCTYPE)"; end = ">";
			captures = {
		        1 = { name = "entity.name.tag.doctype.xml"; };
			};
			patterns = (
				{
					begin = "<!(ENTITY)\\s([-_a-zA-Z0-9]+)"; end = ">";
				    captures = {
				        1 = { name = "entity.name.tag.entity.xml"; };
					    2 = { name = "declaration.entity.xml"; };
					};
					patterns = (
                        { name = "string.quoted.double.xml"; begin = "\""; end = "\"";},
                        { name = "string.quoted.single.xml"; begin = "'"; end = "'";},
					);
				},
			);
		},
		
		/* comments */
		{
			name = "comment.block.xml";
			begin = "<[!%]--";
			end = "--%?>";
		},
		
		/* nodes */
		{
			// "tags" in HTML; want them to be colored similarly.
			name = "declaration.tag.xml";
			begin = "</?(?:([-_a-zA-Z0-9]+):)?([-_a-zA-Z0-9:]+)";
			end = "/?>";
			captures = {
			    1 = { name = "entity.name.tag.namespace.xml"; };
			    2 = { name = "entity.name.tag.xml"; };
			};
			patterns = (
	  			{ name = "entity.other.attribute-name.xml"; match = " ([a-zA-Z\-]+)"; },
	  			{ name = "string.quoted.double.xml"; begin = "\""; end = "\"";},
				{ name = "string.quoted.single.xml"; begin = "'"; end = "'";},
			);
		},

		/* entities */
		{ name = "constant.character.entity.xml"; match = "&([a-zA-Z0-9_-]+|#[0-9]+|#x[0-9a-fA-F]+);";},
		{ name = "invalid.illegal.bad-ampersand.xml"; match = "&";},
		
        /* jsp page properties */
 		{
          // JSP page properties
  			name = "source.java-props.embedded.xml";
			begin = "<%@";
			patterns = (
				{ match = "page|include|taglib"; name = "keyword.page-props.xml"; },
			);
			end = "%>";
		},
		
        /* embedded java */
		{
			name = "source.java.embedded.xml";
			begin = "<%[!=]?(?!--)";
			patterns = ( { include = "source.java"; } );
			end = "(?!--)%>";
		},
	);
}