<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>gbefgra.orpxre@tznvy.pbz</string>
	<key>contactName</key>
	<string>Torsten Becker</string>
	<key>description</key>
	<string>Support for the open source graph visualization softwarea called &lt;a href="http://www.graphviz.org/"&gt;Graphviz&lt;/a&gt;.</string>
	<key>name</key>
	<string>Graphviz</string>
	<key>ordering</key>
	<array>
		<string>1A53D54E-6B1D-11D9-A006-000D93589AF6</string>
		<string>10700B07-E666-40AF-BB93-A9FA60DE0904</string>
	</array>
	<key>uuid</key>
	<string>344D1644-6B21-11D9-B355-000D93589AF6</string>
</dict>
</plist>
