<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>//
//  ${TM_FILENAME:«file»}
//  ${TM_PROJECT_DIRECTORY/(.*\/(.+))?/(?2:$2:«project»)/}
//
//  Created by `niutil -readprop / /users/$USER realname` on `date +%Y-%m-%d`.
//  Copyright (c) `date +%Y` $TM_ORGANIZATION_NAME. All rights reserved.
//
</string>
	<key>name</key>
	<string>Source header (head)</string>
	<key>scope</key>
	<string>source</string>
	<key>tabTrigger</key>
	<string>head</string>
	<key>uuid</key>
	<string>4990588E-CB98-4524-AA4E-4B8AD12EBE52</string>
</dict>
</plist>
