body {
	margin: 0;
	overflow: hidden;
}

#debug {
	position: absolute;
	margin: 0;
	left: 0px;
	top: 0px;
	font-family: "Helvetica";
	font-weight: normal;
	font-size: 10px;
	color: white;
}

.star {
	display: none;
}

#backside {
	position: absolute;
	top: 0px;
	left: 0px;
}

#StopIcon {
	display: none;
}

#front {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 123px;
	display: block;
	overflow: hidden;
}

#back {
	display: none;
}

#infoButton {
	position: absolute;
	top: 72px;
	left: 127px;
}

.label {
	margin: 0;
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 14px;
	color: black;
}

.centerTable {
	position: absolute;
	left: 0px;
	width: 100%;
}

#iconTable {
	top: 0px;
}

#ShadowTable {
	top: 80px;
}

#StarTable {
	top: 70px;
}

.NameTable {
	position: absolute;
	top: 60px;
	left: 0px;
	width: 100%;
}

#NameTable_Red {display: none;}
#NameTable_Orange {display: none;}
#NameTable_Yellow {display: none;}
#NameTable_Green {display: none;}
#NameTable_Blue {display: none;}
#NameTable_Purple {display: none;}
#NameTable_Gray {display: none;}

#scriptName {
	position: absolute;
	top: 91px;
	left: 101px;
	height: 19px;
	width: 90px;
}

.button {
	position: absolute;
	top: 89px;
}

#doneButton {right: 52px;}

#TMButton {left: 52px;}

#CatchArea {
	position: absolute;
	left: 122px;
	top: 20px;
	width: 55px;
	height: 62px;
}

#Swatches {
	position: absolute;
	top: 47px;
	left: 126px;
}

.swatch_row_1 {position: absolute; top: 0px;}
.swatch_row_2 {position: absolute; top: 14px;}

#Red {left: 0px;}
#Orange {left: 13px;}
#Yellow {left: 26px;}
#Green {left: 39px;}
#Blue {left: 7px;}
#Purple {left: 20px;}
#Gray {left: 33px;}

#Red_tick {left: 0px; display: none;}
#Orange_tick {left: 13px; display: none;}
#Yellow_tick {left: 26px; display: none;}
#Green_tick {left: 39px; display: none;}
#Blue_tick {left: 7px; display: none;}
#Purple_tick {left: 20px; display: none;}
#Gray_tick {left: 33px; display: none;}