<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>oenq@oenqpubngr.pbz</string>
	<key>contactName</key>
	<string>Brad Choate</string>
	<key>description</key>
	<string>&lt;a href="http://meyerweb.com/eric/tools/s5/"&gt;S5&lt;/a&gt; is a slide show format based entirely on XHTML, CSS, and JavaScript. This bundle contains a template, snippets, and commands to easily create, present, and export S5 slide shows.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>171DDC95-11B1-4044-80E3-328589A4994A</string>
			<string>C1EC9501-B96E-4E6E-8F0A-2BECF19D0F30</string>
			<string>8B63721C-EDE4-42D4-8589-B6EA1D4F2D5B</string>
			<string>------------------------------------</string>
			<string>9338A42C-2B70-4E7B-BBD2-34369E8B0418</string>
			<string>8761D7E2-80EE-4531-84E2-8B71B0FF7A77</string>
			<string>4DD5128E-939A-41FA-92C5-5CB62C584533</string>
			<string>24D8B922-37F5-43EB-AD4D-625969A16AEF</string>
			<string>------------------------------------</string>
			<string>8E3C5A4A-B1D7-4CA7-AA55-E1D98763F278</string>
			<string>------------------------------------</string>
			<string>0A8006CB-834C-4AC5-BAFE-672EB5F19417</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>8E3C5A4A-B1D7-4CA7-AA55-E1D98763F278</key>
			<dict>
				<key>items</key>
				<array>
					<string>5FE4E6AA-D9C1-43AB-9C44-82F2AE6A4916</string>
					<string>09734BA5-3B2D-422C-93E6-D0AEE6EA68C5</string>
				</array>
				<key>name</key>
				<string>Options</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>S5 Slide Show</string>
	<key>ordering</key>
	<array>
		<string>171DDC95-11B1-4044-80E3-328589A4994A</string>
		<string>C1EC9501-B96E-4E6E-8F0A-2BECF19D0F30</string>
		<string>8B63721C-EDE4-42D4-8589-B6EA1D4F2D5B</string>
		<string>0A8006CB-834C-4AC5-BAFE-672EB5F19417</string>
		<string>9338A42C-2B70-4E7B-BBD2-34369E8B0418</string>
		<string>5FE4E6AA-D9C1-43AB-9C44-82F2AE6A4916</string>
		<string>09734BA5-3B2D-422C-93E6-D0AEE6EA68C5</string>
		<string>8761D7E2-80EE-4531-84E2-8B71B0FF7A77</string>
		<string>4DD5128E-939A-41FA-92C5-5CB62C584533</string>
		<string>24D8B922-37F5-43EB-AD4D-625969A16AEF</string>
		<string>A69219C5-84EE-4E27-9FF9-E18D49CF5B46</string>
		<string>4B27460F-A9FA-4198-92FA-0BD82F7F0D5A</string>
		<string>6FD8D6A8-63B3-4DFA-BB8A-EE744EFC79AA</string>
		<string>ED7E664E-21BF-4EE2-AD04-D43007A70E65</string>
		<string>84A2047B-4453-418D-B009-A3D3C60F3D1E</string>
		<string>AD7CF81F-596F-4B66-8BFB-67033C265288</string>
	</array>
	<key>uuid</key>
	<string>294C4818-0F75-4976-8DAC-31E884BAEBCB</string>
</dict>
</plist>
