<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>[SIZE=${1:12}]${2:${TM_SELECTED_TEXT:resized text}}[/SIZE]$3</string>
	<key>keyEquivalent</key>
	<string>@=</string>
	<key>name</key>
	<string>Size</string>
	<key>scope</key>
	<string>text.bbcode</string>
	<key>uuid</key>
	<string>925B0EDA-BD36-41C9-B9C5-E685D01B4968</string>
</dict>
</plist>
