<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>templatize.sh iface-insert.java</string>
	<key>extension</key>
	<string>java</string>
	<key>name</key>
	<string>Java Interface</string>
	<key>uuid</key>
	<string>2D3EF41B-6DFB-11D9-91EB-000D93589AF6</string>
</dict>
</plist>
