{
	
	/*--------------------------------------------------------------------------
	
	ASP SCRIPTING DICTIONARY
	========================
	By Rich Barton
	Version 1.0 (based on PHP Scripting Dictionary by Justin French, Sune Foldager and Allan Odgaard)
	
	--------------------------------------------------------------------------*/
	
	
	name = "ASP";
	fileTypes = ( asa ); /* .asp is handled by asp/html */
	smartTypingPairs	= ( ( "(", ")" ), ( "\"", "\"" ) );
	highlightPairs		= ( ( "(", ")" ) );
	
	foregroundColor = "#333333";
	backgroundColor = "#ffffff";
	patterns = (
		
		/* comments */
		{ name = "comments.line";
		  match = "'.*$";
		  foregroundColor = "#999999";
		},
		
		/* language stuff */
		{ name = "keywords.control";
		  foregroundColor = "#0066CC";
		  match = "(?i:\\<(If|Then|Else|ElseIf|End If|While|Wend|For|To|Each|Case|Select|End Select|Return|Continue|Do|Until|Loop|Next|With|Exit Do|Exit For|Exit Function|Exit Property|Exit Sub)\\>)";
		},
		{ name = "keywords.language";
		  foregroundColor = "#0066CC";
		  fontStyle = ( bold );
		  match = "(?i:\\<(Call|Class|Const|Dim|Redim|Function|Sub|End sub|End Function|Set|Let|Get|New|Private|Public|Default|Randomize|Option Explicit|On Error Resume Next|On Error GoTo)\\>)";
		},
		{ 
		 name = "keywords";
		 foregroundColor = "#0066CC";
		 fontStyle = ( bold );
		 match = "(?i:\\<(Empty|False|Nothing|Null|True)\\>)";
		},
		{
		 name = "keywords.operators";
		 foregroundColor = "#0066CC";
		 fontStyle = ( bold );
		 match = "(?i:\\<(Mod|And|Not|Or|Xor)\\>)";
		},
		
		/* numbers and strings */

		{
		 name = "strings.double-quoted";
		 foregroundColor = "#CC3300";
		 begin = "\"";
		 end = "\"";
		 swallow = "\"\"";
		},

		/* variables */		
		{
		 name = "keywords.variables";
		 foregroundColor = "#8B9B08";
		 fontStyle = ( bold );
		 match = "\\$[a-zA-Z_\x7f-\xff][a-zA-Z0-9_\x7f-\xff]*?\\>";
		},
		
		/* ASP Objects */
		{
		 name = "keywords.objects";
		 foregroundColor = "#000099";
		 fontStyle = ( bold );
		 match = "(?i:\\<(Application|ObjectContext|Request|Response|Server|Session)\\>)";
		},

		/* ASP Collections */
		{
		 name = "keywords.collections";
		 foregroundColor = "#0066cc";
		 match = "(?i:\\<(Contents|StaticObjects|ClientCertificate|Cookies|Form|QueryString|ServerVariables)\\>)";
		},

		/* ASP Properties */
		{
		 name = "keywords.properties";
		 foregroundColor = "#0066cc";
		 match = "(?i:\\<(TotalBytes|Buffer|CacheControl|Charset|ContentType|Expires|ExpiresAbsolute|IsClientConnected|PICS|Status|ScriptTimeout|CodePage|LCID|SessionID|Timeout)\\>)";
		},
		
		/* ASP Methods */
		{
		 name = "keywords.methods";
		 foregroundColor = "#6E84C4";
		 fontStyle = ( bold );
		 match = "(?i:\\<(Lock|Unlock|SetAbort|SetComplete|BianryRead|AddHeader|AppendToLog|BinaryWrite|Clear|End|Flush|Redirect|Write|CreateObject|HTMLEncode|MapPath|URLEncode|Abandon)\\>)";
		},
		
		/* ASP Events */
		{
		 name = "keywords.events";
		 foregroundColor = "#0033cc";
		 match = "(?i:\\<(Application_OnEnd|Application_OnStart|OnTransactionAbort|OnTransactionCommit|Session_OnEnd|Session_OnStart)\\>)";
		},

		/* ASP (VB) Functions */
		{
		 name = "keywords.functions";
		 foregroundColor = "#6E84C4";
		 fontStyle = ( bold );
		 match = "(?i:\\<(Array|Add|Asc|Atn|CBool|CByte|CCur|CDate|CDbl|Chr|CInt|CLng|Conversions|Cos|CreateObject|CSng|CStr|Date|DateAdd|DateDiff|DatePart|DateSerial|DateValue|Day|Derived|Math|Escape|Eval|Exists|Exp|Filter|FormatCurrency|FormatDateTime|FormatNumber|FormatPercent|GetLocale|GetObject|GetRef|Hex|Hour|InputBox|InStr|InStrRev|Int|Fix|IsArray|IsDate|IsEmpty|IsNull|IsNumeric|IsObject|Item|Items|Join|Keys|LBound|LCase|Left|Len|LoadPicture|Log|LTrim|RTrim|Trim|Maths|Mid|Minute|Month|MonthName|MsgBox|Now|Oct|Remove|RemoveAll|Replace|RGB|Right|Rnd|Round|ScriptEngine|ScriptEngineBuildVersion|ScriptEngineMajorVersion|ScriptEngineMinorVersion|Second|SetLocale|Sgn|Sin|Space|Split|Sqr|StrComp|String|StrReverse|Tan|Time|Timer|TimeSerial|TimeValue|TypeName|UBound|UCase|Unescape|VarType|Weekday|WeekdayName|Year)\\>)";
		},
		
		/* Constants */
		{
		 name = "keywords.constants.numeric";
		 foregroundColor = "#000000";
		 match = "\\<((0(x|X)[0-9a-fA-F]*)|(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))((e|E)(\\+|-)?[0-9]+)?)(L|l|UL|ul|u|U|F|f)?\\>";
		},
		
		{
		 name = "keywords.constants";
		 foregroundColor = "#33cc33";
		 match = "(?i:\\<(vbtrue|fvbalse|vbcr|vbcrlf|vbformfeed|vblf|vbnewline|vbnullchar|vbnullstring|vbtab|vbverticaltab|vbbinarycompare|vbtextcomparevbsunday|vbmonday|vbtuesday|vbwednesday|vbthursday|vbfriday|vbsaturday|vbusesystemdayofweek|vbfirstjan1|vbfirstfourdays|vbfirstfullweek|vbgeneraldate|vblongdate|vbshortdate|vblongtime|vbshorttime|vbobjecterror|vbEmpty|vbNull|vbInteger|vbLong|vbSingle|vbDouble|vbCurrency|vbDate|vbString|vbObject|vbError|vbBoolean|vbVariant|vbDataObject|vbDecimal|vbByte|vbArray)\\>)";
		},
		
	);
	
	uuid = "291022B4-6B1D-11D9-90EB-000D93589AF6";
}

