<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>(function
| ${1:patt1} -&gt; ${2:expr1}
| ${3:patt2} -&gt; ${4:expr2})</string>
	<key>name</key>
	<string>function alt</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>func</string>
	<key>uuid</key>
	<string>2B22784A-7473-11D9-8C1B-000A95AFE286</string>
</dict>
</plist>
