<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>match ${1:value} with
| ${2:patt} -&gt; ${3:expr}
| ${4:_} -&gt; ${5:expr2}</string>
	<key>name</key>
	<string>match</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>match</string>
	<key>uuid</key>
	<string>C332D848-7472-11D9-8C1B-000A95AFE286</string>
</dict>
</plist>
