<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>method ${1:name} = $0</string>
	<key>name</key>
	<string>method</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>method</string>
	<key>uuid</key>
	<string>E989F53A-6E5B-4C5F-AB96-7B9620CFECA5</string>
</dict>
</plist>
