<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>module ${1:Name} = struct
	$0
end</string>
	<key>name</key>
	<string>module</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>tabTrigger</key>
	<string>module</string>
	<key>uuid</key>
	<string>A7ED7818-7473-11D9-8C1B-000A95AFE286</string>
</dict>
</plist>
