<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deleted</key>
	<array>
		<string>A90B97AF-6C00-4F54-B7AA-A6985006F787</string>
	</array>
	<key>mainMenu</key>
	<dict>
		<key>excludedItems</key>
		<array>
			<string>17EAE2C6-6641-4C2B-9AE9-F5958A0884F9</string>
		</array>
		<key>items</key>
		<array>
			<string>2684F52C-663F-47F3-8320-C8FCB71E276F</string>
			<string>A90B97AF-6C00-4F54-B7AA-A6985006F787</string>
			<string>9B769AE9-BE8F-45B9-91E0-39533AD8114B</string>
			<string>------------------------------------</string>
			<string>B9EE97CD-E059-4FE5-AD3A-EEC7D5A23E99</string>
			<string>------------------------------------</string>
			<string>9F539C5E-46E1-45F4-9AD7-6BF05BE0C7ED</string>
			<string>EE76702D-2370-44B6-85E6-772922D963A2</string>
			<string>------------------------------------</string>
			<string>3E698DD8-3291-42B0-ABCD-6817A73CA816</string>
			<string>E0D9B2D7-163F-493B-ACC6-29AF9C5F00BF</string>
			<string>------------------------------------</string>
			<string>7F280639-68C1-42D7-8BE7-62746E4E4D66</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>7F280639-68C1-42D7-8BE7-62746E4E4D66</key>
			<dict>
				<key>items</key>
				<array>
					<string>D446156B-1C02-43D0-8824-979FA7AC7C5D</string>
					<string>58E9370D-19C9-466E-A4E0-7D067A9A7C5A</string>
				</array>
				<key>name</key>
				<string>Format</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Textile</string>
	<key>ordering</key>
	<array>
		<string>2684F52C-663F-47F3-8320-C8FCB71E276F</string>
		<string>9B769AE9-BE8F-45B9-91E0-39533AD8114B</string>
		<string>B9EE97CD-E059-4FE5-AD3A-EEC7D5A23E99</string>
		<string>9F539C5E-46E1-45F4-9AD7-6BF05BE0C7ED</string>
		<string>EE76702D-2370-44B6-85E6-772922D963A2</string>
		<string>A2C2F919-4BD0-4760-A127-A446F183412F</string>
		<string>3E698DD8-3291-42B0-ABCD-6817A73CA816</string>
		<string>17EAE2C6-6641-4C2B-9AE9-F5958A0884F9</string>
		<string>E0D9B2D7-163F-493B-ACC6-29AF9C5F00BF</string>
		<string>58E9370D-19C9-466E-A4E0-7D067A9A7C5A</string>
		<string>D446156B-1C02-43D0-8824-979FA7AC7C5D</string>
		<string>68F0B1A5-3274-4E85-8B3A-A481C5F5B194</string>
		<string>18DE9523-B3B2-42EE-A099-210635E7FFEB</string>
		<string>399D65CB-7CA9-4F91-B454-11EA9F6D1501</string>
		<string>1D499ACC-5612-4D30-A405-2B0488AC6F74</string>
	</array>
	<key>uuid</key>
	<string>E6858C0B-B2C9-4A39-A2D6-6D8360A923D0</string>
</dict>
</plist>
