<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>TRST=${TM_RST2HTML:=rst2html.py}

require_cmd "$TRST" "You can either set the &lt;tt&gt;TM_RST2HTML&lt;/tt&gt; variable to the full path of your docutils (docutils.sourceforge.net) installation (e.g. &lt;tt&gt;/Library/Frameworks/Python.framework/Versions/2.4/bin/rst2html.py&lt;/tt&gt; or set the &lt;tt&gt;PATH&lt;/tt&gt; variable to include the path of the docutils converters."

# Send the current file through rst2html.py

if [[ -f "$TM_DIRECTORY/default.css" ]]
	then stylesheet="$TM_DIRECTORY/default.css"
elif [[ -f "$TM_PROJECT_DIRECTORY/default.css" ]]
	then stylesheet="$TM_PROJECT_DIRECTORY/default.css"
else
	css=`mktemp -t /tmp`
	echo 'body {	
		background-color: #eee;
	}
	.document {
		background: white;
		font-family: Georgia, serif;
		font-size: 13px;
		border: 1px #888 solid;
		padding: 0 1em;
	}' &gt; $css
	stylesheet=$css
fi

if [[ -n $stylesheet ]]
	then flags="--embed-stylesheet --stylesheet=$stylesheet"
	else flags=""
fi

out=`mktemp -t /tmp`
echo "Running: $TRST $flags \"$TM_FILEPATH\" \"$out.html\""
$TRST $flags "$TM_FILEPATH" "$out.html"
open "$out.html"

#rm "$out.html"
if [[ -n $css ]]
	then rm $css
fi


</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>^@p</string>
	<key>name</key>
	<string>Preview in Browser</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>scope</key>
	<string>text.restructuredtext</string>
	<key>uuid</key>
	<string>065700E0-FE74-43E9-867E-019FF0D1487B</string>
</dict>
</plist>
