<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>captureFormatString</key>
	<string>Line: $2 Error: "$3"</string>
	<key>capturePattern</key>
	<string>^(.+):(\d+): (.+)</string>
	<key>command</key>
	<string>TRST=${TM_RST2HTML:=rst2html.py}
# TRST = "/System/Library/Frameworks/Python.framework/Versions/2.3/bin/rst2html.py"
# Send the current file through rst2html.py
"$TRST" "$TM_FILEPATH" 1&gt;/dev/null|pre</string>
	<key>fileCaptureRegister</key>
	<string>1</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^V</string>
	<key>lineCaptureRegister</key>
	<string>2</string>
	<key>name</key>
	<string>Validate Syntax</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>text.restructuredtext</string>
	<key>uuid</key>
	<string>10B4E8D0-91DC-4764-9237-64009560BF3B</string>
</dict>
</plist>
