<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>bundlePath</key>
	<string>/Users/erichsu/Library/Application Support/TextMate/Bundles/Perl.tmbundle</string>
	<key>captureFormatString</key>
	<string>$1 $3</string>
	<key>capturePattern</key>
	<string>^(.*)line (\d+)(.*)$</string>
	<key>command</key>
	<string>perltidy -st -dac -mangle "$TM_FILEPATH" | perl -e '        local $/;$_=&lt;&gt;;s/^#(.*?)\n//;s/\n//g;print;'
</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>^@o</string>
	<key>lineCaptureRegister</key>
	<string>2</string>
	<key>name</key>
	<string>Perl to One-Line</string>
	<key>output</key>
	<string>replaceDocument</string>
</dict>
</plist>
