<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Standard ML</string>
	<key>ordering</key>
	<array>
		<string>9B148AEA-F723-4EDE-8B7F-2F4FD730BC3A</string>
		<string>0B18DEFF-66E4-49B7-8D1F-9E6B7B9DB5AA</string>
	</array>
	<key>uuid</key>
	<string>B7579BF1-52A3-4A4F-A828-B38288987FDB</string>
</dict>
</plist>
