<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;MTArchiveList archive_type="${1:Individual;Monthly;Weekly;Daily;Category}"&gt;
&lt;MTArchiveListHeader&gt;&lt;ul&gt;&lt;/MTArchiveListHeader&gt;
	&lt;li&gt;&lt;a href="&lt;\$MTArchiveLink\$&gt;"&gt;&lt;\$MTArchiveTitle\$&gt;&lt;/li&gt;
&lt;MTArchiveListFooter&gt;&lt;/ul&gt;&lt;/MTArchiveListFooter&gt;
&lt;/MTArchiveList&gt;</string>
	<key>name</key>
	<string>ArchiveList</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>archive</string>
	<key>uuid</key>
	<string>5D5610F2-3796-4583-A380-3129ABA76886</string>
</dict>
</plist>
