<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;\$mt:ArchiveLink\$&gt;</string>
	<key>name</key>
	<string>ArchiveLink</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>archive</string>
	<key>uuid</key>
	<string>C67F35B9-2D09-4ECD-BE9D-85DE5949E901</string>
</dict>
</plist>
