<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;\$mt:ArchiveCategory\$&gt;</string>
	<key>name</key>
	<string>ArchiveCategory</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>archive</string>
	<key>uuid</key>
	<string>99420F80-A774-4608-A2F4-588C48FDBF1A</string>
</dict>
</plist>
