<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;\$mt:BlogName\$&gt;</string>
	<key>name</key>
	<string>BlogName</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>blog</string>
	<key>uuid</key>
	<string>E20477D7-4025-46AE-8666-C3BA1F09FB49</string>
</dict>
</plist>
