<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;\$mt:BlogURL\$&gt;</string>
	<key>name</key>
	<string>BlogURL</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>blog</string>
	<key>uuid</key>
	<string>B0799505-8CA6-4BC2-A45E-B24AA00E0DB5</string>
</dict>
</plist>
