<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;\$mt:BlogSitePath\$&gt;</string>
	<key>name</key>
	<string>BlogSitePath</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>blog</string>
	<key>uuid</key>
	<string>C53D95AA-F8E0-44C8-B36A-C83707B2B3E0</string>
</dict>
</plist>
