<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;\$mt:BlogLanguage\$&gt;</string>
	<key>name</key>
	<string>BlogLanguage</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>blog</string>
	<key>uuid</key>
	<string>A0BF408F-AE91-4DB4-B17C-3C33A2EC877C</string>
</dict>
</plist>
