<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;mt:CalendarIfBlank&gt;
	$1
&lt;/mt:CalendarIfBlank&gt;</string>
	<key>name</key>
	<string>CalendarIfBlank</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>cal</string>
	<key>uuid</key>
	<string>CB28BE06-3CC0-438B-9857-F963E282609F</string>
</dict>
</plist>
