<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;mt:CalendarIfToday&gt;
	$1
&lt;/mt:CalendarIfToday&gt;</string>
	<key>name</key>
	<string>CalendarIfToday</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>cal</string>
	<key>uuid</key>
	<string>755A7008-884C-4DC1-A9ED-2DB6C7AF8C51</string>
</dict>
</plist>
