<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;mt:CalendarWeekHeader&gt;
	$1
&lt;/mt:CalendarWeekHeader&gt;</string>
	<key>name</key>
	<string>CalendarIfWeekHeader</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>cal</string>
	<key>uuid</key>
	<string>9D4E6903-09FC-429C-BE9C-5A942470C25F</string>
</dict>
</plist>
