<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;mt:CalendarIfEntries&gt;
	$1
&lt;/mt:CalendarIfEntries&gt;</string>
	<key>name</key>
	<string>CalendarIfEntries</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>cal</string>
	<key>uuid</key>
	<string>2D582D75-05DF-4932-9DE1-6EEA7349A98F</string>
</dict>
</plist>
