<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;\$mt:CategoryArchiveLink\$&gt;</string>
	<key>name</key>
	<string>CategoryArchiveLink</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>cat</string>
	<key>uuid</key>
	<string>25914528-6346-4691-82B7-5F901119A35B</string>
</dict>
</plist>
