<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;\$mt:CategoryDescription\$&gt;</string>
	<key>name</key>
	<string>CategoryDescription</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>cat</string>
	<key>uuid</key>
	<string>CFFA52CF-E9E2-46DF-9CD4-48078D9D43D5</string>
</dict>
</plist>
