<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;\$mt:CategoryTrackbackCount\$&gt;</string>
	<key>name</key>
	<string>CategoryTrackbackCount</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>cat</string>
	<key>uuid</key>
	<string>BD7295B5-99A4-4C8E-B176-1A2F5C02BFE0</string>
</dict>
</plist>
