<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;\$mt:CategoryLabel\$&gt;</string>
	<key>name</key>
	<string>CategoryLabel</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>cat</string>
	<key>uuid</key>
	<string>E1A806C6-A743-4927-82E7-3C9AFF7808E3</string>
</dict>
</plist>
