<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;\$mt:CategoryTrackbackLink\$&gt;</string>
	<key>name</key>
	<string>CategoryTrackbackLink</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>cat</string>
	<key>uuid</key>
	<string>0216134A-5C7B-41E9-A69B-9F0C47A70CD5</string>
</dict>
</plist>
