<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;mt:Entries lastn="${1:10}"${2: category="$3"}${4: author="$5"}&gt;
	$6
&lt;/mt:Entries&gt;</string>
	<key>name</key>
	<string>Entries</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>entries</string>
	<key>uuid</key>
	<string>33081DC8-12A9-4C86-AA8E-030AFB67BD22</string>
</dict>
</plist>
