<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;mt:EntryCategories glue=", "&gt;&lt;a href="&lt;\$mt:CategoryArchiveLink\$&gt;"&gt;&lt;\$mt:CategoryLabel\$&gt;&lt;/a&gt;&lt;/mt:EntryCategories&gt;</string>
	<key>name</key>
	<string>EntryCategories</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>entry</string>
	<key>uuid</key>
	<string>82E6EE6E-0061-4F32-B92F-F76ED64A2DEB</string>
</dict>
</plist>
