<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;\$mt:EntryAuthorLink\$&gt;</string>
	<key>name</key>
	<string>EntryAuthorLink</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>entry</string>
	<key>uuid</key>
	<string>D91125FF-D195-43A9-8886-3124D58DC20C</string>
</dict>
</plist>
