<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;\$mt:EntryAuthorDisplayName\$&gt;</string>
	<key>name</key>
	<string>EntryAuthorDisplayName</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>entry</string>
	<key>uuid</key>
	<string>CDBF8683-427A-4879-ABB2-53A4F2887C4A</string>
</dict>
</plist>
