<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;\$mt:EntryCategory\$&gt;</string>
	<key>name</key>
	<string>EntryCategory</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>entry</string>
	<key>uuid</key>
	<string>28919722-B040-439C-AA9E-79531F0168F3</string>
</dict>
</plist>
