<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;\$mt:EntryTitle\$&gt;</string>
	<key>name</key>
	<string>EntryTitle</string>
	<key>scope</key>
	<string>text.html.mt</string>
	<key>tabTrigger</key>
	<string>entry</string>
	<key>uuid</key>
	<string>3F328F6B-299E-40E4-9297-9487529E3806</string>
</dict>
</plist>
