<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>MT::Template::Context-&gt;add_tag(${1:TagName} =&gt; \&amp;${2:_hdlr_${1/(?:([a-z])([A-Z]))|([A-Za-z0-9_]+?)|( )|(.)/(?4:_:(?3:\L$3:(?1:$1_\L$2:)))/g}});

sub $2 {
	my (\$ctx, \$args, \$cond) = @_;
	$3
}
</string>
	<key>name</key>
	<string>MT Variable Tag</string>
	<key>scope</key>
	<string>source.perl</string>
	<key>tabTrigger</key>
	<string>mttag</string>
	<key>uuid</key>
	<string>C62B4AA0-5E93-4681-AFDF-77707DEE71AB</string>
</dict>
</plist>
