<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>argument</key>
			<dict>
				<key>action</key>
				<string>replaceAll</string>
				<key>findString</key>
				<string>^\s*&gt;(\s*)(.*)$</string>
				<key>ignoreCase</key>
				<false/>
				<key>regularExpression</key>
				<true/>
				<key>replaceAllScope</key>
				<string>selection</string>
				<key>replaceString</key>
				<string>$2</string>
				<key>wrapAround</key>
				<false/>
			</dict>
			<key>command</key>
			<string>findWithOptions:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>~@'</string>
	<key>name</key>
	<string>Unquote Selection</string>
	<key>uuid</key>
	<string>F008FA7B-5F16-11D9-B9C3-000D93589AF6</string>
</dict>
</plist>
