<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>argument</key>
			<dict>
				<key>command</key>
				<string>sort -f | uniq</string>
				<key>input</key>
				<string>selection</string>
				<key>output</key>
				<string>replaceSelection</string>
			</dict>
			<key>command</key>
			<string>executeCommandWithOptions:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Sort &amp; Uniq</string>
	<key>uuid</key>
	<string>F008FD60-5F16-11D9-B9C3-000D93589AF6</string>
</dict>
</plist>
