<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>argument</key>
			<string> </string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveLeft:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>\</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>'</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>\</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveRight:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveRight:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>deleteBackward:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveLeft:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveLeft:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>~@"</string>
	<key>name</key>
	<string>Smart Escape-Single-Quote \'\'</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>EB4E88EC-A196-11D9-9F71-000D93382786</string>
</dict>
</plist>
