<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>command</key>
			<string>moveToEndOfLine:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string> </string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>=</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string> </string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>*</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>/</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveToBeginningOfLine:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>/</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>*</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string> </string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>=</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string> </string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveToBeginningOfLine:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveToEndOfLineAndModifySelection:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>copy:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveRight:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>insertNewline:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>paste:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>insertNewline:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>paste:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveLeft:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveLeft:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveLeft:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveToBeginningOfLineAndModifySelection:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveRightAndModifySelection:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveRightAndModifySelection:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveRightAndModifySelection:</string>
		</dict>
		<dict>
			<key>argument</key>
			<dict>
				<key>action</key>
				<string>replaceAll</string>
				<key>findInProjectIgnoreCase</key>
				<false/>
				<key>findInProjectRegularExpression</key>
				<false/>
				<key>findString</key>
				<string>.</string>
				<key>ignoreCase</key>
				<false/>
				<key>regularExpression</key>
				<true/>
				<key>replaceAllScope</key>
				<string>selection</string>
				<key>replaceString</key>
				<string>=</string>
				<key>wrapAround</key>
				<false/>
			</dict>
			<key>command</key>
			<string>findWithOptions:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveToBeginningOfLine:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveUp:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveUp:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveRight:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveRight:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveRight:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveToEndOfLineAndModifySelection:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveLeftAndModifySelection:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveLeftAndModifySelection:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveLeftAndModifySelection:</string>
		</dict>
		<dict>
			<key>argument</key>
			<dict>
				<key>action</key>
				<string>replaceAll</string>
				<key>findInProjectIgnoreCase</key>
				<false/>
				<key>findInProjectRegularExpression</key>
				<false/>
				<key>findString</key>
				<string>.</string>
				<key>ignoreCase</key>
				<false/>
				<key>regularExpression</key>
				<true/>
				<key>replaceAllScope</key>
				<string>selection</string>
				<key>replaceString</key>
				<string>=</string>
				<key>wrapAround</key>
				<false/>
			</dict>
			<key>command</key>
			<string>findWithOptions:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveToBeginningOfLine:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveDown:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveDown:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveUp:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveUp:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveDownAndModifySelection:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveDownAndModifySelection:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveDownAndModifySelection:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>^B</string>
	<key>name</key>
	<string>Frame current line</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>70891834-6E45-11D9-87A5-000D93589AF6</string>
</dict>
</plist>
