<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>- (${1:id})${2:thing}
{
	return ${3:fThing};
}

- (void) set${4:Thing}:(${1:id}) ${2:thing}
{
	${1:id} old${4:Thing} = ${3:fThing};
	${3:fThing} = [${2:thing} retain];
	[old${4:Thing} release];
}
</string>
	<key>name</key>
	<string>Object Accessors (objacc)</string>
	<key>tabTrigger</key>
	<string>objacc</string>
	<key>uuid</key>
	<string>65844040-1D13-4F29-98CC-E742F151527F</string>
</dict>
</plist>
