<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\$this-&gt;getUser()-&gt;</string>
	<key>name</key>
	<string>getUser</string>
	<key>scope</key>
	<string>source.php</string>
	<key>tabTrigger</key>
	<string>getuser</string>
	<key>uuid</key>
	<string>8B89DCA5-A801-4B8B-BB43-086771096845</string>
</dict>
</plist>
