<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?php echo submit_tag('${1:button_description}'${2:, array(${0})}) ?&gt;</string>
	<key>name</key>
	<string>submit_tag</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>submit_tag</string>
	<key>uuid</key>
	<string>B16570BA-B0E7-4F82-821E-3293F2FF999B</string>
</dict>
</plist>
