<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?php echo form_tag('${1:module_name}/${2:action_name}'${3:, array(${0})}) ?&gt;
	
&lt;/form&gt;</string>
	<key>name</key>
	<string>form_tag</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>form_tag</string>
	<key>uuid</key>
	<string>8B1561F2-D232-4812-BC8A-79F0922DEA72</string>
</dict>
</plist>
