div.scratch {
	margin-top:1em;
}
div.scratch:hover {
	cursor:pointer;
}
div.bright div.scratch pre:hover, div.default div.scratch pre:hover {
	border: 1px solid #ccc;
	background:#ddd;
}
div.dark div.scratch pre:hover, div.halloween div.scratch pre:hover, div.shiny div.scratch pre:hover {
	border: 1px solid #444;
	background: #333;
	
}
div.scratch a { text-decoration: none; color: none; }
