<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby

matchers = {}
matchers['('] = ')'
matchers['['] = ']'
matchers['{'] = '}'

# short for escape_snippet - escapes special snippet characters in str
def es(str)
	str.to_s.gsub(/([$`\\])/, "\\\\\\1")
end

line = $stdin.read()
index = ENV['TM_LINE_INDEX'].to_i()
opener = line[index].chr()
closer = matchers[opener]

# do nothing if we aren't on a closer
if closer == nil
	print es(line[0..index]) + '$0' + es(line[(index + 1)..-1])
	exit
end

start = line[0..index + 2].length - 1
finish = line.length - 1
depth = 1
start.upto(finish) do |i|
	ch = line[i].chr()
	if ch == opener
		depth += 1
	elsif ch == closer
		depth -= 1
	end

	if depth == 0
		print es(line[0..i]) + '$0' + es(line[(i + 1)..-1])
		exit
	end
end

# if we bail out to here we never found the open
print es(line[0..index]) + '$0' + es(line[(index + 1)..-1])</string>
	<key>fallbackInput</key>
	<string>line</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^)</string>
	<key>name</key>
	<string>Jump to Close (same line)</string>
	<key>output</key>
	<string>insertAsSnippet</string>
	<key>uuid</key>
	<string>872F5619-2F05-47F1-A27D-BEE054D00E76</string>
</dict>
</plist>
