<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>perl -pe '/^(\t*)/;$a="*" x (length($1)+1);s/^(\t*)/$a /;'</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^@o</string>
	<key>name</key>
	<string>Tabs to Kwiki</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>uuid</key>
	<string>E45D5856-8305-11D9-8AD4-000D9332809C</string>
</dict>
</plist>
