<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Logo</string>
	<key>ordering</key>
	<array>
		<string>D03092A5-DED1-4527-9FF0-00E7EC10A0E0</string>
		<string>0C89E8A4-9518-4D83-9084-6A27004A99EC</string>
		<string>7613EC24-B0F9-4D01-8706-1D54098BFFD8</string>
	</array>
	<key>uuid</key>
	<string>72FC431C-997D-4CBF-A4F2-66F6638F9CB6</string>
</dict>
</plist>
