<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby

require "#{ENV['TM_SUPPORT_PATH']}/lib/textmate"
require "erb"
include ERB::Util

$todo = []
$fixme = []
$changed = []

TextMate.each_text_file do |filepath|

  File.open(filepath) do |f|
    filename = File.basename(filepath)
    f.each_line do |line|
      if(m = line.match(/(TODO)([\s,:])+(\w.*)$/i))
        $todo.push({ :filepath =&gt; filepath, :filename =&gt; html_escape(filename), :item =&gt; html_escape(m[3]), :line_contents =&gt; html_escape(line), :lineno =&gt; f.lineno })
      elsif(m = line.match(/(FIXME|FIX ME)([\s,:])+(\w.*)$/i))
        $fixme.push({ :filepath =&gt; filepath, :filename =&gt; html_escape(filename), :item =&gt; html_escape(m[3]), :line_contents =&gt; html_escape(line), :lineno =&gt; f.lineno})
      elsif(m = line.match(/(CHANGED)([\s,:])+(\w.*)$/))
        $changed.push({ :filepath =&gt; filepath, :filename =&gt; html_escape(filename), :item =&gt; html_escape(m[3]), :line_contents =&gt; html_escape(line), :lineno =&gt; f.lineno})
      end
    end
  end

end

puts ERB.new(File.open("#{ENV['TM_BUNDLE_SUPPORT']}/template.rhtml"), 0, '&lt;&gt;').result
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^T</string>
	<key>name</key>
	<string>Show TODO List</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>14C1643E-7D51-11D9-859D-000D93B6E43C</string>
</dict>
</plist>
