<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>WorkPath=`dirname "$TM_FILEPATH"`
WorkPath=${WorkPath// /%20} # turn spaces into %20
export WorkPath

cat &lt;&lt;EOF
 &lt;html&gt;&lt;head&gt;&lt;style&gt;
 body { font: 12px 'Lucida Grande' }
 &lt;/style&gt;&lt;/head&gt;&lt;body&gt;
 &lt;h1&gt;TODO LIST&lt;/h1&gt;
 &lt;ul&gt;
EOF

cd "`dirname "$TM_FILEPATH"`"
find . -name '.svn' -type d -prune -or -type f -exec grep -HinwE "TODO|FIXME|FIX ME" '{}' \; | perl -pe '$|=1; s/&amp;/&amp;amp;/g; s/&lt;/&amp;lt;/g; s/&gt;/&amp;gt;/g; s!(.*?):(.*?):.*?(?:TODO|FIXME|FIX ME)[:,]?(.*)$!&lt;li&gt; $1: &lt;a href="txmt://open?url=file://$ENV{'WorkPath'}/$1&amp;line=$2"&gt;$3&lt;/a&gt;&lt;/li&gt;!i'

echo "&lt;/ul&gt;&lt;/body&gt;"</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@b</string>
	<key>name</key>
	<string>Show TODO List</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>14C1643E-7D51-11D9-859D-000D93B6E43C</string>
</dict>
</plist>
