<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>if [ ! -x "${TM_FILEPATH}" ]; then
   echo "Cannot execute '${TM_FILENAME}' : permission error"
   echo "You can make the file executable by pressing:"
   echo
   echo "   control-shift-command X"
else
   "${TM_FILEPATH}"
fi|pre</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@r</string>
	<key>name</key>
	<string>Run Script</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.shell</string>
	<key>uuid</key>
	<string>7207ACC2-A64B-11D9-B384-000D93382786</string>
</dict>
</plist>
