<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby


def make_args(str)
	final = []
	args = str.split(/\s+/)
	args.each_index() do |i|
		final &lt;&lt; "${#{i+1}:#{args[i]}}"
	end
	
	final.join(" ")
end

methodname = ENV['TM_CURRENT_WORD']
selected = false
if ENV['TM_SELECTED_TEXT']
	selected = true
	methodname = ENV['TM_SELECTED_TEXT']
end

methodregex = Regexp.new("^(\\s*)(let|method(?:\\s+private)?(?:\\s+virtual)?)\\s+#{Regexp.escape(methodname.strip)}\\s+([^=]+)=")

$stdin.each_line() do |line|
	if methodregex.match(line)
		print "#{if selected then methodname end} #{make_args($3.strip)} $0"
		break
	end
end</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>~</string>
	<key>name</key>
	<string>Complete Local</string>
	<key>output</key>
	<string>insertAsSnippet</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>uuid</key>
	<string>3D35431C-C544-435F-A77B-2C96F934426B</string>
</dict>
</plist>
