<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>TO_OCAML=${TM_OCAML:=ocamlc}
TMPDIR=${TMPDIR:=/tmp}

require_cmd "$TO_OCAML"

# get a tempfile and fill it with the contents of our file
SRCFILE=`/usr/bin/mktemp $TMPDIR/ocamlXXXXXX` || exit 1
mv "$SRCFILE" "$SRCFILE".ml

DSTFILE=`/usr/bin/mktemp $TMPDIR/ocamlXXXXXX` || exit 1

cat &gt; "$SRCFILE".ml

# compile it to a new tempfile
cd "$TMPDIR"

# run it and clean up after ourselves
"$TM_BUNDLE_SUPPORT/OCamlMate/run_script.rb" "$TO_OCAML" "$SRCFILE".ml "$DSTFILE"

rm -f "$SRCFILE".*
rm -f "$DSTFILE"

</string>
	<key>fallbackInput</key>
	<string>document</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>@r</string>
	<key>name</key>
	<string>Run</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.ocaml</string>
	<key>uuid</key>
	<string>86A99A45-C6B6-4F46-BBB5-04351FD5E3B1</string>
</dict>
</plist>
