<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>g</string>
	</array>
	<key>keyEquivalent</key>
	<string>^~A</string>
	<key>name</key>
	<string>ANTLR</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>begin</key>
			<string>/\*</string>
			<key>end</key>
			<string>\*/</string>
			<key>name</key>
			<string>comment.block.antlr</string>
		</dict>
		<dict>
			<key>match</key>
			<string>//.*$\n?</string>
			<key>name</key>
			<string>comment.line.double-slash.antlr</string>
		</dict>
		<dict>
			<key>match</key>
			<string>^\w+(:|\s*$)</string>
			<key>name</key>
			<string>keyword.control.label.antlr</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b[[:upper:]_][[:upper:][:digit:]_]*\b</string>
			<key>name</key>
			<string>constant.other.token.antlr</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>\{</string>
			<key>end</key>
			<string>\}</string>
			<key>name</key>
			<string>source.java.embedded.antlr</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#nested-curly</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>"</string>
			<key>end</key>
			<string>"</string>
			<key>name</key>
			<string>string.quoted.double.antlr</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\\(u\h{4}|.)</string>
					<key>name</key>
					<string>constant.character.escaped.antlr</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>'</string>
			<key>end</key>
			<string>'</string>
			<key>name</key>
			<string>string.quoted.single.antlr</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\\(u\h{4}|.)</string>
					<key>name</key>
					<string>constant.character.escaped.untitled</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>match</key>
			<string>\bclass\b</string>
			<key>name</key>
			<string>storage.type.class.antlr</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\bextends\b</string>
			<key>name</key>
			<string>storage.modifier.extends.antlr</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>nested-curly</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>\{</string>
					<key>end</key>
					<string>\}</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#nested-curly</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>include</key>
					<string>source.java</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>source.antlr</string>
	<key>uuid</key>
	<string>ACABDECD-4F22-47D9-A5F4-DBA957A2A1CC</string>
</dict>
</plist>
