<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>hs</string>
	</array>
	<key>name</key>
	<string>Haskell</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>begin</key>
			<string>--</string>
			<key>end</key>
			<string>$</string>
			<key>name</key>
			<string>comment.line.double-dash.haskell</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#block_comment</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(module|where|import|do|data|type|infixl|infixr|case|of|if|then|else|let|in|instance|deriving|class|newtype|default|hiding|as|qualified)\b</string>
			<key>name</key>
			<string>keyword.haskell</string>
		</dict>
		<dict>
			<key>match</key>
			<string>^\s*#\s*\w+</string>
			<key>name</key>
			<string>other.preprocessor.haskell</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>"</string>
			<key>end</key>
			<string>"</string>
			<key>name</key>
			<string>string.quoted.double.haskell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\\.</string>
					<key>name</key>
					<string>constant.character.escaped.haskell</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>[^\w']'</string>
			<key>end</key>
			<string>'</string>
			<key>name</key>
			<string>string.quoted.single.haskell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\\.</string>
					<key>name</key>
					<string>constant.character.escaped.haskell</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>match</key>
			<string>\b\d*\.?\d+\b</string>
			<key>name</key>
			<string>constant.numeric</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>(?=\s*[\(a-z_][_a-zA-Z0-9'\)]*\s*::)</string>
			<key>end</key>
			<string>(?=--)|$</string>
			<key>name</key>
			<string>meta.function.initial.haskell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>[\(a-z_][a-zA-Z0-9_'\)]*(?=\s*::)</string>
					<key>name</key>
					<string>entity.name.function.haskell</string>
				</dict>
				<dict>
					<key>match</key>
					<string>[\[\]a-zA-Z0-9_,()]+</string>
					<key>name</key>
					<string>storage.type.haskell</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>match</key>
			<string>(`[a-z_][a-zA-Z0-9_']*`|(\||==+|[^= ]=+|-|\+|\*|%|#|@|\!|~|&lt;|&gt;|:|\^|\$)+)</string>
			<key>name</key>
			<string>keyword.operator.haskell</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b[_A-Z][a-zA-Z0-9_]*\b</string>
			<key>name</key>
			<string>entity.name.class</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>block_comment</key>
		<dict>
			<key>begin</key>
			<string>\{-</string>
			<key>end</key>
			<string>-\}</string>
			<key>name</key>
			<string>comment.block.haskell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#block_comment</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>source.haskell</string>
	<key>uuid</key>
	<string>5C034675-1F6D-497E-8073-369D37E2FD7D</string>
</dict>
</plist>
