<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>evk.ebo@tznvy.pbz</string>
	<key>contactName</key>
	<string>Rob Rix</string>
	<key>description</key>
	<string>For running Objextive-C unit tests using the unit testing framework included with Xcode.</string>
	<key>name</key>
	<string>Objective-C Unit Testing</string>
	<key>ordering</key>
	<array>
		<string>4E4B9C21-80BB-4E10-946A-BCB26754D2F0</string>
	</array>
	<key>uuid</key>
	<string>64D20B78-A6BB-4120-B794-00D909680D8D</string>
</dict>
</plist>
