<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Mono</string>
	<key>uuid</key>
	<string>66623882-73FB-11D9-85C6-000D93589AF6</string>
</dict>
</plist>
