<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>debug${1: (${2:debug_key})$}
	${3:instruction}
end</string>
	<key>name</key>
	<string>debug</string>
	<key>scope</key>
	<string>source.eiffel</string>
	<key>tabTrigger</key>
	<string>in</string>
	<key>uuid</key>
	<string>E5428A9C-728E-4640-8C73-85FE6383346B</string>
</dict>
</plist>
