<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>when ${1:choice} then
	${2:instruction}</string>
	<key>name</key>
	<string>when</string>
	<key>scope</key>
	<string>source.eiffel</string>
	<key>tabTrigger</key>
	<string>in</string>
	<key>uuid</key>
	<string>FFE35917-0B08-457F-8C61-724ABE7B375E</string>
</dict>
</plist>
