<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>case ${1:expression} :
	${1:statement}</string>
	<key>name</key>
	<string>case</string>
	<key>scope</key>
	<string>source.actionscript.2</string>
	<key>tabTrigger</key>
	<string>ce</string>
	<key>uuid</key>
	<string>A6393F42-7519-11D9-8FBA-00039398C572</string>
</dict>
</plist>
