<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>else if ($1) {
	$2
}</string>
	<key>name</key>
	<string>else if</string>
	<key>scope</key>
	<string>source.actionscript.2</string>
	<key>tabTrigger</key>
	<string>ei</string>
	<key>uuid</key>
	<string>DA29D86A-7470-11D9-A57F-00039398C572</string>
</dict>
</plist>
