<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>for ( var $1=0; $1&lt;$3.length; $1++ ) {
	$4
};</string>
	<key>name</key>
	<string>for</string>
	<key>scope</key>
	<string>source.actionscript.2</string>
	<key>tabTrigger</key>
	<string>fr</string>
	<key>uuid</key>
	<string>2E9CED27-73B9-11D9-AB6F-00039398C572</string>
</dict>
</plist>
