<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>printAsBitmap( ${1:target}, ${2:type} );</string>
	<key>inputPattern</key>
	<string>MovieClip</string>
	<key>name</key>
	<string>printAsBitmap</string>
	<key>scope</key>
	<string>source.actionscript.2</string>
	<key>tabTrigger</key>
	<string>pb</string>
	<key>uuid</key>
	<string>683E6744-7514-11D9-8FBA-00039398C572</string>
</dict>
</plist>
