<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>trace(${1:"$0"});</string>
	<key>name</key>
	<string>trace</string>
	<key>scope</key>
	<string>source.actionscript.2</string>
	<key>tabTrigger</key>
	<string>tr</string>
	<key>uuid</key>
	<string>67C5D5BE-7517-11D9-8FBA-00039398C572</string>
</dict>
</plist>
