<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>try {
	$1
};</string>
	<key>name</key>
	<string>try</string>
	<key>scope</key>
	<string>source.actionscript.2</string>
	<key>tabTrigger</key>
	<string>ty</string>
	<key>uuid</key>
	<string>82E08610-7517-11D9-8FBA-00039398C572</string>
</dict>
</plist>
