<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>for (( ${1:i = 0}; ${2:i &lt; 10}; ${3:i++} )); do
	$0
done</string>
	<key>name</key>
	<string>for ... done (for)</string>
	<key>scope</key>
	<string>source.shell</string>
	<key>tabTrigger</key>
	<string>for</string>
	<key>uuid</key>
	<string>E7807C18-AA17-11D9-AB33-000D93589AF6</string>
</dict>
</plist>
