<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>nagf@gurhaqrejbbqf.s2f.pbz</string>
	<key>contactName</key>
	<string>Anthony Underwood</string>
	<key>description</key>
	<string>With &lt;a href="http://www.masonhq.com/"&gt;Mason&lt;/a&gt; you can embed Perl code in your HTML.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>FCD5C28C-D114-42B5-BB61-D982E9A16598</string>
			<string>70693CD9-8970-49A1-97FF-3038D6D13F2E</string>
			<string>16B86BD1-EC6B-4D09-84F5-EE99889C4767</string>
			<string>------------------------------------</string>
			<string>9818ADCC-D0CF-414E-9626-C3D796927620</string>
			<string>D7C68903-4AF0-43E9-82A0-24D464EA312C</string>
			<string>DFCCB953-2745-4099-BD15-CCF2121BCA60</string>
			<string>8244A038-2200-455C-9089-BFE396690E6C</string>
			<string>CE559A53-712D-48C1-8BA7-8D3470518A5E</string>
			<string>FD4981EC-808C-4CC5-9619-3D78510F7C3D</string>
			<string>6C3018E4-8B52-462A-B6A7-5DCD4E644154</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>HTML (Mason)</string>
	<key>ordering</key>
	<array>
		<string>CE559A53-712D-48C1-8BA7-8D3470518A5E</string>
		<string>9818ADCC-D0CF-414E-9626-C3D796927620</string>
		<string>6C3018E4-8B52-462A-B6A7-5DCD4E644154</string>
		<string>FD4981EC-808C-4CC5-9619-3D78510F7C3D</string>
		<string>D7C68903-4AF0-43E9-82A0-24D464EA312C</string>
		<string>8244A038-2200-455C-9089-BFE396690E6C</string>
		<string>DFCCB953-2745-4099-BD15-CCF2121BCA60</string>
		<string>FCD5C28C-D114-42B5-BB61-D982E9A16598</string>
		<string>70693CD9-8970-49A1-97FF-3038D6D13F2E</string>
		<string>16B86BD1-EC6B-4D09-84F5-EE99889C4767</string>
		<string>34979B9C-CDDC-483E-93B5-B65C6B15E6B0</string>
	</array>
	<key>uuid</key>
	<string>2E61031B-CA19-483E-9315-B6449146EDD0</string>
</dict>
</plist>
