<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>gz-ohaqyrf@znpebzngrf.pbz</string>
	<key>contactName</key>
	<string>Allan Odgaard</string>
	<key>description</key>
	<string>Support for the &lt;a href="http://www.antlr.org/"&gt;ANTLR&lt;/a&gt; parser generator tool.</string>
	<key>name</key>
	<string>ANTLR</string>
	<key>ordering</key>
	<array>
		<string>EA5073FF-4ABB-44FA-95E3-6CB4B8818106</string>
		<string>ACABDECD-4F22-47D9-A5F4-DBA957A2A1CC</string>
		<string>61C20EDE-4C2A-44B5-9893-EB1E4CF9EF96</string>
	</array>
	<key>uuid</key>
	<string>7F43D670-A808-4D6E-BDE7-8CD71C2396EC</string>
</dict>
</plist>
