<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>res=$(CocoaDialog inputbox --title "Decrypt AES 128 Encrypted Text" --informative-text "What is the password?"  --text "s3cr37"  --button1 "Decrypt" --button2 "Cancel")

[[ $(head -n1 &lt;&lt;&lt;"$res") == "2" ]] &amp;&amp; exit_discard
passwd=$(tail -n1 &lt;&lt;&lt;"$res")

if ! openssl enc -d -aes128 -base64 -pass "pass:$passwd"; then
   exit_show_tool_tip
fi
</string>
	<key>fallbackInput</key>
	<string>document</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^@E</string>
	<key>name</key>
	<string>AES Decrypt Document / Selection With Password…</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>uuid</key>
	<string>4B22577B-BC8E-11D9-8946-000D93589AF6</string>
</dict>
</plist>
