<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string># if there's no selected text, we output the current line
# otherwise we output the selection (again)
if [[ -z "$TM_SELECTED_TEXT" ]]
   then echo -n "${TM_CURRENT_LINE:$TM_COLUMN_NUMBER-1}
${TM_CURRENT_LINE:0:$TM_COLUMN_NUMBER-1}"
   else echo -n "$TM_SELECTED_TEXT"
fi</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^D</string>
	<key>name</key>
	<string>Duplicate Line / Selection</string>
	<key>output</key>
	<string>afterSelectedText</string>
	<key>uuid</key>
	<string>C46A9DBC-0B06-49DF-838B-491B529ECF22</string>
</dict>
</plist>
