<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string># this will open the URL the caret is on, by searching backwards for an http, ftp, or mailto URL scheme

for (( i = $TM_LINE_INDEX; i &gt;= 0; i-- )); do
	res=$(perl -pe &lt;&lt;&lt;${TM_CURRENT_LINE:$i} 's/^(((https?|ftp|mailto):\S+?)(?=[),.]*(\s|$)|$)|).*/$1/')
	if [[ -n $res ]]; then
		open "$res"
		break
	fi
done</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>#</string>
	<key>name</key>
	<string>Open Current URL</string>
	<key>output</key>
	<string>discard</string>
	<key>scope</key>
	<string>markup.underline.link</string>
	<key>uuid</key>
	<string>5A08E461-05CC-4C03-9DC8-BF118594EA3E</string>
</dict>
</plist>
