{
    name = "Language Definition (TextMate)";
    scopeName = "source.plist.language-definition";
    uuid = "101D6FC2-6CBD-11D9-B329-000D93347A42";
    fileTypes = (plist); 
    foldingStartMarker = "(/\\*|\\{|\\()"; 
    foldingStopMarker = "(\\*/|\\}|\\))"; 
    patterns = (
        {   name = "declaration.rule.tm-language-def";
            match = "\\<(name)\\s*=\\s*((\"|')?(.*?)\\3)\\s*;";
            captures = {
                1 = { name = "keyword.tm-language-def"; };
                2 = { name = "string.tm-language-def"; };
                4 = { name = "entity.name.function.tm-language-def"; };
            };
        },
        {   name = "keyword.tm-language-def";
            match = "\\<(fileTypes|keyEquivalent|foldingStartMarker|foldingStopMarker|patterns|match|begin|end|swallow|include|uuid|scopeName|captures|beginCaptures|endCaptures|firstLineMatch)\\>"; 
        },
        {   name = "invalid.deprecated.tm-language-def";
            match = "\\<(foregroundColor|backgroundColor|foregroundColor|fontStyle|elementForegroundColor|elementBackgroundColor|elementFontStyle|mode|highlightPairs|smartTypingPairs|increaseIndentPattern)\\>";
        },
        {   name = "invalid.illegal.unknown-keyword.tm-language-def"; 
            match = "[-a-zA-Z_.]+(?=\\s*=)";
        },
        {   name = "string.single-quoted.tm-language-def";
            begin = "'(?=.*\')";
            end = "'";
            swallow = "\\\\.";
            patterns = (
                {   name = "invalid.deprecated.constants.colors.tm-language-def"; match = "#[0-9A-Fa-f]{6}"; },
                {   name = "string.regexp.tm-language-def"; match = "(\\\\\\\\[tvnrfaewWdDsSuUlL]([*+?])?\\??|\\^|\\$|\\||\\.([*+?])?\\??)|\\\\\\\\[Az<>bB])"; },
            );
        },
        {   name = "string.double-quoted.tm-language-def";
            begin = "\"(?=.*\")";
            end = "\"";
            swallow = "\\\\.";
            patterns = (
                {   name = "string.regexp.tm-language-def"; match = "(\\\\\\\\[tvnrfaewWdDsSuUlL]([*+?])?\\??|\\^|\\$|\\||\\.([*+?])?\\??)|\\\\\\\\[Az<>bB])"; },
                {   name = "invalid.deprecated.constants.colors.tm-language-def"; match = "#[0-9A-Fa-f]{6}"; },
            );
        },
        {   include = "source.plist"; }
    ); 
}