<TMPL_LOOP FRUIT><TMPL_IF __LAST__>and </TMPL_IF><TMPL_VAR KIND><TMPL_UNLESS __LAST__>, <TMPL_ELSE>.</TMPL_UNLESS></TMPL_LOOP>

<TMPL_LOOP PINGPONG><TMPL_IF __ODD__>ping<TMPL_ELSE>pong</TMPL_IF></TMPL_LOOP>
