cause it's <tmpl_var name=a default=getting> hard to <tmpl_var default=think b>, and <tmpl_var c default=my> <tmpl_var name=cl default=clots> are <tmpl_var name=start escape=1 default=foo>ing to <tmpl_var escape=html name=sh default=shrink>
