

   <TMPL_LOOP NAME="EXAMPLE_LOOP">
     <TMPL_VAR NAME="BEE">
   </TMPL_LOOP>

   <TMPL_LOOP NAME="EXAMPLE_LOOP">
     <TMPL_VAR NAME="BOP">
     <TMPL_LOOP NAME="EXAMPLE_INNER_LOOP">
       <TMPL_VAR NAME="INNER_BEE">
       <TMPL_VAR NAME="INNER_BOP">
     </TMPL_LOOP>
   </TMPL_LOOP>
 
   <TMPL_LOOP NAME="EXAMPLE_LOOP">
     <TMPL_VAR NAME="BOP">
     <TMPL_VAR NAME="BEE">
   </TMPL_LOOP>


   <TMPL_VAR NAME=VAR>
