<TMPL_LOOP NAME="LOOP_FOO"> 
    <TMPL_LOOP NAME="LOOP_BAR"> 
        <TMPL_VAR NAME="FOO"> 
        <TMPL_VAR NAME="BAR"> 
    </TMPL_LOOP> 
</TMPL_LOOP> 

<TMPL_LOOP NAME="LOOP_FOO"> 
    <TMPL_LOOP NAME="LOOP_BAR"> 
        <TMPL_VAR NAME="BASH"> 
    </TMPL_LOOP> 
</TMPL_LOOP> 
