body {
	background: #fff;
	color: #000;
	font: 13px "Lucida Grande", sans-serif;
	margin: 0;
	padding: 0;
}

/*body.dark {*/
/*  background: #000;*/
/*  color: #fff;*/
/*}*/
#tm_webpreview_header {
	background: url("file:///Library/Application Support/TextMate/Support/images/header.png") repeat-x;
	height: 68px;
	color: #FFFFFF;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
}
#tm_webpreview_header .headline {
	margin: 0;
	padding-left: 1em;
	padding-top: 1.3ex;
	font-size: 200%;
/*	font-weight: bold;*/
}
#tm_webpreview_header .teaser {
	position: absolute;
	top: 0px;
	right: 0px;
}
#tm_webpreview_header .type {
	position: absolute;
	top: 30px;
	right: 30px;
	font-weight: light;
	font-size: 8pt;
	color: rgba(255,255,255,0.5);
}
#theme_switcher {
	opacity: 0.1;
	position: absolute;
	top: 19px;
	right: 80px;
}
#theme_switcher:hover {
	opacity: 1;
}
#tm_webpreview_footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 1.6em;
	margin: 0;
	padding: 0.3em 2em 0 2em;
	border-top: 2px solid #000;
	color: #777;
	background: #292929;
	text-shadow: #000 1px 3px 3px;
}
#tm_webpreview_footer p {
	margin: 0;
	padding: 0;
}

#tm_webpreview_content {
	padding: 0;
	margin-top: 60px;
}

#tm_webpreview_content :first-child {
	margin-top: 0;
}

/* general stuff.. */

/* make horizontal rules slightly less heavy */
hr {
   color: #ccc;
   background-color: #ccc;
   height: 1px;
   border: 0px;
}

/* enable word-wrap for text in <pre> */
pre {
   word-wrap: break-word;
}

/* for error formating.. */
div.error {
   font-family: "Bitstream Vera Sans Mono", monospace;
   font-size: 12px;
   color: #f30;
   background-color: #fee;
   border: 2px solid #f52;
   padding: 4px;
   margin: 3px;
}

div.error h2 {
   font-family: "Lucida Grande", sans-serif;
   font-size: 17px;
   margin-top: 0;
}

div.error a:link, div.error a:visited {
   background-color: transparent;
   color: inherit;
}
div.error a:hover, div.error a:active {
   background-color: #f52;
   text-decoration: none;
   color: #fee;
}


/* for showing the path or other information about the current operation */
div.command {
   color: #03f;
   background-color: #eef;
   border: 2px solid #25f;
   padding: 4px;
   margin: 3px;
   font-family: "Bitstream Vera Sans Mono", monospace;
   font-size: 10px;
}

div.command h2 {
   font-family: "Lucida Grande", sans-serif;
   font-size: 15px;
   margin-top: 0;
}


/* about links.. */
.bright a:link, .bright a:visited {
   background-color: transparent;
   color: #35a;
   text-decoration: underline;
   padding-left: 1px;
   padding-right: 1px;
}

.bright a:hover, .bright a:active {
   background-color: #136;
   color: #fff;
   text-decoration: none;
}

.dark a:link, .dark a:visited {
  background-color: transparent;
  color: #529fde;
  text-decoration: underline;
  padding-left: 1px;
  padding-right: 1px;
}

.dark a:hover, .dark a:active {
  background-color: #101b73;
  color: #fff;
  text-decoration: none;
}

/* for everything alternating: */
body.bright .alternate {
   background-color: #f2f2f2;
}

body.dark .alternate {
   background-color: #242424;
}

/* ================================= */
/* = Common Stuff for all Commands = */
/* ================================= */

.bright {
	background: #FFF;
	color: #000;
}
.dark {
	background: #000;
	color: #E6E2E8;
}
