{
	name = "NAnt Build File";
	scopeName = "source.nant-build";
	uuid = "1BA72668-707C-11D9-A928-000D93589AF6";
	
	fileTypes = ( build );
	foldingStartMarker = "<[^!?/>]+|<!--";
	foldingStopMarker = "/>|</[^?>]+|-->";
	increaseIndentPattern = "<[^/>]*>\\s*$";
	foregroundColor = "#333333";
	backgroundColor = "#ffffff";

	smartTypingPairs = (
	    ( "(", ")" ),
		( "[", "]" ),
		( "{", "}" ),
		( "\"", "\"" ),
	);

	highlightPairs = (
	    ( "(", ")" ),
		( "[", "]" ),
		( "{", "}" ),
		( "\"", "\"" ),
		( "<", ">" ),
	);

	patterns = (
		/* comments */
		{
			name = "comment.block.nant";
			begin = "<!--";
			end = "-->";
			foregroundColor = "red";
		},
		
		/* nodes */
		{
			name = "keyword.tag.node.nant";
			begin = "</?([-_a-zA-Z0-9:]+)";
			end = "/?>";
	  		"elementFontStyle[1]" = ( bold ); 
	
			foregroundColor = "#0066CC";
			
			patterns = (
	  			{ name = "keyword.tag.option.nant"; match = " ([a-zA-Z\-]+)"; },
	  			{ name = "string.double-quoted.nant"; begin = "\""; end = "\"";  foregroundColor = "#CC3300";},
				{ name = "string.single-quoted.nant"; begin = "'"; end = "'"; fontStyle = (  ); foregroundColor = "#CC3300";	},
			);
		},

		/* entities */
		{ name = "constant.character-entities.nant"; match = "&([a-zA-Z]+|#[0-9]+|#x[0-9a-fA-F]+);"; foregroundColor = "#6600CC"; },
		{ name = "invalid.bad-ampersand.nant"; match = "&"; backgroundColor = "#CC3300"; foregroundColor = "#ffffff"; },
	);
}
