<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>etz@fvflcurna.bet</string>
	<key>contactName</key>
	<string>Ryan McCuaig</string>
	<key>description</key>
	<string>The scripting language used by the &lt;a href="http://www.nemetschek.net/support/custom/vscript/index.php"&gt;VectorWorks&lt;/a&gt; CAD software.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>069CE1A9-F3AA-4C70-9847-1041FA86F5C0</string>
			<string>F2DC1A1A-906F-4725-B81C-FE49537453A8</string>
			<string>9CFC03E4-18D6-45DD-8639-6C387ACEA574</string>
			<string>7188C1B7-6355-474C-BAB2-20D1792B1D64</string>
			<string>A03B09F2-8817-4E5B-AD89-AE285D18773D</string>
			<string>CED2CEA7-33D1-4BE5-9DBC-8BCFA9A65846</string>
			<string>------------------------------------</string>
			<string>DD03758D-9D92-4509-8AFA-C04CF2ACE2EE</string>
			<string>EA22B2C2-F126-4E9A-AFB5-BC8CB9774CC5</string>
			<string>1E100F1A-4194-4B34-A99B-D46805CD94EE</string>
			<string>------------------------------------</string>
			<string>AAAB7E78-7F66-488F-9727-CF9817353380</string>
			<string>A5E76858-928F-47F9-9A18-DE9E281364AC</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>Vectorscript</string>
	<key>ordering</key>
	<array>
		<string>7188C1B7-6355-474C-BAB2-20D1792B1D64</string>
		<string>9CFC03E4-18D6-45DD-8639-6C387ACEA574</string>
		<string>A03B09F2-8817-4E5B-AD89-AE285D18773D</string>
		<string>069CE1A9-F3AA-4C70-9847-1041FA86F5C0</string>
		<string>EA22B2C2-F126-4E9A-AFB5-BC8CB9774CC5</string>
		<string>1E100F1A-4194-4B34-A99B-D46805CD94EE</string>
		<string>DD03758D-9D92-4509-8AFA-C04CF2ACE2EE</string>
		<string>CED2CEA7-33D1-4BE5-9DBC-8BCFA9A65846</string>
		<string>F2DC1A1A-906F-4725-B81C-FE49537453A8</string>
		<string>AAAB7E78-7F66-488F-9727-CF9817353380</string>
		<string>A5E76858-928F-47F9-9A18-DE9E281364AC</string>
		<string>CC77FD91-9DBF-490E-B21D-CC350E82E791</string>
		<string>AC4A8B74-3AFB-47B9-8B08-6BBD90FBB344</string>
		<string>D410BF93-0AD8-4B24-A62F-DD9CDDB99BA3</string>
		<string>3478EDD7-A7F7-4F74-82E6-2E583B03D573</string>
	</array>
	<key>uuid</key>
	<string>1A78F224-6213-41FB-A7AB-8C17F6BC196D</string>
</dict>
</plist>
