<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%d.%m.%Y` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; class.mxml &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>mxml</string>
	<key>name</key>
	<string>Application</string>
	<key>uuid</key>
	<string>B22C1A56-C6C7-4D46-90FC-BCC6C2E503C0</string>
</dict>
</plist>
