<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby
begin 
  require 'rubygems'
  require 'redcloth'
rescue LoadError
  require "#{ENV['TM_SUPPORT_PATH']}/lib/redcloth"
end

contents = []
$stdin.each_line { |line| contents &lt;&lt; line }

puts(RedCloth.new(contents.join()).to_html(:textile))</string>
	<key>fallbackInput</key>
	<string>document</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^H</string>
	<key>name</key>
	<string>Convert Document / Selection to HTML</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>scope</key>
	<string>text.html.textile</string>
	<key>uuid</key>
	<string>9B769AE9-BE8F-45B9-91E0-39533AD8114B</string>
</dict>
</plist>
