<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby
begin 
  require 'rubygems'
  require 'redcloth'
rescue LoadError
  require "#{ENV['TM_SUPPORT_PATH']/lib/redcloth"
end

require "#{ENV['TM_SUPPORT_PATH']}/lib/tm/htmloutput"

contents = []
$stdin.each_line { |line| contents &lt;&lt; line }

output = RedCloth.new(contents.join()).to_html(:textile)

TextMate::HTMLOutput.show(:title =&gt; "Textile Preview", :sub_title =&gt; ENV['TM_FILENAME']) do |io|
  io &lt;&lt; output
 end

</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>^~@p</string>
	<key>name</key>
	<string>Preview</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>text.html.textile</string>
	<key>uuid</key>
	<string>2684F52C-663F-47F3-8320-C8FCB71E276F</string>
</dict>
</plist>
