<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>. "$TM_SUPPORT_PATH/lib/html.sh"

if [[ -z $TM_FILENAME ]]
  then title="Textile as HTML"
  else title="${TM_FILENAME%.*} as HTML"
fi

htmlHeader "$title" '&lt;style type="text/css"&gt;
	body {	
		background-color: #eee;
	}
	.contents {	
		background: white;
		font-family: Verdena, sans-serif;
		font-size: 13px;
		border: 1px #888 solid;
		padding: 0 1em;
	}
	&lt;/style&gt;'
beginTag div 'contents'
	"$TM_BUNDLE_SUPPORT/bin/Textile.rb"
endTag
htmlFooter</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>^~@p</string>
	<key>name</key>
	<string>Preview</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>text.html.textile</string>
	<key>uuid</key>
	<string>2684F52C-663F-47F3-8320-C8FCB71E276F</string>
</dict>
</plist>
