<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>command</key>
			<string>moveLeft:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>selectBlock:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveLeft:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>^(</string>
	<key>name</key>
	<string>Jump to Open Smart Pair</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>05A4D219-B3B9-4B74-B513-1F1CAC8B4AE0</string>
</dict>
</plist>
