<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>naql.ureoreg@tznvy.pbz</string>
	<key>contactName</key>
	<string>Andy Herbert</string>
	<key>description</key>
	<string>This bundle allows you to &lt;a href="http://macromates.com/blog/archives/2006/10/24/widget-creator/"&gt;create a Dashboard Widget from your current document&lt;/a&gt;, be it a Ruby, Python, Perl, shell, or whatever script.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>907BF622-2B0E-43C7-85F6-369A67226CA4</string>
			<string>61B9EE59-3C49-45B8-94DE-7C0C8BCB965C</string>
			<string>------------------------------------</string>
			<string>6D0D2911-4755-46E0-BEAA-05926F4B1CE5</string>
			<string>------------------------------------</string>
			<string>A0F5745D-6DC1-4D2B-B638-8A38AB18EE68</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>Widget Creator</string>
	<key>ordering</key>
	<array>
		<string>907BF622-2B0E-43C7-85F6-369A67226CA4</string>
		<string>61B9EE59-3C49-45B8-94DE-7C0C8BCB965C</string>
		<string>6D0D2911-4755-46E0-BEAA-05926F4B1CE5</string>
	</array>
	<key>uuid</key>
	<string>43957D09-CB41-4744-8ED8-4CA76683F43A</string>
</dict>
</plist>
